<!-- ========================= about three section start ========================= -->
<section class="py-120 position-relative">
    <img src="assets/images/shape/pricing-plan-shape2.png" alt="shape" class="position-absolute top-0 tw-end-0 d-xl-block d-none animation-upDown">
    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-6">
                <div class="position-relative z-2">
                    <img src="assets/images/thumbs/about-three-img1.png" alt="img">
                    <div class="position-absolute bottom-0 tw-end-0 tw-me-140-px tw-mb-90-px z-2">
                        <a href="https://www.youtube.com/watch?v=MFLVmAE4cqg" class="play-button play-button-two tw-w-16 tw-h-16 bg-main-600 tw-text-xl text-white rounded-circle d-flex align-items-center justify-content-center">
                            <i class="ph-fill ph-play"></i>
                        </a>
                    </div>
                    <img src="assets/images/shape/about-three-shape1.png" alt="shape" class="position-absolute bottom-0 tw-start-0 tw-mb-17 tw-ms--16-px z-n1 animation-scalation d-lg-block d-none">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="d-flex align-items-center justify-content-center">
                    <div class="max-w-570-px w-100">
                        <div class="d-inline-flex align-items-center tw-gap-2 tw-py-3 tw-px-5 border-main-100 border rounded-pill tw-mb-5">
                            <span class="tw-w-205 tw-h-205 bg-main-600 rounded-circle"></span>
                            <h3 class="fw-bold h6 text-main-600">
                                About Company
                            </h3>
                        </div>
                        <h3 class="fw-bold text-main-two-600 tw-mb-7">
                            Get Exclusive It Solutions & Services With ITzen
                        </h3>
                        <p class="fw-bold tw-text-base text-neutral-600 tw-mb-7">
                            Our e-commerce solutions are designed to create seamless online shopping experiences. From user-friendly website design to secure payment processing and inventory management.
                        </p>
                        <div class="d-flex align-items-center tw-gap-3 justify-content-between flex-wrap tw-mb-5">
                            <div class="d-flex flex-column tw-gap-3">
                                <div class="d-flex align-items-center tw-gap-1">
                                    <span class="tw-text-2xl text-main-600">
                                        <i class="ph-bold ph-check"></i>
                                    </span>
                                    <span class="fw-semibold tw-text-base text-neutral-600">
                                        300+ Transparency
                                    </span>
                                </div>
                                <div class="d-flex align-items-center tw-gap-1">
                                    <span class="tw-text-2xl text-main-600">
                                        <i class="ph-bold ph-check"></i>
                                    </span>
                                    <span class="fw-semibold tw-text-base text-neutral-600">
                                        Collaborative Environment
                                    </span>
                                </div>
                                <div class="d-flex align-items-center tw-gap-1">
                                    <span class="tw-text-2xl text-main-600">
                                        <i class="ph-bold ph-check"></i>
                                    </span>
                                    <span class="fw-semibold tw-text-base text-neutral-600">
                                        Application Development
                                    </span>
                                </div>
                            </div>
                            <div class="tw-w-160-px tw-h-160-px bg-main-600 rounded-circle d-flex align-items-center justify-content-center">
                                <div class="text-center">
                                    <h3 class="fw-bold text-white tw-mb-05">
                                        24+
                                    </h3>
                                    <span class="fw-medium text-white tw-text-base">
                                        Years Experience
                                    </span>
                                </div>
                            </div>
                        </div>
                        <p class="fw-bold tw-text-base text-neutral-600 tw-mb-10">
                            From user-friendly website design to secure payment for that processing and inventory management.
                        </p>
                        <div class="d-flex align-items-center tw-gap-4 flex-wrap">
                            <a href="about-us.html" class="link-group d-inline-flex align-items-center group group-item">
                                <span class="button-icon-one fw-bold bg-main-600 text-white tw-py-3 tw-px-4 tw-rounded-xl tw-text-xl group-hover-bg-black tw-duration-300">
                                <i class="ph-bold ph-arrow-right"></i>
                                </span>
                                <h3 class="fw-bold h6 bg-main-600 text-white tw-py-4 tw-px-10 tw-rounded-xl group-hover-bg-black tw-duration-300">
                                    Discover More
                                </h3>
                                <span class="button-icon-two fw-bold bg-main-600 text-white tw-py-3 tw-px-4 tw-rounded-xl tw-text-xl group-hover-bg-black tw-duration-300">
                                <i class="ph-bold ph-arrow-right"></i>
                                </span>
                            </a>
                            <div class="d-flex align-items-center tw-gap-3 flex-wrap">
                                <span>
                                    <img src="assets/images/thumbs/about-img3.png" alt="img">
                                </span>
                                <div>
                                    <h3 class="fw-bold h6 text-main-two-600 tw-mb-2">
                                        William Jekson
                                    </h3>
                                    <span class="fw-medium tw-text-base text-neutral-600">
                                        CEO, of Vutech
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========================= about three section end ========================= -->