<!-- ============================ about five section start ============================ -->
<section class="py-120">
    <div class="container max-w-1360-px">
        <div class="row gy-4">
            <div class="col-lg-6">
                <div class="d-j-a-center">
                    <div class="max-w-600-px w-100 position-relative" data-aos="zoom-in" data-aos-duration="1500">
                        <div>
                            <img src="assets/images/thumbs/about-five-img1.png" alt="img">
                        </div>
                        <img src="assets/images/shape/about-five-shape1.png" alt="shape" class="position-absolute top-0 tw-end-0 tw-mt-13 animation-upDown">
                        <div class="tw-py-8 tw-px-11 bg-main-600 tw-rounded-2xl position-absolute bottom-0 tw-start-0 text-center tw-mb--50-px">
                            <span class="tw-mb-8 d-block">
                                <img src="assets/images/icon/about-five-icon-3.png" alt="icon">
                            </span>
                            <span class="fw-bold tw-text-xl text-white">
                                We’re Award Winning IT<br>
                                Solutions Agency
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="d-inline-flex align-items-center tw-gap-2 tw-py-2 tw-px-5 border-main-100 border rounded-pill tw-mb-5" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                    <span class="tw-w-205 tw-h-205 rounded-circle bg-main-600"></span>
                    <h3 class="fw-bold text-main-600 h6">
                        About Company
                    </h3>
                </div>
                <h3 class="fw-bold text-main-two-600 tw-mb-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                    Advanced CCTV Camera System
                    Designed To Fully Protect Your
                    Property Every Day.
                </h3>
                <p class="fw-semibold tw-text-base text-neutral-500" data-aos="fade-up" data-aos-duration="800" data-aos-delay="250">
                    The ITZen CCTV Camera System represents the pinnacle of modern security technology,
                    engineered to deliver comprehensive protection for your property around the clock. Syste
                    Combining cutting-edge imaging capabilities with intelligent monitoring features, 
                </p>
                <span class="w-100 tw-h-px bg-neutral-300 tw-my-7"></span>
                <div class="d-flex align-items-center tw-gap-4 justify-content-between flex-wrap tw-mb-15" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                    <div class="max-w-305-px animation-item">
                        <div class="d-flex align-items-center tw-gap-3 flex-wrap tw-mb-4">
                            <span class="tw-w-17 tw-h-17 bg-main-600 rounded-circle d-flex align-items-center justify-content-center flex-shrink-0">
                                <img src="assets/images/icon/about-five-icon1.png" alt="icon" class="animate__wobble">
                            </span>
                            <h2 class="fw-bold text-main-two-600 h5">
                                Ultra-HD Streaming
                            </h2>
                        </div>
                        <p class="fw-semibold tw-text-base text-neutral-600">
                            The ITZen CCTV Camera System represen
                            the pinnacle of modern security 
                        </p>
                    </div>
                    <div class="max-w-305-px animation-item">
                        <div class="d-flex align-items-center tw-gap-3 flex-wrap tw-mb-4">
                            <span class="tw-w-17 tw-h-17 bg-main-600 rounded-circle d-flex align-items-center justify-content-center flex-shrink-0">
                                <img src="assets/images/icon/about-five-icon2.png" alt="icon" class="animate__wobble">
                            </span>
                            <h2 class="fw-bold text-main-two-600 h5">
                                Night Vision Technol.
                            </h2>
                        </div>
                        <p class="fw-semibold tw-text-base text-neutral-600">
                            The ITZen CCTV Camera System represen
                            the pinnacle of modern security 
                        </p>
                    </div>
                </div>
                <div class="d-flex align-items-center tw-gap-5 justify-content-between flex-wrap">
                    <a href="about-us.html" class="link-group d-inline-flex align-items-center group group-item" data-aos="fade-up" data-aos-duration="800" data-aos-delay="350">
                        <span class="button-icon-one fw-bold bg-main-600 text-white tw-py-3 tw-px-4 tw-rounded-xl tw-text-xl group-hover-bg-black tw-duration-300">
                            <i class="ph-bold ph-arrow-right"></i>
                        </span>
                        <h2 class="fw-bold h6 bg-main-600 text-white tw-py-4 tw-px-10 tw-rounded-xl group-hover-bg-black tw-duration-300">
                           Learn More Us
                        </h2>
                        <span class="button-icon-two fw-bold bg-main-600 text-white tw-py-3 tw-px-4 tw-rounded-xl tw-text-xl group-hover-bg-black tw-duration-300">
                            <i class="ph-bold ph-arrow-right"></i>
                        </span>
                    </a>
                    <div class="d-inline-flex align-items-center tw-gap-2 flex-wrap tw-py-2 tw-ps-2 tw-pe-5 border-black border border-opacity-10 rounded-pill" data-aos="fade-up" data-aos-duration="800" data-aos-delay="400">
                        <div class="d-flex align-items-center">
                            <span>
                                <img src="assets/images/thumbs/about-five-img2.png" alt="img" class="hover-scale-2 tw-duration-300">
                            </span>
                            <span class="tw-ms--12-px">
                                <img src="assets/images/thumbs/about-five-img3.png" alt="img" class="hover-scale-2 tw-duration-300">
                            </span>
                            <span class="tw-ms--12-px">
                                <img src="assets/images/thumbs/about-five-img4.png" alt="img" class="hover-scale-2 tw-duration-300">
                            </span>
                            <span class="tw-ms--12-px">
                                <img src="assets/images/thumbs/about-five-img5.png" alt="img" class="hover-scale-2 tw-duration-300">
                            </span>
                            <span class="tw-ms--12-px">
                                <img src="assets/images/thumbs/about-five-img6.png" alt="img" class="hover-scale-2 tw-duration-300">
                            </span>
                        </div>
                        <span class="fw-bold tw-text-base text-neutral-600">
                            10m+ Trusted Clients
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ============================ about five section end ============================ -->