<!-- =========================== about setion start ========================= -->
<section class="pb-120">
    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-6">
                <div class="w-100 h-100" data-aos="zoom-in" data-aos-duration="1500">
                    <img src="assets/images/thumbs/about-img1.png" alt="img" class="w-100 h-100">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="d-flex align-items-center justify-content-center mx-auto">
                    <div class="max-w-570-px w-100">
                        <div class="tw-px-6 tw-py-205 border-neutral-100 border d-inline-flex align-items-center tw-gap-2 rounded-pill tw-mb-5" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                            <span class="tw-w-205 tw-h-205 bg-main-600 rounded-circle"></span>
                            <h3 class="tw-text-lg h6 fw-bold text-main-600">
                                About Company
                            </h3>
                        </div>
                        <h3 class="fw-bold text-main-two-600 tw-mb-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="150">
                            Get Exclusive It Solutions & Services With ITzen
                        </h3>
                        <p class="fw-semibold tw-text-base text-neutral-600 tw-mb-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                            We are dedicated to guiding you on your financial journey with expertise, integrity and a personalized approach.
                        </p>
                        <div class="" data-aos="fade-up" data-aos-duration="800" data-aos-delay="250">
                            <h2 class="fw-semibold h5 text-main-two-700 tw-mb-4">
                                Cost-Effectiveness
                            </h2>
                            <div class="position-relative">
                                <span class="tw-w-16 tw-h-px bg-main-600 rounded-pill position-absolute top-0 tw-start-0 z-1"></span>
                                <span class="tw-h-px tw-w-180-px bg-main-200 rounded-pill position-absolute tw-start-0 top-0"></span>
                            </div>
                        </div>
                        <p class="fw-semibold tw-text-base text-neutral-600 tw-mt-12 tw-mb-10" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                            We aim to help businesses achieve sustainable growth through effective strategies, innovative thinking, and measurable results. Our goals center around delivering value, building strong client relationships, and staying ahead of industry trends.
                        </p>
                        <div class="d-flex align-items-center tw-gap-4 justify-content-between flex-wrap tw-mb-10" data-aos="fade-up" data-aos-duration="800" data-aos-delay="350">
                            <div>
                                <div class="d-flex align-items-center tw-gap-2 tw-mb-5">
                                    <span class="tw-text-5 text-main-600">
                                        <i class="ph-bold ph-check"></i>
                                    </span>
                                    <span class="fw-semibold tw-text-base text-neutral-500">
                                        Regulatory Investigations
                                    </span>
                                </div>
                                <div class="d-flex align-items-center tw-gap-2">
                                    <span class="tw-text-5 text-main-600">
                                        <i class="ph-bold ph-check"></i>
                                    </span>
                                    <span class="fw-semibold tw-text-base text-neutral-500">
                                        Anit- Competitive Conduct
                                    </span>
                                </div>
                            </div>
                            <div>
                                <div class="d-flex align-items-center tw-gap-2 tw-mb-5">
                                    <span class="tw-text-5 text-main-600">
                                        <i class="ph-bold ph-check"></i>
                                    </span>
                                    <span class="fw-semibold tw-text-base text-neutral-500">
                                        Competitive Work Analysis
                                    </span>
                                </div>
                                <div class="d-flex align-items-center tw-gap-2">
                                    <span class="tw-text-5 text-main-600">
                                        <i class="ph-bold ph-check"></i>
                                    </span>
                                    <span class="fw-semibold tw-text-base text-neutral-500">
                                        Innovation. Strategy. Success.
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex align-items-center tw-gap-5 flex-wrap" data-aos="fade-up" data-aos-duration="800" data-aos-delay="400">
                            <a href="about-us.html" class="link-group d-inline-flex align-items-center group group-item">
                                <span class="button-icon-one fw-bold bg-main-600 text-white tw-py-3 tw-px-4 tw-rounded-xl tw-text-xl group-hover-bg-black tw-duration-300">
                                    <i class="ph-bold ph-arrow-right"></i>
                                </span>
                                <h2 class="fw-bold h6 bg-main-600 text-white tw-py-4 tw-px-10 tw-rounded-xl group-hover-bg-black tw-duration-300">
                                    Discover More
                                </h2>
                                <span class="button-icon-two fw-bold bg-main-600 text-white tw-py-3 tw-px-4 tw-rounded-xl tw-text-xl group-hover-bg-black tw-duration-300">
                                    <i class="ph-bold ph-arrow-right"></i>
                                </span>
                            </a>
                            <div class="d-flex align-items-center tw-gap-5 flex-wrap">
                                <span>
                                    <img src="assets/images/thumbs/about-img3.png" alt="img">
                                </span>
                                <div>
                                    <h3 class="fw-bold h6 text-main-two-600 tw-mb-2 d-block">
                                        David Sophia 
                                    </h3>
                                    <img src="assets/images/thumbs/about-img4.png" alt="img">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- =========================== about setion end ========================= -->