<!-- ============================ about four section start ============================ -->
<section class="pb-120 position-relative z-3">
    <img src="assets/images/shape/about-four-shape2.png" alt="shape" class="position-absolute bottom-0 tw-end-0 z-n1 d-xl-block d-none">
    <div class="container">
        <div class="position-relative z-3">
            <img src="assets/images/shape/about-four-shape1.png" alt="shape" class="position-absolute top-0 tw-end-0 d-xl-block d-none z-n1 tw-mt-102-px">
            <div class="d-flex align-items-center tw-gap-5 justify-content-between flex-wrap tw-mb-15">
                <div class="max-w-600-px">
                    <div class="d-inline-flex align-items-center tw-gap-2 tw-py-3 tw-px-6 border-main-600 border rounded-pill tw-mb-5" data-aos="fade-up" data-aos-duration="900" data-aos-delay="100">
                        <span class="tw-w-205 tw-h-205 bg-main-600 rounded-circle"></span>
                        <h3 class="fw-bold h6 text-main-600">
                            About Company
                        </h3>
                    </div>
                    <h3 class="fw-bold text-main-two-600 tw-mb-6" data-aos="fade-up" data-aos-duration="900" data-aos-delay="200">
                        Get Exclusive It Solutions & Services With ITzen
                    </h3>
                    <p class="fw-semibold tw-text-base text-neutral-600 tw-ps-110-px tw-ps-media-none" data-aos="fade-up" data-aos-duration="900" data-aos-delay="300">
                        ITZen stands at the forefront of technological innovation, delivering
                        intelligent IT solutions designed to elevate business performance.
                        By seamlessly integrating advanced  
                    </p>    
                </div>
                <div class="d-flex align-items-center tw-gap-4 flex-wrap tw-pe-4 tw-mt-62-px" data-aos="fade-up" data-aos-duration="900" data-aos-delay="350">
                    <span>
                        <img src="assets/images/shape/banner-four-shape1.png" alt="shape">
                    </span>
                    <div class="max-w-230-px w-100">    
                        <h2 class="fw-bold h5 text-main-two-600 tw-mb-1">
                            Achievment
                        </h2>
                        <p class="fw-semibold tw-text-base text-neutral-500">
                            A Modern & Creative“Digital
                            Excellence Awards” 
                        </p>
                    </div>
                </div>
            </div>
            <div class="tw-ps-110-px tw-ps-media-none tw-mb-8">
                <div class="row gy-4">
                    <div class="col-xl-7">
                        <div style="background-image: url(assets/images/bg/about-four-bg-img.png);" class="bg-img tw-py-50-px tw-ps-50-px tw-pe-114-px bg-white tw-rounded-2xl position-relative">
                            <img src="assets/images/icon/about-four-icon1.png" alt="icon" class="position-absolute top-0 tw-end-0 tw-mt-7 tw-me-7">
                            <div class="d-flex align-items-center tw-gap-5 justify-content-between flex-wrap tw-mb-13">
                                <div class="max-w-166-px w-100" data-aos="fade-right" data-aos-duration="900" data-aos-delay="300">
                                    <h2 class="fw-bold text-main-600 tw-text-42-px tw-mb-1">
                                        06
                                    </h2>
                                    <span class="fw-semibold tw-text-base text-neutral-600">
                                        World-Wide Branches
                                    </span>
                                </div>
                                <span class="tw-w-px tw-h-15 bg-neutral-300 d-sm-block d-none"></span>
                                <div class="max-w-145-px w-100" data-aos="fade-left" data-aos-duration="900" data-aos-delay="300">
                                    <h2 class="fw-bold text-main-600 tw-text-42-px tw-mb-1">
                                        50+
                                    </h2>
                                    <span class="fw-semibold tw-text-base text-neutral-600">
                                        Professional Expert
                                    </span>
                                </div>
                            </div>
                            <div class="d-flex align-items-center tw-gap-5 justify-content-between flex-wrap">
                                <div class="max-w-166-px w-100" data-aos="fade-up" data-aos-duration="900" data-aos-delay="300">
                                    <h2 class="fw-bold text-main-600 tw-text-42-px tw-mb-1">
                                        145+
                                    </h2>
                                    <span class="fw-semibold tw-text-base text-neutral-600">
                                        Completed Projects
                                    </span>
                                </div>
                                <span class="tw-w-px tw-h-15 bg-neutral-300 d-sm-block d-none"></span>
                                <div class="max-w-145-px w-100" data-aos="fade-down" data-aos-duration="900" data-aos-delay="300">
                                    <h2 class="fw-bold text-main-600 tw-text-42-px tw-mb-1">
                                        05+
                                    </h2>
                                    <span class="fw-semibold tw-text-base text-neutral-600">
                                        Year of Experience
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-5">
                        <div class="w-100 h-100 object-fit-cover tw-rounded-2xl" data-aos="zoom-in" data-aos-duration="1500">
                            <img src="assets/images/thumbs/about-four-img1.png" alt="img" class="w-100 h-100 object-fit-cover tw-rounded-2xl">
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex align-items-center justify-content-center" data-aos="fade-up" data-aos-duration="900" data-aos-delay="350">
                <div class="max-w-760-px w-100 bg-white tw-py-4 tw-ps-10 tw-pe-3 rounded-pill tw-media-16-px">
                    <div class="d-flex align-items-center tw-gap-5 justify-content-between flex-wrap">
                        <span class="fw-bold tw-text-base text-neutral-500">
                            To Make Sure to Best Service<br>
                            Provide Our Clients.
                        </span>
                        <a href="about-us.html" class="link-group d-inline-flex align-items-center group group-item">
                            <span class="button-icon-one fw-bold bg-main-600 text-white tw-py-3 tw-px-4 tw-rounded-xl tw-text-xl group-hover-bg-black tw-duration-300">
                            <i class="ph-bold ph-arrow-right"></i>
                            </span>
                            <h2 class="fw-bold h6 bg-main-600 text-white tw-py-4 tw-px-10 tw-rounded-xl group-hover-bg-black tw-duration-300">
                                 About More
                            </h2>
                            <span class="button-icon-two fw-bold bg-main-600 text-white tw-py-3 tw-px-4 tw-rounded-xl tw-text-xl group-hover-bg-black tw-duration-300">
                            <i class="ph-bold ph-arrow-right"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ============================ about four section end ============================ -->