<!-- ============================ banner bottom section start ========================= -->
<div class="py-120 position-relative z-2">
    <img src="assets/images/shape/banner-bottom-four-shape1.png" alt="shape" class="position-absolute top-0 tw-start-0 z-n1">
    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-4 col-sm-6">
                <div class="bg-white tw-py-12 tw-ps-7 tw-pe-8 tw-rounded-3xl" data-aos="fade-up" data-aos-duration="900" data-aos-delay="100">
                    <div class="d-flex align-items-center tw-gap-3 justify-content-between flex-wrap tw-mb-7">
                        <h2 class="fw-bold h5 text-main-two-600">
                            IT Management
                        </h2>
                        <span class="fw-medium tw-text-505 text-main-two-600">
                            01
                        </span>
                    </div>
                    <span class="tw-w-280-px tw-h-px bg-neutral-200 d-md-block d-none"></span>
                    <div class="d-flex align-items-center tw-gap-3 justify-content-between flex-wrap tw-mt-8">
                        <p class="fw-semibold tw-text-base text-neutral-600 max-w-220-px">
                            Bring To The Table Win-win
                            Survival Strategies To Ensure
                            Proactive Domination.
                        </p>
                        <span>
                            <img src="assets/images/icon/banner-bottom-four-icon1.png" alt="icon">
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="bg-white tw-py-12 tw-ps-7 tw-pe-8 tw-rounded-3xl" data-aos="fade-up" data-aos-duration="900" data-aos-delay="200">
                    <div class="d-flex align-items-center tw-gap-3 justify-content-between flex-wrap tw-mb-7">
                        <h2 class="fw-bold h5 text-main-two-600">
                            Machine Learning
                        </h2>
                        <span class="fw-medium tw-text-505 text-main-two-600">
                            02
                        </span>
                    </div>
                    <span class="tw-w-280-px tw-h-px bg-neutral-200 d-md-block d-none"></span>
                    <div class="d-flex align-items-center tw-gap-3 justify-content-between flex-wrap tw-mt-8">
                        <p class="fw-semibold tw-text-base text-neutral-600 max-w-220-px">
                            Bring To The Table Win-win
                            Survival Strategies To Ensure
                            Proactive Domination.
                        </p>
                        <span>
                            <img src="assets/images/icon/banner-bottom-four-icon2.png" alt="icon">
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="bg-white tw-py-12 tw-ps-7 tw-pe-8 tw-rounded-3xl" data-aos="fade-up" data-aos-duration="900" data-aos-delay="300">
                    <div class="d-flex align-items-center tw-gap-3 justify-content-between flex-wrap tw-mb-7">
                        <h2 class="fw-bold h5 text-main-two-600">
                            Cloud Services
                        </h2>
                        <span class="fw-medium tw-text-505 text-main-two-600">
                            03
                        </span>
                    </div>
                    <span class="tw-w-280-px tw-h-px bg-neutral-200 d-md-block d-none"></span>
                    <div class="d-flex align-items-center tw-gap-3 justify-content-between flex-wrap tw-mt-8">
                        <p class="fw-semibold tw-text-base text-neutral-600 max-w-220-px">
                            Bring To The Table Win-win
                            Survival Strategies To Ensure
                            Proactive Domination.
                        </p>
                        <span>
                            <img src="assets/images/icon/banner-bottom-four-icon3.png" alt="icon">
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ============================ banner bottom section end ========================= -->