<!-- ============================= banner three section start ============================= -->
<section style="background-image: url(assets/images/bg/banner-three-bg-img.png);" class="pt-120 tw-pb-220-px bg-img">
    <div class="container">
        <div class="max-w-800-px w-100">
            <div class="d-inline-flex align-items-center tw-gap-2 tw-py-2 tw-px-5 border-white border border-opacity-25 rounded-pill tw-mb-7">
                <span class="tw-w-205 tw-h-205 bg-white rounded"></span>
                <h3 class="fw-bold h6 text-white">
                    Welcome To Our Company
                </h3>
            </div>
            <h2 class="tw-text-122-px fw-bold text-white tw-line-h-104-px tw-mb-10">
                Smart IT and Solutions with <span class="fw-normal tw-text-underline-px">Professionals</span>
            </h2>
            <div class="d-flex align-items-center tw-gap-5 flex-wrap">
                <a href="services-details.html" class="link-group d-inline-flex align-items-center group group-item">
                    <span class="button-icon-one fw-bold bg-main-600 text-white tw-py-3 tw-px-4 tw-rounded-xl tw-text-xl group-hover-bg-white group-hover-item-text-main-600 tw-duration-300">
                    <i class="ph-bold ph-arrow-right"></i>
                    </span>
                    <h2 class="fw-bold h6 bg-main-600 text-white tw-py-4 tw-px-10 tw-rounded-xl group-hover-bg-white group-hover-item-text-main-600 hover-text-main-600 tw-duration-300">
                        Discover More
                    </h2>
                    <span class="button-icon-two fw-bold bg-main-600 text-white tw-py-3 tw-px-4 tw-rounded-xl tw-text-xl group-hover-bg-white group-hover-item-text-main-600 hover-text-main-600 tw-duration-300">
                    <i class="ph-bold ph-arrow-right"></i>
                    </span>
                </a>
                <a href="services-details.html" class="link-group d-inline-flex align-items-center group group-item">
                    <span class="button-icon-one fw-bold border-white border text-white tw-py-3 tw-px-4 tw-rounded-xl tw-text-xl group-hover-bg-main-600 tw-duration-300">
                    <i class="ph-bold ph-arrow-right"></i>
                    </span>
                    <h2 class="fw-bold h6 border-white border text-white tw-py-4 tw-px-10 tw-rounded-xl group-hover-bg-main-600 tw-duration-300">
                        Our Services
                    </h2>
                    <span class="button-icon-two fw-bold border-white border text-white tw-py-3 tw-px-4 tw-rounded-xl tw-text-xl group-hover-bg-main-600 tw-duration-300">
                    <i class="ph-bold ph-arrow-right"></i>
                    </span>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- ============================= banner three section end ============================= -->