<!-- ========================== banner two section start ========================== -->
<section class="tw-bg-gradient-two pt-60 position-relative z-3 overflow-hidden tw-pt-90-px">
    <img src="assets/images/shape/banner-two-shape2.png" alt="shape" class="position-absolute top-0 tw-start-0 d-xl-block d-none">
    <div class="container max-w-1660-px">
        <div class="position-relative">
            <div class="position-absolute top-0 tw-end-0 mt-120 d-xxl-block d-none">
                <div class="tw-w-140-px tw-h-140-px position-relative">
                    <img src="assets/images/thumbs/banner-two-img2.png" alt="images" class="animation-rotate-right">
                    <a href="javascript:void(0)" class="tw-w-11 tw-h-11 bg-white bg-opacity-10 rounded-circle d-flex align-items-center justify-content-center tw-text-xl text-white position-absolute top-0 tw-start-0 top-50 tw-start-50 translate-middle hover-bg-main-600 tw-duration-300">
                        <i class="ph-bold ph-arrow-up-right"></i>
                    </a>
                </div>
            </div>
            <h1 class="fw-bold text-white tw-text-280-px tw-line-h-210-px text-center mb-120">        
                CLOUD COMPUTING
            </h1>
            <div class="d-flex align-items-center justify-content-between tw-gap-4 flex-md-nowrap flex-wrap tw-pb-media-60-px">
                <div class="max-w-570-px">
                    <h2 class="fw-normal text-white" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                        Secure, High-Performance <strong class="fw-bold">Cloud Computing Services</strong>
                    </h2>
                </div>
                <div class="tw-mt--270-px d-xl-block d-none" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                    <span class="d-flex align-items-center justify-content-center">
                        <img src="assets/images/thumbs/banner-two-img1.png" alt="img">
                    </span>
                </div>
                <div class="max-w-480-px text-white">
                    <p class="fw-semibold tw-text-lg text-white tw-mb-7" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                        ITZen stands at the forefront of technological innovation, delivering intelligent IT solutions designed to elevate business performance. By seamlessly integrating.
                    </p>
                    <a href="services-details.html" class="link-group d-inline-flex align-items-center group group-item">
                        <span class="button-icon-one fw-bold bg-main-600 text-white tw-py-3 tw-px-4 tw-rounded-xl tw-text-xl group-hover-bg-white group-hover-item-text-main-600 tw-duration-300">
                        <i class="ph-bold ph-arrow-right"></i>
                        </span>
                        <h3 class="fw-bold h6 bg-main-600 text-white tw-py-4 tw-px-10 tw-rounded-xl group-hover-bg-white group-hover-item-text-main-600 hover-text-main-600 tw-duration-300">
                            Discover More
                        </h3>
                        <span class="button-icon-two fw-bold bg-main-600 text-white tw-py-3 tw-px-4 tw-rounded-xl tw-text-xl group-hover-bg-white group-hover-item-text-main-600 hover-text-main-600 tw-duration-300">
                        <i class="ph-bold ph-arrow-right"></i>
                        </span>
                    </a>
                </div>
            </div>
            <div>
                <img src="assets/images/shape/banner-two-shape1.png" alt="shape" class="position-absolute bottom-0 tw-start-0 tw-start-50 translate-middle-x z-n1">
            </div>
        </div>
    </div>
</section>
<!-- ========================== banner two section end ========================== -->