<!-- ============================= banner five section start =============================== -->
<section style="background-image: url(assets/images/bg/banner-five-bg-img.png);" class="bg-img py-150 position-relative z-3">
    <img src="assets/images/shape/banner-five-shape1.png" alt="shape" class="position-absolute top-0 tw-end-0 d-xl-block d-none animation-upDown z-n1">
    <div class="container">
        <div class="d-inline-flex align-items-center tw-gap-2 tw-py-2 tw-px-5 border-white border-opacity-25 border rounded-pill tw-mb-5" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
            <span class="tw-w-205 tw-h-205 bg-white rounded-circle"></span>
            <h3 class="fw-bold text-white h6">
                Ensuring Your Safety
            </h3>
        </div>
        <h2 class="max-w-800-px w-100 text-white fw-bold tw-text-78-px tw-line-h-92-px tw-mb-15" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
            Smart Security Systems
            For The Modern World
        </h2>
        <div class="d-flex align-items-end tw-gap-5 justify-content-between flex-wrap">
            <div class="tw-p-505 bg-white bg-opacity-10 tw-rounded-xl" data-aos="zoom-in" data-aos-duration="1500">
                <span class="tw-mb-4">
                    <img src="assets/images/thumbs/banner-five-img1.png" alt="img">
                </span>
                <div class="d-flex align-items-center tw-gap-2">
                    <span class="tw-w-205 tw-h-205 bg-white rounded-circle"></span>
                    <h3 class="fw-bold text-white tw-text-5">
                        Custom Alerts For Friends And Family
                    </h3>
                </div>
            </div>
            <div class="max-w-650-px w-100">
                <p class="fw-semibold text-white tw-text-base tw-mb-8" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                    ITZen stands at the forefront of technological innovation, delivering intelligent IT solution
                    business performance. By seamlessly integrating advanced technologies with strategic 
                    organizations to optimize operations, enhance security, and drive 
                </p>
                <a href="contact.html" class="link-group d-inline-flex align-items-center group group-item" data-aos="fade-up" data-aos-duration="800" data-aos-delay="350">
                    <span class="button-icon-one fw-bold bg-white text-main-two-600 tw-py-3 tw-px-4 tw-rounded-xl tw-text-xl group-hover-bg-black group-hover-text-white tw-duration-300">
                        <i class="ph-bold ph-arrow-right"></i>
                    </span>
                    <h2 class="fw-bold h6 bg-white text-main-two-600 tw-py-4 tw-px-10 tw-rounded-xl group-hover-bg-black group-hover-text-white tw-duration-300">
                        Get A Quote
                    </h2>
                    <span class="button-icon-two fw-bold bg-white text-main-two-600 tw-py-3 tw-px-4 tw-rounded-xl tw-text-xl group-hover-bg-black group-hover-text-white tw-duration-300">
                        <i class="ph-bold ph-arrow-right"></i>
                    </span>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- ============================= banner five section end =============================== -->