<!-- =========================== blog details section start =========================== -->
<section class="py-120">
    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-8">
                <div class="tw-shadow-five tw-rounded-xl">
                    <div class="w-100 tw-mb-205">
                        <img src="assets/images/thumbs/blog-inner-img1.png" alt="img" class="w-100">
                    </div>
                    <div class="tw-py-10 tw-px-8">
                        <div class="d-flex align-items-center tw-gap-5 flex-wrap tw-mb-5">
                            <div class="d-flex align-items-center tw-gap-2">
                                <span class="tw-text-lg text-main-600">
                                    <i class="ph-fill ph-user-plus"></i>
                                </span>
                                <span class="fw-semibold tw-text-base text-neutral-500">
                                    Admin
                                </span>
                            </div>
                            <div class="d-flex align-items-center tw-gap-2">
                                <span class="tw-text-lg text-main-600">
                                    <i class="ph-fill ph-calculator"></i>
                                </span>
                                <span class="fw-semibold tw-text-base text-neutral-500">
                                    July /07/2026
                                </span>
                            </div> 
                        </div>
                        <h2 class="fw-bold text-main-two-600 h4 tw-text-42-px tw-mb-5">
                            Amplify Your Inspiring Ideas Today To Build Your Future Success.
                        </h2>
                        <p class="fw-medium tw-text-base text-neutral-500 tw-mb-6">
                            Appropriately mesh standards compliant communities vis-a-vis client-centric channels. Seamles 
                            reinvent open-source data via bricks-and-clicks bandwidth. Globally leverage other's inexpensi  
                            technologies vis-a-vis user friendly systems. Assertively pursue high-payoff outsourcing throu aps
                            sustainable web-readiness. Authoritatively benchmark optimal 
                        </p>
                        <p class="fw-medium tw-text-base text-neutral-500 tw-mb-6">
                            Lorem ipsum dolor sit amet, consectetur adipiscing Curabitur vulputate vestibulum Phasell jesmit
                            dolor eget viverra pretium, dolor tellus aliquet nunc, vitae ultricies erat elit eu lacus. Vestibulu lima
                            consectetur, cursus ante, tincidunt sapien. Nulla quis diam sit amet turpis interdum accumsan 
                            enim. Vivamus faucibus ex sed nibh egestas elementum.
                        </p>
                        <div class="bg-main-600 w-100 tw-py-7 tw-ps-8 tw-pe-5 tw-rounded-lg position-relative tw-mb-15">
                            <span class="tw-w-205 tw-h-158-px bg-main-two-600 tw-rounded-lg position-absolute top-0 tw-start-0 d-xl-block d-none"></span>
                            <div class="d-flex align-items-end justify-content-between tw-gap-5 flex-xl-nowrap flex-wrap">
                                <div class="max-w-590-px w-100">
                                    <h3 class="fw-medium h6 text-white tw-line-h-27-px tw-mb-5">
                                        Competently architect intermandated deliverables client with niches continually
                                        underwhelm build cross-media growth strategies without robust.
                                    </h3>
                                    <div class="d-flex align-items-center tw-gap-3">
                                        <span class="tw-w-11 tw-h-05 bg-white"></span>
                                        <h3 class="fw-normal h5 text-white ">
                                            CEO & Founder
                                        </h3>
                                    </div>
                                </div>
                                <span class="tw-text-13 text-white">
                                    <i class="ph-bold ph-quotes"></i>
                                </span>
                            </div>
                        </div>
                        <p class="fw-medium tw-text-base text-neutral-500 tw-mb-10">
                            Appropriately mesh standards compliant communities-vis client-centric channels. Seamle maniy
                            reinvent open-source data via bricks-and-clicks bandwidth. Globally leverage other's inexpensi 
                            technologies vis-a-vis user friendly systems. Assertively pursue high-payoff outsourcing throu
                            sustainable web-readiness. Authoritatively benchmark optimal 
                        </p>
                        <h3 class="fw-bold h5 tw-text-36-px text-main-two-600 tw-mb-8">
                            Ultimate Business Strategy Solution
                        </h3>
                        <div class="d-flex align-items-center tw-gap-4 justify-content-between flex-wrap tw-mb-10">
                            <div class="d-flex flex-column tw-gap-3">
                                <div class="d-flex align-items-center tw-gap-4">
                                    <span class="tw-w-205 tw-h-205 bg-main-two-600 rounded-circle"></span>
                                    <h3 class="fw-bold h6 text-main-two-600">
                                        How Will Activities Traditional Manufactu.
                                    </h3>
                                </div>
                                <div class="d-flex align-items-center tw-gap-4">
                                    <span class="tw-w-205 tw-h-205 bg-main-two-600 rounded-circle"></span>
                                    <h3 class="fw-bold h6 text-main-two-600">
                                        All These Digital and Projects Aim to Enh.
                                    </h3>
                                </div>
                                <div class="d-flex align-items-center tw-gap-4">
                                    <span class="tw-w-205 tw-h-205 bg-main-two-600 rounded-circle"></span>
                                    <h3 class="fw-bold h6 text-main-two-600">
                                        Secure Your Network from Hackers.
                                    </h3>
                                </div>
                                <div class="d-flex align-items-center tw-gap-4">
                                    <span class="tw-w-205 tw-h-205 bg-main-two-600 rounded-circle"></span>
                                    <h3 class="fw-bold h6 text-main-two-600">
                                        Keep Your Company Safe from Phishing Sc
                                    </h3>
                                </div>
                                <div class="d-flex align-items-center tw-gap-4">
                                    <span class="tw-w-205 tw-h-205 bg-main-two-600 rounded-circle"></span>
                                    <h3 class="fw-bold h6 text-main-two-600">
                                        Shield Your Devices from Malware Infiltra
                                    </h3>
                                </div>
                                <div class="d-flex align-items-center tw-gap-4">
                                    <span class="tw-w-205 tw-h-205 bg-main-two-600 rounded-circle"></span>
                                    <h3 class="fw-bold h6 text-main-two-600">
                                        Enhance Your software to Prevent 
                                    </h3>
                                </div>
                                <div class="d-flex align-items-center tw-gap-4">
                                    <span class="tw-w-205 tw-h-205 bg-main-two-600 rounded-circle"></span>
                                    <h3 class="fw-bold h6 text-main-two-600">
                                        Protect Sensitive Information from Cyber 
                                    </h3>
                                </div>
                                <div class="d-flex align-items-center tw-gap-4">
                                    <span class="tw-w-205 tw-h-205 bg-main-two-600 rounded-circle"></span>
                                    <h3 class="fw-bold h6 text-main-two-600">
                                        Prevent Unauthorized Access  Systems
                                    </h3>
                                </div>
                            </div>            
                            <div class="">
                                <img src="assets/images/thumbs/blog-details-img1.png" alt="img" class="">
                            </div>
                        </div>
                        <p class="fw-medium tw-text-base text-neutral-500 tw-mb-10">
                            Appropriately mesh standards compliant communities vis-a-vis client-centric channels. Seamle jam
                            reinvent open-source data via bricks-and-clicks bandwidth. Globally leverage other's inexpensi fontd
                            technologies vis-a-vis user friendly systems. Assertively pursue high-payoff outsourcing throu silution
                            sustainable web-readiness. Authoritatively benchmark optimal 
                        </p>
                        <p class="fw-medium tw-text-base text-neutral-500 tw-mb-10">
                            Appropriately mesh standards compliant communities vis-a-vis client-centric channels. Seamle jam
                            reinvent open-source data via bricks-and-clicks bandwidth. Globally leverage other's inexpensi fontd
                            technologies vis-a-vis user friendly systems. Assertively pursue high-payoff outsourcing throu silution
                            sustainable web-readiness. Authoritatively benchmark optimal 
                        </p>
                        <div class="d-flex align-items-center tw-gap-6 flex-wrap tw-mb-10">
                            <h3 class="fw-bold h5 tw-text-36-px text-main-two-600">
                                Tags
                            </h3>
                            <ul class="tw-py-2 tw-px-6 bg-neutral-70 rounded-pill d-flex align-items-center tw-gap-3">
                                <li>
                                    <a href="https://www.facebook.com/" class="tw-text-base text-main-two-600">
                                        <i class="ph-fill ph-facebook-logo"></i>
                                    </a>
                                </li>
                                <li class="tw-w-px tw-h-6 bg-neutral-300"></li>
                                <li>
                                    <a href="https://www.linkedin.com/" class="tw-text-base text-main-two-600">
                                        <i class="ph-fill ph-linkedin-logo"></i>
                                    </a>
                                </li>
                                <li class="tw-w-px tw-h-6 bg-neutral-300"></li>
                                <li>
                                    <a href="https://www.twitter.com/" class="tw-text-base text-main-two-600">
                                        <i class="ph-fill ph-twitter-logo"></i>
                                    </a>
                                </li>
                            </ul>
                            <div class="d-flex align-items-center tw-gap-6 flex-wrap">
                                <button type="button" class="fw-normal tw-text-base text-neutral-600">
                                    Cleaner
                                </button>
                                <button type="button" class="fw-normal tw-text-base text-neutral-600">
                                    Manintenance
                                </button>
                                <button type="button" class="fw-normal tw-text-base text-neutral-600">
                                    Personal
                                </button>
                            </div>
                        </div>
                        <div class="tw-mb-10">
                            <div class="d-flex align-items-center tw-gap-3 tw-mb-10">
                                <span class="tw-text-9 text-main-two-600">
                                    <i class="ph-bold ph-chat-circle-text"></i>
                                </span>
                                <h2 class="tw-text-42-px h4 fw-bold text-main-two-600">
                                    Comments (03)
                                </h2>
                            </div>
                            <div class="d-flex align-items-start tw-gap-4 flex-wrap tw-mb-8">
                                <span>
                                    <img src="assets/images/thumbs/blog-details-img2.png" alt="img">
                                </span>
                                <div class="max-w-600-px">
                                    <div class="d-flex align-items-center tw-gap-2 flex-wrap tw-mb-4">
                                        <span class="tw-text-base text-main-600">
                                            <i class="ph-fill ph-calendar-dots"></i>
                                        </span>
                                        <span class="fw-normal tw-text-base text-neutral-600">
                                            January /22/2026
                                        </span>
                                    </div>
                                    <h3 class="tw-mb-4 h5">
                                        <a href="javascript:void(0)" class="fw-bold text-main-two-600 hover-text-main-600 tw-duration-300">
                                            Jackson Lewis
                                        </a>
                                    </h3>
                                    <p class="fw-normal tw-text-base text-neutral-600 tw-mb-4">
                                        Collaboratively empower multifunctional e-commerce for prospective applications.
                                        Seamlessly productivate plug and play markets.
                                    </p>
                                    <button type="button" class="d-flex align-items-center tw-gap-2 tw-text-base text-neutral-600">
                                        <span class="tw-text-705 text-neutral-600 ">
                                            <i class="ph ph-share-fat"></i>
                                        </span>
                                        Reply
                                    </button>
                                </div>
                            </div>
                            <div class="d-flex align-items-center justify-content-end tw-mb-8">
                                <div class="d-flex align-items-start tw-gap-4 flex-wrap max-w-600-px">
                                    <span>
                                        <img src="assets/images/thumbs/blog-details-img3.png" alt="img">
                                    </span>
                                    <div class="max-w-500-px">
                                        <div class="d-flex align-items-center tw-gap-2 flex-wrap tw-mb-4">
                                            <span class="tw-text-base text-main-600">
                                                <i class="ph-fill ph-calendar-dots"></i>
                                            </span>
                                            <span class="fw-normal tw-text-base text-neutral-600">
                                                January /22/2026
                                            </span>
                                        </div>
                                        <h3 class="tw-mb-4 h5">
                                            <a href="javascript:void(0)" class="fw-bold text-main-two-600 hover-text-main-600 tw-duration-300">
                                                Sergio Ramirez
                                            </a>
                                        </h3>
                                        <p class="fw-normal tw-text-base text-neutral-600 tw-mb-4">
                                            Collaboratively empower multifunctional e-commerce for prospective
                                            Seamlessly productivate plug and play markets.
                                        </p>
                                        <button type="button" class="d-flex align-items-center tw-gap-2 tw-text-base text-neutral-600">
                                            <span class="tw-text-705 text-neutral-600 ">
                                                <i class="ph ph-share-fat"></i>
                                            </span>
                                            Reply
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-start tw-gap-4 flex-wrap">
                                <span>
                                    <img src="assets/images/thumbs/blog-details-img4.png" alt="img">
                                </span>
                                <div class="max-w-600-px">
                                    <div class="d-flex align-items-center tw-gap-2 flex-wrap tw-mb-4">
                                        <span class="tw-text-base text-main-600">
                                            <i class="ph-fill ph-calendar-dots"></i>
                                        </span>
                                        <span class="fw-normal tw-text-base text-neutral-600">
                                            January /22/2026
                                        </span>
                                    </div>
                                    <h3 class="tw-mb-4 h5">
                                        <a href="javascript:void(0)" class="fw-bold text-main-two-600 hover-text-main-600 tw-duration-300">
                                            Charlie William
                                        </a>
                                    </h3>
                                    <p class="fw-normal tw-text-base text-neutral-600 tw-mb-4">
                                        Collaboratively empower multifunctional e-commerce for prospective applications.
                                        Seamlessly productivate plug and play markets.
                                    </p>
                                    <button type="button" class="d-flex align-items-center tw-gap-2 tw-text-base text-neutral-600">
                                        <span class="tw-text-705 text-neutral-600 ">
                                            <i class="ph ph-share-fat"></i>
                                        </span>
                                        Reply
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div >
                            <div class="d-flex align-items-center tw-gap-3 flex-wrap tw-mb-10">
                                <span class="tw-text-10 text-main-600 ">
                                    <i class="ph ph-share-fat"></i>
                                </span>
                                <h2 class="tw-text-36-px h4 fw-bold text-main-two-600">
                                    Leave a Comment
                                </h2>
                            </div>
                            <form action="#">
                                <div class="row gy-4">
                                    <div class="col-sm-6">
                                        <input type="text" placeholder="Your Name*" class="tw-py-4 tw-px-3 w-100 fw-normal tw-text-base text-neutral-600 border-neutral-300 border tw-rounded-md focus-border-green-600 focus-ring">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="email" placeholder="Your Email" class="tw-py-4 tw-px-3 w-100 fw-normal tw-text-base text-neutral-600 border-neutral-300 border tw-rounded-md focus-border-green-600 focus-ring">
                                    </div>
                                    <div class="col-12">
                                        <input type="text" placeholder="Your Subject" class="tw-py-4 tw-px-3 w-100 fw-normal tw-text-base text-neutral-600 border-neutral-300 border tw-rounded-md focus-border-green-600 focus-ring">
                                    </div>
                                    <div class="col-12">
                                         <textarea placeholder="Send Message" class="tw-py-4 tw-px-3 w-100 fw-normal tw-text-base text-neutral-600 border-neutral-300 border tw-rounded-md focus-border-green-600 focus-ring tw-h-140-px"></textarea>
                                    </div>
                                </div>
                                <div class="form-check ps-0 tw-mt-5 d-flex align-items-center tw-gap-3">
                                    <input class="form-check-input tw-mb-1" type="checkbox" value="" id="checkDefault">
                                    <label class="form-check-label" for="checkDefault">
                                        Save my name, and email in this browser for the next time I comment.
                                    </label>
                                </div>
                                <h3 class="tw-mt-10 h6">
                                    <button type="submit" class="fw-semibold text-white bg-main-600 w-100 tw-py-5 tw-ps-4 tw-pe-4 tw-rounded-lg">
                                        Post Comment
                                    </button>
                                </h3>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="bg-neutral-20 tw-rounded-md tw-py-10 tw-px-7 tw-mb-6">
                    <form action="#">
                        <h2 class="tw-mb-6 h4">
                            <label for="search" class="tw-text-36-px fw-bold text-main-two-600">
                                Search
                            </label>
                        </h2>
                        <div class="position-relative">
                            <input type="text" id="search" placeholder="Search" class="fw-semibold tw-text-base text-neutral-600 tw-py-4 tw-ps-4 tw-pe-8 bg-white tw-rounded-lg w-100 border-0 focus-border-green-600 focus-ring">
                            <button type="submit" class="tw-text-base text-neutral-600 position-absolute top-0 tw-end-0 top-50 translate-middle-y tw-me-3">
                                <i class="ph-bold ph-magnifying-glass"></i>
                            </button>
                        </div>
                    </form>
                </div>
                <div class="bg-neutral-20 tw-rounded-md tw-py-10 tw-px-7 tw-mb-6">
                    <h2 class="tw-text-36-px h4 fw-bold text-main-two-600 tw-mb-10">
                        Our Services
                    </h2>
                    <ul>
                        <li class="tw-mb-5">
                            <a href="javascript:void(0)" class="fw-semibold tw-text-base text-neutral-600 d-flex align-items-center tw-gap-3 justify-content-between tw-py-5 tw-px-4 bg-white tw-rounded-lg hover-bg-main-600 hover-text-white tw-duration-300 w-100">
                                Technology Solution
                                <span>
                                    <i class="ph-bold ph-arrow-right"></i>
                                </span>
                            </a>
                        </li>
                        <li class="tw-mb-5">
                            <a href="javascript:void(0)" class="fw-semibold tw-text-base text-neutral-600 d-flex align-items-center tw-gap-3 justify-content-between tw-py-5 tw-px-4 bg-white tw-rounded-lg hover-bg-main-600 hover-text-white tw-duration-300 w-100">
                                IT Management Service
                                <span>
                                    <i class="ph-bold ph-arrow-right"></i>
                                </span>
                            </a>
                        </li>
                        <li class="tw-mb-5">
                            <a href="javascript:void(0)" class="fw-semibold tw-text-base text-neutral-600 d-flex align-items-center tw-gap-3 justify-content-between tw-py-5 tw-px-4 bg-white tw-rounded-lg hover-bg-main-600 hover-text-white tw-duration-300 w-100">
                                Tracking Security
                                <span>
                                    <i class="ph-bold ph-arrow-right"></i>
                                </span>
                            </a>
                        </li>
                        <li class="tw-mb-5">
                            <a href="javascript:void(0)" class="fw-semibold tw-text-base text-neutral-600 d-flex align-items-center tw-gap-3 justify-content-between tw-py-5 tw-px-4 bg-white tw-rounded-lg hover-bg-main-600 hover-text-white tw-duration-300 w-100">
                                Website & Mobile App
                                <span>
                                    <i class="ph-bold ph-arrow-right"></i>
                                </span>
                            </a>
                        </li>
                        <li class="tw-mb-5">
                            <a href="javascript:void(0)" class="fw-semibold tw-text-base text-neutral-600 d-flex align-items-center tw-gap-3 justify-content-between tw-py-5 tw-px-4 bg-white tw-rounded-lg hover-bg-main-600 hover-text-white tw-duration-300 w-100">
                                App Development
                                <span>
                                    <i class="ph-bold ph-arrow-right"></i>
                                </span>
                            </a>
                        </li>
                        <li class="tw-mb-5">
                            <a href="javascript:void(0)" class="fw-semibold tw-text-base text-neutral-600 d-flex align-items-center tw-gap-3 justify-content-between tw-py-5 tw-px-4 bg-white tw-rounded-lg hover-bg-main-600 hover-text-white tw-duration-300 w-100">
                                IT Solution
                                <span>
                                    <i class="ph-bold ph-arrow-right"></i>
                                </span>
                            </a>
                        </li>
                        <li class="tw-mb-5">
                            <a href="javascript:void(0)" class="fw-semibold tw-text-base text-neutral-600 d-flex align-items-center tw-gap-3 justify-content-between tw-py-5 tw-px-4 bg-white tw-rounded-lg hover-bg-main-600 hover-text-white tw-duration-300 w-100">
                                Data & Analytics Services
                                <span>
                                    <i class="ph-bold ph-arrow-right"></i>
                                </span>
                            </a>
                        </li>
                        <li class="tw-mb-5">
                            <a href="javascript:void(0)" class="fw-semibold tw-text-base text-neutral-600 d-flex align-items-center tw-gap-3 justify-content-between tw-py-5 tw-px-4 bg-white tw-rounded-lg hover-bg-main-600 hover-text-white tw-duration-300 w-100">
                                IT Consulting & Strategy
                                <span>
                                    <i class="ph-bold ph-arrow-right"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="bg-neutral-20 tw-rounded-md tw-py-10 tw-px-7 tw-mb-6">
                    <h2 class="tw-text-36-px h4 fw-bold text-main-two-600 tw-mb-10">
                        Tags
                    </h2>
                    <div class="d-flex align-items-center tw-gap-2 flex-wrap justify-content-center">
                        <button type="button" class="tw-p-5 bg-white tw-rounded-lg fw-semibold tw-text-base text-neutral-600">
                            Cloud
                        </button>
                        <button type="button" class="tw-p-5 bg-white tw-rounded-lg fw-semibold tw-text-base text-neutral-600">
                            Data
                        </button>
                        <button type="button" class="tw-p-5 bg-white tw-rounded-lg fw-semibold tw-text-base text-neutral-600">
                            Drive
                        </button>
                        <button type="button" class="tw-p-5 bg-white tw-rounded-lg fw-semibold tw-text-base text-neutral-600">
                            Focus
                        </button>
                        <button type="button" class="tw-p-5 bg-white tw-rounded-lg fw-semibold tw-text-base text-neutral-600">
                            Optimize
                        </button>
                        <button type="button" class="tw-p-5 bg-white tw-rounded-lg fw-semibold tw-text-base text-neutral-600">
                            Security
                        </button>
                        <button type="button" class="tw-p-5 bg-white tw-rounded-lg fw-semibold tw-text-base text-neutral-600">
                            Software
                        </button>
                    </div>
                </div>
                <div class="bg-neutral-20 tw-rounded-md tw-py-10 tw-px-7 tw-mb-6">
                    <h2 class="tw-text-36-px h4 fw-bold text-main-two-600 tw-mb-10">
                        Recent Post
                    </h2>
                    <div class="d-flex align-items-center tw-gap-4 flex-wrap tw-mb-7">
                        <span>
                            <img src="assets/images/thumbs/blog-inner-img6.png" alt="img">
                        </span>
                        <div class="max-w-260-px">
                            <div class="d-flex align-items-center tw-gap-3 tw-mb-3">
                                <span class="tw-text-base text-main-600">
                                    <i class="ph-fill ph-calculator"></i>
                                </span>
                                <span class="fw-semibold tw-text-base text-neutral-600">
                                    July /07/2025
                                </span>
                            </div>
                            <h3 class="h6">
                                <a href="javascript:void(0)" class="fw-bold text-main-two-600 hover-text-main-600">
                                    Amplify your inspiring ideas today to build your future success.
                                </a>
                            </h3>
                        </div>
                    </div>
                    <div class="d-flex align-items-center tw-gap-4 flex-wrap tw-mb-7">
                        <span>
                            <img src="assets/images/thumbs/blog-inner-img7.png" alt="img">
                        </span>
                        <div class="max-w-260-px">
                            <div class="d-flex align-items-center tw-gap-3 tw-mb-3">
                                <span class="tw-text-base text-main-600">
                                    <i class="ph-fill ph-calculator"></i>
                                </span>
                                <span class="fw-semibold tw-text-base text-neutral-600">
                                    July /07/2025
                                </span>
                            </div>
                            <h3 class="h6">
                                <a href="javascript:void(0)" class="fw-bold text-main-two-600 hover-text-main-600">
                                    Make Every Moment Meaningful With Creative Imagination
                                </a>
                            </h3>
                        </div>
                    </div>
                    <div class="d-flex align-items-center tw-gap-4 flex-wrap">
                        <span>
                            <img src="assets/images/thumbs/blog-inner-img8.png" alt="img">
                        </span>
                        <div class="max-w-260-px">
                            <div class="d-flex align-items-center tw-gap-3 tw-mb-3">
                                <span class="tw-text-base text-main-600">
                                    <i class="ph-fill ph-calculator"></i>
                                </span>
                                <span class="fw-semibold tw-text-base text-neutral-600">
                                    July /07/2025
                                </span>
                            </div>
                            <h3 class="h6">
                                <a href="javascript:void(0)" class="fw-bold text-main-two-600 hover-text-main-600">
                                    Drive sustainable success using & forward-thinking digital ideas.
                                </a>
                            </h3>
                        </div>
                    </div>
                </div>
                <div style="background-image: url(assets/images/bg/blog-inner-bg-img.png);" class="pt-120 tw-pb-7 tw-ps-7 tw-pe-7 w-100 object-fit-cover">
                    <h3 class="fw-bold text-white tw-mb-8 h5">
                        How We Can Help You!
                    </h3>
                    <div class="d-flex align-items-center tw-gap-3 flex-wrap">
                        <div class="tw-w-15 tw-h-15 bg-white d-flex align-items-center justify-content-center rounded-circle tw-text-7 text-main-600">
                            <i class="ph-bold ph-phone-call"></i>
                        </div>
                        <div>
                            <h3 class="fw-bold text-white d-block tw-mb-3 h6">
                                Need help? 
                            </h3>
                            <a href="tel:+123(4567)8901" class="text-white fw-semibold tw-text-base">
                                +123 (4567) 8901
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- =========================== blog details section end =========================== -->