<!-- =========================== blog section start ============================== -->
<section class="py-120 tw-mt-220-px">
    <div class="container">
        <div class="text-center tw-mb-13">
            <div class="d-inline-flex align-items-center tw-gap-3 tw-py-2 tw-px-5 border-main-100 border rounded-pill tw-mb-6" data-aos="fade-up" data-aos-duration="900" data-aos-delay="100">
                <span class="tw-w-205 tw-h-205 bg-main-600 rounded-circle"></span>
                <h3 class="fw-bold text-main-600 h6">
                    News Posts
                </h3>
            </div>
            <h3 class="fw-bold text-main-two-600" data-aos="fade-up" data-aos-duration="900" data-aos-delay="200">
                Latest Blog Updates
            </h3>
        </div>
        <div class="row gy-4">
            <div class="col-lg-4 col-sm-6">
                <div class="animation-item" data-aos="fade-up" data-aos-duration="900" data-aos-delay="100">
                    <span class="w-100 tw-mb-5 overflow-hidden tw-rounded-xl">
                        <img src="assets/images/thumbs/blog-four-img1.png" alt="img" class="w-100 course-item__img tw-duration-300">
                    </span>
                    <div>
                        <div class="d-flex align-items-center tw-gap-4 flex-wrap tw-mb-4">
                            <div class="d-flex align-items-center tw-gap-2">
                                <span class="tw-text-base text-main-600">
                                    <i class="ph-fill ph-user-plus"></i>
                                </span>
                                <span class="fw-semibold tw-text-xl text-neutral-500">
                                    By Admin
                                </span>
                            </div>
                            <div class="d-flex align-items-center tw-gap-2">
                                <span class="tw-text-base text-main-600">
                                    <i class="ph-fill ph-calendar-check"></i>
                                </span>
                                <span class="fw-semibold tw-text-xl text-neutral-500">
                                    July 13, 2025
                                </span>
                            </div>
                        </div>
                        <h2 class="h5">
                            <a href="blog-details.html" class="fw-bold text-main-two-600 hover-text-main-600 tw-duration-300 tw-mb-6">
                                Amplify your inspiring ideas today to
                                build your future success.
                            </a>
                        </h2>
                        <a href="blog-details.html" class="group d-flex align-items-center tw-gap-2">
                            <span class="tw-text-xl text-main-600">
                                <i class="ph-bold ph-arrow-elbow-down-right"></i>
                            </span>
                            <h3 class="fw-bold h6 text-main-two-600 group-hover-text-main-600 tw-duration-300">
                                Read More
                            </h3>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="animation-item" data-aos="fade-up" data-aos-duration="900" data-aos-delay="200">
                    <span class="w-100 tw-mb-5 overflow-hidden tw-rounded-xl">
                        <img src="assets/images/thumbs/blog-four-img2.png" alt="img" class="w-100 course-item__img tw-duration-300">
                    </span>
                    <div>
                        <div class="d-flex align-items-center tw-gap-4 flex-wrap tw-mb-4">
                            <div class="d-flex align-items-center tw-gap-2">
                                <span class="tw-text-base text-main-600">
                                    <i class="ph-fill ph-user-plus"></i>
                                </span>
                                <span class="fw-semibold tw-text-xl text-neutral-500">
                                    By Admin
                                </span>
                            </div>
                            <div class="d-flex align-items-center tw-gap-2">
                                <span class="tw-text-base text-main-600">
                                    <i class="ph-fill ph-calendar-check"></i>
                                </span>
                                <span class="fw-semibold tw-text-xl text-neutral-500">
                                    July 13, 2025
                                </span>
                            </div>
                        </div>
                        <h2 class="h5">
                            <a href="blog-details.html" class="fw-bold text-main-two-600 hover-text-main-600 tw-duration-300 tw-mb-6">
                                Make Every Moment Meaningful With
                                Creative Imagination
                            </a>
                        </h2>
                        <a href="blog-details.html" class="group d-flex align-items-center tw-gap-2">
                            <span class="tw-text-xl text-main-600">
                                <i class="ph-bold ph-arrow-elbow-down-right"></i>
                            </span>
                            <h3 class="fw-bold h6 text-main-two-600 group-hover-text-main-600 tw-duration-300">
                                Read More
                            </h3>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="animation-item" data-aos="fade-up" data-aos-duration="900" data-aos-delay="300">
                    <span class="w-100 tw-mb-5 overflow-hidden tw-rounded-xl">
                        <img src="assets/images/thumbs/blog-four-img3.png" alt="img" class="w-100 course-item__img tw-duration-300">
                    </span>
                    <div>
                        <div class="d-flex align-items-center tw-gap-4 flex-wrap tw-mb-4">
                            <div class="d-flex align-items-center tw-gap-2">
                                <span class="tw-text-base text-main-600">
                                    <i class="ph-fill ph-user-plus"></i>
                                </span>
                                <span class="fw-semibold tw-text-xl text-neutral-500">
                                    By Admin
                                </span>
                            </div>
                            <div class="d-flex align-items-center tw-gap-2">
                                <span class="tw-text-base text-main-600">
                                    <i class="ph-fill ph-calendar-check"></i>
                                </span>
                                <span class="fw-semibold tw-text-xl text-neutral-500">
                                    July 13, 2025
                                </span>
                            </div>
                        </div>
                        <h2 class="h5">
                            <a href="blog-details.html" class="fw-bold text-main-two-600 hover-text-main-600 tw-duration-300 tw-mb-6">
                                Drive sustainable success using smart &
                                forward-thinking digital ideas.
                            </a>
                        </h2>
                        <a href="blog-details.html" class="group d-flex align-items-center tw-gap-2">
                            <span class="tw-text-xl text-main-600">
                                <i class="ph-bold ph-arrow-elbow-down-right"></i>
                            </span>
                            <h3 class="fw-bold h6 text-main-two-600 group-hover-text-main-600 tw-duration-300">
                                Read More
                            </h3>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- =========================== blog section end ============================== -->