<!-- =============================== blog grid section start ============================= -->
<section class="py-120">
    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-4 col-sm-6">
                <div class="animation-item">
                    <span class="tw-mb-5 overflow-hidden tw-rounded-xl">
                        <img src="assets/images/thumbs/blog-grid-img1.png" alt="img" class="course-item__img tw-duration-300">
                    </span>
                    <div>
                        <div class="d-flex align-items-center tw-gap-3 flex-wrap tw-mb-4">
                            <div class="d-flex align-items-center tw-gap-3">
                                <span class="tw-text-xl text-main-600">
                                    <i class="ph-fill ph-user-gear"></i>
                                </span>
                                <span class="fw-semibold tw-text-lg text-neutral-600">
                                    By Admin
                                </span>
                            </div>
                            <div class="d-flex align-items-center tw-gap-3">
                                <span class="tw-text-xl text-main-600">
                                    <i class="ph-fill ph-calendar-check"></i>
                                </span>
                                <span class="fw-semibold tw-text-lg text-neutral-600">
                                    July 13, 2026
                                </span>
                            </div>
                        </div>
                        <h2 class="tw-mb-5 h5">
                            <a href="blog-details.html" class="fw-bold text-main-two-600 hover-text-main-600 tw-duration-300">
                                Amplify your inspiring ideas today to build your future success.
                            </a>
                        </h2>
                        <a href="blog-details.html" class="fw-bold text-main-two-600 hover-text-main-600 tw-duration-300 d-flex align-items-center tw-gap-3">
                            <span class="text-main-600">
                                <i class="ph-bold ph-arrow-elbow-down-right"></i>
                            </span>
                            Read More
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="animation-item">
                    <span class="tw-mb-5 overflow-hidden tw-rounded-xl">
                        <img src="assets/images/thumbs/blog-grid-img2.png" alt="img" class="course-item__img tw-duration-300">
                    </span>
                    <div>
                        <div class="d-flex align-items-center tw-gap-3 flex-wrap tw-mb-4">
                            <div class="d-flex align-items-center tw-gap-3">
                                <span class="tw-text-xl text-main-600">
                                    <i class="ph-fill ph-user-gear"></i>
                                </span>
                                <span class="fw-semibold tw-text-lg text-neutral-600">
                                    By Admin
                                </span>
                            </div>
                            <div class="d-flex align-items-center tw-gap-3">
                                <span class="tw-text-xl text-main-600">
                                    <i class="ph-fill ph-calendar-check"></i>
                                </span>
                                <span class="fw-semibold tw-text-lg text-neutral-600">
                                    July 13, 2026
                                </span>
                            </div>
                        </div>
                        <h2 class="tw-mb-5 h5">
                            <a href="blog-details.html" class="fw-bold text-main-two-600 hover-text-main-600 tw-duration-300">
                                Make Every Moment Meaningful With Creative Imagination
                            </a>
                        </h2>
                        <a href="blog-details.html" class="fw-bold text-main-two-600 hover-text-main-600 tw-duration-300 d-flex align-items-center tw-gap-3">
                            <span class="text-main-600">
                                <i class="ph-bold ph-arrow-elbow-down-right"></i>
                            </span>
                            Read More
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="animation-item">
                    <span class="tw-mb-5 overflow-hidden tw-rounded-xl">
                        <img src="assets/images/thumbs/blog-grid-img3.png" alt="img" class="course-item__img tw-duration-300">
                    </span>
                    <div>
                        <div class="d-flex align-items-center tw-gap-3 flex-wrap tw-mb-4">
                            <div class="d-flex align-items-center tw-gap-3">
                                <span class="tw-text-xl text-main-600">
                                    <i class="ph-fill ph-user-gear"></i>
                                </span>
                                <span class="fw-semibold tw-text-lg text-neutral-600">
                                    By Admin
                                </span>
                            </div>
                            <div class="d-flex align-items-center tw-gap-3">
                                <span class="tw-text-xl text-main-600">
                                    <i class="ph-fill ph-calendar-check"></i>
                                </span>
                                <span class="fw-semibold tw-text-lg text-neutral-600">
                                    July 13, 2026
                                </span>
                            </div>
                        </div>
                        <h2 class="tw-mb-5 h5">
                            <a href="blog-details.html" class="fw-bold text-main-two-600 hover-text-main-600 tw-duration-300">
                                Drive sustainable success using smart & forward-thinking digital ideas.
                            </a>
                        </h2>
                        <a href="blog-details.html" class="fw-bold text-main-two-600 hover-text-main-600 tw-duration-300 d-flex align-items-center tw-gap-3">
                            <span class="text-main-600">
                                <i class="ph-bold ph-arrow-elbow-down-right"></i>
                            </span>
                            Read More
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="animation-item">
                    <span class="tw-mb-5 overflow-hidden tw-rounded-xl">
                        <img src="assets/images/thumbs/blog-grid-img4.png" alt="img" class="course-item__img tw-duration-300">
                    </span>
                    <div>
                        <div class="d-flex align-items-center tw-gap-3 flex-wrap tw-mb-4">
                            <div class="d-flex align-items-center tw-gap-3">
                                <span class="tw-text-xl text-main-600">
                                    <i class="ph-fill ph-user-gear"></i>
                                </span>
                                <span class="fw-semibold tw-text-lg text-neutral-600">
                                    By Admin
                                </span>
                            </div>
                            <div class="d-flex align-items-center tw-gap-3">
                                <span class="tw-text-xl text-main-600">
                                    <i class="ph-fill ph-calendar-check"></i>
                                </span>
                                <span class="fw-semibold tw-text-lg text-neutral-600">
                                    July 13, 2026
                                </span>
                            </div>
                        </div>
                        <h2 class="tw-mb-5 h5">
                            <a href="blog-details.html" class="fw-bold text-main-two-600 hover-text-main-600 tw-duration-300">
                                Best Security Camera Systems for Complete Home Safety Solutions
                            </a>
                        </h2>
                        <a href="blog-details.html" class="fw-bold text-main-two-600 hover-text-main-600 tw-duration-300 d-flex align-items-center tw-gap-3">
                            <span class="text-main-600">
                                <i class="ph-bold ph-arrow-elbow-down-right"></i>
                            </span>
                            Read More
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="animation-item">
                    <span class="tw-mb-5 overflow-hidden tw-rounded-xl">
                        <img src="assets/images/thumbs/blog-grid-img5.png" alt="img" class="course-item__img tw-duration-300">
                    </span>
                    <div>
                        <div class="d-flex align-items-center tw-gap-3 flex-wrap tw-mb-4">
                            <div class="d-flex align-items-center tw-gap-3">
                                <span class="tw-text-xl text-main-600">
                                    <i class="ph-fill ph-user-gear"></i>
                                </span>
                                <span class="fw-semibold tw-text-lg text-neutral-600">
                                    By Admin
                                </span>
                            </div>
                            <div class="d-flex align-items-center tw-gap-3">
                                <span class="tw-text-xl text-main-600">
                                    <i class="ph-fill ph-calendar-check"></i>
                                </span>
                                <span class="fw-semibold tw-text-lg text-neutral-600">
                                    July 13, 2026
                                </span>
                            </div>
                        </div>
                        <h2 class="tw-mb-5 h5">
                            <a href="blog-details.html" class="fw-bold text-main-two-600 hover-text-main-600 tw-duration-300">
                                How AI is Transforming Police Vehicle Surveillance Technology
                            </a>
                        </h2>
                        <a href="blog-details.html" class="fw-bold text-main-two-600 hover-text-main-600 tw-duration-300 d-flex align-items-center tw-gap-3">
                            <span class="text-main-600">
                                <i class="ph-bold ph-arrow-elbow-down-right"></i>
                            </span>
                            Read More
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="animation-item">
                    <span class="tw-mb-5 overflow-hidden tw-rounded-xl">
                        <img src="assets/images/thumbs/blog-grid-img6.png" alt="img" class="course-item__img tw-duration-300">
                    </span>
                    <div>
                        <div class="d-flex align-items-center tw-gap-3 flex-wrap tw-mb-4">
                            <div class="d-flex align-items-center tw-gap-3">
                                <span class="tw-text-xl text-main-600">
                                    <i class="ph-fill ph-user-gear"></i>
                                </span>
                                <span class="fw-semibold tw-text-lg text-neutral-600">
                                    By Admin
                                </span>
                            </div>
                            <div class="d-flex align-items-center tw-gap-3">
                                <span class="tw-text-xl text-main-600">
                                    <i class="ph-fill ph-calendar-check"></i>
                                </span>
                                <span class="fw-semibold tw-text-lg text-neutral-600">
                                    July 13, 2026
                                </span>
                            </div>
                        </div>
                        <h2 class="tw-mb-5 h5">
                            <a href="blog-details.html" class="fw-bold text-main-two-600 hover-text-main-600 tw-duration-300">
                                Tips for Choosing Reliable Outdoor CCTV Camera Solutions
                            </a>
                        </h2>
                        <a href="blog-details.html" class="fw-bold text-main-two-600 hover-text-main-600 tw-duration-300 d-flex align-items-center tw-gap-3">
                            <span class="text-main-600">
                                <i class="ph-bold ph-arrow-elbow-down-right"></i>
                            </span>
                            Read More
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- =============================== blog grid section end ============================= -->