<!-- =========================== blog section start =========================== -->
<section class="py-120">
    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-8">
                <div class="tw-shadow-five tw-rounded-xl tw-mb-5">
                    <div class="w-100 tw-mb-205">
                        <img src="assets/images/thumbs/blog-inner-img1.png" alt="img" class="w-100">
                    </div>
                    <div class="tw-py-10 tw-px-8">
                        <div class="d-flex align-items-center tw-gap-5 flex-wrap tw-mb-5">
                            <div class="d-flex align-items-center tw-gap-2">
                                <span class="tw-text-lg text-main-600">
                                    <i class="ph-fill ph-user-plus"></i>
                                </span>
                                <span class="fw-semibold tw-text-base text-neutral-500">
                                    Admin
                                </span>
                            </div>
                            <div class="d-flex align-items-center tw-gap-2">
                                <span class="tw-text-lg text-main-600">
                                    <i class="ph-fill ph-calculator"></i>
                                </span>
                                <span class="fw-semibold tw-text-base text-neutral-500">
                                    July /07/2026
                                </span>
                            </div>
                        </div>
                        <a href="blog-details.html" class="fw-bold h4 text-main-two-600 tw-text-42-px tw-mb-5">
                            Amplify Your Inspiring Ideas Today To Build Your Future Success.
                        </a>
                        <p class="fw-medium tw-text-base text-neutral-500 tw-mb-5">
                            Appropriately mesh standards compliant communities vis-a-vis client-centric channels. Seamles  reinvent open source data via bricks-and-clicks bandwidth. Globally leverage other's inexpensi
                        </p>
                        <h3 class="h6">
                            <a href="blog-details.html" class="fw-bold text-main-two-600 d-flex align-items-center tw-gap-205 hover-underline tw-duration-300">
                                Read More
                                <span>
                                    <i class="ph-bold ph-arrow-right"></i>
                                </span>
                            </a>
                        </h3>
                    </div>
                </div>
                <div class="tw-shadow-five tw-rounded-xl tw-mb-5">
                    <div class="w-100 tw-mb-205">
                        <img src="assets/images/thumbs/blog-inner-img2.png" alt="img" class="w-100">
                    </div>
                    <div class="tw-py-10 tw-px-8">
                        <div class="d-flex align-items-center tw-gap-5 flex-wrap tw-mb-5">
                            <div class="d-flex align-items-center tw-gap-2">
                                <span class="tw-text-lg text-main-600">
                                    <i class="ph-fill ph-user-plus"></i>
                                </span>
                                <span class="fw-semibold tw-text-base text-neutral-500">
                                    Admin
                                </span>
                            </div>
                            <div class="d-flex align-items-center tw-gap-2">
                                <span class="tw-text-lg text-main-600">
                                    <i class="ph-fill ph-calculator"></i>
                                </span>
                                <span class="fw-semibold tw-text-base text-neutral-500">
                                    July /07/2026
                                </span>
                            </div>
                        </div>
                        <a href="blog-details.html" class="fw-bold h4 text-main-two-600 tw-text-42-px tw-mb-5">
                            Make Every Moment Meaningful With Creative Imagination
                        </a>
                        <p class="fw-medium tw-text-base text-neutral-500 tw-mb-5">
                            Appropriately mesh standards compliant communities vis-a-vis client-centric channels. Seamles  reinvent open source data via bricks-and-clicks bandwidth. Globally leverage other's inexpensi
                        </p>
                        <h3 class="h6">
                            <a href="blog-details.html" class="fw-bold text-main-two-600 d-flex align-items-center tw-gap-205 hover-underline tw-duration-300">
                                Read More
                                <span>
                                    <i class="ph-bold ph-arrow-right"></i>
                                </span>
                            </a>
                        </h3>
                    </div>
                </div>
                <div class="tw-shadow-five tw-rounded-xl tw-mb-5">
                    <div class="w-100 tw-mb-205">
                        <img src="assets/images/thumbs/blog-inner-img3.png" alt="img" class="w-100">
                    </div>
                    <div class="tw-py-10 tw-px-8">
                        <div class="d-flex align-items-center tw-gap-5 flex-wrap tw-mb-5">
                            <div class="d-flex align-items-center tw-gap-2">
                                <span class="tw-text-lg text-main-600">
                                    <i class="ph-fill ph-user-plus"></i>
                                </span>
                                <span class="fw-semibold tw-text-base text-neutral-500">
                                    Admin
                                </span>
                            </div>
                            <div class="d-flex align-items-center tw-gap-2">
                                <span class="tw-text-lg text-main-600">
                                    <i class="ph-fill ph-calculator"></i>
                                </span>
                                <span class="fw-semibold tw-text-base text-neutral-500">
                                    July /07/2026
                                </span>
                            </div>
                        </div>
                        <a href="blog-details.html" class="fw-bold h4 text-main-two-600 tw-text-42-px tw-mb-5">
                            Drive Sustainable Success Using Smart & Forward-Thinking Digital Ideas.
                        </a>
                        <p class="fw-medium tw-text-base text-neutral-500 tw-mb-5">
                            Appropriately mesh standards compliant communities vis-a-vis client-centric channels. Seamles  reinvent open source data via bricks-and-clicks bandwidth. Globally leverage other's inexpensi
                        </p>
                        <h3 class="h6">
                            <a href="blog-details.html" class="fw-bold text-main-two-600 d-flex align-items-center tw-gap-205 hover-underline tw-duration-300">
                                Read More
                                <span>
                                    <i class="ph-bold ph-arrow-right"></i>
                                </span>
                            </a>
                        </h3>
                    </div>
                </div>
                <div class="tw-shadow-five tw-rounded-xl tw-mb-5">
                    <div class="w-100 tw-mb-205">
                        <img src="assets/images/thumbs/blog-inner-img4.png" alt="img" class="w-100">
                    </div>
                    <div class="tw-py-10 tw-px-8">
                        <div class="d-flex align-items-center tw-gap-5 flex-wrap tw-mb-5">
                            <div class="d-flex align-items-center tw-gap-2">
                                <span class="tw-text-lg text-main-600">
                                    <i class="ph-fill ph-user-plus"></i>
                                </span>
                                <span class="fw-semibold tw-text-base text-neutral-500">
                                    Admin
                                </span>
                            </div>
                            <div class="d-flex align-items-center tw-gap-2">
                                <span class="tw-text-lg text-main-600">
                                    <i class="ph-fill ph-calculator"></i>
                                </span>
                                <span class="fw-semibold tw-text-base text-neutral-500">
                                    July /07/2026
                                </span>
                            </div>
                        </div>
                        <a href="blog-details.html" class="fw-bold h4 text-main-two-600 tw-text-42-px tw-mb-5">
                            Best Security Camera Systems for Complete Home Safety Solutions
                        </a>
                        <p class="fw-medium tw-text-base text-neutral-500 tw-mb-5">
                            Appropriately mesh standards compliant communities vis-a-vis client-centric channels. Seamles  reinvent open source data via bricks-and-clicks bandwidth. Globally leverage other's inexpensi
                        </p>
                        <h3 class="h6">
                            <a href="blog-details.html" class="fw-bold text-main-two-600 d-flex align-items-center tw-gap-205 hover-underline tw-duration-300">
                                Read More
                                <span>
                                    <i class="ph-bold ph-arrow-right"></i>
                                </span>
                            </a>
                        </h3>
                    </div>
                </div>
                <div class="tw-shadow-five tw-rounded-xl">
                    <div class="w-100 tw-mb-205">
                        <img src="assets/images/thumbs/blog-inner-img5.png" alt="img" class="w-100">
                    </div>
                    <div class="tw-py-10 tw-px-8">
                        <div class="d-flex align-items-center tw-gap-5 flex-wrap tw-mb-5">
                            <div class="d-flex align-items-center tw-gap-2">
                                <span class="tw-text-lg text-main-600">
                                    <i class="ph-fill ph-user-plus"></i>
                                </span>
                                <span class="fw-semibold tw-text-base text-neutral-500">
                                    Admin
                                </span>
                            </div>
                            <div class="d-flex align-items-center tw-gap-2">
                                <span class="tw-text-lg text-main-600">
                                    <i class="ph-fill ph-calculator"></i>
                                </span>
                                <span class="fw-semibold tw-text-base text-neutral-500">
                                    July /07/2026
                                </span>
                            </div>
                        </div>
                        <a href="blog-details.html" class="fw-bold h4 text-main-two-600 tw-text-42-px tw-mb-5">
                            How AI is Transforming Police Vehicle Surveillance Technology
                        </a>
                        <p class="fw-medium tw-text-base text-neutral-500 tw-mb-5">
                            Appropriately mesh standards compliant communities vis-a-vis client-centric channels. Seamles  reinvent open source data via bricks-and-clicks bandwidth. Globally leverage other's inexpensi
                        </p>
                        <h3 class="h6">
                            <a href="blog-details.html" class="fw-bold text-main-two-600 d-flex align-items-center tw-gap-205 hover-underline tw-duration-300">
                                Read More
                                <span>
                                    <i class="ph-bold ph-arrow-right"></i>
                                </span>
                            </a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="bg-neutral-20 tw-rounded-md tw-py-10 tw-px-7 tw-mb-6">
                    <form action="#">
                        <h2 class="tw-mb-6 h4">
                            <label class="tw-text-36-px fw-bold text-main-two-600">
                                Search
                            </label>
                        </h2>
                        <div class="position-relative">
                            <input type="text" id="search" placeholder="Search" class="fw-semibold tw-text-base text-neutral-600 tw-py-4 tw-ps-4 tw-pe-8 bg-white tw-rounded-lg w-100 border-0 focus-border-green-600 focus-ring">
                            <button type="submit" class="tw-text-base text-neutral-600 position-absolute top-0 tw-end-0 top-50 translate-middle-y tw-me-3">
                                <i class="ph-bold ph-magnifying-glass"></i>
                            </button>
                        </div>
                    </form>
                </div>
                <div class="bg-neutral-20 tw-rounded-md tw-py-10 tw-px-7 tw-mb-6">
                    <h2 class="tw-text-36-px fw-bold text-main-two-600 tw-mb-10">
                        Our Services
                    </h2>
                    <ul>
                        <li class="tw-mb-5">
                            <a href="blog-details.html" class="fw-semibold tw-text-base text-neutral-600 d-flex align-items-center tw-gap-3 justify-content-between tw-py-5 tw-px-5 bg-white tw-rounded-lg hover-bg-main-600 hover-text-white tw-duration-300 w-100">
                                Technology Solution
                                <span>
                                    <i class="ph-bold ph-arrow-right"></i>
                                </span>
                            </a>
                        </li>
                        <li class="tw-mb-5">
                            <a href="blog-details.html" class="fw-semibold tw-text-base text-neutral-600 d-flex align-items-center tw-gap-3 justify-content-between tw-py-5 tw-px-5 bg-white tw-rounded-lg hover-bg-main-600 hover-text-white tw-duration-300 w-100">
                                IT Management Service
                                <span>
                                    <i class="ph-bold ph-arrow-right"></i>
                                </span>
                            </a>
                        </li>
                        <li class="tw-mb-5">
                            <a href="blog-details.html" class="fw-semibold tw-text-base text-neutral-600 d-flex align-items-center tw-gap-3 justify-content-between tw-py-5 tw-px-5 bg-white tw-rounded-lg hover-bg-main-600 hover-text-white tw-duration-300 w-100">
                                Tracking Security
                                <span>
                                    <i class="ph-bold ph-arrow-right"></i>
                                </span>
                            </a>
                        </li>
                        <li class="tw-mb-5">
                            <a href="blog-details.html" class="fw-semibold tw-text-base text-neutral-600 d-flex align-items-center tw-gap-3 justify-content-between tw-py-5 tw-px-5 bg-white tw-rounded-lg hover-bg-main-600 hover-text-white tw-duration-300 w-100">
                                Website & Mobile App
                                <span>
                                    <i class="ph-bold ph-arrow-right"></i>
                                </span>
                            </a>
                        </li>
                        <li class="tw-mb-5">
                            <a href="blog-details.html" class="fw-semibold tw-text-base text-neutral-600 d-flex align-items-center tw-gap-3 justify-content-between tw-py-5 tw-px-5 bg-white tw-rounded-lg hover-bg-main-600 hover-text-white tw-duration-300 w-100">
                                App Development
                                <span>
                                    <i class="ph-bold ph-arrow-right"></i>
                                </span>
                            </a>
                        </li>
                        <li class="tw-mb-5">
                            <a href="blog-details.html" class="fw-semibold tw-text-base text-neutral-600 d-flex align-items-center tw-gap-3 justify-content-between tw-py-5 tw-px-5 bg-white tw-rounded-lg hover-bg-main-600 hover-text-white tw-duration-300 w-100">
                                IT Solution
                                <span>
                                    <i class="ph-bold ph-arrow-right"></i>
                                </span>
                            </a>
                        </li>
                        <li class="tw-mb-5">
                            <a href="blog-details.html" class="fw-semibold tw-text-base text-neutral-600 d-flex align-items-center tw-gap-3 justify-content-between tw-py-5 tw-px-5 bg-white tw-rounded-lg hover-bg-main-600 hover-text-white tw-duration-300 w-100">
                                Data & Analytics Services
                                <span>
                                    <i class="ph-bold ph-arrow-right"></i>
                                </span>
                            </a>
                        </li>
                        <li class="tw-mb-5">
                            <a href="blog-details.html" class="fw-semibold tw-text-base text-neutral-600 d-flex align-items-center tw-gap-3 justify-content-between tw-py-5 tw-px-5 bg-white tw-rounded-lg hover-bg-main-600 hover-text-white tw-duration-300 w-100">
                                IT Consulting & Strategy
                                <span>
                                    <i class="ph-bold ph-arrow-right"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="bg-neutral-20 tw-rounded-md tw-py-10 tw-px-7 tw-mb-6">
                    <h2 class="tw-text-36-px fw-bold text-main-two-600 tw-mb-10">
                        Tags
                    </h2>
                    <div class="d-flex align-items-center tw-gap-2 flex-wrap justify-content-center">
                        <a href="blog-details.html" class="tw-p-5 bg-white hover-bg-main-600 hover-text-white tw-duration-300 tw-rounded-lg fw-semibold tw-text-base text-neutral-600">
                            Cloud
                        </a>
                        <a href="blog-details.html" class="tw-p-5 bg-white hover-bg-main-600 hover-text-white tw-duration-300 tw-rounded-lg fw-semibold tw-text-base text-neutral-600">
                            Data
                        </a>
                        <a href="blog-details.html" class="tw-p-5 bg-white hover-bg-main-600 hover-text-white tw-duration-300 tw-rounded-lg fw-semibold tw-text-base text-neutral-600">
                            Drive
                        </a>
                        <a href="blog-details.html" class="tw-p-5 bg-white hover-bg-main-600 hover-text-white tw-duration-300 tw-rounded-lg fw-semibold tw-text-base text-neutral-600">
                            Focus
                        </a>
                        <a href="blog-details.html" class="tw-p-5 bg-white hover-bg-main-600 hover-text-white tw-duration-300 tw-rounded-lg fw-semibold tw-text-base text-neutral-600">
                            Optimize
                        </a>
                        <a href="blog-details.html" class="tw-p-5 bg-white hover-bg-main-600 hover-text-white tw-duration-300 tw-rounded-lg fw-semibold tw-text-base text-neutral-600">
                            Security
                        </a>
                        <a href="blog-details.html" class="tw-p-5 bg-white hover-bg-main-600 hover-text-white tw-duration-300 tw-rounded-lg fw-semibold tw-text-base text-neutral-600">
                            Software
                        </a>
                    </div>
                </div>
                <div class="bg-neutral-20 tw-rounded-md tw-py-10 tw-px-7 tw-mb-6">
                    <h2 class="tw-text-36-px fw-bold text-main-two-600 tw-mb-10">
                        Recent Post
                    </h2>
                    <div class="d-flex align-items-center tw-gap-4 flex-wrap tw-mb-7">
                        <span>
                            <img src="assets/images/thumbs/blog-inner-img6.png" alt="img">
                        </span>
                        <div class="max-w-260-px">
                            <div class="d-flex align-items-center tw-gap-3 tw-mb-3">
                                <span class="tw-text-base text-main-600">
                                    <i class="ph-fill ph-calculator"></i>
                                </span>
                                <span class="fw-semibold tw-text-base text-neutral-600">
                                    July /07/2025
                                </span>
                            </div>
                            <h3 class="h6">
                                <a href="blog-details.html" class="fw-bold text-main-two-600 hover-text-main-600">
                                    Amplify your inspiring ideas today to build your future success.
                                </a>
                            </h3>
                        </div>
                    </div>
                    <div class="d-flex align-items-center tw-gap-4 flex-wrap tw-mb-7">
                        <span>
                            <img src="assets/images/thumbs/blog-inner-img7.png" alt="img">
                        </span>
                        <div class="max-w-260-px">
                            <div class="d-flex align-items-center tw-gap-3 tw-mb-3">
                                <span class="tw-text-base text-main-600">
                                    <i class="ph-fill ph-calculator"></i>
                                </span>
                                <span class="fw-semibold tw-text-base text-neutral-600">
                                    July /07/2025
                                </span>
                            </div>
                            <h3 class="h6">
                                <a href="blog-details.html" class="fw-bold text-main-two-600 hover-text-main-600">
                                    Make Every Moment Meaningful With Creative Imagination
                                </a>
                            </h3>
                        </div>
                    </div>
                    <div class="d-flex align-items-center tw-gap-4 flex-wrap">
                        <span>
                            <img src="assets/images/thumbs/blog-inner-img8.png" alt="img">
                        </span>
                        <div class="max-w-260-px">
                            <div class="d-flex align-items-center tw-gap-3 tw-mb-3">
                                <span class="tw-text-base text-main-600">
                                    <i class="ph-fill ph-calculator"></i>
                                </span>
                                <span class="fw-semibold tw-text-base text-neutral-600">
                                    July /07/2025
                                </span>
                            </div>
                            <h3 class="h6">
                                <a href="blog-details.html" class="fw-bold text-main-two-600 hover-text-main-600">
                                    Drive sustainable success using & forward-thinking digital ideas.
                                </a>
                            </h3>
                        </div>
                    </div>
                </div>
                <div style="background-image: url(assets/images/bg/blog-inner-bg-img.png);" class="pt-120 tw-pb-7 tw-ps-7 tw-pe-7 w-100 object-fit-cover">
                    <h2 class="fw-bold h5 text-white tw-mb-8">
                        How We Can Help You!
                    </h2>
                    <div class="d-flex align-items-center tw-gap-3 flex-wrap">
                        <div class="tw-w-15 tw-h-15 bg-white d-flex align-items-center justify-content-center rounded-circle tw-text-7 text-main-600">
                            <i class="ph-bold ph-phone-call"></i>
                        </div>
                        <div>
                            <h3 class="fw-bold h6 text-white d-block tw-mb-3">
                                Need help? 
                            </h3>
                            <a href="tel:+123(4567)8901" class="text-white fw-semibold tw-text-base">
                                +123 (4567) 8901
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- =========================== blog section end =========================== -->