<!-- =============================== blog section start ============================= -->
<section class="d-flex align-items-center justify-content-center w-100">
    <div class="bg-neutral-30 py-120 max-w-1890-px w-100 tw-rounded-left-right">
        <div class="container">
            <div class="d-flex align-items-center tw-gap-4 justify-content-between flex-wrap tw-mb-15">
                <div>
                    <div class="d-inline-flex tw-mb-5 align-items-center tw-gap-2 tw-py-2 tw-px-5 border-main-50 border rounded-pill" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                        <span class="tw-w-205 tw-h-205 bg-main-600 rounded-circle"></span>
                        <h3 class="fw-bold h6 text-main-600">
                            Our Blog & News
                        </h3>
                    </div>
                    <h3 class="fw-bold text-main-two-600" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200"> 
                        News, Insights, & Inspiration<br> From The IT World.
                    </h3>
                </div>
                <a href="blog-details.html" class="link-group d-inline-flex align-items-center group group-item">
                    <span class="button-icon-one fw-bold bg-main-600 text-white tw-py-3 tw-px-4 tw-rounded-xl tw-text-xl group-hover-bg-black tw-duration-300">
                        <i class="ph-bold ph-arrow-right"></i>
                    </span>
                    <h2 class="fw-bold h6 bg-main-600 text-white tw-py-4 tw-px-10 tw-rounded-xl group-hover-bg-black tw-duration-300">
                        Discover More
                    </h2>
                    <span class="button-icon-two fw-bold bg-main-600 text-white tw-py-3 tw-px-4 tw-rounded-xl tw-text-xl group-hover-bg-black tw-duration-300">
                        <i class="ph-bold ph-arrow-right"></i>
                    </span>
                </a>
            </div>
            <div class="row gy-4">
                <div class="col-xl-4 col-md-6">
                    <div class="bg-white tw-rounded-2xl animation-item position-relative" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                        <div class="position-relative">
                            <span class="w-100 tw-rounded-2xl overflow-hidden">
                                <img src="assets/images/thumbs/blog-img1.png" alt="img" class="w-100 tw-rounded-xl course-item__img tw-duration-300">
                            </span>
                            <div class="bg-main-600 tw-py-4 tw-px-4 d-flex align-items-center tw-gap-2 position-absolute bottom-0 tw-start-0 tw-rounded-lg tw-mb-4 tw-ms-205">
                                <h2 class="fw-semibold h4 text-white tw-text-36-px">
                                    10
                                </h2>
                                <span class="fw-medium tw-text-base text-white">
                                    June <br>2026
                                </span>
                            </div>
                        </div>
                        <span class="blog-card__one tw-w-12 tw-h-12 bg-neutral-30 tw-rounded-xl d-flex justify-content-center align-items-center text-main-600 tw-text-6 position-absolute top-0 tw-end-0 ">
                            <i class="ph-bold ph-arrow-up-right"></i>
                        </span>
                        <div class="tw-py-7 tw-ps-7 tw-pe-7 ">
                            <div class="d-flex align-items-center tw-gap-4 flex-wrap tw-mb-4">
                                <div class="d-flex align-items-center tw-gap-2">
                                    <span class="tw-text-4 text-main-600">
                                        <i class="ph-bold ph-user-circle"></i>
                                    </span>
                                    <span class="fw-medium tw-text-4 text-neutral-500">
                                        Admin
                                    </span>
                                </div>
                                <span class="tw-w-1 tw-h-1 bg-neutral-600 rounded-circle"></span>
                                <div class="d-flex align-items-center tw-gap-2">
                                    <span class="tw-text-4 text-main-600">
                                        <i class="ph-bold ph-chat-teardrop-text"></i>
                                    </span>
                                    <span class="fw-medium tw-text-4 text-neutral-500">
                                        Comments(5)
                                    </span>
                                </div>
                            </div>
                            <h2 class="tw-mb-5 h4">
                                <a href="blog-details.html" class="fw-semibold text-main-two-600 hover-text-main-600 tw-duration-300">
                                    Leading the Digital Age with Groundbreaking
                                </a>
                            </h2>
                            <p class="fw-semibold tw-text-base text-neutral-500 tw-mb-10">
                                We improve the supply chain process, increase operational efficiencies and build...
                            </p>
                            <h3 class="h6">
                                <a href="blog-details.html" class="fw-bold d-flex align-items-center justify-content-center tw-gap-5 w-100 border-main-600 border tw-py-3 tw-ps-5 tw-pe-5 tw-rounded-xl text-main-600 hover-text-white hover-bg-main-600 tw-duration-300">
                                    Discover More
                                    <span>
                                        <i class="ph-bold ph-arrow-right"></i>
                                    </span>
                                </a>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6">
                    <div class="bg-white tw-rounded-2xl animation-item position-relative" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                        <div class="position-relative">
                            <span class="w-100 tw-rounded-2xl overflow-hidden">
                                <img src="assets/images/thumbs/blog-img2.png" alt="img" class="w-100 tw-rounded-xl course-item__img tw-duration-300">
                            </span>
                            <div class="bg-main-600 tw-py-4 tw-px-4 d-flex align-items-center tw-gap-2 position-absolute bottom-0 tw-start-0 tw-rounded-lg tw-mb-4 tw-ms-205">
                                <h2 class="fw-semibold h4 text-white tw-text-36-px">
                                    10
                                </h2>
                                <span class="fw-medium tw-text-base text-white">
                                    June <br>2026
                                </span>
                            </div>
                        </div>
                        <span class="blog-card__one tw-w-12 tw-h-12 bg-neutral-30 tw-rounded-xl d-flex justify-content-center align-items-center text-main-600 tw-text-6 position-absolute top-0 tw-end-0 ">
                            <i class="ph-bold ph-arrow-up-right"></i>
                        </span>
                        <div class="tw-py-7 tw-ps-7 tw-pe-7 ">
                            <div class="d-flex align-items-center tw-gap-4 flex-wrap tw-mb-4">
                                <div class="d-flex align-items-center tw-gap-2">
                                    <span class="tw-text-4 text-main-600">
                                        <i class="ph-bold ph-user-circle"></i>
                                    </span>
                                    <span class="fw-medium tw-text-4 text-neutral-500">
                                        Admin
                                    </span>
                                </div>
                                <span class="tw-w-1 tw-h-1 bg-neutral-600 rounded-circle"></span>
                                <div class="d-flex align-items-center tw-gap-2">
                                    <span class="tw-text-4 text-main-600">
                                        <i class="ph-bold ph-chat-teardrop-text"></i>
                                    </span>
                                    <span class="fw-medium tw-text-4 text-neutral-500">
                                        Comments(5)
                                    </span>
                                </div>
                            </div>
                            <h2 class="tw-mb-5 h4">
                                <a href="blog-details.html" class="fw-semibold text-main-two-600 hover-text-main-600 tw-duration-300">
                                    Unlocking New Possibilities with Advanced Cloud
                                </a>
                            </h2>
                            <p class="fw-semibold tw-text-base text-neutral-500 tw-mb-10">
                                We improve the supply chain process, increase operational efficiencies and build...
                            </p>
                            <h3 class="h6">
                                <a href="blog-details.html" class="fw-bold d-flex align-items-center justify-content-center tw-gap-5 w-100 border-main-600 border tw-py-3 tw-ps-5 tw-pe-5 tw-rounded-xl text-main-600 hover-text-white hover-bg-main-600 tw-duration-300">
                                    Discover More
                                    <span>
                                        <i class="ph-bold ph-arrow-right"></i>
                                    </span>
                                </a>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6">
                    <div class="bg-white tw-rounded-2xl animation-item position-relative" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                        <div class="position-relative">
                            <span class="w-100 tw-rounded-2xl overflow-hidden">
                                <img src="assets/images/thumbs/blog-img3.png" alt="img" class="w-100 tw-rounded-xl course-item__img tw-duration-300">
                            </span>
                            <div class="bg-main-600 tw-py-4 tw-px-4 d-flex align-items-center tw-gap-2 position-absolute bottom-0 tw-start-0 tw-rounded-lg tw-mb-4 tw-ms-205">
                                <h2 class="fw-semibold text-white h4 tw-text-36-px">
                                    10
                                </h2>
                                <span class="fw-medium tw-text-base text-white">
                                    June <br>2026
                                </span>
                            </div>
                        </div>
                        <span class="blog-card__one tw-w-12 tw-h-12 bg-neutral-30 tw-rounded-xl d-flex justify-content-center align-items-center text-main-600 tw-text-6 position-absolute top-0 tw-end-0 ">
                            <i class="ph-bold ph-arrow-up-right"></i>
                        </span>
                        <div class="tw-py-7 tw-ps-7 tw-pe-7 ">
                            <div class="d-flex align-items-center tw-gap-4 flex-wrap tw-mb-4">
                                <div class="d-flex align-items-center tw-gap-2">
                                    <span class="tw-text-4 text-main-600">
                                        <i class="ph-bold ph-user-circle"></i>
                                    </span>
                                    <span class="fw-medium tw-text-4 text-neutral-500">
                                        Admin
                                    </span>
                                </div>
                                <span class="tw-w-1 tw-h-1 bg-neutral-600 rounded-circle"></span>
                                <div class="d-flex align-items-center tw-gap-2">
                                    <span class="tw-text-4 text-main-600">
                                        <i class="ph-bold ph-chat-teardrop-text"></i>
                                    </span>
                                    <span class="fw-medium tw-text-4 text-neutral-500">
                                        Comments(5)
                                    </span>
                                </div>
                            </div>
                            <h2 class="tw-mb-5 h4">
                                <a href="blog-details.html" class="fw-semibold text-main-two-600 hover-text-main-600 tw-duration-300">
                                    Top Kitchen Renovation Tips To Maximize Space 
                                </a>
                            </h2>
                            <p class="fw-semibold tw-text-base text-neutral-500 tw-mb-10">
                                We improve the supply chain process, increase operational efficiencies and build...
                            </p>
                            <h3 class="h6">
                                <a href="blog-details.html" class="fw-bold d-flex align-items-center justify-content-center tw-gap-5 w-100 border-main-600 border tw-py-3 tw-ps-5 tw-pe-5 tw-rounded-xl text-main-600 hover-text-white hover-bg-main-600 tw-duration-300">
                                    Discover More
                                    <span>
                                        <i class="ph-bold ph-arrow-right"></i>
                                    </span>
                                </a>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- =============================== blog section end ============================= -->