<!-- ========================== brand slider section start ============================ -->
<div class="pb-120">
    <div class="container">
        <div class="">
            <h4 class="fw-bold text-main-two-600 text-center tw-mb-15">
                More Than 5.2k+ Brand with Work Hero
            </h4>

            <div class="swiper about-brand__slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <span class="">
                            <img src="assets/images/thumbs/about-brand-img1.png" alt="img">
                        </span>
                    </div>
                    <div class="swiper-slide">
                        <span class="">
                            <img src="assets/images/thumbs/about-brand-img2.png" alt="img">
                        </span>
                    </div>
                    <div class="swiper-slide">
                        <span class="">
                            <img src="assets/images/thumbs/about-brand-img3.png" alt="img">
                        </span>
                    </div>
                    <div class="swiper-slide">
                        <span class="">
                            <img src="assets/images/thumbs/about-brand-img4.png" alt="img">
                        </span>
                    </div>
                    <div class="swiper-slide">
                        <span class="">
                            <img src="assets/images/thumbs/about-brand-img2.png" alt="img">
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ========================== brand slider section end ============================ -->

