<!-- ============================ brand slider section start ============================ -->
<div class="pb-120">
    <div class="container max-w-1450-px">
        <p class="fw-bold tw-text-base text-neutral-600 tw-mb-15 text-center">
            Chosen by Millions of Learners and Forward-Thinking Companies
        </p>
        <div class="swiper brand-two-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="d-flex align-items-center justify-content-center">
                        <img src="assets/images/thumbs/brand-two-img1.png" alt="img">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="d-flex align-items-center justify-content-center tw-mt-1">
                        <img src="assets/images/thumbs/brand-two-img2.png" alt="img">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="d-flex align-items-center justify-content-center">
                        <img src="assets/images/thumbs/brand-two-img3.png" alt="img">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="d-flex align-items-center justify-content-center tw-mt-1">
                        <img src="assets/images/thumbs/brand-two-img4.png" alt="img">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="d-flex align-items-center justify-content-center">
                        <img src="assets/images/thumbs/brand-two-img5.png" alt="img">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="d-flex align-items-center justify-content-center">
                        <img src="assets/images/thumbs/brand-two-img6.png" alt="img">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="d-flex align-items-center justify-content-center">
                        <img src="assets/images/thumbs/brand-two-img7.png" alt="img">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ============================ brand slider section end ============================ -->