<!-- ============================ brand slider section start ============================ -->
<div class="pt-60">
    <div class="swiper brand-two-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="d-flex align-items-center justify-content-center">
                    <img src="assets/images/thumbs/brand-two-img1.png" alt="img">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="d-flex align-items-center justify-content-center">
                    <img src="assets/images/thumbs/brand-two-img2.png" alt="img">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="d-flex align-items-center justify-content-center">
                    <img src="assets/images/thumbs/brand-two-img3.png" alt="img">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="d-flex align-items-center justify-content-center">
                    <img src="assets/images/thumbs/brand-two-img4.png" alt="img">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="d-flex align-items-center justify-content-center">
                    <img src="assets/images/thumbs/brand-two-img5.png" alt="img">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="d-flex align-items-center justify-content-center">
                    <img src="assets/images/thumbs/brand-two-img6.png" alt="img">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="d-flex align-items-center justify-content-center">
                    <img src="assets/images/thumbs/brand-two-img7.png" alt="img">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ============================ brand slider section end ============================ -->