<!-- ================================ build techmology section start ================================ -->
<section class="py-120 position-relative">
    <img src="assets/images/shape/pricing-plan-shape2.png" alt="shape" class="position-absolute top-0 tw-end-0 tw-mt--150-px d-xl-block d-none animation-upDown">
    <img src="assets/images/shape/build-techmology-four-shape1.png" alt="shape" class="position-absolute bottom-0 tw-end-0 tw-me-17 d-xl-block d-none animation-scalation">
    <div class="container">
        <div class="row gy-4">
            <div class="col-xl-5">
                <div class="w-100" data-aos="zoom-in" data-aos-duration="1500">
                    <img src="assets/images/thumbs/it-about-four-img1.png" alt="img" class="w-100">
                </div>
            </div>
            <div class="col-xl-7">
                <div class="d-flex align-items-center justify-content-center">
                    <div class="max-w-680-px w-100">
                        <div class="d-inline-flex align-items-center tw-gap-2 tw-py-2 tw-px-5 border-main-100 border rounded-pill tw-mb-5" data-aos="fade-up" data-aos-duration="900" data-aos-delay="100">
                            <span class="tw-w-205 tw-h-205 bg-main-600 rounded-circle"></span>
                            <h3 class="fw-bold h6 text-main-600">
                                Welcome To Our Company
                            </h3>
                        </div>
                        <h3 class="fw-bold text-main-two-600 tw-mb-10" data-aos="fade-up" data-aos-duration="900" data-aos-delay="150">
                            Connecting People And
                            Build Technology
                        </h3>
                        <p class="fw-semibold tw-text-base text-neutral-500 tw-mb-10" data-aos="fade-up" data-aos-duration="900" data-aos-delay="200">
                            Since 1998, At Logisku, we specialize in delivering seamless transport and logistics solutions that empower your business. With a strong commitment to reliability, speed, and customer satisfaction.
                        </p>
                        <div class="tw-ms--300-px position-relative z-3">
                            <div class="bg-neutral-30 tw-rounded-xl d-flex align-items-center justify-content-between flex-wrap tw-gap-5 ">
                                <div class="tw-py-12 tw-ps-15 tw-pe-8 tw-media-ps-32-px">
                                    <p class="fw-semibold tw-text-base text-neutral-500 tw-mb-9" data-aos="fade-up" data-aos-duration="900" data-aos-delay="250">
                                        Effective communication, mutual respect, and shared objectives<br> are  for fostering a cohesive productive team environment.
                                    </p>
                                    <div class="d-flex align-items-center tw-gap-6 flex-wrap tw-mb-7" data-aos="fade-up" data-aos-duration="900" data-aos-delay="300">
                                        <div class="d-flex flex-column tw-gap-3">
                                            <div class="d-flex align-items-center tw-gap-105">
                                                <span class="tw-w-6 tw-h-6 bg-main-600 rounded-circle d-flex align-items-center justify-content-center text-white tw-text-4">
                                                    <i class="ph-bold ph-check"></i>
                                                </span>
                                                <span class="fw-semibold tw-text-base text-neutral-500">
                                                    Intermodal Shipping
                                                </span>
                                            </div>
                                            <div class="d-flex align-items-center tw-gap-105">
                                                <span class="tw-w-6 tw-h-6 bg-main-600 rounded-circle d-flex align-items-center justify-content-center text-white tw-text-4">
                                                    <i class="ph-bold ph-check"></i>
                                                </span>
                                                <span class="fw-semibold tw-text-base text-neutral-500">
                                                    Freeze product Shipping
                                                </span>
                                            </div>
                                            <div class="d-flex align-items-center tw-gap-105">
                                                <span class="tw-w-6 tw-h-6 bg-main-600 rounded-circle d-flex align-items-center justify-content-center text-white tw-text-4">
                                                    <i class="ph-bold ph-check"></i>
                                                </span>
                                                <span class="fw-semibold tw-text-base text-neutral-500">
                                                    Hot Shot Trucking
                                                </span>
                                            </div>
                                        </div>
                                        <div class="d-flex flex-column tw-gap-3">
                                            <div class="d-flex align-items-center tw-gap-105">
                                                <span class="tw-w-6 tw-h-6 bg-main-600 rounded-circle d-flex align-items-center justify-content-center text-white tw-text-4">
                                                    <i class="ph-bold ph-check"></i>
                                                </span>
                                                <span class="fw-semibold tw-text-base text-neutral-500">
                                                    Container Freight
                                                </span>
                                            </div>
                                            <div class="d-flex align-items-center tw-gap-105">
                                                <span class="tw-w-6 tw-h-6 bg-main-600 rounded-circle d-flex align-items-center justify-content-center text-white tw-text-4">
                                                    <i class="ph-bold ph-check"></i>
                                                </span>
                                                <span class="fw-semibold tw-text-base text-neutral-500">
                                                    Intermodal Shipping
                                                </span>
                                            </div>
                                            <div class="d-flex align-items-center tw-gap-105">
                                                <span class="tw-w-6 tw-h-6 bg-main-600 rounded-circle d-flex align-items-center justify-content-center text-white tw-text-4">
                                                    <i class="ph-bold ph-check"></i>
                                                </span>
                                                <span class="fw-semibold tw-text-base text-neutral-500">
                                                    Flatbed Shipping
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="contact.html" class="link-group d-inline-flex align-items-center group group-item">
                                        <span class="button-icon-one fw-bold bg-main-600 text-white tw-py-3 tw-px-4 tw-rounded-xl tw-text-xl group-hover-bg-black tw-duration-300">
                                        <i class="ph-bold ph-arrow-right"></i>
                                        </span>
                                        <h2 class="fw-bold h6 bg-main-600 text-white tw-py-4 tw-px-10 tw-rounded-xl group-hover-bg-black tw-duration-300">
                                            Discover More
                                        </h2>
                                        <span class="button-icon-two fw-bold bg-main-600 text-white tw-py-3 tw-px-4 tw-rounded-xl tw-text-xl group-hover-bg-black tw-duration-300">
                                        <i class="ph-bold ph-arrow-right"></i>
                                        </span>
                                    </a>
                                </div>
                                <div class="position-relative tw-px-media-60-px tw-w-media-100" data-aos="zoom-in" data-aos-duration="1500">
                                    <img src="assets/images/thumbs/it-about-four-img2.png" alt="img" class="tw-w-media-100">
                                    <div class="position-absolute top-0 tw-start-0 top-50 tw-start-50 translate-middle">
                                        <a href="https://www.youtube.com/watch?v=MFLVmAE4cqg" class="play-button tw-w-16 tw-h-16 bg-main-600 tw-text-xl text-white rounded-circle d-flex align-items-center justify-content-center">
                                            <i class="ph-fill ph-play"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ================================ build techmology section end ================================ -->