<!-- ========================= company project section start ========================= -->
<section class="py-120">
    <div class="container">
        <div class="d-flex align-items-end justify-content-between tw-gap-5 flex-wrap tw-mb-15">
            <div class="max-w-570-px w-100">
                <div class="d-inline-flex align-items-center tw-gap-2 tw-py-2 tw-px-5 border-main-100 border rounded-pill tw-mb-5" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                    <span class="tw-w-205 tw-h-205 rounded-circle bg-main-600"></span>
                    <h3 class="fw-bold text-main-600 h6">
                        Our Company Projects
                    </h3>
                </div>
                <h3 class="fw-bold text-main-two-600 tw-mb-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="150">
                   Explore Our Recent Projects
                    That We Have Done
                </h3>
            </div>
            <p class="max-w-550-px w-100 fw-semibold tw-text-base text-neutral-600" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                The ITZen CCTV Camera System represents the pinnacle modern security 
                engineered to deliver comprehensive protection for your property around
                Combining cutting-edge imaging capabilities
            </p>
        </div>
    </div>
    <div class="container max-w-1720-px">  
        <div class="swiper company-projects-six__slider">
            <div class="swiper-wrapper tw-mb-17">
                <div class="swiper-slide">
                    <div class="animation-item group group-item" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                        <span class="w-100 h-100 overflow-hidden tw-rounded-2xl">
                            <img src="assets/images/thumbs/company-projects-six-img1.png" alt="img" class="w-100 h-100 course-item__img tw-duration-300">
                        </span>
                        <div class="bg-white tw-py-6 tw-px-4 tw-rounded-lg tw-mt--190-px position-relative z-99 tw-ms-3 tw-me-3 tw-mb-6 group-hover-bg-main-600 tw-duration-300">
                            <div class="d-flex align-items-end justify-content-between tw-gap-3 flex-wrap">
                                <div>
                                    <span class="tw-py-2 tw-px-5 border-neutral-200 border fw-semibold tw-text-base text-main-two-600 rounded-pill tw-mb-3 group-hover-text-white tw-duration-300">
                                        Technology
                                    </span>
                                    <h2 class="h4 fw-bold text-main-two-600">
                                        <a href="projects-details.html" class="hover-underline tw-duration-300 group-hover-text-white tw-duration-300">
                                            Machine Learning<br>
                                            Chronicles
                                        </a>
                                    </h2>
                                </div>
                                <a href="projects-details.html" class="tw-w-12 tw-h-12 bg-main-two-600 rounded-circle d-flex align-items-center justify-content-center tw-text-xl text-white hover-bg-main-600 tw-duration-300 group-hover-bg-white tw-duration-300 group-hover-text-main-two-600 tw-duration-300 tw-duration-300">
                                    <span class="d-flex align-items-center justify-content-center group-hover-item-me-0 tw-duration-300 group-hover-item-opacity-0 group-hover-item-hidden group-hover-item-scale-04">
                                        <i class="ph-bold ph-arrow-right"></i>
                                    </span>
                                    <span class="tw-hidden tw-opacity-0 tw-scale-04 tw-me--20-px group-hover-item-visible group-hover-item-opacity-1 group-hover-item-scale-1 tw-duration-300 group-hover-item-me-0-px d-flex align-items-center justify-content-center">
                                        <i class="ph-bold ph-arrow-up-right"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="animation-item group group-item" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                        <span class="w-100 h-100 overflow-hidden tw-rounded-2xl">
                            <img src="assets/images/thumbs/company-projects-six-img2.png" alt="img" class="w-100 h-100 course-item__img tw-duration-300">
                        </span>
                        <div class="bg-white tw-py-6 tw-px-4 tw-rounded-lg tw-mt--190-px position-relative z-99 tw-ms-3 tw-me-3 tw-mb-6 group-hover-bg-main-600 tw-duration-300">
                            <div class="d-flex align-items-end justify-content-between tw-gap-3 flex-wrap">
                                <div>
                                    <span class="tw-py-2 tw-px-5 border-neutral-200 border fw-semibold tw-text-base text-main-two-600 rounded-pill tw-mb-3 group-hover-text-white tw-duration-300">
                                        Technology
                                    </span>
                                    <h2 class="h4 fw-bold text-main-two-600">
                                        <a href="projects-details.html" class="hover-underline tw-duration-300 group-hover-text-white tw-duration-300">
                                            High Efficiency <br>Robotics
                                        </a>
                                    </h2>
                                </div>
                                <a href="projects-details.html" class="tw-w-12 tw-h-12 bg-main-two-600 rounded-circle d-flex align-items-center justify-content-center tw-text-xl text-white hover-bg-main-600 tw-duration-300 group-hover-bg-white tw-duration-300 group-hover-text-main-two-600 tw-duration-300 tw-duration-300">
                                    <span class="d-flex align-items-center justify-content-center group-hover-item-me-0 tw-duration-300 group-hover-item-opacity-0 group-hover-item-hidden group-hover-item-scale-04">
                                        <i class="ph-bold ph-arrow-right"></i>
                                    </span>
                                    <span class="tw-hidden tw-opacity-0 tw-scale-04 tw-me--20-px group-hover-item-visible group-hover-item-opacity-1 group-hover-item-scale-1 tw-duration-300 group-hover-item-me-0-px d-flex align-items-center justify-content-center">
                                        <i class="ph-bold ph-arrow-up-right"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="animation-item group group-item" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                        <span class="w-100 h-100 overflow-hidden tw-rounded-2xl">
                            <img src="assets/images/thumbs/company-projects-six-img3.png" alt="img" class="w-100 h-100 course-item__img tw-duration-300">
                        </span>
                        <div class="bg-white tw-py-6 tw-px-4 tw-rounded-lg tw-mt--190-px position-relative z-99 tw-ms-3 tw-me-3 tw-mb-6 group-hover-bg-main-600 tw-duration-300">
                            <div class="d-flex align-items-end justify-content-between tw-gap-3 flex-wrap">
                                <div>
                                    <span class="tw-py-2 tw-px-5 border-neutral-200 border fw-semibold tw-text-base text-main-two-600 rounded-pill tw-mb-3 group-hover-text-white tw-duration-300">
                                        Technology
                                    </span>
                                    <h2 class="h4 fw-bold text-main-two-600">
                                        <a href="projects-details.html" class="hover-underline tw-duration-300 group-hover-text-white tw-duration-300">
                                            Smarter Systems,<br>
                                            Better Solutions
                                        </a>
                                    </h2>
                                </div>
                                <a href="projects-details.html" class="tw-w-12 tw-h-12 bg-main-two-600 rounded-circle d-flex align-items-center justify-content-center tw-text-xl text-white hover-bg-main-600 tw-duration-300 group-hover-bg-white tw-duration-300 group-hover-text-main-two-600 tw-duration-300 tw-duration-300">
                                    <span class="d-flex align-items-center justify-content-center group-hover-item-me-0 tw-duration-300 group-hover-item-opacity-0 group-hover-item-hidden group-hover-item-scale-04">
                                        <i class="ph-bold ph-arrow-right"></i>
                                    </span>
                                    <span class="tw-hidden tw-opacity-0 tw-scale-04 tw-me--20-px group-hover-item-visible group-hover-item-opacity-1 group-hover-item-scale-1 tw-duration-300 group-hover-item-me-0-px d-flex align-items-center justify-content-center">
                                        <i class="ph-bold ph-arrow-up-right"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="animation-item group group-item" data-aos="fade-up" data-aos-duration="800" data-aos-delay="350">
                        <span class="w-100 h-100 overflow-hidden tw-rounded-2xl">
                            <img src="assets/images/thumbs/company-projects-six-img4.png" alt="img" class="w-100 h-100 course-item__img tw-duration-300">
                        </span>
                        <div class="bg-white tw-py-6 tw-px-4 tw-rounded-lg tw-mt--190-px position-relative z-99 tw-ms-3 tw-me-3 tw-mb-6 group-hover-bg-main-600 tw-duration-300">
                            <div class="d-flex align-items-end justify-content-between tw-gap-3 flex-wrap">
                                <div>
                                    <span class="tw-py-2 tw-px-5 border-neutral-200 border fw-semibold tw-text-base text-main-two-600 rounded-pill tw-mb-3 group-hover-text-white tw-duration-300">
                                        Technology
                                    </span>
                                    <h2 class="h4 fw-bold text-main-two-600">
                                        <a href="projects-details.html" class="hover-underline tw-duration-300 group-hover-text-white tw-duration-300">
                                            Future-Driven by<br>
                                            Algorithms
                                        </a>
                                    </h2>
                                </div>
                                <a href="projects-details.html" class="tw-w-12 tw-h-12 bg-main-two-600 rounded-circle d-flex align-items-center justify-content-center tw-text-xl text-white hover-bg-main-600 tw-duration-300 group-hover-bg-white tw-duration-300 group-hover-text-main-two-600 tw-duration-300 tw-duration-300">
                                    <span class="d-flex align-items-center justify-content-center group-hover-item-me-0 tw-duration-300 group-hover-item-opacity-0 group-hover-item-hidden group-hover-item-scale-04">
                                        <i class="ph-bold ph-arrow-right"></i>
                                    </span>
                                    <span class="tw-hidden tw-opacity-0 tw-scale-04 tw-me--20-px group-hover-item-visible group-hover-item-opacity-1 group-hover-item-scale-1 tw-duration-300 group-hover-item-me-0-px d-flex align-items-center justify-content-center">
                                        <i class="ph-bold ph-arrow-up-right"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="animation-item group group-item" data-aos="fade-up" data-aos-duration="800" data-aos-delay="400">
                        <span class="w-100 h-100 overflow-hidden tw-rounded-2xl">
                            <img src="assets/images/thumbs/company-projects-six-img2.png" alt="img" class="w-100 h-100 course-item__img tw-duration-300">
                        </span>
                        <div class="bg-white tw-py-6 tw-px-4 tw-rounded-lg tw-mt--190-px position-relative z-99 tw-ms-3 tw-me-3 tw-mb-6 group-hover-bg-main-600 tw-duration-300">
                            <div class="d-flex align-items-end justify-content-between tw-gap-3 flex-wrap">
                                <div>
                                    <span class="tw-py-2 tw-px-5 border-neutral-200 border fw-semibold tw-text-base text-main-two-600 rounded-pill tw-mb-3 group-hover-text-white tw-duration-300">
                                        Technology
                                    </span>
                                    <h2 class="h4 fw-bold text-main-two-600">
                                        <a href="projects-details.html" class="hover-underline tw-duration-300 group-hover-text-white tw-duration-300">
                                            High Efficiency <br>Robotics
                                        </a>
                                    </h2>
                                </div>
                                <a href="projects-details.html" class="tw-w-12 tw-h-12 bg-main-two-600 rounded-circle d-flex align-items-center justify-content-center tw-text-xl text-white hover-bg-main-600 tw-duration-300 group-hover-bg-white tw-duration-300 group-hover-text-main-two-600 tw-duration-300 tw-duration-300">
                                    <span class="d-flex align-items-center justify-content-center group-hover-item-me-0 tw-duration-300 group-hover-item-opacity-0 group-hover-item-hidden group-hover-item-scale-04">
                                        <i class="ph-bold ph-arrow-right"></i>
                                    </span>
                                    <span class="tw-hidden tw-opacity-0 tw-scale-04 tw-me--20-px group-hover-item-visible group-hover-item-opacity-1 group-hover-item-scale-1 tw-duration-300 group-hover-item-me-0-px d-flex align-items-center justify-content-center">
                                        <i class="ph-bold ph-arrow-up-right"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>
<!-- ========================= company project section end ========================= -->