<!-- ========================== company section start ========================== -->
<section class="py-120">
    <div class="container">
        <div class="text-center tw-mb-15">
            <div class="d-inline-flex tw-mb-5 align-items-center tw-gap-2 tw-py-2 tw-px-5 border-main-50 border rounded-pill" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                <span class="tw-w-205 tw-h-205 bg-main-600 rounded-circle"></span>
                <h3 class="fw-bold h6 text-main-600">
                    About Company
                </h3>
            </div>
            <h3 class="fw-bold text-main-two-600" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200"> 
                Get Exclusive It Solutions &<br> Features With ITzen
            </h3>
        </div>
        <div class="row gy-4">
            <div class="col-xl-4 col-sm-6">
                <div class="bg-neutral-300 tw-p-2-px company-clip-path tw-rounded-2xl d-flex align-items-center justify-content-center" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                    <div class="bg-white company-clip-path w-100 tw-rounded-2xl animation-item">
                        <div class="tw-p-40-40-40-108-px">
                            <span class="tw-mb-12">
                                <img src="assets/images/icon/company-two-icon1.png" alt="icon" class="animate__wobble tw-duration-500">
                            </span>
                            <h2 class="fw-bold h5 text-main-two-600 tw-mb-5">
                                CRM Solutions
                            </h2>
                            <p class="fw-semibold tw-text-base text-neutral-600 tw-mb-7">
                                Optimize tracking across platforms & product lines using multiple. 
                            </p>
                            <h3 class="h6">
                                <a href="javascript:void(0)" class="fw-semibold text-green-900 d-flex align-items-center tw-gap-2 hover-text-green-900 hover-underline tw-duration-300">
                                    Read More
                                    <span>
                                        <i class="ph-bold ph-arrow-right"></i>
                                    </span>
                                </a>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-sm-6">
                <div class="bg-neutral-300 tw-p-2-px company-clip-path tw-rounded-2xl d-flex align-items-center justify-content-center" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                    <div class="bg-white company-clip-path w-100 tw-rounded-2xl animation-item">
                        <div class="tw-p-40-40-40-108-px">
                            <span class="tw-mb-12">
                                <img src="assets/images/icon/company-two-icon2.png" alt="icon" class="animate__wobble tw-duration-500">
                            </span>
                            <h2 class="fw-bold h5 text-main-two-600 tw-mb-5">
                                Deployment and Support
                            </h2>
                            <p class="fw-semibold tw-text-base text-neutral-600 tw-mb-7">
                                Optimize tracking across platforms & product lines using multiple. 
                            </p>
                            <h3 class="h6">
                                <a href="javascript:void(0)" class="fw-semibold text-green-900 d-flex align-items-center tw-gap-2 hover-text-green-900 hover-underline tw-duration-300">
                                    Read More
                                    <span>
                                        <i class="ph-bold ph-arrow-right"></i>
                                    </span>
                                </a>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-sm-6">
                <div class="bg-neutral-300 tw-p-2-px company-clip-path tw-rounded-2xl d-flex align-items-center justify-content-center" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                    <div class="bg-white company-clip-path w-100 tw-rounded-2xl animation-item">
                        <div class="tw-p-40-40-40-108-px">
                            <span class="tw-mb-12">
                                <img src="assets/images/icon/company-two-icon3.png" alt="icon" class="animate__wobble tw-duration-500">
                            </span>
                            <h2 class="fw-bold h5 text-main-two-600 tw-mb-5">
                                Tailored Solutions
                            </h2>
                            <p class="fw-semibold tw-text-base text-neutral-600 tw-mb-7">
                                Optimize tracking across platforms & product lines using multiple. 
                            </p>
                            <h3 class="h6">
                                <a href="javascript:void(0)" class="fw-semibold text-green-900 d-flex align-items-center tw-gap-2 hover-text-green-900 hover-underline tw-duration-300">
                                    Read More
                                    <span>
                                        <i class="ph-bold ph-arrow-right"></i>
                                    </span>
                                </a>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========================== company section end ========================== -->