<!-- ========================== contact section start ========================== -->
<div>
    <div class="container">
        <div class="tw-p-52-px bg-neutral-30 tw-rounded-bottom-left-right">
            <div class="row gy-5">
                <div class="col-xl-5">
                    <div class="max-w-440-px w-100">
                        <div class="d-flex align-items-center justify-content-between tw-gap-4 flex-wrap tw-mb-70-px">
                            <div>
                                <h2 class="fw-bold h5 text-main-two-600 tw-mb-7 d-block">
                                    Call Center:
                                </h2>
                                <a href="tel:+49030939900" class="fw-semibold tw-text-base text-neutral-600 d-block tw-mb-3">
                                    +49 030 9399 00
                                </a>
                                <a href="tel:+49030939900" class="fw-semibold tw-text-base text-neutral-600 d-block">
                                    +49 030 9399 00
                                </a>
                            </div>
                            <div>
                                <h2 class="fw-bold h5 text-main-two-600 tw-mb-7 d-block">
                                    Our Email:
                                </h2>
                                <a href="mailto:helloitzen@gmail.com" class="fw-semibold tw-text-base text-neutral-600 d-block tw-mb-3">
                                    helloitzen@gmail.com
                                </a>
                                <a href="mailto:helloitzen@gmail.com" class="fw-semibold tw-text-base text-neutral-600 d-block">
                                    helloitzen@gmail.com
                                </a>
                            </div>
                        </div>
                        <div class="d-flex align-items-center tw-gap-4 justify-content-between flex-wrap">
                            <div>
                                <h2 class="fw-bold h5 text-main-two-600 tw-mb-7 d-block">
                                    Our Location
                                </h2>
                                <p class="max-w-230-px fw-semibold tw-text-base text-neutral-600">
                                    Old Westbury 256, New York 11201, United States
                                </p>
                            </div>
                            <div>
                                <h2 class="fw-bold h5 text-main-two-600 tw-mb-7 d-block">
                                    Our social:
                                </h2>
                                <ul class="d-flex align-items-center tw-gap-4 flex-wrap">
                                    <li>
                                        <a href="https://www.facebook.com/" class="tw-text-2xl text-main-two-600 hover-text-main-600 tw-duration-300">
                                            <i class="ph-fill ph-facebook-logo"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.linkedin.com/" class="tw-text-2xl text-main-two-600 hover-text-main-600 tw-duration-300">
                                            <i class="ph-fill ph-linkedin-logo"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com/" class="tw-text-2xl text-main-two-600 hover-text-main-600 tw-duration-300">
                                            <i class="ph-bold ph-instagram-logo"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.twitter.com/" class="tw-text-2xl text-main-two-600 hover-text-main-600 tw-duration-300">
                                            <i class="ph-fill ph-twitter-logo"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-7">
                    <div class="bg-white tw-px-48-px tw-py-80-px tw-rounded-2xl tw-mt--250-px position-relative company-clip-path-three">
                        <h2 class="fw-bold h4 text-main-two-600 text-center tw-mb-10">
                            Schedule a Free Consultation
                        </h2>
                        <form action="#">
                            <div class="row gy-4">
                                <div class="col-sm-6">
                                    <input type="text" placeholder="Your Name" class="fw-semibold tw-text-base text-neutral-600 tw-py-3 tw-px-5 border-neutral-300 border tw-rounded-lg focus-border-main-600 focus-ring w-100">
                                </div>
                                <div class="col-sm-6">
                                    <input type="email" placeholder="Email Address" class="fw-semibold tw-text-base text-neutral-600 tw-py-3 tw-px-5 border-neutral-300 border tw-rounded-lg focus-border-main-600 focus-ring w-100">
                                </div>
                                <div class="col-sm-6">
                                    <input type="number" placeholder="Phone Number" class="fw-semibold tw-text-base text-neutral-600 tw-py-3 tw-px-5 border-neutral-300 border tw-rounded-lg focus-border-main-600 focus-ring w-100">
                                </div>
                                <div class="col-sm-6">
                                    <select class="fw-semibold tw-text-base text-neutral-600 tw-py-3 tw-px-5 border-neutral-300 border tw-rounded-lg focus-border-main-600 focus-ring w-100 form-select">
                                        <option value="1">Mathematics</option>
                                        <option value="1">Science</option>
                                        <option value="1">English</option>
                                        <option value="1">History</option>
                                        <option value="1">Geography</option>
                                    </select>
                                </div>
                                <div class="col-12">
                                    <textarea placeholder="Write message...." class="fw-semibold tw-text-base text-neutral-600 tw-py-3 tw-px-5 border-neutral-300 border tw-rounded-lg focus-border-main-600 focus-ring w-100 tw-h-120-px"></textarea>
                                </div>
                            </div>
                            <button type="submit" class="link-group d-inline-flex align-items-center group group-item tw-mt-10">
                                <span class="button-icon-one fw-bold bg-main-600 text-white tw-py-3 tw-px-4 tw-rounded-xl tw-text-xl group-hover-bg-black tw-duration-300">
                                <i class="ph-bold ph-arrow-right"></i>
                                </span>
                                <span class="fw-bold h6 bg-main-600 text-white tw-py-4 tw-px-10 tw-rounded-xl group-hover-bg-black tw-duration-300">
                                    Get A Quote
                                </span>
                                <span class="button-icon-two fw-bold bg-main-600 text-white tw-py-3 tw-px-4 tw-rounded-xl tw-text-xl group-hover-bg-black tw-duration-300">
                                <i class="ph-bold ph-arrow-right"></i>
                                </span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ========================== contact section end ========================== -->