<!-- ========================== countact section start ========================== -->
<section class="mb--120 position-relative z-3">
    <div class="container">
        <div class="bg-neutral-30 py-120 tw-px-8 tw-rounded-3xl">
            <div class="row gy-4">
                <div class="col-lg-6">
                    <div>
                        <div class="d-inline-flex align-items-center tw-gap-3 tw-py-2 tw-px-5 border-main-100 border rounded-pill tw-mb-6" data-aos="fade-up" data-aos-duration="900" data-aos-delay="100">
                            <span class="tw-w-205 tw-h-205 bg-main-600 rounded-circle"></span>
                            <h3 class="fw-bold h6 text-main-600">
                               Free Consultation
                            </h3>
                        </div>
                        <h3 class="fw-bold text-main-two-600 tw-mb-7" data-aos="fade-up" data-aos-duration="900" data-aos-delay="200">
                            Book a Free Consultation
                        </h3>
                        <p class="fw-semibold tw-text-base text-neutral-500 tw-mb-8" data-aos="fade-up" data-aos-duration="900" data-aos-delay="250">
                            There are many variations of passages of Lorem Ipsum available, but the majo
                            suffered alteration in some form, by injected humour, or randomised words 
                            look even slightly believable
                        </p>
                        <div class="d-flex align-items-center tw-gap-4 flex-wrap tw-mb-7 group" data-aos="fade-up" data-aos-duration="900" data-aos-delay="300">
                            <span class="tw-w-15 tw-h-15 bg-main-100 rounded-circle d-flex align-items-center justify-content-center tw-text-705 text-main-600 group-hover-bg-main-600 group-hover-text-white tw-duration-300">
                                <i class="ph-fill ph-envelope"></i>
                            </span>
                            <div>
                                <span class="fw-semibold tw-text-base tw-mb-2">
                                    Make a Quote
                                </span>
                                <h2 class="h5">
                                    <a href="mailto:Wowtieme7@gmail.com" class="fw-semibold text-main-two-600 hover-text-main-600 tw-duration-300">
                                        Wowtieme7@gmail.com
                                    </a>
                                </h2>   
                            </div>
                        </div>
                        <div class="d-flex align-items-center tw-gap-4 flex-wrap tw-mb-7 group" data-aos="fade-up" data-aos-duration="900" data-aos-delay="350">
                            <span class="tw-w-15 tw-h-15 bg-main-100 rounded-circle d-flex align-items-center justify-content-center tw-text-705 text-main-600 group-hover-bg-main-600 group-hover-text-white tw-duration-300">
                                <i class="ph-fill ph-map-pin-area"></i>
                            </span>
                            <div>
                                <span class="fw-semibold tw-text-base tw-mb-2">
                                    Location
                                </span>
                                <h2 class="fw-semibold h5 text-main-two-600">
                                    Elgin St. Celina, NY 10299
                                </h2>
                            </div>
                        </div>
                        <div class="d-flex align-items-center tw-gap-4 flex-wrap group" data-aos="fade-up" data-aos-duration="900" data-aos-delay="400">
                            <span class="tw-w-15 tw-h-15 bg-main-100 rounded-circle d-flex align-items-center justify-content-center tw-text-705 text-main-600 group-hover-bg-main-600 group-hover-text-white tw-duration-300">
                                <i class="ph-fill ph-phone-call"></i>
                            </span>
                            <div>
                                <span class="fw-semibold tw-text-base tw-mb-2">
                                    Call Us 7/24
                                </span>
                                <h2 class="h5">
                                    <a href="tel:+208-555-0112" class="fw-semibold text-main-two-600 hover-text-main-600 tw-duration-300">
                                       +208-555-0112
                                    </a>
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="bg-white tw-rounded-xl tw-py-10 tw-px-6 tw-border-black-eight" data-aos="zoom-in" data-aos-duration="1500">
                        <form action="#">
                            <div class="row gy-4">
                                <div class="col-sm-6">
                                    <input type="text" placeholder="Your Name" class="fw-semibold tw-text-base text-neutral-500 tw-py-4 tw-px-4 border-neutral-200 border tw-rounded-md w-100 focus-border-green-600 focus-ring">
                                </div>
                                <div class="col-sm-6">
                                    <input type="email" placeholder="Email Address" class="fw-semibold tw-text-base text-neutral-500 tw-py-4 tw-px-4 border-neutral-200 border tw-rounded-md w-100 focus-border-green-600 focus-ring">
                                </div>
                                <div class="col-sm-6">
                                    <input type="number" placeholder="Phone Number" class="fw-semibold tw-text-base text-neutral-500 tw-py-4 tw-px-4 border-neutral-200 border tw-rounded-md w-100 focus-border-green-600 focus-ring">
                                </div>
                                <div class="col-sm-6">
                                    <select class="fw-semibold tw-text-base text-neutral-500 tw-py-4 tw-px-4 border-neutral-200 border tw-rounded-md w-100 focus-border-green-600 focus-ring form-select">
                                        <option value="1">English</option>
                                        <option value="1">Bengali</option>
                                        <option value="1">Hindi</option>
                                        <option value="1">Arabic</option>
                                        <option value="1">Spanish</option>
                                        <option value="1">French</option>
                                        <option value="1">German</option>
                                    </select>
                                </div>
                                <div class="col-sm-12">
                                    <textarea  placeholder="Write message...." class="fw-semibold tw-text-base text-neutral-500 tw-py-4 tw-px-4 border-neutral-200 border tw-rounded-md w-100 focus-border-green-600 focus-ring tw-h-120-px"></textarea>
                                </div>
                            </div>
                            <button type="submit" class="link-group d-inline-flex align-items-center group group-item tw-mt-10">
                                <span class="button-icon-one fw-bold bg-main-600 text-white tw-py-3 tw-px-4 tw-rounded-xl tw-text-xl group-hover-bg-black tw-duration-300">
                                <i class="ph-bold ph-arrow-right"></i>
                                </span>
                                <span class="fw-bold h6 bg-main-600 text-white tw-py-4 tw-px-10 tw-rounded-xl group-hover-bg-black tw-duration-300">
                                    Submit Now
                                </span>
                                <span class="button-icon-two fw-bold bg-main-600 text-white tw-py-3 tw-px-4 tw-rounded-xl tw-text-xl group-hover-bg-black tw-duration-300">
                                <i class="ph-bold ph-arrow-right"></i>
                                </span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========================== countact section end ========================== -->