<!-- ========================== contact section start ========================== -->
<div class="pt-120">
    <div class="container">
        <div class="text-center tw-mb-15">
            <div class="d-inline-flex align-items-center tw-gap-2 tw-py-2 tw-px-5 border-main-100 border rounded-pill tw-mb-5">
                <span class="tw-w-205 tw-h-205 bg-main-600 rounded-circle"></span>
                <h3 class="fw-bold text-main-600 h6">
                    Contact
                </h3>
            </div>
            <h3 class="fw-bold text-main-two-600">
                Our Contact Information
            </h3>
        </div>
        <div class="row gy-4">
            <div class="col-lg-4 col-sm-6">
                <div class="tw-py-8 tw-px-9 border-neutral-200 border tw-rounded-xl d-flex align-items-center tw-gap-4 flex-wrap group">
                    <span class="tw-w-15 tw-h-15 bg-main-100 rounded-circle d-flex align-items-center justify-content-center tw-text-3xl text-main-600 group-hover-bg-main-600 group-hover-text-white tw-duration-300">
                        <i class="ph-fill ph-phone-call"></i>
                    </span>
                    <div>
                        <span class="fw-semibold tw-text-base text-neutral-400 tw-mb-2">
                            Call Us 7/24
                        </span>
                        <h2 class="h5">
                            <a href="tel:+208-555-0112" class="fw-bold text-main-two-600">
                                +208-555-0112
                            </a>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="tw-py-8 tw-px-9 border-neutral-200 border tw-rounded-xl d-flex align-items-center tw-gap-4 flex-wrap group">
                    <span class="tw-w-15 tw-h-15 bg-main-100 rounded-circle d-flex align-items-center justify-content-center tw-text-3xl text-main-600 group-hover-bg-main-600 group-hover-text-white tw-duration-300">
                        <i class="ph-fill ph-map-pin-area"></i>
                    </span>
                    <div>
                        <span class="fw-semibold tw-text-base text-neutral-400 tw-mb-2">
                            Location
                        </span>
                        <h2 class="fw-bold text-main-two-600 h5">
                            Elgin St. Celina, NY 10299
                        </h2>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="tw-py-8 tw-px-9 border-neutral-200 border tw-rounded-xl d-flex align-items-center tw-gap-4 flex-wrap group">
                    <span class="tw-w-15 tw-h-15 bg-main-100 rounded-circle d-flex align-items-center justify-content-center tw-text-3xl text-main-600 group-hover-bg-main-600 group-hover-text-white tw-duration-300">
                        <i class="ph-fill ph-phone-call"></i>
                    </span>
                    <div>
                        <span class="fw-semibold tw-text-base text-neutral-400 tw-mb-2">
                            Make a Quote
                        </span>
                        <h2 class="h5">
                            <a href="mailto:kidscholl@gmail.com" class="fw-bold text-main-two-600">
                                kidscholl@gmail.com
                            </a>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="py-120">
    <div class="container">
        <div class="row gy-5"> 
            <div class="col-xl-6">
                <div class="tw-px-48-px tw-py-15 tw-rounded-2xl tw-border-black-eight">
                    <h2 class="fw-bold text-main-two-600 tw-mb-10 tw-text-42-px">
                        Get In Touch
                    </h2>
                    <form action="#">
                        <div class="row gy-4">
                            <div class="col-sm-6">
                                <input type="text" placeholder="Your Name" class="fw-semibold tw-text-base text-neutral-600 tw-py-3 tw-px-5 border-neutral-200 border tw-rounded-lg focus-border-main-600 focus-ring w-100">
                            </div>
                            <div class="col-sm-6">
                                <input type="email" placeholder="Email Address" class="fw-semibold tw-text-base text-neutral-600 tw-py-3 tw-px-5 border-neutral-200 border tw-rounded-lg focus-border-main-600 focus-ring w-100">
                            </div>
                            <div class="col-sm-6">
                                <input type="number" placeholder="Phone Number" class="fw-semibold tw-text-base text-neutral-600 tw-py-3 tw-px-5 border-neutral-200 border tw-rounded-lg focus-border-main-600 focus-ring w-100"> 
                            </div>
                            <div class="col-sm-6">
                                <select class="fw-semibold tw-text-base text-neutral-600 tw-py-3 tw-px-5 border-neutral-200 border tw-rounded-lg focus-border-main-600 focus-ring w-100 form-select">
                                    <option value="1">Mathematics</option>
                                    <option value="1">Science</option>
                                    <option value="1">English</option>
                                    <option value="1">History</option>
                                    <option value="1">Geography</option>
                                </select>
                            </div>
                            <div class="col-12">
                                <textarea placeholder="Write message...." class="fw-semibold tw-text-base text-neutral-600 tw-py-3 tw-px-5 border-neutral-200 border tw-rounded-lg focus-border-main-600 focus-ring w-100 tw-h-120-px"></textarea>
                            </div>
                        </div>
                        <button type="submit" class="d-inline-flex align-items-center group tw-mt-8">
                            <span class="fw-bold bg-main-600 h6 text-white tw-py-4 tw-px-10 tw-rounded-xl group-hover-bg-black tw-duration-300">
                                Discover More
                            </span>
                            <span class="fw-bold bg-main-600 text-white tw-py-3 tw-px-4 tw-rounded-xl tw-text-xl group-hover-bg-black tw-duration-300">
                                <i class="ph-bold ph-arrow-right"></i>
                            </span>
                        </button>
                    </form>
                </div>
            </div>
            <div class="col-xl-6">
                <!-- ======================== map section start ======================== -->
                    <!-- Google Map start -->
                    <div class="tw-h-570-px">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d18594861.431429405!2d25.097591251485795!3d54.811518433582705!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1ssea!5e0!3m2!1sen!2sbd!4v1752124108423!5m2!1sen!2sbd"
                            class="w-100 h-100 tw-rounded-xl"></iframe>
                    </div>
                    <!-- Google Map end -->
                <!-- ======================== map section end ======================== -->
            </div>
        </div>
    </div>
</div>
<!-- ========================== contact section end ========================== -->