<!-- ======================== counter section start ========================= -->
<div class="overflow-hidden">
    <div class="container">
        <div class="tw-mb--360-px">
            <div class="d-flex justify-content-center tw-pb-130-px">
                <div class="max-w-870-px w-100 d-flex align-items-center justify-content-between tw-gap-3 flex-wrap">
                    <div data-aos="fade-right" data-aos-duration="800" data-aos-delay="250">
                        <h2 class="fw-bold text-white tw-mb-1 d-block counter">
                            2014
                        </h2>
                        <span class="fw-semibold tw-text-base text-white text-opacity-75">
                            Years of Establishment
                        </span>
                    </div>
                    <div data-aos="fade-left" data-aos-duration="800" data-aos-delay="250">
                        <h2 class="fw-bold text-white tw-mb-1 d-block counter">
                            25+
                        </h2>
                        <span class="fw-semibold tw-text-base text-white text-opacity-75">
                            Years Experience
                        </span>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <div class="max-w-1290-px w-100 d-flex align-items-center justify-content-between tw-gap-3 flex-wrap">
                    <div data-aos="fade-right" data-aos-duration="800" data-aos-delay="350">
                        <h2 class="fw-bold text-white tw-mb-1 d-block counter">
                            68K
                        </h2>
                        <span class="fw-semibold tw-text-base text-white text-opacity-75">
                            More than 07 Years in field
                        </span>
                    </div>
                    <div data-aos="fade-left" data-aos-duration="800" data-aos-delay="350">
                        <h2 class="fw-bold text-white tw-mb-1 d-block counter">
                            245+
                        </h2>
                        <span class="fw-semibold tw-text-base text-white text-opacity-75">
                            Projects are launched
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex align-items-center justify-content-center z-n1 position-relative" data-aos="fade-up" data-aos-duration="1500">
            <img src="assets/images/thumbs/counter-img1.png" alt="images" class="tw-hidden-media">
        </div>
    </div>
</div>
<!-- ======================== counter section end ========================= -->