<!-- ============================ faq section start ============================ -->
<section class="py-120 position-relative">
    <img src="assets/images/shape/testimonial-shape1.png" alt="shape" class="position-absolute bottom-0 tw-start-0 z-n1 tw-mb--560-px d-xl-block d-none">
    <div class="container">
        <div class="row gy-4">
            <div class="col-xl-5">
                <div class="max-w-590-px">
                    <div class="d-inline-flex align-items-center tw-gap-2 tw-py-2 tw-px-5 border-main-100 border rounded-pill tw-mb-5">
                        <span class="tw-w-205 tw-h-205 bg-main-600 rounded-circle"></span>
                        <h3 class="fw-bold h6 text-main-600">
                            Our Work Process
                        </h3>
                    </div>
                    <h3 class="fw-bold text-main-two-600 tw-mb-6 tw-line-h-60-px">
                        Most common frequently asked questions
                    </h3>
                    <p class="fw-semibold tw-text-base text-neutral-600 tw-mb-10">
                        We aim to help businesses achieve sustainable growth through effective strategies, innovative thinking, and measurable results. Our goals center around delivering value, building strong client relationships, and staying ahead of industry trends.
                    </p>
                    <div>
                        <div class="d-flex align-items-center justify-content-center">
                            <div class="bg-main-600 tw-h-160-px tw-w-160-px rounded-circle d-flex align-items-center justify-content-center">
                                <div class="position-relative">
                                    <img src="assets/images/thumbs/faq-three-img1.png" alt="img" class="animation-rotate-right">
                                    <a href="read-faq.html" class="tw-text-2xl text-white position-absolute top-0 tw-start-0 top-50 tw-start-50 translate-middle">
                                        <i class="ph-bold ph-arrow-up-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-7">
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item tw-mb-3">
                        <button class="accordion-button h4" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Can you assess and improve our workflow?
                        </button>
                        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p class="fw-medium tw-text-lg text-neutral-600">
                                    SEO is a long-term strategy, and while some changes may show early of improvement within the first 4 to 6 weeks, noticeable and lasting results typically.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item tw-mb-3">
                        <button class="accordion-button collapsed h4" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Can you assist with energy-efficient upgrades?
                        </button>
                        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p class="fw-medium tw-text-lg text-neutral-600">
                                    SEO is a long-term strategy, and while some changes may show early of improvement within the first 4 to 6 weeks, noticeable and lasting results typically.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item tw-mb-3">
                        <button class="accordion-button collapsed h4" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            What makes your team different from competitors?
                        </button>
                        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p class="fw-medium tw-text-lg text-neutral-600">
                                    SEO is a long-term strategy, and while some changes may show early of improvement within the first 4 to 6 weeks, noticeable and lasting results typically.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item tw-mb-3">
                        <button class="accordion-button collapsed h4" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            Do you offer international or remote services?
                        </button>
                        <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p class="fw-medium tw-text-lg text-neutral-600">
                                    SEO is a long-term strategy, and while some changes may show early of improvement within the first 4 to 6 weeks, noticeable and lasting results typically.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item tw-mb-3">
                        <button class="accordion-button collapsed h4" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            How often should our systems be maintained?
                        </button>
                        <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p class="fw-medium tw-text-lg text-neutral-600">
                                    SEO is a long-term strategy, and while some changes may show early of improvement within the first 4 to 6 weeks, noticeable and lasting results typically.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item tw-mb-3">
                        <button class="accordion-button collapsed h4" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                            Who can benefit from your consulting services?
                        </button>
                        <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p class="fw-medium tw-text-lg text-neutral-600">
                                    SEO is a long-term strategy, and while some changes may show early of improvement within the first 4 to 6 weeks, noticeable and lasting results typically.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ============================ faq section end ============================ -->