<!-- ==================== Footer Start Here ==================== -->
<footer class="d-flex align-items-center justify-content-center w-100">
  <div class="footer bg-gradent-service position-relative z-1 mt-auto max-w-1890-px w-100 tw-mb-5 tw-rounded-bottom-left-right">
    <img src="assets/images/shape/service-shape1.png" alt="shape" class="position-absolute bottom-0 tw-start-0 z-n1">
    <div class="py-90">
      <div class="container container-two">
        <div class="row gy-5">
          <div class="col-xl-3 aos-init aos-animate">
            <div data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
              <a href="index.html" class="tw-mb-12">
                <img src="assets/images/logo/logo-white.png" alt="logo">
              </a>
              <div class="tw-mb-9">
                <h3 class="fw-bold h6 text-white d-block tw-mb-3">
                  For Support:
                </h3>
                <h2 class="h4">
                  <a href="tel:(635)525-4250" class="fw-semibold text-white hover-text-white hover-underline tw-duration-500">
                    (635) 525-4250
                  </a>
                </h2>
              </div>
              <ul class="d-flex align-items-center tw-gap-2 flex-wrap">
                <li>
                  <a href="https://www.facebook.com/" class="tw-w-11 tw-h-11 bg-white-13 tw-rounded-md tw-text-xl text-white d-flex align-items-center justify-content-center">
                    <i class="ph-bold ph-facebook-logo"></i>
                  </a>
                </li>
                <li>
                  <a href="https://www.twitter.com/" class="tw-w-11 tw-h-11 bg-white-13 tw-rounded-md tw-text-xl text-white d-flex align-items-center justify-content-center">
                    <i class="ph-fill ph-twitter-logo"></i>
                  </a>
                </li>
                <li>
                  <a href="https://www.youtube.com/" class="tw-w-11 tw-h-11 bg-white-13 tw-rounded-md tw-text-xl text-white d-flex align-items-center justify-content-center">
                    <i class="ph-fill ph-youtube-logo"></i>
                  </a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/" class="tw-w-11 tw-h-11 bg-white-13 tw-rounded-md tw-text-xl text-white d-flex align-items-center justify-content-center">
                    <i class="ph-fill ph-linkedin-logo"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-xl-9 aos-init aos-animate">
            <div class="bg-white tw-p-74-px tw-rounded-2xl">
              <div class="row gy-4">
                <div class="col-lg-4 col-sm-6 col-xs-6 aos-init aos-animate">
                  <div class="" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                    <h2 class="cursor-big h5 fw-semibold text-main-two-600">Useful Links</h2>
                    <span class="tw-w-74-px tw-h-1 bg-main-600 rounded-pill tw-mt-4 tw-mb-7"></span>
                    <ul class="d-flex flex-column tw-gap-4">
                      <li>
                        <a
                          href="about-us.html"
                          class="text-main-two-600 hover-underline"
                          >About Us</a
                        >
                      </li>
                      <li>
                        <a
                          href="team-details.html"
                          class="text-main-two-600 hover-underline"
                          >Team Members</a
                        >
                      </li>
                      <li>
                        <a
                          href="pricing.html"
                          class="text-main-two-600 hover-underline"
                          >Pricing Table</a
                        >
                      </li>
                      <li>
                        <a
                          href="services-details.html"
                          class="text-main-two-600 hover-underline"
                          >Our Services</a
                        >
                      </li>
                      <li>
                        <a
                          href="javascript:void(0)"
                          class="text-main-two-600 hover-underline"
                          >Our Portfolio</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-6 aos-init aos-animate">
                  <div class="" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                    <h2 class="cursor-big h5 fw-medium text-main-two-600">Our Services</h2>
                    <span class="tw-w-74-px tw-h-1 bg-main-600 rounded-pill tw-mt-4 tw-mb-7"></span>
                    <ul class="d-flex flex-column tw-gap-4">
                      <li>
                        <a
                          href="javascript:void(0)"
                          class="text-main-two-600 hover-underline"
                          >Business Strategy</a
                        >
                      </li>
                      <li>
                        <a
                          href="javascript:void(0)"
                          class="text-main-two-600 hover-underline"
                          >Business Solutions</a
                        >
                      </li>
                      <li>
                        <a
                          href="javascript:void(0)"
                          class="text-main-two-600 hover-underline"
                          >Collaboration Design</a
                        >
                      </li>
                      <li>
                        <a
                          href="javascript:void(0)"
                          class="text-main-two-600 hover-underline"
                          >Market Growth</a
                        >
                      </li>
                      <li>
                        <a
                          href="javascript:void(0)"
                          class="text-main-two-600 hover-underline"
                          >Digital Marketing</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-lg-5 col-sm-6 col-xs-6 aos-init aos-animate">
                  <div class="" data-aos="fade-up" data-aos-duration="800" data-aos-delay="350">
                    <h2 class="cursor-big h5 fw-medium text-main-two-600">Subscribe Now</h2>
                    <span class="tw-w-74-px tw-h-1 bg-main-600 rounded-pill tw-mt-4 tw-mb-7"></span>
                      <p class="fw-semibold tw-text-base text-neutral-500 tw-mb-5">
                        Mauris ut enim sit amet lacus ornare ullamcorper. Praesent placerat
                      </p>
                      <form action="#" class="tw-mb-6 position-relative w-100">
                        <input type="email" placeholder="Enter your e-mail" class="tw-ps-12 tw-pe-15 tw-py-4 border-neutral-700 border rounded-pill text-neutral-600 w-100 focus-border-green-600 focus-ring">
                        <span class="tw-text-base text-neutral-600 position-absolute top-0 tw-start-0 top-50 translate-middle-y tw-ms-6">
                          <i class="ph-bold ph-envelope-simple"></i>
                        </span>
                        <button type="submit" class="tw-w-11 tw-h-11 bg-main-600 rounded-circle d-flex align-items-center justify-content-center tw-text-xl text-white position-absolute top-0 tw-end-0 tw-me-2 top-50 translate-middle-y">
                          <i class="ph-bold ph-arrow-up-right"></i>
                        </button>
                      </form>
                      <span class="fw-semibold tw-text-base text-neutral-500">
                        By subscribing, you’re accept Privacy Policy
                      </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <span class="w-100 tw-h-px bg-neutral-600 tw-mb-5"></span>
    <div class="container">
      <!-- bottom Footer -->
      <div class="">
        <div class="container container-two">
          <div class="tw-pb-5">
            <p class="fw-medium tw-text-base text-white text-center">
              Copyright © 2026 ITecho by WowTheme7. All Rights Reserved. 
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- ==================== Footer End Here ==================== -->
