<!-- ==================== Header Start Here ==================== -->
<header class="header bg-white tw-transition-all tw-z-99 tw-mt-205">
  <div class="container container-two max-w-1720-px">
    <nav
      class="d-flex align-items-center justify-content-between position-relative"
    >

    <a href="index.html">
        <img src="assets/images/logo/logo.png" alt="logo">
    </a>

      <!-- Menu Start  -->
      <div class="header-menu d-lg-block d-none">
        @@include('../partials/_nav-menu.html', { "class" : "tw-gap-6" })
      </div>
      <!-- Menu End  -->  

      <!-- Header Right start -->
      <div class="d-flex align-items-center tw-gap-4">
        <div class="">
          <button type="button" class="open-search text-neutral-700 tw-text-505 tw-w-13 tw-h-13 bg-neutral-60 rounded-circle d-flex align-items-center justify-content-center">
            <i class="ph-bold ph-magnifying-glass"></i> 
          </button>
        </div>
        <div class="position-relative">
          <a href="javascript:void(0)" class="text-neutral-700 tw-text-505 tw-w-13 tw-h-13 bg-neutral-60 rounded-circle d-flex align-items-center justify-content-center">
            <i class="ph-bold ph-shopping-cart-simple"></i>
          </a>
          <span class="tw-w-6 tw-h-6 bg-main-600 d-flex align-items-center justify-content-center rounded-circle text-white tw-text-3 position-absolute top-0 tw-end-0 tw-mt--12-px tw-me--6-px">
            0
          </span>
        </div>
        <div class="d-md-block d-none">
            <a href="contact.html" class="link-group d-inline-flex align-items-center group group-item">
            <span class="button-icon-one fw-bold bg-main-600 text-white tw-py-3 tw-px-4 tw-rounded-xl tw-text-xl group-hover-bg-black tw-duration-300">
              <i class="ph-bold ph-arrow-right"></i>
            </span>
            <h2 class="fw-bold h6 bg-main-600 text-white tw-py-4 tw-px-10 tw-rounded-xl group-hover-bg-black tw-duration-300">
                Get A Quote
            </h2>
            <span class="button-icon-two fw-bold bg-main-600 text-white tw-py-3 tw-px-4 tw-rounded-xl tw-text-xl group-hover-bg-black tw-duration-300">
              <i class="ph-bold ph-arrow-right"></i>
            </span>
          </a>
        </div>
        <button type="button"
          class="toggle-mobileMenu leading-none d-lg-none ms-3 text-neutral-800 tw-text-9">
          <i class="ph ph-list"></i>
        </button>
      </div>
      <!-- Header Right End  -->
    </nav>
  </div>
</header>
<!-- ==================== Header End Here ==================== -->


  