<!-- ======================== integration section start ======================== -->
<section class="py-120">
    <div class="container">
        <div class="tw-mb-15 d-flex align-items-center justify-content-center text-center">
            <div class="max-w-480-px w-100">
                <div class="d-inline-flex tw-mb-5 align-items-center tw-gap-2 tw-py-2 tw-px-5 border-main-50 border rounded-pill" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                    <span class="tw-w-205 tw-h-205 bg-main-600 rounded-circle"></span>
                    <h3 class="fw-bold text-main-600 h6">
                        Integration
                    </h3>
                </div>
                <h3 class="fw-bold text-main-two-600 tw-mb-4" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200"> 
                    Works On Your Favorite
                    Platforms
                </h3>
            </div>
        </div>
        <div data-aos="zoom-in" data-aos-duration="1500">
            <div class="position-relative">
                <div class="center-icon intergration-six-img tw-mb-4">
                  <img src="assets/images/logo/intergration-six-logo1.png" alt="slack" class="">
                </div>
            </div>
            
            <!-- Line -->
            <div class="line-wrapper">
              <div class="horizontal-line"></div>
            
              <div class="row justify-content-center mt-4 g-4">
            
                <div class="col-6 col-md-2">
                  <div class="icon-box">
                    <img src="assets/images/icon/integration-six-icon1.png" alt="icon">
                  </div>
                  <p class="fw-semibold text-main-two-600 tw-text-2xl text-center tw-mt-8">Teams</p>
                </div>
            
                <div class="col-6 col-md-2">
                  <div class="icon-box">
                    <img src="assets/images/icon/integration-six-icon2.png" alt="icon">
                  </div>
                  <p class="fw-semibold text-main-two-600 tw-text-2xl text-center tw-mt-8">WhatsApp</p>
                </div>
            
                <div class="col-6 col-md-2">
                  <div class="icon-box">
                    <img src="assets/images/icon/integration-six-icon3.png" alt="icon">
                  </div>
                  <p class="fw-semibold text-main-two-600 tw-text-2xl text-center tw-mt-8">Telegram</p>
                </div>
            
                <div class="col-6 col-md-2">
                  <div class="icon-box">
                    <img src="assets/images/icon/integration-six-icon4.png" alt="icon">
                  </div>
                  <p class="fw-semibold text-main-two-600 tw-text-2xl text-center tw-mt-8">SMS</p>
                </div>
            
                <div class="col-6 col-md-2">
                  <div class="icon-box">
                    <img src="assets/images/icon/integration-six-icon5.png" alt="icon">
                  </div>
                  <p class="fw-semibold text-main-two-600 tw-text-2xl text-center tw-mt-8">Discord</p>
                </div>
            
              </div>
            </div>
            
            <!-- Center Icon -->
        </div>
        


    </div>
</section>
<!-- ======================== integration section end ======================== -->
