<!-- ======================== it company section start ================= -->
<section class="tw-mt--170-px position-relative z-3">
    <div class="container">
        <div style="background-image: url(assets/images/bg/it-company-four-bg-img.png);" class="bg-img tw-py-17 tw-ps-15 tw-pe-15 tw-rounded-2xl tw-px-20-px" data-aos="zoom-in" data-aos-duration="900" data-aos-delay="700">
            <div class="d-inline-flex align-items-center tw-gap-2 tw-py-2 tw-px-5 border-white border rounded-pill tw-mb-4">
                <span class="tw-w-205 tw-h-205 bg-white rounded-circle"></span>
                <h3 class="fw-bold h6 text-white">
                    Welcome To ITZent Company
                </h3>
            </div>
            <h2 class="tw-text-78-px text-white fw-bold tw-mb-5">
                Let's Build Your Website!
            </h2>
            <a href="javascript:void(0)" class="d-inline-flex align-items-center group">
                <h3 class="fw-bold h6 bg-main-600 text-white tw-py-4 tw-px-10 tw-rounded-xl group-hover-bg-black tw-duration-300">
                    Discover More
                </h3>
                <span class="fw-bold bg-main-600 text-white tw-py-3 tw-px-4 tw-rounded-xl tw-text-xl group-hover-bg-black tw-duration-300">
                    <i class="ph-bold ph-arrow-right"></i>
                </span>
            </a>
        </div>
    </div>
</section>
<!-- ======================== it company section end ================= -->