<!-- ============================= itzent company section start ============================= -->
<section style="background-image: url(assets/images/bg/itzent-company-three-bg-img1.png);" class="bg-img tw-pt-440-px">
    <div class="container max-w-1450-px">
        <div class="d-flex align-items-end tw-gap-4 justify-content-between flex-wrap">
            <div class="pb-120 tw-media-pb-0">
                <div class="d-inline-flex align-items-center tw-gap-2 tw-py-2 tw-px-5 rounded-pill border-white border tw-mb-4">
                    <span class="tw-w-205 tw-h-205 bg-white rounded-circle"></span>
                    <h3 class="fw-bold h6 text-white">
                        Welcome To ITZent Company
                    </h3>
                </div>
                <h2 class="fw-bold text-white tw-text-78-px tw-mb-10">
                    Let's Build Your Website!
                </h2>
                <a href="contact.html" class="link-group d-inline-flex align-items-center group group-item">
                    <span class="button-icon-one fw-bold bg-main-600 text-white tw-py-3 tw-px-4 tw-rounded-xl tw-text-xl group-hover-bg-white group-hover-item-text-main-600 tw-duration-300">
                    <i class="ph-bold ph-arrow-right"></i>
                    </span>
                    <h3 class="fw-bold h6 bg-main-600 text-white tw-py-4 tw-px-10 tw-rounded-xl group-hover-bg-white group-hover-item-text-main-600 hover-text-main-600 tw-duration-300">
                        Discover More
                    </h3>
                    <span class="button-icon-two fw-bold bg-main-600 text-white tw-py-3 tw-px-4 tw-rounded-xl tw-text-xl group-hover-bg-white group-hover-item-text-main-600 hover-text-main-600 tw-duration-300">
                    <i class="ph-bold ph-arrow-right"></i>
                    </span>
                </a>
            </div>
            <div class="d-flex align-items-center flex-wrap">
                <div class="tw-pt-11 tw-pb-9 tw-ps-8 tw-pe-8 tw-bg-filter text-center">
                    <h3 class="text-white fw-medium tw-text-60-px tw-mb-4">
                        $9k
                    </h3>
                    <p class="fw-medium tw-text-base text-white">
                        Avarage revenew growth<br> for per succesful clients
                    </p>
                </div>
                <div class="tw-pt-11 tw-pb-9 tw-ps-8 tw-pe-8 bg-main-600 text-center">
                    <h3 class="text-white fw-medium tw-text-60-px tw-mb-4">
                       45%
                    </h3>
                    <p class="fw-medium tw-text-base text-white">
                        Companies reduce financial<br> admin work by 50%
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ============================= itzent company section end ============================= -->