<!-- ========================= latest news five section start ========================= -->
<section class="py-120">
    <div class="container">
        <div class="d-flex justify-content-center align-items-center tw-mb-15">
            <div class="max-w-550-px w-100 text-center">
                <div class="d-inline-flex align-items-center tw-gap-2 tw-py-2 tw-px-5 rounded-pill border-main-100 border tw-mb-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                    <span class="tw-w-205 tw-h-205 rounded-circle bg-main-600"></span>
                    <h3 class="h6 fw-bold text-main-600">
                        LATEST News
                    </h3>
                </div>
                <h3 class="fw-bold text-main-two-600 " data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                    The Latest In Security
                    Tech And News
                </h3>
            </div>
        </div>
        <div class="border-neutral-200 border tw-rounded-2xl tw-p-7">
            <div class="d-flex align-items-center tw-gap-5 justify-content-between flex-wrap" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                <div class="d-flex align-items-center tw-gap-42-px flex-wrap">
                    <span>
                        <img src="assets/images/thumbs/latest-news-five-img1.png" alt="img">
                    </span>
                    <div class="max-w-340-px w-100">
                        <div class="d-flex align-items-center tw-gap-2 tw-mb-4">
                            <span class="tw-text-lg text-main-600">
                                <i class="ph-fill ph-calendar-check"></i>
                            </span>
                            <span class="fw-semibold tw-text-base text-neutral-600">
                                December 01, 2025
                            </span>
                        </div>
                        <h3 class="h5 fw-bold text-main-two-600 tw-mb-5">
                           <a href="contact.html">
                               Best Security Camera Systems for
                              Complete Home Safety Solutions
                           </a>
                        </h3>
                        <div class="d-flex align-items-center tw-gap-2">
                            <span>
                                <img src="assets/images/thumbs/about-five-img3.png" alt="img">
                            </span>
                            <h2 class="h6 fw-bold text-neutral-600">
                                By Admin
                            </h2>
                        </div>
                    </div>
                </div>
                <span class="tw-h-200-px tw-w-px bg-neutral-200 d-xl-block d-none"></span>
                <div class="max-w-300-px w-100">
                    <p class="fw-semibold tw-text-base text-neutral-600 tw-mb-5">
                        We believe that every journey should be
                        unforgettable personalized travel
                    </p>
                    <a href="contact.html" class="link-group d-inline-flex align-items-center group group-item">
                        <span class="button-icon-one fw-bold bg-main-600 text-white tw-py-3 tw-px-4 tw-rounded-xl tw-text-xl group-hover-bg-black tw-duration-300">
                            <i class="ph-bold ph-arrow-right"></i>
                        </span>
                        <h2 class="fw-bold h6 bg-main-600 text-white tw-py-4 tw-px-10 tw-rounded-xl group-hover-bg-black tw-duration-300">
                            Read More
                        </h2>
                        <span class="button-icon-two fw-bold bg-main-600 text-white tw-py-3 tw-px-4 tw-rounded-xl tw-text-xl group-hover-bg-black tw-duration-300">
                            <i class="ph-bold ph-arrow-right"></i>
                        </span>
                    </a>
                </div>
            </div>
            <span class="w-100 tw-h-px bg-neutral-200 tw-my-8"></span>
            <div class="d-flex align-items-center tw-gap-5 justify-content-between flex-wrap" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                <div class="d-flex align-items-center tw-gap-42-px flex-wrap">
                    <span>
                        <img src="assets/images/thumbs/latest-news-five-img2.png" alt="img">
                    </span>
                    <div class="max-w-340-px w-100">
                        <div class="d-flex align-items-center tw-gap-2 tw-mb-4">
                            <span class="tw-text-lg text-main-600">
                                <i class="ph-fill ph-calendar-check"></i>
                            </span>
                            <span class="fw-semibold tw-text-base text-neutral-600">
                                December 01, 2025
                            </span>
                        </div>
                        <h3 class="h5 fw-bold text-main-two-600 tw-mb-5">
                            <a href="contact.html">
                                How AI is Transforming Police Vehicle
                                Surveillance Technology
                           </a>
                        </h3>
                        <div class="d-flex align-items-center tw-gap-2">
                            <span>
                                <img src="assets/images/thumbs/about-five-img3.png" alt="img">
                            </span>
                            <h2 class="h6 fw-bold text-neutral-600">
                                By Admin
                            </h2>
                        </div>
                    </div>
                </div>
                <span class="tw-h-200-px tw-w-px bg-neutral-200 d-xl-block d-none"></span>
                <div class="max-w-300-px w-100">
                    <p class="fw-semibold tw-text-base text-neutral-600 tw-mb-5">
                        We believe that every journey should be
                        unforgettable personalized travel
                    </p>
                    <a href="contact.html" class="link-group d-inline-flex align-items-center group group-item">
                        <span class="button-icon-one fw-bold bg-main-600 text-white tw-py-3 tw-px-4 tw-rounded-xl tw-text-xl group-hover-bg-black tw-duration-300">
                            <i class="ph-bold ph-arrow-right"></i>
                        </span>
                        <h2 class="fw-bold h6 bg-main-600 text-white tw-py-4 tw-px-10 tw-rounded-xl group-hover-bg-black tw-duration-300">
                            Read More
                        </h2>
                        <span class="button-icon-two fw-bold bg-main-600 text-white tw-py-3 tw-px-4 tw-rounded-xl tw-text-xl group-hover-bg-black tw-duration-300">
                            <i class="ph-bold ph-arrow-right"></i>
                        </span>
                    </a>
                </div>
            </div>
            <span class="w-100 tw-h-px bg-neutral-200 tw-my-8"></span>
            <div class="d-flex align-items-center tw-gap-5 justify-content-between flex-wrap" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                <div class="d-flex align-items-center tw-gap-42-px flex-wrap">
                    <span>
                        <img src="assets/images/thumbs/latest-news-five-img3.png" alt="img">
                    </span>
                    <div class="max-w-340-px w-100">
                        <div class="d-flex align-items-center tw-gap-2 tw-mb-4">
                            <span class="tw-text-lg text-main-600">
                                <i class="ph-fill ph-calendar-check"></i>
                            </span>
                            <span class="fw-semibold tw-text-base text-neutral-600">
                                December 01, 2025
                            </span>
                        </div>
                        <h3 class="h5 fw-bold text-main-two-600 tw-mb-5">
                            <a href="contact.html">
                                Tips for Choosing Reliable Outdoor
                                CCTV Camera Solutions
                           </a>
                        </h3>
                        <div class="d-flex align-items-center tw-gap-2">
                            <span>
                                <img src="assets/images/thumbs/about-five-img3.png" alt="img">
                            </span>
                            <h2 class="h6 fw-bold text-neutral-600">
                                By Admin
                            </h2>
                        </div>
                    </div>
                </div>
                <span class="tw-h-200-px tw-w-px bg-neutral-200 d-xl-block d-none"></span>
                <div class="max-w-300-px w-100">
                    <p class="fw-semibold tw-text-base text-neutral-600 tw-mb-5">
                        We believe that every journey should be
                        unforgettable personalized travel
                    </p>
                    <a href="contact.html" class="link-group d-inline-flex align-items-center group group-item">
                        <span class="button-icon-one fw-bold bg-main-600 text-white tw-py-3 tw-px-4 tw-rounded-xl tw-text-xl group-hover-bg-black tw-duration-300">
                            <i class="ph-bold ph-arrow-right"></i>
                        </span>
                        <h2 class="fw-bold h6 bg-main-600 text-white tw-py-4 tw-px-10 tw-rounded-xl group-hover-bg-black tw-duration-300">
                            Read More
                        </h2>
                        <span class="button-icon-two fw-bold bg-main-600 text-white tw-py-3 tw-px-4 tw-rounded-xl tw-text-xl group-hover-bg-black tw-duration-300">
                            <i class="ph-bold ph-arrow-right"></i>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========================= latest news five section end ========================= -->