<!-- ======================== New two services start =============================== -->
<section class="new-two-services bg-white">
    <div class="bg-brand-neutral tw-rounded-3xl py-120">
        <div class="container">
            <div class="tw-mb-16">
                <div class="row gy-4">
                    <div class="col-xl-3">
                        <div class="">
                            <div class="d-flex align-items-center tw-gap-2">
                                <span class="d-flex tw-text-2xl text-brand-secondary">
                                    <i class="ph-bold ph-sparkle"></i>
                                </span>
                                <span class="tw-text-lg text-brand-secondary">
                                    Innovative IT Services
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="position-relative">
                            <h2 class="display-5 text-white text-reveal fw-bold">
                                Advanced IT Services You Can Trust
                            </h2>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="">
                            <p class="text-white tw-text-lg tw-mt-4">We offer a wide range of IT services designed to
                                help businesses improve efficiency, enhance security.</p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="">
                <div class="accordion" id="serviceAccordion">

                    <!-- Service 01 -->
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne">
                                <div class="acc-header-content">
                                    <span class="service-number d-lg-block d-none">Service : 01</span>
                                    <span class="service-title flex-grow-1 h2 text-white">Cloud Solutions</span>
                                    <div class="preview-img-container d-md-block d-none">
                                        <img src="assets/images/thumbs/new-two-services-img1.png"
                                            alt="Cloud">
                                    </div>
                                </div>
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show"
                            data-bs-parent="#serviceAccordion">
                            <div class="accordion-body">
                                <img src="assets/images/thumbs/new-two-services-img1.png" class="main-service-img" alt="Service Detail">
                                <div class="service-details">
                                    <h3 class="text-white tw-mb-5">Cloud Solutions</h3>
                                    <p class="description-text text-white">We provide secure and scalable cloud solutions that help
                                        businesses
                                        store, manage, and access data efficiently.</p>
                                    <div class="badge-group">
                                        <span class="tech-badge bg-black">Cloud</span>
                                        <span class="tech-badge bg-black">Scalability</span>
                                        <span class="tech-badge bg-black">Storage</span>
                                        <span class="tech-badge bg-black">Infrastructure</span>
                                    </div>
                                    <a href="#" class="arrow-icon tw-mt-10">
                                        <img src="assets/images/icon/arrow-big-left-down.png" alt="Icon">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Service 02 -->
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo">
                                <div class="acc-header-content">
                                    <span class="service-number d-lg-block d-none">Service : 02</span>
                                    <span class="service-title flex-grow-1 h2 text-white">Web Development</span>
                                    <div class="preview-img-container d-md-block d-none">
                                        <img src="assets/images/thumbs/new-two-services-img2.png"
                                            alt="Web">
                                    </div>
                                </div>
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#serviceAccordion">
                            <div class="accordion-body">
                                <img src="assets/images/thumbs/new-two-services-img2.png"
                                    class="main-service-img" alt="Service Detail">
                                <div class="service-details">
                                    <h3 class="text-white tw-mb-5">Web Development</h3>
                                    <p class="description-text text-white">Building high-performance, responsive websites tailored
                                        to your
                                        specific business needs and user experience.</p>
                                    <div class="badge-group">
                                        <span class="tech-badge bg-black">Frontend</span>
                                        <span class="tech-badge bg-black">Backend</span>
                                        <span class="tech-badge bg-black">SEO</span>
                                    </div>
                                    <a href="#" class="arrow-icon tw-mt-10">
                                        <img src="assets/images/icon/arrow-big-left-down.png" alt="Icon">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Service 03 -->
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree">
                                <div class="acc-header-content">
                                    <span class="service-number d-lg-block d-none">Service : 03</span>
                                    <span class="service-title flex-grow-1 h2 text-white">App Development</span>
                                    <div class="preview-img-container d-md-block d-none">
                                        <img src="assets/images/thumbs/new-two-services-img3.png"
                                            alt="App">
                                    </div>
                                </div>
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#serviceAccordion">
                            <div class="accordion-body">
                                <img src="assets/images/thumbs/new-two-services-img3.png"
                                    class="main-service-img" alt="Service Detail">
                                <div class="service-details">
                                    <h3 class="text-white tw-mb-5">App Development</h3>
                                    <p class="description-text text-white">Creating intuitive mobile applications for iOS and
                                        Android platforms
                                        to engage your customers anywhere.</p>
                                    <div class="badge-group">
                                        <span class="tech-badge bg-black">iOS</span>
                                        <span class="tech-badge bg-black">Android</span>
                                        <span class="tech-badge bg-black">Flutter</span>
                                    </div>
                                    <a href="#" class="arrow-icon tw-mt-10">
                                        <img src="assets/images/icon/arrow-big-left-down.png" alt="Icon">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Service 04 -->
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseFour">
                                <div class="acc-header-content">
                                    <span class="service-number d-lg-block d-none">Service : 04</span>
                                    <span class="service-title flex-grow-1 h2 text-white">Cyber Security</span>
                                    <div class="preview-img-container d-md-block d-none">
                                        <img src="assets/images/thumbs/new-two-services-img4.png"
                                            alt="App">
                                    </div>
                                </div>
                            </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#serviceAccordion">
                            <div class="accordion-body">
                                <img src="assets/images/thumbs/new-two-services-img4.png"
                                    class="main-service-img" alt="Service Detail">
                                <div class="service-details">
                                    <h3 class="text-white tw-mb-5">Cyber Security</h3>
                                    <p class="description-text text-white">Creating intuitive mobile applications for iOS and
                                        Android platforms
                                        to engage your customers anywhere.</p>
                                    <div class="badge-group">
                                        <span class="tech-badge bg-black">iOS</span>
                                        <span class="tech-badge bg-black">Android</span>
                                        <span class="tech-badge bg-black">Flutter</span>
                                    </div>
                                    <a href="#" class="arrow-icon tw-mt-10">
                                        <img src="assets/images/icon/arrow-big-left-down.png" alt="Icon">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Service 05 -->
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseFive">
                                <div class="acc-header-content">
                                    <span class="service-number d-lg-block d-none">Service : 05</span>
                                    <span class="service-title flex-grow-1 h2 text-white">IT Consulting</span>
                                    <div class="preview-img-container d-md-block d-none">
                                        <img src="assets/images/thumbs/new-two-services-img5.png"
                                            alt="App">
                                    </div>
                                </div>
                            </button>
                        </h2>
                        <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#serviceAccordion">
                            <div class="accordion-body">
                                <img src="assets/images/thumbs/new-two-services-img5.png"
                                    class="main-service-img" alt="Service Detail">
                                <div class="service-details">
                                    <h3 class="text-white tw-mb-5">IT Consulting</h3>
                                    <p class="description-text text-white">Creating intuitive mobile applications for iOS and
                                        Android platforms
                                        to engage your customers anywhere.</p>
                                    <div class="badge-group">
                                        <span class="tech-badge bg-black">iOS</span>
                                        <span class="tech-badge bg-black">Android</span>
                                        <span class="tech-badge bg-black">Flutter</span>
                                    </div>
                                    <a href="#" class="arrow-icon tw-mt-10">
                                        <img src="assets/images/icon/arrow-big-left-down.png" alt="Icon">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>
<!-- ======================== New two services end =============================== -->
