<!-- ================================= New how it work one start ===================================== -->
<section class="new-how-it-work-one py-120 position-relative z-1 overflow-hidden">
    <img src="assets/images/bg/new-how-it-work-one-bg.png" alt="Shape Image"
        class="position-absolute start-0 top-0 w-100 h-100 object-fit-cover z-n1">

    <div class="position-absolute z-n1 z-n1 top-0 start-0">
        <img src="assets/images/shape/corner-left-shape.png" alt="corner shape">
    </div>
    <div class="position-absolute z-n1 z-n1 bottom-0 end-0">
        <img src="assets/images/shape/corner-right-shape.png" alt="corner shape">
    </div>
    <div class="position-absolute z-n1 top-50 translate-middle-y end-0 max-w-17-percent">
        <img src="assets/images/shape/round-trinagle-shape-two.png" alt="Element" data-speed="1.3">
    </div>
    <div class="position-absolute z-n1 bottom-0 start-0 max-w-38-percent robot-hand-wrapper">
        <img src="assets/images/shape/new-about-one-shape.png" alt="Element" class="robot-hand-img">
    </div>

    <div class="container">
        <div class="row gy-5">
            <div class="col-lg-6">
                <div class="">
                    <div class="d-flex align-items-center tw-gap-2">
                        <span class="d-flex tw-text-2xl text-brand-secondary">
                            <i class="ph-bold ph-sparkle"></i>
                        </span>
                        <span class="tw-text-lg text-brand-secondary">
                            How Our AI Solutions Work
                        </span>
                    </div>
                    <div class="tw-mt-4">
                        <h2 class="display-5 text-white fw-bold text-reveal tw-leading-75">Simple Steps to Smart AI
                            Ideal Solutions</h2>
                    </div>
                    <div class="pt-120">
                        <p class="text-white max-w-530-px">Our process is designed to deliver powerful AI solutions
                            through a clear and efficient workflow & deploying intelligent systems.</p>
                        <div class="custom-fade-animation tw-mt-10" data-delay=".7" data-fade-from="bottom"
                            data-ease="bounce">
                            <a href="contact.html"
                                class="link-group style-two d-inline-flex align-items-center gap-2 gap-0 group group-item bg-main-600 text-white tw-p-2 rounded-pill group-hover-bg-white overflow-hidden">
                                <span
                                    class="button-icon-two bg-white text-brand tw-w-9 tw-h-9 rounded-circle d-flex justify-content-center align-items-center tw-duration-500">
                                    <i class="ph-bold ph-arrow-right"></i>
                                </span>
                                <span class="fw-bold h6 tw-duration-500 text-white">
                                    Get In Touch
                                </span>
                                <span
                                    class="button-icon-one bg-white text-brand tw-w-9 tw-h-9 rounded-circle d-flex justify-content-center align-items-center tw-duration-500">
                                    <i class="ph-bold ph-arrow-right"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="">
                    <div class="max-w-600-px text-white">
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore temporibus aut quod
                            excepturi, neque odit modi, incidunt itaque dolore velit inventore fuga voluptas est animi?
                            Omnis, dolores qui. Reprehenderit tenetur atque ut placeat fuga dolorem minus molestiae sit,
                            pariatur quos ipsum esse libero, asperiores tempore consectetur veniam odio sed! Iure
                            dignissimos ab officia alias! Id harum rem et maxime ratione sunt a inventore aliquam ipsum
                            error similique animi rerum, sequi corporis eaque! Fugiat at corporis in soluta. A,
                            reprehenderit nobis. Iste ipsum nostrum provident rem ratione quae, voluptate maiores
                            dolorem laudantium commodi, magni asperiores voluptatem! Quibusdam cum veniam voluptas
                            incidunt minima quasi ab aperiam quam amet non. Rem eveniet, tempora facilis molestias,
                            asperiores accusamus ullam illum pariatur excepturi blanditiis suscipit, doloremque
                            perspiciatis alias? Fuga sapiente, necessitatibus et deserunt facere nobis consequatur quos
                            nam porro nemo recusandae impedit qui ab, dolore suscipit beatae tenetur! Nostrum aliquam
                            officiis libero labore veniam deleniti qui deserunt saepe dignissimos voluptatum expedita
                            odit incidunt quibusdam fugit repudiandae dolore excepturi voluptates ipsum laudantium rerum
                            exercitationem, sed commodi minima! Nemo quos officiis consequatur doloribus est minus ab
                            culpa, eos reprehenderit laudantium laboriosam. Amet soluta, labore expedita unde dolore,
                            fugiat sunt mollitia inventore maiores obcaecati placeat excepturi optio quasi. Labore
                            asperiores possimus aspernatur tempora quos sequi adipisci corrupti! Sed necessitatibus
                            perspiciatis autem totam maiores asperiores qui, numquam, assumenda unde, laudantium ratione
                            dolore consequatur! Iusto veritatis, nostrum iste asperiores velit amet labore aliquam dolor
                            vel ullam, culpa, odio autem reprehenderit! Eum voluptas, inventore, at minima non deserunt,
                            nemo cupiditate placeat excepturi dignissimos autem omnis fugit optio similique obcaecati
                            quo praesentium perspiciatis ad quas illo tenetur maiores sint distinctio! Quisquam, quidem
                            tenetur saepe temporibus animi minus. Numquam tenetur veritatis necessitatibus placeat
                            cumque, fugit unde libero ab atque nesciunt adipisci asperiores reiciendis aliquam, sit
                            doloremque ipsam sed. Iusto enim aliquid quas ullam, aut facilis ratione, ipsam repellat
                            placeat nobis ducimus tenetur, voluptatem veniam alias nulla consequuntur cumque minus
                            excepturi beatae perspiciatis iure! Velit alias, architecto ad obcaecati fuga quia quo earum
                            blanditiis, ab autem iure dolor sint. Libero sint optio blanditiis aliquam ex perferendis
                            hic. Velit esse voluptas nam cum at sequi modi expedita veritatis unde reprehenderit
                            deleniti facilis consequuntur offici</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ================================= New how it work one end ===================================== -->