<!-- ============================== Brand section start ============================== -->
<div class="brand bg-brand-one tw-py-10">
    <div class="container">
        <div class="d-flex align-items-center tw-gap-42-px">
            <div class="swiper new-brand-one-slider left-right-gradient gradient-width-200">
                <div class="swiper-wrapper tw-gap-14">
                    <div class="swiper-slide">
                        <div class="element-double-animation" data-aos="fade-up" data-aos-duration="800"
                            data-aos-delay="100">
                            <div class="d-flex justify-content-center tw-duration-300">
                                <img src="assets/images/thumbs/new-brand-one-img1.png" alt="Logo">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="element-double-animation" data-aos="fade-up" data-aos-duration="800"
                            data-aos-delay="200">
                            <div class="d-flex justify-content-center tw-duration-300">
                                <img src="assets/images/thumbs/new-brand-one-img2.png" alt="Logo">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="element-double-animation" data-aos="fade-up" data-aos-duration="800"
                            data-aos-delay="300">
                            <div class="d-flex justify-content-center tw-duration-300">
                                <img src="assets/images/thumbs/new-brand-one-img3.png" alt="Logo">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="element-double-animation" data-aos="fade-up" data-aos-duration="800"
                            data-aos-delay="400">
                            <div class="d-flex justify-content-center tw-duration-300">
                                <img src="assets/images/thumbs/new-brand-one-img4.png" alt="Logo">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="element-double-animation" data-aos="fade-up" data-aos-duration="800"
                            data-aos-delay="500">
                            <div class="d-flex justify-content-center tw-duration-300">
                                <img src="assets/images/thumbs/new-brand-one-img5.png" alt="Logo">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="element-double-animation" data-aos="fade-up" data-aos-duration="800"
                            data-aos-delay="600">
                            <div class="d-flex justify-content-center tw-duration-300">
                                <img src="assets/images/thumbs/new-brand-one-img6.png" alt="Logo">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="element-double-animation" data-aos="fade-up" data-aos-duration="800"
                            data-aos-delay="700">
                            <div class="d-flex justify-content-center tw-duration-300">
                                <img src="assets/images/thumbs/new-brand-one-img3.png" alt="Logo">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <span class="d-md-block d-none tw-w-px bg-white tw-h-8"></span>
            <div class="d-md-block d-none">
                <div class="new-brand-one-slider-pagination new-pagination-style d-flex tw-gap-2"></div>
            </div>
        </div>
    </div>
</div>
<!-- ============================== Brand section end ============================== -->