<!-- =============================== New top header one start ================================ -->
<div class="new-top-header-one tw-py-3 bg-brand-two">
    <div class="container">

        <div class="d-flex items-content-wrap tw-gap-6">
            <div class="d-flex items-content-wrap tw-gap-2 fw-medium">
                <span class="d-flex tw-text-xl text-white">
                    <i class="ph ph-phone-call"></i>
                </span>
                <a href="tel:(308)555-0121"
                    class="d-flex hover-common-underline fw-medium text-new-neutral-40 hover-text-white">(308)
                    555-0121</a>
            </div>
            <span class="tw-w-px tw-h-6 bg-white-20"></span>
            <div class="d-flex items-content-wrap tw-gap-2 fw-medium">
                <span class="d-flex tw-text-xl text-white">
                    <i class="ph ph-envelope-open"></i>
                </span>
                <a href="mailto:demo@gmail.com"
                    class="d-flex hover-common-underline fw-medium text-new-neutral-40 hover-text-white">demo@gmail.com</a>
            </div>
            <span class="tw-w-px tw-h-6 bg-white-20"></span>
            <div class="d-flex items-content-wrap tw-gap-2 fw-medium">
                <span class="d-flex tw-text-xl text-white">
                    <i class="ph ph-map-pin-line"></i>
                </span>
                <span
                    class="d-flex fw-medium text-new-neutral-40 hover-text-white">2715 South Dakota 83475</span>
            </div>
            <span class="tw-w-px tw-h-6 bg-white-20"></span>
        </div>

        <div class="d-flex items-content-wrap tw-gap-6">
            <div class="d-flex items-content-wrap tw-gap-2 fw-medium">
                <span class="d-flex tw-text-xl text-white">
                    <i class="ph ph-phone-call"></i>
                </span>
                <a href="tel:(308)555-0121"
                    class="d-flex hover-common-underline fw-medium text-new-neutral-40 hover-text-white">(308)
                    555-0121</a>
            </div>
            <span class="tw-w-px tw-h-6 bg-white-20"></span>
            <div class="d-flex items-content-wrap tw-gap-2 fw-medium">
                <span class="d-flex tw-text-xl text-white">
                    <i class="ph ph-envelope-open"></i>
                </span>
                <a href="mailto:demo@gmail.com"
                    class="d-flex hover-common-underline fw-medium text-new-neutral-40 hover-text-white">demo@gmail.com</a>
            </div>
            <span class="tw-w-px tw-h-6 bg-white-20"></span>
            <div class="d-flex items-content-wrap tw-gap-2 fw-medium">
                <span class="d-flex tw-text-xl text-white">
                    <i class="ph ph-map-pin-line"></i>
                </span>
                <span
                    class="d-flex fw-medium text-new-neutral-40 hover-text-white">2715 South Dakota 83475</span>
            </div>
            <span class="tw-w-px tw-h-6 bg-white-20"></span>
        </div>

    </div>
</div>
<!-- =============================== New top header one end ================================ -->