<!-- ============================= New project showcase section start ================================== -->
<section class="new-project-showcase-one py-120 position-relative z-1 overflow-hidden">
    <img src="assets/images/shape/new-why-choose-one-bg-shape.png" alt="Shape Image"
        class="position-absolute end-0 bottom-0 z-n1">
    <div class="container">
        <div class="tw-mb-15">
            <div class="row gy-4">
                <div class="col-xl-4">
                    <div class="">
                        <div class="d-flex align-items-center tw-gap-2">
                            <span class="d-flex tw-text-2xl text-brand-secondary">
                                <i class="ph-bold ph-sparkle"></i>
                            </span>
                            <span class="tw-text-lg text-brand-secondary">
                                Our Project Showcase
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-8">
                    <div class="project-showcase-2-sec-title">
                        <h2 class="display-5 text-white fw-semibold">
                            Showcasing Innovative Solutions
                            <span class="d-flex tw-gap-3">
                                <span class="">
                                    Built For <br> Impact &
                                </span>
                                <span class="title-image-wrapper tw-invisible d-lg-block d-none">
                                    <img src="assets/images/thumbs/new-project-showcase-one-title-img.png" alt="Robot"
                                        class="title-image">
                                </span>
                                <span class="">
                                    Real-World <br> Reliability
                                </span>
                            </span>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="tw-px-6">
        <div class="project-showcase-2-height ">
            <div class="project-showcase-2-pin ">
                <div class="project-showcase-2-main-wrap position-relative ">

                    <div class="project-showcase-2-big-item position-relative">
                        <div class="project-showcase-2-item bg-cover background-img"
                            data-background-image="assets/images/thumbs/new-project-showcase-one-img1.png">
                            <div class="project-showcase-2-item-content">
                                <p class="desc-max-width text-white">We developed an advanced AI-powered chatbot
                                    designed to automate customer support </p>
                                <h2 class="title-max-width text-white display-5 fw-bold">AI Customer Support Chatbot
                                </h2>
                            </div>
                        </div>
                        <div class="project-showcase-2-item bg-cover background-img"
                            data-background-image="assets/images/thumbs/new-project-showcase-one-img2.png">
                            <div class="project-showcase-2-item-content">
                                <p class="desc-max-width text-white">We developed an advanced AI-powered chatbot
                                    designed to automate customer support </p>
                                <h2 class="title-max-width text-white display-5 fw-bold">AI Customer Support Chatbot
                                </h2>
                            </div>
                        </div>
                        <div class="project-showcase-2-item bg-cover background-img"
                            data-background-image="assets/images/thumbs/new-project-showcase-one-img3.png">
                            <div class="project-showcase-2-item-content">
                                <p class="desc-max-width text-white">We developed an advanced AI-powered chatbot
                                    designed to automate customer support </p>
                                <h2 class="title-max-width text-white display-5 fw-bold">AI Customer Support Chatbot
                                </h2>
                            </div>
                        </div>
                    </div>

                    <div class="project-showcase-2-sm-item">
                        <div class="project-showcase-2-sm-item-scroll">
                            <div class="project-showcase-2-item-img wa-fix wa-img-cover tw-rounded-xl">
                                <img decoding="async" src="assets/images/thumbs/new-project-showcase-one-img1.png"
                                    alt="Image" class="">
                            </div>
                            <div class="project-showcase-2-item-img wa-fix wa-img-cover tw-rounded-xl">
                                <img decoding="async" src="assets/images/thumbs/new-project-showcase-one-img2.png"
                                    alt="Image" class="">
                            </div>
                            <div class="project-showcase-2-item-img wa-fix wa-img-cover tw-rounded-xl">
                                <img decoding="async" src="assets/images/thumbs/new-project-showcase-one-img3.png"
                                    alt="Image" class="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="custom-fade-animation d-flex justify-content-center tw-mt-15" data-delay=".7" data-fade-from="bottom"
        data-ease="bounce">
        <a href="contact.html"
            class="link-group style-two d-inline-flex align-items-center gap-2 gap-0 group group-item bg-main-600 text-white tw-p-2 rounded-pill group-hover-bg-white overflow-hidden">
            <span
                class="button-icon-two bg-white text-brand tw-w-9 tw-h-9 rounded-circle d-flex justify-content-center align-items-center tw-duration-500">
                <i class="ph-bold ph-arrow-right"></i>
            </span>
            <span class="fw-bold h6 tw-duration-500 text-white">
                View All Portfolios
            </span>
            <span
                class="button-icon-one bg-white text-brand tw-w-9 tw-h-9 rounded-circle d-flex justify-content-center align-items-center tw-duration-500">
                <i class="ph-bold ph-arrow-right"></i>
            </span>
        </a>
    </div>

</section>
<!-- ============================= New project showcase section end ================================== -->