<!-- ============================ New Banner one section start ================================ -->
<section class="new-banner-one position-relative z-1">
    <div class="position-absolute top-0 start-0 w-100 h-100 z-n1">
        <img src="assets/images/bg/new-banner-bg.png" alt="Banner BG" class="w-100 h-100 object-fit-cover">
    </div>
    <div class="position-absolute top-50 translate-middle-y start-0 z-n1">
        <img src="assets/images/shape/round-trinagle-shape.png" alt="Shape" data-speed=".6">
    </div>
    
    <div class="container max-w-1560-px">
        <div class="position-relative py-120">
            <div class="max-w-950-px">
                <h1 class="display-1 fw-bold text-white tw-leading-11">
                    <span class="text-brand-secondary text-decoration-underline fw-medium">Next-Gen</span> <span class="stroke-black">IT</span>
                    <br>
                    <span class="banner-bottom-title stroke-black">AI Solutions</span>
                </h1>
    
                <div class="tw-mt-17 d-flex justify-content-evenly">
                    <div class="">
                        <span class="tw-w-px h-100 bg-brand-secondary"></span>
                    </div>
                    <div class="">
                        <img src="assets/images/shape/arrow-down-big-icon.png" alt="Arrow Big Icon" class="move-on-cursor-hover tw-duration-200" data-value="2">
                    </div>
                </div>
                <div class="tw-pt-15 tw-mt-5">
                    <p class="text-white tw-text-lg max-w-500-px">We deliver advanced AI-powered IT solutions that help businesses automate processes, analyze data, and make smarter decisions.</p>
                </div>
    
            </div>
        </div>
    </div>
</section>
<!-- ============================ New Banner one section end ================================ -->