<!-- ============================= New testimonials section start ==================================== -->
<section class="new-testimonials-one py-120 position-relative overflow-hidden z-1">
    <div class="position-absolute top-0 start-0 w-100 h-100 z-n1">
        <img src="assets/images/bg/new-testimonials-one-section-bg.png" alt="Testimonials BG Image"
            class="w-100 h-100 object-fit-cover">
    </div>

    <div class="container max-w-1560-px">
        <div class="max-w-900-px">
            <div class="swiper new-testimonials-one-slider left-right-gradient gradient-width-200">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="tw-rounded-xl overflow-hidden">
                            <div class="bg-brand-two tw-px-60-px tw-py-80-px position-relative z-1 overflow-hidden">
                                <img src="assets/images/shape/new-testimonials-one-item-bg.png" alt="Shape"
                                    class="position-absolute tw-end-0 top-0 z-n1">
                                <img src="assets/images/icon/quate-icon.png" alt="Shape"
                                    class="position-absolute tw-end-0 bottom-0 z-n1 tw-pe-60-px tw-pb-60-px">
                                <div class="d-flex tw-gap-1">
                                    <span class="tw-text-11 text-brand-secondary d-flex">
                                        <i class="ph-fill ph-star"></i>
                                    </span>
                                    <span class="tw-text-11 text-brand-secondary d-flex">
                                        <i class="ph-fill ph-star"></i>
                                    </span>
                                    <span class="tw-text-11 text-brand-secondary d-flex">
                                        <i class="ph-fill ph-star"></i>
                                    </span>
                                    <span class="tw-text-11 text-brand-secondary d-flex">
                                        <i class="ph-fill ph-star"></i>
                                    </span>
                                    <span class="tw-text-11 text-brand-secondary d-flex">
                                        <i class="ph-fill ph-star-half"></i>
                                    </span>
                                </div>
                                <p class="h3 fw-normal tw-mt-8 text-white tw-leading-150">"Partnering with ITecho has
                                    truly
                                    transformed
                                    our business landscape. Their innovative AI-powered solutions have enabled us to
                                    automate essential
                                    processes, significantly reduce operational costs, efficiency in our operations."
                                </p>
                                <div class="tw-mt-12 d-flex align-items-center tw-gap-4">
                                    <span class="tw-w-74-px tw-h-74-px rounded-circle overflow-hidden">
                                        <img src="assets/images/thumbs/client-img1.png" alt="Image"
                                            class="w-100 h-100 object-fit-cover">
                                    </span>
                                    <div class="">
                                        <h2 class="h3 text-white">Robert Fox</h2>
                                        <span class="text-new-neutral-40 tw-mt-2">Software Assistant</span>
                                    </div>
                                </div>
                            </div>
                            <div class="bg-brand-one tw-py-12 tw-px-4">
                                <div class="">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="tw-rounded-xl overflow-hidden">
                            <div class="bg-brand-two tw-px-60-px tw-py-80-px position-relative z-1 overflow-hidden">
                                <img src="assets/images/shape/new-testimonials-one-item-bg.png" alt="Shape"
                                    class="position-absolute tw-end-0 top-0 z-n1">
                                <img src="assets/images/icon/quate-icon.png" alt="Shape"
                                    class="position-absolute tw-end-0 bottom-0 z-n1 tw-pe-60-px tw-pb-60-px">
                                <div class="d-flex tw-gap-1">
                                    <span class="tw-text-11 text-brand-secondary d-flex">
                                        <i class="ph-fill ph-star"></i>
                                    </span>
                                    <span class="tw-text-11 text-brand-secondary d-flex">
                                        <i class="ph-fill ph-star"></i>
                                    </span>
                                    <span class="tw-text-11 text-brand-secondary d-flex">
                                        <i class="ph-fill ph-star"></i>
                                    </span>
                                    <span class="tw-text-11 text-brand-secondary d-flex">
                                        <i class="ph-fill ph-star"></i>
                                    </span>
                                    <span class="tw-text-11 text-brand-secondary d-flex">
                                        <i class="ph-fill ph-star-half"></i>
                                    </span>
                                </div>
                                <p class="h3 fw-normal tw-mt-8 text-white tw-leading-150">"Partnering with ITecho has
                                    truly
                                    transformed
                                    our business landscape. Their innovative AI-powered solutions have enabled us to
                                    automate essential
                                    processes, significantly reduce operational costs, efficiency in our operations."
                                </p>
                                <div class="tw-mt-12 d-flex align-items-center tw-gap-4">
                                    <span class="tw-w-74-px tw-h-74-px rounded-circle overflow-hidden">
                                        <img src="assets/images/thumbs/client-img1.png" alt="Image"
                                            class="w-100 h-100 object-fit-cover">
                                    </span>
                                    <div class="">
                                        <h2 class="h3 text-white">Robert Fox</h2>
                                        <span class="text-new-neutral-40 tw-mt-2">Software Assistant</span>
                                    </div>
                                </div>
                            </div>
                            <div class="bg-brand-one tw-py-12 tw-px-4">
                                <div class="">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="tw-rounded-xl overflow-hidden">
                            <div class="bg-brand-two tw-px-60-px tw-py-80-px position-relative z-1 overflow-hidden">
                                <img src="assets/images/shape/new-testimonials-one-item-bg.png" alt="Shape"
                                    class="position-absolute tw-end-0 top-0 z-n1">
                                <img src="assets/images/icon/quate-icon.png" alt="Shape"
                                    class="position-absolute tw-end-0 bottom-0 z-n1 tw-pe-60-px tw-pb-60-px">
                                <div class="d-flex tw-gap-1">
                                    <span class="tw-text-11 text-brand-secondary d-flex">
                                        <i class="ph-fill ph-star"></i>
                                    </span>
                                    <span class="tw-text-11 text-brand-secondary d-flex">
                                        <i class="ph-fill ph-star"></i>
                                    </span>
                                    <span class="tw-text-11 text-brand-secondary d-flex">
                                        <i class="ph-fill ph-star"></i>
                                    </span>
                                    <span class="tw-text-11 text-brand-secondary d-flex">
                                        <i class="ph-fill ph-star"></i>
                                    </span>
                                    <span class="tw-text-11 text-brand-secondary d-flex">
                                        <i class="ph-fill ph-star-half"></i>
                                    </span>
                                </div>
                                <p class="h3 fw-normal tw-mt-8 text-white tw-leading-150">"Partnering with ITecho has
                                    truly
                                    transformed
                                    our business landscape. Their innovative AI-powered solutions have enabled us to
                                    automate essential
                                    processes, significantly reduce operational costs, efficiency in our operations."
                                </p>
                                <div class="tw-mt-12 d-flex align-items-center tw-gap-4">
                                    <span class="tw-w-74-px tw-h-74-px rounded-circle overflow-hidden">
                                        <img src="assets/images/thumbs/client-img1.png" alt="Image"
                                            class="w-100 h-100 object-fit-cover">
                                    </span>
                                    <div class="">
                                        <h2 class="h3 text-white">Robert Fox</h2>
                                        <span class="text-new-neutral-40 tw-mt-2">Software Assistant</span>
                                    </div>
                                </div>
                            </div>
                            <div class="bg-brand-one tw-py-12 tw-px-4">
                                <div class="">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="tw-rounded-xl overflow-hidden">
                            <div class="bg-brand-two tw-px-60-px tw-py-80-px position-relative z-1 overflow-hidden">
                                <img src="assets/images/shape/new-testimonials-one-item-bg.png" alt="Shape"
                                    class="position-absolute tw-end-0 top-0 z-n1">
                                <img src="assets/images/icon/quate-icon.png" alt="Shape"
                                    class="position-absolute tw-end-0 bottom-0 z-n1 tw-pe-60-px tw-pb-60-px">
                                <div class="d-flex tw-gap-1">
                                    <span class="tw-text-11 text-brand-secondary d-flex">
                                        <i class="ph-fill ph-star"></i>
                                    </span>
                                    <span class="tw-text-11 text-brand-secondary d-flex">
                                        <i class="ph-fill ph-star"></i>
                                    </span>
                                    <span class="tw-text-11 text-brand-secondary d-flex">
                                        <i class="ph-fill ph-star"></i>
                                    </span>
                                    <span class="tw-text-11 text-brand-secondary d-flex">
                                        <i class="ph-fill ph-star"></i>
                                    </span>
                                    <span class="tw-text-11 text-brand-secondary d-flex">
                                        <i class="ph-fill ph-star-half"></i>
                                    </span>
                                </div>
                                <p class="h3 fw-normal tw-mt-8 text-white tw-leading-150">"Partnering with ITecho has
                                    truly
                                    transformed
                                    our business landscape. Their innovative AI-powered solutions have enabled us to
                                    automate essential
                                    processes, significantly reduce operational costs, efficiency in our operations."
                                </p>
                                <div class="tw-mt-12 d-flex align-items-center tw-gap-4">
                                    <span class="tw-w-74-px tw-h-74-px rounded-circle overflow-hidden">
                                        <img src="assets/images/thumbs/client-img1.png" alt="Image"
                                            class="w-100 h-100 object-fit-cover">
                                    </span>
                                    <div class="">
                                        <h2 class="h3 text-white">Robert Fox</h2>
                                        <span class="text-new-neutral-40 tw-mt-2">Software Assistant</span>
                                    </div>
                                </div>
                            </div>
                            <div class="bg-brand-one tw-py-12 tw-px-4">
                                <div class="">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="new-testimonials-one-slider-pagination new-pagination-style d-flex tw-gap-2 position-absolute start-50 translate-middle-x tw-mb-8 justify-content-center z-1"></div>
            </div>
        </div>
    </div>
</section>
<!-- ============================= New testimonials section end ==================================== -->