<!-- ===================== new two banner section start ======================= -->
<section class="hero-banner">

    <!-- =====================================
    Main Hero Slider
    ===================================== -->
    <div class="swiper heroSlider">

        <div class="swiper-wrapper">

            <!-- Slide 1 -->
            <div class="swiper-slide hero-slide">

                <div class="hero-bg">
                    <img src="assets/images/thumbs/new-two-banner-img1.png"
                        alt="Digital Growth">
                </div>

                <div class="container max-w-1760-px">

                    <div class="hero-inner z-1">


                        <!-- content -->
                        <div class="hero-content">
                            <!-- floating card -->
                            <div class="floating-card">
                                <img src="assets/images/thumbs/new-two-banner-img3.png"
                                    alt="Tech Innovation" class="w-100 h-100 object-fit-cover">

                                <a href="https://www.youtube.com/watch?v=MFLVmAE4cqg"
                                    class="tw-w-12 tw-h-12 bg-primary-new text-brand rounded-circle d-flex align-items-center justify-content-center tw-text-2xl hover-scale-2 play-button flex-shrink-0 play-btn">
                                    <i class="ph-fill ph-play"></i>
                                </a>

                                <h4>Tech Innovation</h4>
                            </div>

                            <div class="hero-description">
                                We provide comprehensive IT solutions designed to help businesses streamline
                                operations, improve efficiency.
                            </div>

                            <div class="hero-top-text">
                                DELIVERING RELIABLE AND SCALABLE IT SERVICES FOR YOUR BUSINESS
                            </div>

                            <div class="big-arrow">
                                <i class="ri-arrow-right-up-line"></i>
                            </div>

                            <h1 class="hero-title font-heading">
                               <span>DIGITAL</span>
                               <span>GROWTH</span>
                            </h1>

                        </div>

                    </div>

                </div>

            </div>

            <!-- Slide 2 -->
            <div class="swiper-slide hero-slide">

                <div class="hero-bg">
                    <img src="assets/images/thumbs/new-two-banner-img2.png"
                        alt="IT Excellence">
                </div>

                <div class="container max-w-1760-px">

                    <div class="hero-inner z-1">

                        <!-- content -->
                        <div class="hero-content">

                            <!-- floating card -->
                            <div class="floating-card">
                                <img src="assets/images/thumbs/new-two-banner-img1.png"
                                    alt="Smart Solutions" class="w-100 h-100 object-fit-cover">

                                <a href="https://www.youtube.com/watch?v=MFLVmAE4cqg"
                                    class="tw-w-12 tw-h-12 bg-primary-new text-brand rounded-circle d-flex align-items-center justify-content-center tw-text-2xl hover-scale-2 play-button flex-shrink-0 play-btn">
                                    <i class="ph-fill ph-play"></i>
                                </a>

                                <h4>Smart Solutions</h4>
                            </div>

                            <div class="hero-description">
                                Our expert team delivers secure scalable and high-performance technology services for
                                modern business growth.
                            </div>

                            <div class="hero-top-text">
                                SMART TECHNOLOGY SOLUTIONS FOR MODERN CHALLENGES
                            </div>

                            <div class="big-arrow">
                                <i class="ri-arrow-right-up-line"></i>
                            </div>

                            <h1 class="hero-title font-heading">
                                <span>IT</span> 
                                <span>EXCELLENCE</span>
                            </h1>

                        </div>

                    </div>

                </div>

            </div>

            <!-- Slide 3 -->
            <div class="swiper-slide hero-slide">

                <div class="hero-bg">
                    <img src="assets/images/thumbs/new-two-banner-img3.png"
                        alt="Modern Tech">
                </div>

                <div class="container max-w-1760-px">

                    <div class="hero-inner z-1">


                        <!-- content -->
                        <div class="hero-content">

                            <!-- floating card -->
                            <div class="floating-card">
                                <img src="assets/images/thumbs/new-two-banner-img2.png"
                                    alt="Modern Tech" class="w-100 h-100 object-fit-cover">

                                <a href="https://www.youtube.com/watch?v=MFLVmAE4cqg"
                                    class="tw-w-12 tw-h-12 bg-primary-new text-brand rounded-circle d-flex align-items-center justify-content-center tw-text-2xl hover-scale-2 play-button flex-shrink-0 play-btn">
                                    <i class="ph-fill ph-play"></i>
                                </a>

                                <h4>Modern Tech</h4>
                            </div>


                            <div class="hero-description">
                                Improve efficiency and achieve sustainable growth using secure modern technology
                                solutions.
                            </div>

                            <div class="hero-top-text">
                                INNOVATIVE IT SERVICES BUILT FOR PERFORMANCE
                            </div>

                            <div class="big-arrow">
                                <i class="ri-arrow-right-up-line"></i>
                            </div>

                            <h1 class="hero-title font-heading">
                                <span>MODERN</span> 
                                <span>TECH</span>
                            </h1>

                        </div>

                    </div>

                </div>

            </div>

            <!-- Slide 4 -->
            <div class="swiper-slide hero-slide">

                <div class="hero-bg">
                    <img src="assets/images/thumbs/new-two-banner-img2.png"
                        alt="IT Excellence">
                </div>

                <div class="container max-w-1760-px">

                    <div class="hero-inner z-1">

                        <!-- content -->
                        <div class="hero-content">

                            <!-- floating card -->
                            <div class="floating-card">
                                <img src="assets/images/thumbs/new-two-banner-img1.png"
                                    alt="Smart Solutions" class="w-100 h-100 object-fit-cover">

                                <a href="https://www.youtube.com/watch?v=MFLVmAE4cqg"
                                    class="tw-w-12 tw-h-12 bg-primary-new text-brand rounded-circle d-flex align-items-center justify-content-center tw-text-2xl hover-scale-2 play-button flex-shrink-0 play-btn">
                                    <i class="ph-fill ph-play"></i>
                                </a>

                                <h4>Smart Solutions</h4>
                            </div>

                            <div class="hero-description">
                                Our expert team delivers secure scalable and high-performance technology services for
                                modern business growth.
                            </div>

                            <div class="hero-top-text">
                                SMART TECHNOLOGY SOLUTIONS FOR MODERN CHALLENGES
                            </div>

                            <div class="big-arrow">
                                <i class="ri-arrow-right-up-line"></i>
                            </div>

                            <h1 class="hero-title font-heading">
                                <span>IT</span> 
                                <span>EXCELLENCE</span>
                            </h1>

                        </div>

                    </div>

                </div>

            </div>

        </div>
    </div>

    <!-- =====================================
    Thumbnail Slider
    ===================================== -->
    <div class="thumb-wrapper">

        <div class="swiper thumbSlider">

            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <img src="assets/images/thumbs/new-two-banner-img1.png"
                        alt="Thumb 1">
                </div>

                <div class="swiper-slide">
                    <img src="assets/images/thumbs/new-two-banner-img2.png"
                        alt="Thumb 2">
                </div>

                <div class="swiper-slide">
                    <img src="assets/images/thumbs/new-two-banner-img3.png"
                        alt="Thumb 3">
                </div>

                <div class="swiper-slide">
                    <img src="assets/images/thumbs/new-two-banner-img2.png"
                        alt="Thumb 4">
                </div>

            </div>

        </div>

    </div>

</section>
<!-- ===================== new two banner section end ======================= -->