<!-- ========================== newzlater section start ========================== -->
<section class="d-flex align-items-center justify-content-center">
    <div class="bg-main-600 max-w-1890-px w-100 tw-pt-5 tw-media-pb-20-px position-relative z-3 tw-rounded-left-right tw-mt--30-px overflow-hidden">
        <img src="assets/images/shape/newzlater-shape1.png" alt="shape" class="position-absolute bottom-0 tw-end-0 z-n1">
        <img src="assets/images/shape/newzlater-shape2.png" alt="shape" class="position-absolute bottom-0 tw-start-0 z-n1">
        <div class="container">
            <div class="d-flex align-items-center tw-gap-4 justify-content-between">
                <h3 class="max-w-570-px w-100 text-white" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                    Inspired by strategy. let’s build amazing together!
                </h3>
                <span class="d-xl-block d-none" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                    <img src="assets/images/thumbs/newzlater-img1.png" alt="img">
                </span>
                <div class="max-w-340-px w-100" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                    <p class="fw-semibold tw-text-base text-white tw-mb-5">
                        ITecho stands at the forefront of technological innovation, delivering intelligent.
                    </p>
                    <a href="services-details.html" class="link-group d-inline-flex align-items-center group group-item">
                        <span class="button-icon-one fw-bold bg-black text-white tw-py-3 tw-px-4 tw-rounded-xl tw-text-xl group-hover-bg-white group-hover-item-text-main-600 tw-duration-300">
                            <i class="ph-bold ph-arrow-right"></i>
                        </span>
                        <h2 class="fw-bold h6 bg-black text-white tw-py-4 tw-px-10 tw-rounded-xl group-hover-bg-white group-hover-item-text-main-600 hover-text-main-600 tw-duration-300">
                            Discover More
                        </h2>
                        <span class="button-icon-two fw-bold bg-black text-white tw-py-3 tw-px-4 tw-rounded-xl tw-text-xl group-hover-bg-white group-hover-item-text-main-600 hover-text-main-600 tw-duration-300">
                            <i class="ph-bold ph-arrow-right"></i>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========================== newzlater section end ========================== -->