<!-- ============================ New About section start ================================== -->
<section class="new-about-one py-120 position-relative z-1">
    <img src="assets/images/bg/new-about-one-bg.png" alt="Shape Image"
        class="position-absolute start-0 top-0 w-100 h-100 object-fit-cover z-n1">

    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-5">
                <div class="">
                    <div
                        class="image-double-animation clip-animation overflow-hidden position-relative d-block h-100 tw-rounded-lg">
                        <img src="assets/images/thumbs/new-about-one-img.png" alt="Image" data-animate="true"
                            class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                        <img src="assets/images/thumbs/new-about-one-img.png" alt="Image"
                            class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                    </div>
                    <div class="bg-brand-light">
                        <div class="d-flex align-items-center pointer-events-auto">
                            <div
                                class="pointer-events-auto tw-w-17 tw-h-17 rounded-circle overflow-hidden tw-duration-300 hover-scale-14 tw-hover-z-4 position-relative z-0">
                                <img src="assets/images/thumbs/client-img1.png" alt="Client Image"
                                    class="w-100 h-100 object-fit-cover">
                            </div>
                            <div
                                class="pointer-events-auto tw-w-17 tw-h-17 rounded-circle overflow-hidden tw-duration-300 hover-scale-14 tw-hover-z-4 position-relative tw--ms-20-px z-1">
                                <img src="assets/images/thumbs/client-img2.png" alt="Client Image"
                                    class="w-100 h-100 object-fit-cover">
                            </div>
                            <div
                                class="pointer-events-auto tw-w-17 tw-h-17 rounded-circle overflow-hidden tw-duration-300 hover-scale-14 tw-hover-z-4 position-relative tw--ms-20-px z-1">
                                <img src="assets/images/thumbs/client-img3.png" alt="Client Image"
                                    class="w-100 h-100 object-fit-cover">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="">

                </div>
            </div>
        </div>
    </div>
</section>
<!-- ============================ New About section end ================================== -->