<!-- =============================== New FAQ section start =================================== -->
<section class="new-pricing-plan-one py-120 position-relative z-1 overflow-hidden">
    <div class="position-absolute z-n1 z-n1 top-0 start-0">
        <img src="assets/images/shape/corner-left-shape.png" alt="corner shape">
    </div>
    <div class="position-absolute z-n1 z-n1 bottom-0 end-0">
        <img src="assets/images/shape/corner-right-shape.png" alt="corner shape">
    </div>
    <div class="position-absolute z-n1 top-50 translate-middle-y start-0 max-w-17-percent">
        <img src="assets/images/shape/new-faq-one-element1.png" alt="Element" data-speed=".7">
    </div>
    <div class="position-absolute z-n1 top-50 translate-middle-y end-0 max-w-17-percent">
        <img src="assets/images/shape/new-faq-one-element2.png" alt="Element" data-speed="1.3">
    </div>


    <div class="container">
        <div class="tw-mb-16">
            <div class="row gy-4">
                <div class="col-xl-4">
                    <div class="">
                        <div class="d-flex align-items-center tw-gap-2">
                            <span class="d-flex tw-text-2xl text-brand-secondary">
                                <i class="ph-bold ph-sparkle"></i>
                            </span>
                            <span class="tw-text-lg text-brand-secondary">
                                Our Pricing Plans
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-8">
                    <div class="position-relative">
                        <h2 class="display-5 text-white text-reveal fw-bold">
                            Choose A Plan That Aligns with Your Business Goals And Flexible Pricing Designed For
                            Startups To Enterprises
                        </h2>
                        <div class="tw-mt-10">
                            <div class="form-check form-switch ps-0 d-flex tw-gap-4 align-items-center">
                                <label class="form-check-label text-white fw-semibold text-xl-res"
                                    for="pricingPlanSwitch">Monthly</label>
                                <input class="form-check-input" type="checkbox" role="switch" id="pricingPlanSwitch">
                                <label class="form-check-label text-white fw-semibold text-xl-res"
                                    for="pricingPlanSwitch">
                                    Yearly
                                    <span class="fw-normal text-brand-secondary">(Save 30%)</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row gy-4 card-animation-wrapper">

            <div class="col-xl-4 col-md-6 card-animation magnetic-item">
                <div
                    class="new-pricing-plan-one__item bg-brand-one tw-p-3 tw-rounded-2xl border border-white-20 position-relative z-1 hover-slide-animation hover-slide-animation-two">
                    <div
                        class="tw-p-5 bg-brand-two tw-rounded-xl border border-white-20 position-relative z-1 overflow-hidden">
                        <div class="d-flex align-items-center tw-gap-3">
                            <span
                                class="tw-w-12 tw-h-12 tw-rounded-lg bg-brand-one d-flex align-items-center justify-content-center text-brand-secondary tw-text-3xl border border-white-20">
                                <i class="ph-fill ph-person-simple-bike"></i>
                            </span>
                            <span class="fw-semibold font-heading text-white tw-text-2xl">Starter</span>
                        </div>
                        <div class="tw-mt-7">
                            <h2 class="text-white h3">Basic Plan</h2>
                            <p class="tw-text-lg tw-mt-2 text-new-neutral-40">-whether you're a startup, scale-</p>
                        </div>
                        <img src="assets/images/shape/new-pricing-plan-one-shape-bg.png" alt="Pricing BG"
                            class="position-absolute top-0 tw-end-0 z-n1">
                    </div>
                    <div class="tw-pt-7 tw-px-5">
                        <div class="d-flex align-items-center tw-gap-3 flex-wrap">
                            <h2
                                class="display-5 fw-bold text-brand-secondary new-pricing-plan-one__price tw-leading-none">
                                $19.00</h2>
                            <span
                                class="border border-white-20 bg-brand-two rounded-pill tw-py-105 tw-px-3 text-white">-15%
                                Discount</span>
                        </div>
                        <p class="tw-text-lg tw-mt-3 text-new-neutral-40">per user/month, billed annually</p>
                    </div>
                    <div class="tw-my-7 w-100 tw-h-px border border-white-20"></div>
                    <div class="tw-px-5">
                        <h2 class="tw-text-2xl text-white">For growing teams</h2>
                        <ul class="tw-mt-4 d-flex flex-column tw-gap-4">
                            <li class="d-flex align-items-center tw-gap-205">
                                <span class="text-brand tw-text-2xl d-flex">
                                    <i class="ph ph-check-circle"></i>
                                </span>
                                <span class="tw-text-lg text-new-neutral-40">Contact Management</span>
                            </li>
                            <li class="d-flex align-items-center tw-gap-205">
                                <span class="text-brand tw-text-2xl d-flex">
                                    <i class="ph ph-check-circle"></i>
                                </span>
                                <span class="tw-text-lg text-new-neutral-40">Automation Workflows</span>
                            </li>
                            <li class="d-flex align-items-center tw-gap-205">
                                <span class="text-brand tw-text-2xl d-flex">
                                    <i class="ph ph-check-circle"></i>
                                </span>
                                <span class="tw-text-lg text-new-neutral-40">PayPal Mass Payout</span>
                            </li>
                            <li class="d-flex align-items-center tw-gap-205">
                                <span class="text-brand tw-text-2xl d-flex">
                                    <i class="ph ph-check-circle"></i>
                                </span>
                                <span class="tw-text-lg text-new-neutral-40">Chat and Email Support</span>
                            </li>
                            <li class="d-flex align-items-center tw-gap-205">
                                <span class="text-danger tw-text-2xl d-flex">
                                    <i class="ph ph-x-circle"></i>
                                </span>
                                <span class="tw-text-lg text-new-neutral-40">Customizable Dashboards</span>
                            </li>
                            <li class="d-flex align-items-center tw-gap-205">
                                <span class="text-danger tw-text-2xl d-flex">
                                    <i class="ph ph-x-circle"></i>
                                </span>
                                <span class="tw-text-lg text-new-neutral-40">24/7 Priority Support</span>
                            </li>
                        </ul>
                    </div>
                    <div class="tw-mt-8 tw-px-5 tw-pb-5">
                        <a href="contact.html"
                            class="link-group style-two d-flex align-items-center gap-sm-2 gap-0 group group-item bg-brand-two text-white border border-white-20 tw-p-2 tw-ps-6 rounded-pill group-hover-bg-white overflow-hidden justify-content-between hover-bg-brand">
                            <h2 class="fw-bold h6 tw-duration-500 text-white">
                                Start 14 day trial
                            </h2>
                            <span
                                class="bg-brand text-white tw-w-9 tw-h-9 rounded-circle d-flex justify-content-center align-items-center tw-duration-500 group-hover-bg-white group-hover-text-main-600">
                                <i class="ph-bold ph-arrow-right"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-md-6 card-animation magnetic-item">
                <div
                    class="new-pricing-plan-one__item bg-brand-one tw-p-3 tw-rounded-2xl border border-white-20 position-relative z-1 hover-slide-animation hover-slide-animation-two">
                    <div
                        class="tw-p-5 bg-brand-two tw-rounded-xl border border-white-20 position-relative z-1 overflow-hidden">
                        <div class="d-flex align-items-center tw-gap-3">
                            <span
                                class="tw-w-12 tw-h-12 tw-rounded-lg bg-brand-one d-flex align-items-center justify-content-center text-brand-secondary tw-text-3xl border border-white-20">
                                <i class="ph-fill ph-truck"></i>
                            </span>
                            <span class="fw-semibold font-heading text-white tw-text-2xl">Popular</span>
                        </div>
                        <div class="tw-mt-7">
                            <h2 class="text-white h3">Growth Plan</h2>
                            <p class="tw-text-lg tw-mt-2 text-new-neutral-40">-whether you're a startup, scale-</p>
                        </div>
                        <img src="assets/images/shape/new-pricing-plan-one-shape-bg.png" alt="Pricing BG"
                            class="position-absolute top-0 tw-end-0 z-n1">
                    </div>
                    <div class="tw-pt-7 tw-px-5">
                        <div class="d-flex align-items-center tw-gap-3 flex-wrap">
                            <h2
                                class="display-5 fw-bold text-brand-secondary new-pricing-plan-one__price tw-leading-none">
                                $59.00</h2>
                            <span
                                class="border border-white-20 bg-brand-two rounded-pill tw-py-105 tw-px-3 text-white">-15%
                                Discount</span>
                        </div>
                        <p class="tw-text-lg tw-mt-3 text-new-neutral-40">per user/month, billed annually</p>
                    </div>
                    <div class="tw-my-7 w-100 tw-h-px border border-white-20"></div>
                    <div class="tw-px-5">
                        <h2 class="tw-text-2xl text-white">For growing teams</h2>
                        <ul class="tw-mt-4 d-flex flex-column tw-gap-4">
                            <li class="d-flex align-items-center tw-gap-205">
                                <span class="text-brand tw-text-2xl d-flex">
                                    <i class="ph ph-check-circle"></i>
                                </span>
                                <span class="tw-text-lg text-new-neutral-40">Contact Management</span>
                            </li>
                            <li class="d-flex align-items-center tw-gap-205">
                                <span class="text-brand tw-text-2xl d-flex">
                                    <i class="ph ph-check-circle"></i>
                                </span>
                                <span class="tw-text-lg text-new-neutral-40">Automation Workflows</span>
                            </li>
                            <li class="d-flex align-items-center tw-gap-205">
                                <span class="text-brand tw-text-2xl d-flex">
                                    <i class="ph ph-check-circle"></i>
                                </span>
                                <span class="tw-text-lg text-new-neutral-40">PayPal Mass Payout</span>
                            </li>
                            <li class="d-flex align-items-center tw-gap-205">
                                <span class="text-brand tw-text-2xl d-flex">
                                    <i class="ph ph-check-circle"></i>
                                </span>
                                <span class="tw-text-lg text-new-neutral-40">Chat and Email Support</span>
                            </li>
                            <li class="d-flex align-items-center tw-gap-205">
                                <span class="text-brand tw-text-2xl d-flex">
                                    <i class="ph ph-check-circle"></i>
                                </span>
                                <span class="tw-text-lg text-new-neutral-40">Customizable Dashboards</span>
                            </li>
                            <li class="d-flex align-items-center tw-gap-205">
                                <span class="text-danger tw-text-2xl d-flex">
                                    <i class="ph ph-x-circle"></i>
                                </span>
                                <span class="tw-text-lg text-new-neutral-40">24/7 Priority Support</span>
                            </li>
                        </ul>
                    </div>
                    <div class="tw-mt-8 tw-px-5 tw-pb-5">
                        <a href="contact.html"
                            class="link-group style-two d-flex align-items-center gap-sm-2 gap-0 group group-item bg-brand-two text-white border border-white-20 tw-p-2 tw-ps-6 rounded-pill group-hover-bg-white overflow-hidden justify-content-between hover-bg-brand">
                            <h2 class="fw-bold h6 tw-duration-500 text-white">
                                Start 14 day trial
                            </h2>
                            <span
                                class="bg-brand text-white tw-w-9 tw-h-9 rounded-circle d-flex justify-content-center align-items-center tw-duration-500 group-hover-bg-white group-hover-text-main-600">
                                <i class="ph-bold ph-arrow-right"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-md-6 card-animation magnetic-item">
                <div
                    class="new-pricing-plan-one__item bg-brand-one tw-p-3 tw-rounded-2xl border border-white-20 position-relative z-1 hover-slide-animation hover-slide-animation-two">
                    <div
                        class="tw-p-5 bg-brand-two tw-rounded-xl border border-white-20 position-relative z-1 overflow-hidden">
                        <div class="d-flex align-items-center tw-gap-3">
                            <span
                                class="tw-w-12 tw-h-12 tw-rounded-lg bg-brand-one d-flex align-items-center justify-content-center text-brand-secondary tw-text-3xl border border-white-20">
                                <i class="ph-fill ph-rocket-launch"></i>
                            </span>
                            <span class="fw-semibold font-heading text-white tw-text-2xl">Recommended</span>
                        </div>
                        <div class="tw-mt-7">
                            <h2 class="text-white h3">Premium Plan</h2>
                            <p class="tw-text-lg tw-mt-2 text-new-neutral-40">-whether you're a startup, scale-</p>
                        </div>
                        <img src="assets/images/shape/new-pricing-plan-one-shape-bg.png" alt="Pricing BG"
                            class="position-absolute top-0 tw-end-0 z-n1">
                    </div>
                    <div class="tw-pt-7 tw-px-5">
                        <div class="d-flex align-items-center tw-gap-3 flex-wrap">
                            <h2
                                class="display-5 fw-bold text-brand-secondary new-pricing-plan-one__price tw-leading-none">
                                $99.00</h2>
                            <span
                                class="border border-white-20 bg-brand-two rounded-pill tw-py-105 tw-px-3 text-white">-15%
                                Discount</span>
                        </div>
                        <p class="tw-text-lg tw-mt-3 text-new-neutral-40">per user/month, billed annually</p>
                    </div>
                    <div class="tw-my-7 w-100 tw-h-px border border-white-20"></div>
                    <div class="tw-px-5">
                        <h2 class="tw-text-2xl text-white">For growing teams</h2>
                        <ul class="tw-mt-4 d-flex flex-column tw-gap-4">
                            <li class="d-flex align-items-center tw-gap-205">
                                <span class="text-brand tw-text-2xl d-flex">
                                    <i class="ph ph-check-circle"></i>
                                </span>
                                <span class="tw-text-lg text-new-neutral-40">Contact Management</span>
                            </li>
                            <li class="d-flex align-items-center tw-gap-205">
                                <span class="text-brand tw-text-2xl d-flex">
                                    <i class="ph ph-check-circle"></i>
                                </span>
                                <span class="tw-text-lg text-new-neutral-40">Automation Workflows</span>
                            </li>
                            <li class="d-flex align-items-center tw-gap-205">
                                <span class="text-brand tw-text-2xl d-flex">
                                    <i class="ph ph-check-circle"></i>
                                </span>
                                <span class="tw-text-lg text-new-neutral-40">PayPal Mass Payout</span>
                            </li>
                            <li class="d-flex align-items-center tw-gap-205">
                                <span class="text-brand tw-text-2xl d-flex">
                                    <i class="ph ph-check-circle"></i>
                                </span>
                                <span class="tw-text-lg text-new-neutral-40">Chat and Email Support</span>
                            </li>
                            <li class="d-flex align-items-center tw-gap-205">
                                <span class="text-brand tw-text-2xl d-flex">
                                    <i class="ph ph-check-circle"></i>
                                </span>
                                <span class="tw-text-lg text-new-neutral-40">Customizable Dashboards</span>
                            </li>
                            <li class="d-flex align-items-center tw-gap-205">
                                <span class="text-brand tw-text-2xl d-flex">
                                    <i class="ph ph-check-circle"></i>
                                </span>
                                <span class="tw-text-lg text-new-neutral-40">24/7 Priority Support</span>
                            </li>
                        </ul>
                    </div>
                    <div class="tw-mt-8 tw-px-5 tw-pb-5">
                        <a href="contact.html"
                            class="link-group style-two d-flex align-items-center gap-sm-2 gap-0 group group-item bg-brand-two text-white border border-white-20 tw-p-2 tw-ps-6 rounded-pill group-hover-bg-white overflow-hidden justify-content-between hover-bg-brand">
                            <h2 class="fw-bold h6 tw-duration-500 text-white">
                                Start 14 day trial
                            </h2>
                            <span
                                class="bg-brand text-white tw-w-9 tw-h-9 rounded-circle d-flex justify-content-center align-items-center tw-duration-500 group-hover-bg-white group-hover-text-main-600">
                                <i class="ph-bold ph-arrow-right"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- ========================== New Pricing plan one section end =========================== -->