<!-- =============================== New Two Pricing plan section start =================================== -->
<section class="new-two-pricing-plan py-120 position-relative z-1 overflow-hidden">
    <img src="assets/images/bg/new-two-pricing-plan.png" alt="Shape Image"
        class="position-absolute start-0 top-0 w-100 h-100 object-fit-cover z-n1">

    <div class="container">
        <div class="tw-mb-16">
            <div class="row gy-4">
                <div class="col-xl-8">
                    <div class="max-w-650-px">
                        <div class="d-flex align-items-center tw-gap-2">
                            <span class="d-flex tw-text-2xl text-brand">
                                <i class="ph-bold ph-sparkle"></i>
                            </span>
                            <span class="tw-text-lg text-brand">
                                Simple & Transparent Pricing
                            </span>
                        </div>
                        <h2 class="display-5 text-new-neutral-700 text-reveal-two fw-bold">
                            Choose A Plan That Aligns With Your Business Goals
                        </h2>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="position-relative">
                        <p class="tw-text-lg text-new-neutral-500">
                            Our pricing plans are designed to provide flexible and scalable IT solutions for businesses.
                        </p>
                        <div class="tw-mt-10">
                            <div class="form-check form-switch style-two ps-0 d-flex tw-gap-4 align-items-center">
                                <label
                                    class="form-check-label text-new-neutral-700 fw-semibold text-xl-res flex-shrink-0"
                                    for="pricingPlanSwitch">Monthly</label>
                                <input class="form-check-input" type="checkbox" role="switch" id="pricingPlanSwitch">
                                <label class="form-check-label text-new-neutral-700 fw-semibold text-xl-res"
                                    for="pricingPlanSwitch">
                                    Yearly
                                    <span class="fw-normal text-danger">(Save 30%)</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row gy-4 card-animation-wrapper">

            <div class="col-xl-4 col-md-6 card-animation magnetic-item">
                <div
                    class="new-pricing-plan-one__item bg-white tw-p-3 tw-rounded-2xl border border-white-20 tw-shadow-six position-relative z-1 hover-slide-animation hover-slide-animation-two">
                    <div
                        class="tw-p-5 bg-white tw-rounded-xl border border-white-20 position-relative z-1 overflow-hidden d-flex align-items-center tw-gap-6 justify-content-between">
                        <div class="">
                            <h2 class="text-new-neutral-700 h3">Basic Plan</h2>
                            <p class="tw-text-lg tw-mt-2 text-new-neutral-500">Small Businesses</p>
                        </div>
                        <span class="">
                            <img src="assets/images/icon/new-two-pricing-icon1.png" alt="Icon">
                        </span>
                    </div>
                    <div class="tw-p-5 border border-brand-20 tw-rounded-xl bg-warning-10">
                        <div class="">
                            <h2 class="h4 tw-mb-2">Subscribe for</h2>
                            <div class="d-flex align-items-center">
                                <h2
                                    class="display-5 fw-bold text-brand-neutral new-pricing-plan-one__price tw-leading-none">
                                    $599
                                </h2>
                                <span class="fw-normal h3 text-brand-neutral">/week</span>
                            </div>
                        </div>
                        <p class="tw-text-base tw-mt-3 text-new-neutral-500">Get a dedicated creative IT specialist with
                            predictable work hours & unlimited flexibility.</p>
                    </div>
                    <div
                        class="form-check form-switch style-two ps-0 d-flex tw-gap-4 align-items-center tw-mt-8 tw-mb-5">
                        <input class="form-check-input" type="checkbox" role="switch" id="pricingPlanSwitchOne">
                        <label class="form-check-label text-new-neutral-700 fw-semibold text-xl-res"
                            for="pricingPlanSwitchOne">
                            +Speed up For
                            <span class="fw-normal text-danger">$799/mon</span>
                        </label>
                    </div>
                    <div class="">
                        <a href="contact.html"
                            class="link-group style-two d-flex align-items-center justify-content-between gap-2 gap-0 group group-item bg-main-600 text-white tw-p-2 rounded-pill group-hover-bg-white overflow-hidden">
                            <span
                                class="button-icon-one bg-white text-brand tw-w-9 tw-h-9 rounded-circle d-flex justify-content-center align-items-center tw-duration-500">
                                <i class="ph-bold ph-arrow-right"></i>
                            </span>
                            <span class="fw-bold h6 tw-duration-500 text-white">
                                Start 14 day trial
                            </span>
                            <span
                                class="button-icon-two bg-white text-brand tw-w-9 tw-h-9 rounded-circle d-flex justify-content-center align-items-center tw-duration-500">
                                <i class="ph-bold ph-arrow-right"></i>
                            </span>
                        </a>
                    </div>
                    <div class="tw-p-5 tw-mt-8">
                        <h2 class="tw-text-2xl text-new-neutral-700">For growing teams</h2>
                        <ul class="tw-mt-4 d-flex flex-column tw-gap-4">
                            <li class="d-flex align-items-center tw-gap-205">
                                <span class="text-brand tw-text-2xl d-flex">
                                    <i class="ph ph-check-circle"></i>
                                </span>
                                <span class="tw-text-lg text-new-neutral-500">Contact Management</span>
                            </li>
                            <li class="d-flex align-items-center tw-gap-205">
                                <span class="text-brand tw-text-2xl d-flex">
                                    <i class="ph ph-check-circle"></i>
                                </span>
                                <span class="tw-text-lg text-new-neutral-500">Automation Workflows</span>
                            </li>
                            <li class="d-flex align-items-center tw-gap-205">
                                <span class="text-brand tw-text-2xl d-flex">
                                    <i class="ph ph-check-circle"></i>
                                </span>
                                <span class="tw-text-lg text-new-neutral-500">PayPal Mass Payout</span>
                            </li>
                            <li class="d-flex align-items-center tw-gap-205">
                                <span class="text-brand tw-text-2xl d-flex">
                                    <i class="ph ph-check-circle"></i>
                                </span>
                                <span class="tw-text-lg text-new-neutral-500">Chat and Email Support</span>
                            </li>
                            <li class="d-flex align-items-center tw-gap-205">
                                <span class="text-danger tw-text-2xl d-flex">
                                    <i class="ph ph-x-circle"></i>
                                </span>
                                <span class="tw-text-lg text-new-neutral-500">Customizable Dashboards</span>
                            </li>
                            <li class="d-flex align-items-center tw-gap-205">
                                <span class="text-danger tw-text-2xl d-flex">
                                    <i class="ph ph-x-circle"></i>
                                </span>
                                <span class="tw-text-lg text-new-neutral-500">24/7 Priority Support</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-md-6 card-animation magnetic-item">
                <div
                    class="new-pricing-plan-one__item bg-white tw-p-3 tw-rounded-2xl border border-white-20 tw-shadow-six position-relative z-1 hover-slide-animation hover-slide-animation-two">
                    <div
                        class="tw-p-5 bg-white tw-rounded-xl border border-white-20 position-relative z-1 overflow-hidden d-flex align-items-center tw-gap-6 justify-content-between">
                        <div class="">
                            <h2 class="text-new-neutral-700 h3">Pro</h2>
                            <p class="tw-text-lg tw-mt-2 text-new-neutral-500">Growing Businesses</p>
                        </div>
                        <span class="">
                            <img src="assets/images/icon/new-two-pricing-icon2.png" alt="Icon">
                        </span>
                    </div>
                    <div class="tw-p-5 border border-brand-20 tw-rounded-xl bg-warning-10">
                        <div class="">
                            <h2 class="h4 tw-mb-2">Subscribe for</h2>
                            <div class="d-flex align-items-center">
                                <h2
                                    class="display-5 fw-bold text-brand-neutral new-pricing-plan-one__price tw-leading-none">
                                    $799
                                </h2>
                                <span class="fw-normal h3 text-brand-neutral">/week</span>
                            </div>
                        </div>
                        <p class="tw-text-base tw-mt-3 text-new-neutral-500">Get a dedicated creative IT specialist with
                            predictable work hours & unlimited flexibility.</p>
                    </div>
                    <div
                        class="form-check form-switch style-two ps-0 d-flex tw-gap-4 align-items-center tw-mt-8 tw-mb-5">
                        <input class="form-check-input" type="checkbox" role="switch" id="pricingPlanSwitchTwo">
                        <label class="form-check-label text-new-neutral-700 fw-semibold text-xl-res"
                            for="pricingPlanSwitchTwo">
                            +Speed up For
                            <span class="fw-normal text-danger">$899/mon</span>
                        </label>
                    </div>
                    <div class="">
                        <a href="contact.html"
                            class="link-group style-two d-flex align-items-center justify-content-between gap-2 gap-0 group group-item bg-main-600 text-white tw-p-2 rounded-pill group-hover-bg-white overflow-hidden">
                            <span
                                class="button-icon-one bg-white text-brand tw-w-9 tw-h-9 rounded-circle d-flex justify-content-center align-items-center tw-duration-500">
                                <i class="ph-bold ph-arrow-right"></i>
                            </span>
                            <span class="fw-bold h6 tw-duration-500 text-white">
                                Start 14 day trial
                            </span>
                            <span
                                class="button-icon-two bg-white text-brand tw-w-9 tw-h-9 rounded-circle d-flex justify-content-center align-items-center tw-duration-500">
                                <i class="ph-bold ph-arrow-right"></i>
                            </span>
                        </a>
                    </div>
                    <div class="tw-p-5 tw-mt-8">
                        <h2 class="tw-text-2xl text-new-neutral-700">For growing teams</h2>
                        <ul class="tw-mt-4 d-flex flex-column tw-gap-4">
                            <li class="d-flex align-items-center tw-gap-205">
                                <span class="text-brand tw-text-2xl d-flex">
                                    <i class="ph ph-check-circle"></i>
                                </span>
                                <span class="tw-text-lg text-new-neutral-500">Contact Management</span>
                            </li>
                            <li class="d-flex align-items-center tw-gap-205">
                                <span class="text-brand tw-text-2xl d-flex">
                                    <i class="ph ph-check-circle"></i>
                                </span>
                                <span class="tw-text-lg text-new-neutral-500">Automation Workflows</span>
                            </li>
                            <li class="d-flex align-items-center tw-gap-205">
                                <span class="text-brand tw-text-2xl d-flex">
                                    <i class="ph ph-check-circle"></i>
                                </span>
                                <span class="tw-text-lg text-new-neutral-500">PayPal Mass Payout</span>
                            </li>
                            <li class="d-flex align-items-center tw-gap-205">
                                <span class="text-brand tw-text-2xl d-flex">
                                    <i class="ph ph-check-circle"></i>
                                </span>
                                <span class="tw-text-lg text-new-neutral-500">Chat and Email Support</span>
                            </li>
                            <li class="d-flex align-items-center tw-gap-205">
                                <span class="text-danger tw-text-2xl d-flex">
                                    <i class="ph ph-check-circle"></i>
                                </span>
                                <span class="tw-text-lg text-new-neutral-500">Customizable Dashboards</span>
                            </li>
                            <li class="d-flex align-items-center tw-gap-205">
                                <span class="text-danger tw-text-2xl d-flex">
                                    <i class="ph ph-x-circle"></i>
                                </span>
                                <span class="tw-text-lg text-new-neutral-500">24/7 Priority Support</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-md-6 card-animation magnetic-item">
                <div
                    class="new-pricing-plan-one__item bg-white tw-p-3 tw-rounded-2xl border border-white-20 tw-shadow-six position-relative z-1 hover-slide-animation hover-slide-animation-two">
                    <div
                        class="tw-p-5 bg-white tw-rounded-xl border border-white-20 position-relative z-1 overflow-hidden d-flex align-items-center tw-gap-6 justify-content-between">
                        <div class="">
                            <h2 class="text-new-neutral-700 h3">Enterprise</h2>
                            <p class="tw-text-lg tw-mt-2 text-new-neutral-500">Large Businesses</p>
                        </div>
                        <span class="">
                            <img src="assets/images/icon/new-two-pricing-icon3.png" alt="Icon">
                        </span>
                    </div>
                    <div class="tw-p-5 border border-brand-20 tw-rounded-xl bg-warning-10">
                        <div class="">
                            <h2 class="h4 tw-mb-2">Subscribe for</h2>
                            <div class="d-flex align-items-center">
                                <h2
                                    class="display-5 fw-bold text-brand-neutral new-pricing-plan-one__price tw-leading-none">
                                    $999
                                </h2>
                                <span class="fw-normal h3 text-brand-neutral">/week</span>
                            </div>
                        </div>
                        <p class="tw-text-base tw-mt-3 text-new-neutral-500">Get a dedicated creative IT specialist with
                            predictable work hours & unlimited flexibility.</p>
                    </div>
                    <div
                        class="form-check form-switch style-two ps-0 d-flex tw-gap-4 align-items-center tw-mt-8 tw-mb-5">
                        <input class="form-check-input" type="checkbox" role="switch" id="pricingPlanSwitchThree">
                        <label class="form-check-label text-new-neutral-700 fw-semibold text-xl-res"
                            for="pricingPlanSwitchThree">
                            +Speed up For
                            <span class="fw-normal text-danger">$1299/mon</span>
                        </label>
                    </div>
                    <div class="">
                        <a href="contact.html"
                            class="link-group style-two d-flex align-items-center justify-content-between gap-2 gap-0 group group-item bg-main-600 text-white tw-p-2 rounded-pill group-hover-bg-white overflow-hidden">
                            <span
                                class="button-icon-one bg-white text-brand tw-w-9 tw-h-9 rounded-circle d-flex justify-content-center align-items-center tw-duration-500">
                                <i class="ph-bold ph-arrow-right"></i>
                            </span>
                            <span class="fw-bold h6 tw-duration-500 text-white">
                                Start 14 day trial
                            </span>
                            <span
                                class="button-icon-two bg-white text-brand tw-w-9 tw-h-9 rounded-circle d-flex justify-content-center align-items-center tw-duration-500">
                                <i class="ph-bold ph-arrow-right"></i>
                            </span>
                        </a>
                    </div>
                    <div class="tw-p-5 tw-mt-8">
                        <h2 class="tw-text-2xl text-new-neutral-700">For growing teams</h2>
                        <ul class="tw-mt-4 d-flex flex-column tw-gap-4">
                            <li class="d-flex align-items-center tw-gap-205">
                                <span class="text-brand tw-text-2xl d-flex">
                                    <i class="ph ph-check-circle"></i>
                                </span>
                                <span class="tw-text-lg text-new-neutral-500">Contact Management</span>
                            </li>
                            <li class="d-flex align-items-center tw-gap-205">
                                <span class="text-brand tw-text-2xl d-flex">
                                    <i class="ph ph-check-circle"></i>
                                </span>
                                <span class="tw-text-lg text-new-neutral-500">Automation Workflows</span>
                            </li>
                            <li class="d-flex align-items-center tw-gap-205">
                                <span class="text-brand tw-text-2xl d-flex">
                                    <i class="ph ph-check-circle"></i>
                                </span>
                                <span class="tw-text-lg text-new-neutral-500">PayPal Mass Payout</span>
                            </li>
                            <li class="d-flex align-items-center tw-gap-205">
                                <span class="text-brand tw-text-2xl d-flex">
                                    <i class="ph ph-check-circle"></i>
                                </span>
                                <span class="tw-text-lg text-new-neutral-500">Chat and Email Support</span>
                            </li>
                            <li class="d-flex align-items-center tw-gap-205">
                                <span class="text-danger tw-text-2xl d-flex">
                                    <i class="ph ph-x-circle"></i>
                                </span>
                                <span class="tw-text-lg text-new-neutral-500">Customizable Dashboards</span>
                            </li>
                            <li class="d-flex align-items-center tw-gap-205">
                                <span class="text-danger tw-text-2xl d-flex">
                                    <i class="ph ph-x-circle"></i>
                                </span>
                                <span class="tw-text-lg text-new-neutral-500">24/7 Priority Support</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- ========================== New Two Pricing plan section end =========================== -->