<!-- ============================ New Two About section start ================================== -->
<section class="new-two-about py-120 position-relative z-1">
    <img src="assets/images/bg/new-two-about-bg.png" alt="Shape Image"
        class="position-absolute start-0 top-0 w-100 h-100 object-fit-cover z-n1">

    <div class="position-relative">
        <div class="container">
            <div class="row gy-4">
                <div class="col-lg-8">
                    <div class="">
                        <div class="tw-pb-15">
                            <div class="d-flex align-items-center tw-gap-2 tw-mb-4">
                                <span class="d-flex tw-text-2xl text-brand">
                                    <i class="ph-bold ph-sparkle"></i>
                                </span>
                                <span class="tw-text-lg text-brand">
                                    Your Trusted IT Partner
                                </span>
                            </div>
                            <div class="">
                                <h2 class="display-5 text-heading fw-bold text-reveal-two tw-leading-75"> Creating
                                    Scalable Systems For Long-Term Success
                                </h2>
                            </div>
                        </div>
                        <div
                            class="border-top border-bottom border-new-neutral-40 d-flex flex-sm-row flex-column position-relative z-1">
                            <div class="tw-py-15 w-280-px flex-shrink-0 tw-pe-11 tw-ps-6">
                                <div class="d-flex items-content-wrap tw-gap-5 justify-content-center">
                                    <div class="">
                                        <h2 class="tw-text-160-px fw-bold text-white-bg-img counter">13</h2>
                                    </div>
                                    <div class="d-flex tw-gap-4 flex-column">
                                        <span class="tw-text-lg text-new-neutral-500 writing-mode-rl tw-max-h-97-px">Of
                                            Years In
                                            Experiences</span>
                                        <span class="tw-text-9 d-flex text-danger justify-content-center">
                                            <i class="ph-bold ph-plus"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="tw-pt-15 tw-ps-11 border-start border-new-neutral-40">
                                <p class="text-new-neutral-500 tw-text-lg">We specialize in delivering advanced AI and
                                    IT solutions that help businesses innovate, scale, and succeed in a rapidly evolving
                                    digital world and drive long-term growth.</p>
                                <div class="custom-fade-animation tw-mt-10" data-delay=".7" data-fade-from="bottom"
                                    data-ease="bounce">
                                    <a href="contact.html"
                                        class="link-group style-two d-inline-flex align-items-center gap-2 gap-0 group group-item bg-main-600 text-white tw-p-2 rounded-pill group-hover-bg-white overflow-hidden">
                                        <span
                                            class="button-icon-two bg-white text-brand tw-w-9 tw-h-9 rounded-circle d-flex justify-content-center align-items-center tw-duration-500">
                                            <i class="ph-bold ph-arrow-right"></i>
                                        </span>
                                        <span class="fw-bold h6 tw-duration-500 text-white">
                                            Know About Us
                                        </span>
                                        <span
                                            class="button-icon-one bg-white text-brand tw-w-9 tw-h-9 rounded-circle d-flex justify-content-center align-items-center tw-duration-500">
                                            <i class="ph-bold ph-arrow-right"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="tw-mt-10">
                            <div class="d-flex flex-column tw-gap-3">
                                <div class="d-flex align-items-center tw-gap-3">
                                    <span class="tw-text-xl text-main-600 d-flex">
                                        <i class="ph-bold ph-check-circle"></i>
                                    </span>
                                    <span
                                        class="fw-semibold h5 text-new-neutral-500 font-body">
                                        Secure Systems Plus
                                    </span>
                                </div>
                                <div class="d-flex align-items-center tw-gap-3">
                                    <span class="tw-text-xl text-main-600 d-flex">
                                        <i class="ph-bold ph-check-circle"></i>
                                    </span>
                                    <span
                                        class="fw-semibold h5 text-new-neutral-500 font-body">
                                        Innovative Solutions
                                    </span>
                                </div>
                                <div class="d-flex align-items-center tw-gap-3">
                                    <span class="tw-text-xl text-main-600 d-flex">
                                        <i class="ph-bold ph-check-circle"></i>
                                    </span>
                                    <span
                                        class="fw-semibold h5 text-new-neutral-500 font-body">
                                        Innovative Solutions
                                    </span>
                                </div>
                                <div class="d-flex align-items-center tw-gap-3">
                                    <span class="tw-text-xl text-main-600 d-flex">
                                        <i class="ph-bold ph-check-circle"></i>
                                    </span>
                                    <span
                                        class="fw-semibold h5 text-new-neutral-500 font-body">
                                        Sustainable Growth
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ============================ New Two About section end ================================== -->