<!-- ============================= New project showcase section start ================================== -->
<section class="new-project-showcase-one py-120 position-relative z-1 overflow-hidden">
    <img src="assets/images/shape/new-why-choose-one-bg-shape.png" alt="Shape Image"
        class="position-absolute end-0 bottom-0 z-n1">
    <div class="container">
        <div class="tw-mb-15">
            <div class="row gy-4">
                <div class="col-xl-4">
                    <div class="">
                        <div class="d-flex align-items-center tw-gap-2">
                            <span class="d-flex tw-text-2xl text-brand-secondary">
                                <i class="ph-bold ph-sparkle"></i>
                            </span>
                            <span class="tw-text-lg text-brand-secondary">
                                Our Project Showcase
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-8">
                    <div class="as-portfolio-2-sec-title">
                        <h2 class="display-5 text-white fw-semibold hero-title">
                            Showcasing Innovative Solutions
                            <span class="d-flex tw-gap-3">
                                <span class="">
                                    Built For <br> Impact &
                                </span>
                                <span class="title-image-wrapper tw-invisible">
                                    <img src="assets/images/thumbs/new-project-showcase-one-title-img.png" alt="Robot"
                                        class="title-image">
                                </span>
                                <span class="">
                                    Real-World <br> Reliability
                                </span>
                            </span>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="tw-px-6">
        <div class="as-portfolio-2-height ">
            <div class="as-portfolio-2-pin ">
                <div class="as-portfolio-2-main-wrap position-relative ">

                    <div class="as-portfolio-2-big-item position-relative">
                        <div class="as-portfolio-2-item">
                            <img src="assets/images/thumbs/new-project-showcase-one-img1.png" alt="Image" class="position-absolute top-0 start-0 w-100 h-100 object-fit-cover">
                            <div class="as-portfolio-2-item-content">
                                <h4 class="as-h-2 title text-white">
                                    <a href="javascript:void(0)">
                                        Product Branding </a>
                                </h4>
                                <div class="right-content text-right">
                                    <p class="as-p-2 disc text-white">
                                        Effective product branding builds recognition, trust, and lasting customer
                                        loyalty through strategic, creative storytelling. </p>

                                    <a href="javascript:void(0)" class="item-btn">
                                        <i aria-hidden="true" class="fas fa-plus"></i> </a>
                                </div>
                            </div>
                        </div>
                        <div class="as-portfolio-2-item">
                            <img src="assets/images/thumbs/new-project-showcase-one-img2.png" alt="Image" class="position-absolute top-0 start-0 w-100 h-100 object-fit-cover">
                            <div class="as-portfolio-2-item-content">
                                <h4 class="as-h-2 title text-white">
                                    <a href="javascript:void(0)">
                                        Brand Strategy </a>
                                </h4>
                                <div class="right-content text-right">
                                    <p class="as-p-2 disc text-white">
                                        Strong brand strategy defines vision, builds consistency, and drives meaningful
                                        connections with audiences. </p>

                                    <a href="javascript:void(0)" class="item-btn">
                                        <i aria-hidden="true" class="fas fa-plus"></i> </a>
                                </div>
                            </div>
                        </div>
                        <div class="as-portfolio-2-item">
                            <img src="assets/images/thumbs/new-project-showcase-one-img3.png" alt="Image" class="position-absolute top-0 start-0 w-100 h-100 object-fit-cover">
                            <div class="as-portfolio-2-item-content">
                                <h4 class="as-h-2 title text-white">
                                    <a href="javascript:void(0)">
                                        Website Design </a>
                                </h4>
                                <div class="right-content text-right">
                                    <p class="as-p-2 disc text-white">
                                        Website design blends creativity and
                                        functionality, delivering seamless user experiences
                                        that drive engagement. </p>

                                    <a href="javascript:void(0)" class="item-btn">
                                        <i aria-hidden="true" class="fas fa-plus"></i> </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="as-portfolio-2-sm-item">
                        <div class="as-portfolio-2-sm-item-scroll">
                            <div class="as-portfolio-2-item-img wa-fix wa-img-cover tw-rounded-xl">
                                <img decoding="async" src="assets/images/thumbs/new-project-showcase-one-img1.png"
                                    alt="p2-img-1" class="">
                            </div>
                            <div class="as-portfolio-2-item-img wa-fix wa-img-cover tw-rounded-xl">
                                <img decoding="async" src="assets/images/thumbs/new-project-showcase-one-img2.png"
                                    alt="p2-img-2" class="">
                            </div>
                            <div class="as-portfolio-2-item-img wa-fix wa-img-cover tw-rounded-xl">
                                <img decoding="async" src="assets/images/thumbs/new-project-showcase-one-img3.png"
                                    alt="p2-img-3" class="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>






<section class="as-portfolio-2-area py-120 ">
    <div class="as-portfolio-2-wrap">
        <div class="container">
            <div class="as-portfolio-2-sec-title mb-75">
                <h6 class="text-white as-subtitle-2 tx-subTitle">
                    Portfolio </h6>
                <h2 class="text-white tx-title as-sec-title-2 wa_title_spilt_1">RECENTLY</h2>
            </div>

            <h2 class="text-white as-h-2 as-portfolio-2-animation-title">
                <span>WO</span>
                <span>RK</span>
            </h2>
        </div>



        <!-- <div class="as-portfolio-2-height ">
            <div class="as-portfolio-2-pin ">
                <div class="as-portfolio-2-main-wrap position-relative ">

                    <div class="as-portfolio-2-big-item position-relative">
                        <div class="as-portfolio-2-item background-img bg-cover"
                            data-background-image="assets/images/thumbs/new-project-showcase-one-img1.png">
                            <div class="as-portfolio-2-item-content">
                                <h4 class="as-h-2 title text-white">
                                    <a href="javascript:void(0)">
                                        Product Branding </a>
                                </h4>
                                <div class="right-content text-right">
                                    <p class="as-p-2 disc text-white">
                                        Effective product branding builds recognition, trust, and lasting customer
                                        loyalty through strategic, creative storytelling. </p>

                                    <a href="javascript:void(0)" class="item-btn">
                                        <i aria-hidden="true" class="fas fa-plus"></i> </a>
                                </div>
                            </div>
                        </div>
                        <div class="as-portfolio-2-item background-img bg-cover"
                            data-background-image="assets/images/thumbs/new-project-showcase-one-img2.png">
                            <div class="as-portfolio-2-item-content">
                                <h4 class="as-h-2 title text-white">
                                    <a href="javascript:void(0)">
                                        Brand Strategy </a>
                                </h4>
                                <div class="right-content text-right">
                                    <p class="as-p-2 disc text-white">
                                        Strong brand strategy defines vision, builds consistency, and drives meaningful
                                        connections with audiences. </p>

                                    <a href="javascript:void(0)" class="item-btn">
                                        <i aria-hidden="true" class="fas fa-plus"></i> </a>
                                </div>
                            </div>
                        </div>
                        <div class="as-portfolio-2-item background-img bg-cover"
                            data-background-image="assets/images/thumbs/new-project-showcase-one-img3.png">
                            <div class="as-portfolio-2-item-content">
                                <h4 class="as-h-2 title text-white">
                                    <a href="javascript:void(0)">
                                        Website Design </a>
                                </h4>
                                <div class="right-content text-right">
                                    <p class="as-p-2 disc text-white">
                                        Website design blends creativity and
                                        functionality, delivering seamless user experiences
                                        that drive engagement. </p>

                                    <a href="javascript:void(0)" class="item-btn">
                                        <i aria-hidden="true" class="fas fa-plus"></i> </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="as-portfolio-2-sm-item">
                        <div class="as-portfolio-2-sm-item-scroll">
                            <div class="as-portfolio-2-item-img wa-fix wa-img-cover tw-rounded-xl">
                                <img decoding="async" src="assets/images/thumbs/new-project-showcase-one-img1.png"
                                    alt="p2-img-1" class="">
                            </div>
                            <div class="as-portfolio-2-item-img wa-fix wa-img-cover tw-rounded-xl">
                                <img decoding="async" src="assets/images/thumbs/new-project-showcase-one-img2.png"
                                    alt="p2-img-2" class="">
                            </div>
                            <div class="as-portfolio-2-item-img wa-fix wa-img-cover tw-rounded-xl">
                                <img decoding="async" src="assets/images/thumbs/new-project-showcase-one-img3.png"
                                    alt="p2-img-3" class="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->




    </div>
</section>
<!-- ============================= New project showcase section end ================================== -->