<!-- ============================ New Banner one section start ================================ -->
<section class="new-banner-one py-120 position-relative z-1">
    <div class="position-absolute top-0 start-0 w-100 h-100 z-n1">
        <img src="assets/images/bg/new-banner-bg.png" alt="Banner BG" class="w-100 h-100 object-fit-cover">
    </div>
    
    <div class="container max-w-1560-px">
        <div class="">
            <h1 class="display-1 fw-bold text-white tw-leading-11">
                <span class="text-brand-secondary text-decoration-underline fw-medium">Next-Gen</span> <span class="stroke-black">IT</span>
                <br>
                <span class="banner-bottom-title stroke-black">AI Solutions</span>
            </h1>
        </div>
    </div>
</section>
<!-- ============================ New Banner one section end ================================ -->