<!-- ==================== Footer New Start Here ==================== -->
<footer class="position-relative z-1 w-100 py-120">
    <div class="position-absolute z-n1 z-n1 top-0 start-0">
        <img src="assets/images/shape/corner-left-shape.png" alt="corner shape">
    </div>
    <div class="position-absolute z-n1 z-n1 bottom-0 end-0">
        <img src="assets/images/shape/corner-right-shape.png" alt="corner shape">
    </div>
    <div class="position-absolute z-n1 top-50 translate-middle-y start-0 max-w-17-percent">
        <img src="assets/images/shape/new-faq-one-element1.png" alt="Element" data-speed=".7">
    </div>
    <div class="position-absolute z-n1 top-50 translate-middle-y end-0 max-w-17-percent">
        <img src="assets/images/shape/new-faq-one-element2.png" alt="Element" data-speed="1.3">
    </div>


    <div class="container">
        <div class="row gy-5">
            <div class="col-lg-4">
                <div class="max-w-260-px">
                    <h2 class="text-white h3 text-reveal tw-mb-6">Newsletter</h2>
                    <div class="">
                        <p class="text-white text-new-neutral-30">Subscribe to our newsletter for the latest updates</p>
                        <form action="#" class="position-relative tw-mt-6">
                            <input type="text" class="bg-brand-two border border-white-20 rounded-pill tw-py-405 tw-ps-6 tw-pe-90-px w-100 text-white" placeholder="Email address">
                            <button type="submit" class="bg-brand tw-py-305 tw-px-6 rounded-pill d-flex justify-content-center align-items-center text-white position-absolute top-50 translate-middle-y tw-end-0 tw-me-3">
                                <i class="ph-fill ph-paper-plane-right"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="max-w-260-px">
                    <h2 class="text-white h3 text-reveal tw-mb-6">Quick Link</h2>
                    <ul class="d-flex flex-column tw-gap-4">
                        <li class="">
                            <a href="about.html" class="hover-effect-link text-new-neutral-30 hover-text-brand-secondary position-relative">About us</a>
                        </li>
                        <li class="">
                            <a href="about.html" class="hover-effect-link text-new-neutral-30 hover-text-brand-secondary position-relative">Services</a>
                        </li>
                        <li class="">
                            <a href="about.html" class="hover-effect-link text-new-neutral-30 hover-text-brand-secondary position-relative">Portfolios</a>
                        </li>
                        <li class="">
                            <a href="about.html" class="hover-effect-link text-new-neutral-30 hover-text-brand-secondary position-relative">Blogs</a>
                        </li>
                        <li class="">
                            <a href="about.html" class="hover-effect-link text-new-neutral-30 hover-text-brand-secondary position-relative">FAQs</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="max-w-260-px">
                    <h2 class="text-white h3 text-reveal tw-mb-6">More Link</h2>
                    <ul class="d-flex flex-column tw-gap-4">
                        <li class="">
                            <a href="about.html" class="hover-effect-link text-new-neutral-30 hover-text-brand-secondary position-relative">Contact Us</a>
                        </li>
                        <li class="">
                            <a href="about.html" class="hover-effect-link text-new-neutral-30 hover-text-brand-secondary position-relative">Sign Up</a>
                        </li>
                        <li class="">
                            <a href="about.html" class="hover-effect-link text-new-neutral-30 hover-text-brand-secondary position-relative">Sign In</a>
                        </li>
                        <li class="">
                            <a href="about.html" class="hover-effect-link text-new-neutral-30 hover-text-brand-secondary position-relative">404 Error</a>
                        </li>
                        <li class="">
                            <a href="about.html" class="hover-effect-link text-new-neutral-30 hover-text-brand-secondary position-relative">Help Center</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    
    
  
</footer>
<!-- ==================== Footer New End Here ==================== -->