<!-- ============================= new marquee one start ====================================-->
<section class="tw-py-12 bg-brand">
    <div class="marquee_left style-two d-flex align-items-center tw-gap-8 overflow-hidden">
        <div class="d-flex align-items-center tw-gap-10">
            <h2 class="display-4 text-stroke-white fw-bold tw-duration-200 text-uppercase">
                <span class="text-hover-animation-scale hover-text-white">Productivity</span>
            </h2>
        </div>
        <div class="d-flex align-items-center tw-gap-10 group group-item">
            <img src="assets/images/icon/four-star-icon.png" alt="Star Icon"
                class="animation-rotate">
        </div>
        <div class="d-flex align-items-center tw-gap-10">
            <h2 class="display-4 text-stroke-white fw-bold tw-duration-200 text-uppercase">
                <span class="text-hover-animation-scale hover-text-white">Integration</span>
            </h2>
        </div>
        <div class="d-flex align-items-center tw-gap-10 group group-item">
            <img src="assets/images/icon/four-star-icon.png" alt="Star Icon"
                class="animation-rotate">
        </div>
        <div class="d-flex align-items-center tw-gap-10">
            <h2 class="display-4 text-stroke-white fw-bold tw-duration-200 text-uppercase">
                <span class="text-hover-animation-scale hover-text-white">Automation</span>
            </h2>
        </div>
        <div class="d-flex align-items-center tw-gap-10 group group-item">
            <img src="assets/images/icon/four-star-icon.png" alt="Star Icon"
                class="animation-rotate">
        </div>
        <div class="d-flex align-items-center tw-gap-10">
            <h2 class="display-4 text-stroke-white fw-bold tw-duration-200 text-uppercase">
                <span class="text-hover-animation-scale hover-text-white">Security</span>
            </h2>
        </div>
        <div class="d-flex align-items-center tw-gap-10 group group-item">
            <img src="assets/images/icon/four-star-icon.png" alt="Star Icon"
                class="animation-rotate">
        </div>
        <div class="d-flex align-items-center tw-gap-10">
            <h2 class="display-4 text-stroke-white fw-bold tw-duration-200 text-uppercase">
                <span class="text-hover-animation-scale hover-text-white">Support</span>
            </h2>
        </div>
        <div class="d-flex align-items-center tw-gap-10 group group-item">
            <img src="assets/images/icon/four-star-icon.png" alt="Star Icon"
                class="animation-rotate">
        </div>
    </div>
</section>
<!-- ============================= new marquee one end ====================================-->