<!-- ============================ New two faq section start ============================== -->
<section class="new-two-faq py-120 position-relative z-1">
    <img src="assets/images/bg/new-two-faq-bg.png" alt="Shape Image"
        class="position-absolute start-0 top-0 w-100 h-100 object-fit-cover z-n1">
    
    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-6">
                <div class="max-w-550-px">
                    <div class="max-w-650-px">
                        <div class="d-flex align-items-center tw-gap-2">
                            <span class="d-flex tw-text-2xl text-brand">
                                <i class="ph-bold ph-sparkle"></i>
                            </span>
                            <span class="tw-text-lg text-brand">
                                Common Questions & Answers !
                            </span>
                        </div>
                        <h2 class="display-5 text-new-neutral-700 text-reveal-two fw-bold tw-mt-4">
                            Quick Answers To Help You Get Started
                        </h2>
                    </div>
                    <div class="pt-120">
                        <div class="tw-p-8 tw-rounded-xl bg-warning-50 border border-brand-20">
                            <h2 class="h4 tw-mb-4">Still have a questions?</h2>
                            <p class="text-new-neutral-500">Struggling to find what you need? Reach out to our IT
                                support team for assistance and gain the confidence to proceed.</p>
                            <div class="custom-fade-animation tw-mt-10" data-delay=".7" data-fade-from="bottom"
                                data-ease="bounce">
                                <a href="tel:(308)555-0121"
                                    class="link-group style-two d-inline-flex align-items-center gap-2 gap-0 group group-item bg-main-600 text-white tw-p-2 rounded-pill group-hover-bg-white overflow-hidden">
                                    <span
                                        class="button-icon-two bg-white text-brand tw-w-9 tw-h-9 rounded-circle d-flex justify-content-center align-items-center tw-duration-500">
                                        <i class="ph ph-headset"></i>
                                    </span>
                                    <span class="fw-bold h6 tw-duration-500 text-white">
                                        Contact Support
                                    </span>
                                    <span
                                        class="button-icon-one bg-white text-brand tw-w-9 tw-h-9 rounded-circle d-flex justify-content-center align-items-center tw-duration-500">
                                        <i class="ph ph-headset"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="">
                    <div class="accordion accordion-new-style-two style-two-three" id="accordionExampleTwo">
                        <div
                            class="accordion-item bg-warning-50 border border-brand-20 tw-rounded-40-px overflow-hidden">
                            <h2 class="accordion-header">
                                <button
                                    class="accordion-button bg-transparent border-0 shadow-none text-white tw-py-6 tw-ps-6"
                                    type="button" data-bs-toggle="collapse" data-bs-target="#collapseOnee"
                                    aria-expanded="true" aria-controls="collapseOnee">
                                    <span class="d-flex align-items-center tw-gap-3">
                                        <span class="h4 tw-hidden text-brand-neutral">What services does ITecho provide?</span>
                                    </span>
                                </button>
                            </h2>
                            <div id="collapseOnee" class="accordion-collapse collapse show"
                                data-bs-parent="#accordionExampleTwo">
                                <div class="accordion-body tw-p-6 pt-0">
                                    <p class="text-new-neutral-700">
                                        Yes, we specialize in building custom AI solutions tailored to your business
                                        needs, ensuring the technology aligns perfectly with your goals.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div
                            class="accordion-item bg-warning-50 border border-brand-20 tw-rounded-40-px overflow-hidden">
                            <h2 class="accordion-header">
                                <button
                                    class="accordion-button bg-transparent border-0 shadow-none text-white tw-py-6 tw-ps-6 collapsed"
                                    type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwoe"
                                    aria-expanded="false" aria-controls="collapseTwoe">
                                    <span class="d-flex align-items-center tw-gap-3">
                                        <span class="h4 tw-hidden text-brand-neutral">How can AI benefit my business?</span>
                                    </span>
                                </button>
                            </h2>
                            <div id="collapseTwoe" class="accordion-collapse collapse"
                                data-bs-parent="#accordionExampleTwo">
                                <div class="accordion-body tw-p-6 pt-0">
                                    <p class="text-new-neutral-700">
                                        Yes, we specialize in building custom AI solutions tailored to your business
                                        needs, ensuring the technology aligns perfectly with your goals.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div
                            class="accordion-item bg-warning-50 border border-brand-20 tw-rounded-40-px overflow-hidden">
                            <h2 class="accordion-header">
                                <button
                                    class="accordion-button bg-transparent border-0 shadow-none text-white tw-py-6 tw-ps-6 collapsed"
                                    type="button" data-bs-toggle="collapse" data-bs-target="#collapseThreee"
                                    aria-expanded="false" aria-controls="collapseThreee">
                                    <span class="d-flex align-items-center tw-gap-3">
                                        <span class="h4 tw-hidden text-brand-neutral">Do you offer custom AI solutions?</span>
                                    </span>
                                </button>
                            </h2>
                            <div id="collapseThreee" class="accordion-collapse collapse"
                                data-bs-parent="#accordionExampleTwo">
                                <div class="accordion-body tw-p-6 pt-0">
                                    <p class="text-new-neutral-700">
                                        Yes, we specialize in building custom AI solutions tailored to your business
                                        needs, ensuring the technology aligns perfectly with your goals.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div
                            class="accordion-item bg-warning-50 border border-brand-20 tw-rounded-40-px overflow-hidden">
                            <h2 class="accordion-header">
                                <button
                                    class="accordion-button bg-transparent border-0 shadow-none text-white tw-py-6 tw-ps-6 collapsed"
                                    type="button" data-bs-toggle="collapse" data-bs-target="#collapseFourr"
                                    aria-expanded="false" aria-controls="collapseFourr">
                                    <span class="d-flex align-items-center tw-gap-3">
                                        <span class="h4 tw-hidden text-brand-neutral">Do you offer custom AI solutions?</span>
                                    </span>
                                </button>
                            </h2>
                            <div id="collapseFourr" class="accordion-collapse collapse"
                                data-bs-parent="#accordionExampleTwo">
                                <div class="accordion-body tw-p-6 pt-0">
                                    <p class="text-new-neutral-700">
                                        Yes, we specialize in building custom AI solutions tailored to your business
                                        needs, ensuring the technology aligns perfectly with your goals.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div
                            class="accordion-item bg-warning-50 border border-brand-20 tw-rounded-40-px overflow-hidden">
                            <h2 class="accordion-header">
                                <button
                                    class="accordion-button bg-transparent border-0 shadow-none text-white tw-py-6 tw-ps-6 collapsed"
                                    type="button" data-bs-toggle="collapse" data-bs-target="#collapseFivee"
                                    aria-expanded="false" aria-controls="collapseFivee">
                                    <span class="d-flex align-items-center tw-gap-3">
                                        <span class="h4 tw-hidden text-brand-neutral">Do you offer custom AI solutions?</span>
                                    </span>
                                </button>
                            </h2>
                            <div id="collapseFivee" class="accordion-collapse collapse"
                                data-bs-parent="#accordionExampleTwo">
                                <div class="accordion-body tw-p-6 pt-0">
                                    <p class="text-new-neutral-700">
                                        Yes, we specialize in building custom AI solutions tailored to your business
                                        needs, ensuring the technology aligns perfectly with your goals.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ============================ New two faq section end ============================== -->