<!-- ==================== Header Start Here ==================== -->
<header class="header bg-brand-one tw-transition-all tw-z-99">
    <div class="container container-two">
        <nav class="d-flex align-items-center justify-content-between position-relative">

            <!-- Logo Start -->
            <div class="logo tw-py-3">
                <a href="index.html" class="link">
                    <img src="assets/images/logo/logo-new-white.png" alt="Logo" class="max-w-200-px">
                </a>
            </div>
            <!-- Logo End  -->

            <!-- Menu Start  -->
            <div class="header-menu d-lg-block d-none menu-white">
                @@include('../partials/_nav-menu.html', { "class" : "tw-gap-6" })
            </div>
            <!-- Menu End  -->

            <!-- Header Right start -->
            <div class="d-flex align-items-center tw-gap-3">
                <div class="d-md-block d-none">
                    <button type="button"
                        class="open-search bg-brand-two tw-text-505 tw-w-13 tw-h-13 bg-neutral-60 rounded-circle d-flex align-items-center justify-content-center">
                        <i class="ph-bold ph-magnifying-glass"></i>
                    </button>
                </div>  
                <div class="d-sm-block d-none">
                    <a href="contact.html"
                        class="link-group style-two d-inline-flex align-items-center tw-gap-2 group group-item bg-main-600 text-white tw-p-2 rounded-pill group-hover-bg-white overflow-hidden">
                        <span
                            class="button-icon-two bg-white text-brand tw-w-9 tw-h-9 rounded-circle d-flex justify-content-center align-items-center tw-duration-500">
                            <i class="ph-bold ph-arrow-right"></i>
                        </span>
                        <h2 class="fw-bold h6 tw-duration-500 text-white">
                            Get In Touch
                        </h2>
                        <span
                            class="button-icon-one bg-white text-brand tw-w-9 tw-h-9 rounded-circle d-flex justify-content-center align-items-center tw-duration-500">
                            <i class="ph-bold ph-arrow-right"></i>
                        </span>
                    </a>
                </div>
                <button type="button"
                    class="tw-w-13 tw-h-13 bg-brand-secondary text-brand-neutral rounded-circle d-flex justify-content-center align-items-center tw-text-2xl hover-bg-white tw-duration-500">
                    <i class="ph-bold ph-dots-nine"></i>
                </button>
            </div>
            <button type="button" class="toggle-mobileMenu leading-none d-lg-none ms-3 text-neutral-800 tw-text-9">
                <i class="ph ph-list"></i>
            </button>
            <!-- Header Right End  -->
        </nav>
    </div>
</header>
<!-- ==================== Header End Here ==================== -->