<!-- =============================== New FAQ section start =================================== -->
<section class="new-faq-one py-120 position-relative z-1">
    <div class="position-absolute z-n1 top-0 start-0">
        <img src="assets/images/shape/corner-left-shape.png" alt="corner shape">
    </div>
    <div class="position-absolute z-n1 bottom-0 end-0">
        <img src="assets/images/shape/corner-right-shape.png" alt="corner shape">
    </div>
    <div class="position-absolute top-50 translate-middle-y start-0">
        <img src="assets/images/shape/new-faq-one-element1.png" alt="Element"  data-speed=".8">
    </div>
    <div class="position-absolute top-50 translate-middle-y end-0">
        <img src="assets/images/shape/new-faq-one-element2.png" alt="Element"  data-speed="1.2">
    </div>
    
    
    <div class="container">
         <div class="tw-mb-17">
            <div class="row gy-4">
                <div class="col-lg-4">
                    <div class="">
                        <div class="d-flex align-items-center tw-gap-2">
                            <span class="d-flex tw-text-2xl text-brand-secondary">
                                <i class="ph-bold ph-sparkle"></i>
                            </span>
                            <span class="tw-text-lg text-brand-secondary">
                                Why Choose ITecho
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="position-relative">
                        <h2 class="display-1 fw-bold text-stroke position-absolute bottom-100 start-0 tw-leading-0 tw-mb-205">Services</h2>
                        <p class="text-white tw-text-lg text-reveal tw-leading-06 fw-medium">We offer a comprehensive range of IT and AI-powered services designed to help businesses innovate, scale, and succeed in a competitive digital landscape. From custom development to intelligent automation, our solutions are tailored to meet your unique needs and deliver measurable results.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="">
            <div class=""></div>
        </div>
    </div>
</section>
<!-- =============================== New FAQ section end =================================== -->