<!-- ============================    =========================== -->
<section class="new-two-blog py-120 position-relative z-1">
    <img src="assets/images/bg/new-two-testimonials-bg.png" alt="Shape Image"
        class="position-absolute start-0 top-0 w-100 h-100 object-fit-cover z-n1">

    <div class="container">
        <div class="tw-mb-16">
            <div class="row gy-4">
                <div class="col-xl-4">
                    <div class="">
                        <div class="d-flex align-items-center tw-gap-2">
                            <span class="d-flex tw-text-2xl text-brand">
                                <i class="ph-bold ph-sparkle"></i>
                            </span>
                            <span class="tw-text-lg text-brand">
                                Latest Insights & News
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-8">
                    <div class="">
                        <h2 class="display-5 text-white fw-semibold text-reveal-two tw-leading-75"> Keep Yourself
                            Informed About The Newest Trends In Technology.</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="row gy-4">
            <div class="col-xl-4 col-lg-6">
                <div class="new-two-blog__item">
                    <div class="position-relative z-1">
                        <a href="blog-details.html"
                            class="image-double-animation clip-animation overflow-hidden position-relative d-block h-100 tw-duration-500">
                            <img src="assets/images/thumbs/new-two-blog-img1.png" alt="Image" data-animate="true"
                                class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                            <img src="assets/images/thumbs/new-two-blog-img1.png" alt="Image"
                                class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                        </a>
                        <div
                            class="bg-white d-inline-flex flex-column position-absolute top-0 tw-end-0 tw-mt-4 tw-me-4 tw-rounded-lg z- overflow-hidden z-1">
                            <span class="h2 text-white bg-brand tw-py-2 tw-px-4">25</span>
                            <span class="text-heading tw-py-2 tw-px-4">May, 26</span>
                        </div>
                    </div>
                    <div class="new-two-blog__content tw-p-6 tw-rounded-xl">
                        <div class="">
                            <div class="d-flex align-items-center tw-gap-3">
                                <span
                                    class="tw-py-105 tw-px-4 rounded-pill bg-brand-secondary text-brand-neutral tw-text-lg fw-bold">Cloud
                                    Security</span>
                                <span class="tw-w-1 tw-h-1 bg-danger rounded-circle"></span>
                                <div class="d-flex align-items-center tw-gap-105">
                                    <span class="d-flex text-brand tw-text-2xl">
                                        <i class="ph-bold ph-chat-centered-text"></i>
                                    </span>
                                    <p class="text-brand-neutral">
                                        <span class="fw-bold">216</span> Comments
                                    </p>
                                </div>
                            </div>
                            <h2
                                class="h3 tw-mt-6 border-start border-3 border-brand-secondary-three tw-ps-5 tw-duration-500">
                                <a href="blog-details"
                                    class="hover-common-underline tw-duration-500 hover-text-main-600">Building Scalable
                                    Tech Systems</a>
                            </h2>

                            <div class="new-two-blog__hidden tw-pt-6 tw-mt-6 border-top border-new-neutral-40">
                                <div class="d-flex align-items-center tw-gap-4 flex-wrap justify-content-between">
                                    <div class="d-flex align-items-center tw-gap-2">
                                        <span class="tw-w-11 tw-h-11 rounded-circle overflow-hidden">
                                            <img src="assets/images/thumbs/client-img2.png" alt="Image"
                                                class="w-100 h-100 object-fit-cover">
                                        </span>
                                        <div class="">
                                            <h2 class="tw-text-base text-new-neutral-700 font-body">Esther Howard</h2>
                                            <span class="text-new-neutral-500 tw-text-sm">Psychologist</span>
                                        </div>
                                    </div>
                                    <div class="">
                                        <a href="blog-details.html"
                                            class="d-inline-flex align-items-center tw-gap-205 text-brand fw-bold hover-text-brand-secondary hover-common-underline">
                                            <span class="fw-medium">Read More</span>
                                            <span class="tw-text-lg d-flex">
                                                <i class="ph-bold ph-arrow-up-right"></i>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- ============================ new two testimonials end =========================== -->