<!-- =============================== New top header one start ================================ -->
<div class="new-top-header-one tw-py-3">
    <div class="container">
        <div class="d-flex items-content-wrap tw-gap-2 fw-medium">
            <span class="d-flex tw-text-lg text-white">
                <i class="ph ph-phone-call"></i>
            </span>
            <a href="(308)555-0121" class="d-flex hover-common-underline text-white fw-medium">(308) 555-0121</a>
        </div>
    </div>
</div>
<!-- =============================== New top header one end ================================ -->