<!-- ============================= New project showcase section start ================================== -->
<section class="new-project-showcase-one py-120 position-relative z-1 overflow-hidden">
    <img src="assets/images/shape/new-why-choose-one-bg-shape.png" alt="Shape Image"
        class="position-absolute end-0 bottom-0 z-n1">
    <div class="container">
        <div class="tw-mb-15">
            <div class="row gy-4">
                <div class="col-xl-4">
                    <div class="">
                        <div class="d-flex align-items-center tw-gap-2">
                            <span class="d-flex tw-text-2xl text-brand-secondary">
                                <i class="ph-bold ph-sparkle"></i>
                            </span>
                            <span class="tw-text-lg text-brand-secondary">
                                Our Project Showcase
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-8">
                    <div class="">
                        <h2 class="display-5 text-white fw-semibold hero-title">
                            Showcasing Innovative Solutions
                            Built For
                            <span class="title-image-wrapper">
                                <img src="assets/images/thumbs/new-project-showcase-one-title-img.png" alt="Robot" class="title-image">
                            </span>
                            Real-World
                            Impact & Reliability
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- ============================= New project showcase section end ================================== -->