<!-- ================================= New two team start ==================================== -->
<section class="new-two-team py-120 position-relative z-1">
    <img src="assets/images/bg/new-two-team-bg.png" alt="Shape Image"
        class="position-absolute start-0 top-0 w-100 h-100 object-fit-cover z-n1">

    <div class="container max-w-1560-px">
        <div class="tw-mb-16">
            <div class="row gy-4">
                <div class="col-xl-8">
                    <div class="max-w-760-px">
                        <div class="d-flex align-items-center tw-gap-2">
                            <span class="d-flex tw-text-2xl text-brand">
                                <i class="ph-bold ph-sparkle"></i>
                            </span>
                            <span class="tw-text-lg text-brand">
                                Our Dedicated Team
                            </span>
                        </div>
                        <h2 class="display-5 text-new-neutral-700 text-reveal-two fw-bold tw-mt-4">
                            Meet The Professionals Behind Our Innovative Solutions
                        </h2>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="position-relative max-w-510-px">
                        <p class="tw-text-lg text-new-neutral-500">
                            We are passionate about innovation, committed to quality, and focused on delivering reliable
                            and scalable solutions.
                        </p>
                        <div class="tw-mt-10">
                            <div class="custom-fade-animation tw-mt-10" data-delay=".7" data-fade-from="bottom"
                                data-ease="bounce">
                                <a href="team.html"
                                    class="link-group style-two d-inline-flex align-items-center gap-2 gap-0 group group-item bg-main-600 text-white tw-p-2 rounded-pill group-hover-bg-white overflow-hidden">
                                    <span
                                        class="button-icon-two bg-white text-brand tw-w-9 tw-h-9 rounded-circle d-flex justify-content-center align-items-center tw-duration-500">
                                        <i class="ph-bold ph-arrow-right"></i>
                                    </span>
                                    <span class="fw-bold h6 tw-duration-500 text-white">
                                        See All Members
                                    </span>
                                    <span
                                        class="button-icon-one bg-white text-brand tw-w-9 tw-h-9 rounded-circle d-flex justify-content-center align-items-center tw-duration-500">
                                        <i class="ph-bold ph-arrow-right"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tw-rounded-2xl overflow-hidden">
            <div class="row">
                <div class="col-lg-3 col-sm-6 px-0">
                    <div class="new-two-team__item position-relative on-hover-item">
                        <a href="team-details.html"
                            class="image-double-animation clip-animation overflow-hidden position-relative d-block h-100 tw-duration-500">
                            <img src="assets/images/thumbs/new-two-team-img1.png" alt="Image" data-animate="true"
                                class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                            <img src="assets/images/thumbs/new-two-team-img1.png" alt="Image"
                                class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                        </a>
                        <div
                            class="new-two-team__content d-inline-flex flex-column align-items-end position-absolute bottom-0 end-0 tw-p-6 z-1 tw-duration-500">
                            <a href="team-details.html"
                                class="h4 text-white bg-brand tw-py-2 tw-px-4 tw-rounded tw-mb-2 d-inline-block">
                                CRM Automation System</a>
                            <span class="text-heading fw-medium bg-white tw-py-2 tw-px-4 tw-rounded">Business
                                Solutions</span>
                        </div>
                        <div class="new-two-team__socials position-absolute top-0 start-0 tw-mt-6 tw-ms-6 z-1">
                            <ul class="d-flex flex-column tw-gap-1 on-hover-animation-item">
                                <li class="tw-duration-300">
                                    <a href="https://www.facebook.com"
                                        class="tw-w-10 tw-h-10 bg-white rounded-circle d-flex justify-content-center align-items-center tw-text-xl hover-bg-brand-secondary-three hover-text-white tw-duration-300">
                                        <i class="ph-bold ph-facebook-logo"></i>
                                    </a>
                                </li>
                                <li class="tw-duration-300">
                                    <a href="https://www.instagram.com"
                                        class="tw-w-10 tw-h-10 bg-white rounded-circle d-flex justify-content-center align-items-center tw-text-xl hover-bg-brand-secondary-three hover-text-white tw-duration-300">
                                        <i class="ph-bold ph-instagram-logo"></i>
                                    </a>
                                </li>
                                <li class="tw-duration-300">
                                    <a href="https://www.pinterest.com"
                                        class="tw-w-10 tw-h-10 bg-white rounded-circle d-flex justify-content-center align-items-center tw-text-xl hover-bg-brand-secondary-three hover-text-white tw-duration-300">
                                        <i class="ph-bold ph-pinterest-logo"></i>
                                    </a>
                                </li>
                                <li class="tw-duration-300">
                                    <a href="https://www.linkedin.com"
                                        class="tw-w-10 tw-h-10 bg-white rounded-circle d-flex justify-content-center align-items-center tw-text-xl hover-bg-brand-secondary-three hover-text-white tw-duration-300">
                                        <i class="ph-bold ph-linkedin-logo"></i>
                                    </a>
                                </li>
                                <li class="tw-duration-300">
                                    <a href="https://www.discord.com"
                                        class="tw-w-10 tw-h-10 bg-white rounded-circle d-flex justify-content-center align-items-center tw-text-xl hover-bg-brand-secondary-three hover-text-white tw-duration-300">
                                        <i class="ph-bold ph-discord-logo"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 px-0">
                    <div class="new-two-team__item position-relative on-hover-item">
                        <a href="team-details.html"
                            class="image-double-animation clip-animation overflow-hidden position-relative d-block h-100 tw-duration-500">
                            <img src="assets/images/thumbs/new-two-team-img2.png" alt="Image" data-animate="true"
                                class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                            <img src="assets/images/thumbs/new-two-team-img2.png" alt="Image"
                                class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                        </a>
                        <div
                            class="new-two-team__content d-inline-flex flex-column align-items-end position-absolute bottom-0 end-0 tw-p-6 z-1 tw-duration-500">
                            <a href="team-details.html"
                                class="h4 text-white bg-brand tw-py-2 tw-px-4 tw-rounded tw-mb-2 d-inline-block">
                                CRM Automation System</a>
                            <span class="text-heading fw-medium bg-white tw-py-2 tw-px-4 tw-rounded">Business
                                Solutions</span>
                        </div>
                        <div class="new-two-team__socials position-absolute top-0 start-0 tw-mt-6 tw-ms-6 z-1">
                            <ul class="d-flex flex-column tw-gap-1 on-hover-animation-item">
                                <li class="tw-duration-300">
                                    <a href="https://www.facebook.com"
                                        class="tw-w-10 tw-h-10 bg-white rounded-circle d-flex justify-content-center align-items-center tw-text-xl hover-bg-brand-secondary-three hover-text-white tw-duration-300">
                                        <i class="ph-bold ph-facebook-logo"></i>
                                    </a>
                                </li>
                                <li class="tw-duration-300">
                                    <a href="https://www.instagram.com"
                                        class="tw-w-10 tw-h-10 bg-white rounded-circle d-flex justify-content-center align-items-center tw-text-xl hover-bg-brand-secondary-three hover-text-white tw-duration-300">
                                        <i class="ph-bold ph-instagram-logo"></i>
                                    </a>
                                </li>
                                <li class="tw-duration-300">
                                    <a href="https://www.pinterest.com"
                                        class="tw-w-10 tw-h-10 bg-white rounded-circle d-flex justify-content-center align-items-center tw-text-xl hover-bg-brand-secondary-three hover-text-white tw-duration-300">
                                        <i class="ph-bold ph-pinterest-logo"></i>
                                    </a>
                                </li>
                                <li class="tw-duration-300">
                                    <a href="https://www.linkedin.com"
                                        class="tw-w-10 tw-h-10 bg-white rounded-circle d-flex justify-content-center align-items-center tw-text-xl hover-bg-brand-secondary-three hover-text-white tw-duration-300">
                                        <i class="ph-bold ph-linkedin-logo"></i>
                                    </a>
                                </li>
                                <li class="tw-duration-300">
                                    <a href="https://www.discord.com"
                                        class="tw-w-10 tw-h-10 bg-white rounded-circle d-flex justify-content-center align-items-center tw-text-xl hover-bg-brand-secondary-three hover-text-white tw-duration-300">
                                        <i class="ph-bold ph-discord-logo"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 px-0">
                    <div class="new-two-team__item position-relative on-hover-item">
                        <a href="team-details.html"
                            class="image-double-animation clip-animation overflow-hidden position-relative d-block h-100 tw-duration-500">
                            <img src="assets/images/thumbs/new-two-team-img3.png" alt="Image" data-animate="true"
                                class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                            <img src="assets/images/thumbs/new-two-team-img3.png" alt="Image"
                                class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                        </a>
                        <div
                            class="new-two-team__content d-inline-flex flex-column align-items-end position-absolute bottom-0 end-0 tw-p-6 z-1 tw-duration-500">
                            <a href="team-details.html"
                                class="h4 text-white bg-brand tw-py-2 tw-px-4 tw-rounded tw-mb-2 d-inline-block">
                                CRM Automation System</a>
                            <span class="text-heading fw-medium bg-white tw-py-2 tw-px-4 tw-rounded">Business
                                Solutions</span>
                        </div>
                        <div class="new-two-team__socials position-absolute top-0 start-0 tw-mt-6 tw-ms-6 z-1">
                            <ul class="d-flex flex-column tw-gap-1 on-hover-animation-item">
                                <li class="tw-duration-300">
                                    <a href="https://www.facebook.com"
                                        class="tw-w-10 tw-h-10 bg-white rounded-circle d-flex justify-content-center align-items-center tw-text-xl hover-bg-brand-secondary-three hover-text-white tw-duration-300">
                                        <i class="ph-bold ph-facebook-logo"></i>
                                    </a>
                                </li>
                                <li class="tw-duration-300">
                                    <a href="https://www.instagram.com"
                                        class="tw-w-10 tw-h-10 bg-white rounded-circle d-flex justify-content-center align-items-center tw-text-xl hover-bg-brand-secondary-three hover-text-white tw-duration-300">
                                        <i class="ph-bold ph-instagram-logo"></i>
                                    </a>
                                </li>
                                <li class="tw-duration-300">
                                    <a href="https://www.pinterest.com"
                                        class="tw-w-10 tw-h-10 bg-white rounded-circle d-flex justify-content-center align-items-center tw-text-xl hover-bg-brand-secondary-three hover-text-white tw-duration-300">
                                        <i class="ph-bold ph-pinterest-logo"></i>
                                    </a>
                                </li>
                                <li class="tw-duration-300">
                                    <a href="https://www.linkedin.com"
                                        class="tw-w-10 tw-h-10 bg-white rounded-circle d-flex justify-content-center align-items-center tw-text-xl hover-bg-brand-secondary-three hover-text-white tw-duration-300">
                                        <i class="ph-bold ph-linkedin-logo"></i>
                                    </a>
                                </li>
                                <li class="tw-duration-300">
                                    <a href="https://www.discord.com"
                                        class="tw-w-10 tw-h-10 bg-white rounded-circle d-flex justify-content-center align-items-center tw-text-xl hover-bg-brand-secondary-three hover-text-white tw-duration-300">
                                        <i class="ph-bold ph-discord-logo"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 px-0">
                    <div class="new-two-team__item position-relative on-hover-item">
                        <a href="team-details.html"
                            class="image-double-animation clip-animation overflow-hidden position-relative d-block h-100 tw-duration-500">
                            <img src="assets/images/thumbs/new-two-team-img4.png" alt="Image" data-animate="true"
                                class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                            <img src="assets/images/thumbs/new-two-team-img4.png" alt="Image"
                                class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                        </a>
                        <div
                            class="new-two-team__content d-inline-flex flex-column align-items-end position-absolute bottom-0 end-0 tw-p-6 z-1 tw-duration-500">
                            <a href="team-details.html"
                                class="h4 text-white bg-brand tw-py-2 tw-px-4 tw-rounded tw-mb-2 d-inline-block">
                                CRM Automation System</a>
                            <span class="text-heading fw-medium bg-white tw-py-2 tw-px-4 tw-rounded">Business
                                Solutions</span>
                        </div>
                        <div class="new-two-team__socials position-absolute top-0 start-0 tw-mt-6 tw-ms-6 z-1">
                            <ul class="d-flex flex-column tw-gap-1 on-hover-animation-item">
                                <li class="tw-duration-300">
                                    <a href="https://www.facebook.com"
                                        class="tw-w-10 tw-h-10 bg-white rounded-circle d-flex justify-content-center align-items-center tw-text-xl hover-bg-brand-secondary-three hover-text-white tw-duration-300">
                                        <i class="ph-bold ph-facebook-logo"></i>
                                    </a>
                                </li>
                                <li class="tw-duration-300">
                                    <a href="https://www.instagram.com"
                                        class="tw-w-10 tw-h-10 bg-white rounded-circle d-flex justify-content-center align-items-center tw-text-xl hover-bg-brand-secondary-three hover-text-white tw-duration-300">
                                        <i class="ph-bold ph-instagram-logo"></i>
                                    </a>
                                </li>
                                <li class="tw-duration-300">
                                    <a href="https://www.pinterest.com"
                                        class="tw-w-10 tw-h-10 bg-white rounded-circle d-flex justify-content-center align-items-center tw-text-xl hover-bg-brand-secondary-three hover-text-white tw-duration-300">
                                        <i class="ph-bold ph-pinterest-logo"></i>
                                    </a>
                                </li>
                                <li class="tw-duration-300">
                                    <a href="https://www.linkedin.com"
                                        class="tw-w-10 tw-h-10 bg-white rounded-circle d-flex justify-content-center align-items-center tw-text-xl hover-bg-brand-secondary-three hover-text-white tw-duration-300">
                                        <i class="ph-bold ph-linkedin-logo"></i>
                                    </a>
                                </li>
                                <li class="tw-duration-300">
                                    <a href="https://www.discord.com"
                                        class="tw-w-10 tw-h-10 bg-white rounded-circle d-flex justify-content-center align-items-center tw-text-xl hover-bg-brand-secondary-three hover-text-white tw-duration-300">
                                        <i class="ph-bold ph-discord-logo"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ================================= New two team end ==================================== -->