<!-- ============================= New header wrapper two start ======================================= -->
<div class="bg-black">
    <div class="d-flex">
        <!-- Logo Start -->
        <div class="logo tw-py-2 tw-px-80-px bg-brand d-flex justify-content-center align-items-center responsive-logo">
            <a href="index.html" class="link">
                <img src="assets/images/logo/logo-new-white.png" alt="Logo" class="max-w-200-px">
            </a>
        </div>
        <!-- Logo End  -->

        <div class="flex-grow-1">
            <!-- Top Header start -->
            <div class="tw-px-80-px d-sm-flex d-none align-items-center tw-gap-6 justify-content-between tw-py-4 bg-white">
                <div class="d-sm-flex d-none align-items-center tw-gap-6">
                    <div class="d-sm-flex d-none align-items-center tw-gap-2 fw-medium">
                        <span class="d-xl-flex d-none tw-text-xl text-brand">
                            <i class="ph ph-phone-call"></i>
                        </span>
                        <a href="tel:(308)555-0121"
                            class="d-flex hover-common-underline fw-medium text-new-neutral-500 hover-text-brand">(308)
                            555-0121</a>
                    </div>
                    <span class="d-md-flex d-none tw-w-px tw-h-6 bg-neutral-300"></span>
                    <div class="d-md-flex d-none align-items-center tw-gap-2 fw-medium">
                        <span class="d-xl-flex d-none tw-text-xl text-brand">
                            <i class="ph ph-envelope-open"></i>
                        </span>
                        <a href="mailto:demo@gmail.com"
                            class="d-flex hover-common-underline fw-medium text-new-neutral-500 hover-text-brand">demo@gmail.com</a>
                    </div>
                    <span class="d-xl-flex d-none tw-w-px tw-h-6 bg-neutral-300"></span>
                    <div class="d-xl-flex d-none align-items-center tw-gap-2 fw-medium">
                        <span class="d-xl-flex d-none tw-text-xl text-brand">
                            <i class="ph ph-map-pin-line"></i>
                        </span>
                        <span class="d-flex fw-medium text-new-neutral-500">2715 South Dakota 83475</span>
                    </div>
                </div>

                <div class="d-sm-flex d-none align-items-center tw-gap-3">
                    <span class="d-flex fw-medium text-new-neutral-500">Follow US -</span>
                    <ul class="d-flex align-items-center tw-gap-205">
                        <li>
                            <a href="https://www.facebook.com"
                                class="hover-icon-fill text-new-neutral-500 tw-text-xl d-flex hover-text-brand">
                                <i class="ph ph-facebook-logo"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com"
                                class="hover-icon-fill text-new-neutral-500 tw-text-xl d-flex hover-text-brand">
                                <i class="ph ph-linkedin-logo"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.pinterest.com"
                                class="hover-icon-fill text-new-neutral-500 tw-text-xl d-flex hover-text-brand">
                                <i class="ph ph-pinterest-logo"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com"
                                class="hover-icon-fill text-new-neutral-500 tw-text-xl d-flex hover-text-brand">
                                <i class="ph ph-instagram-logo"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Top Header end -->

            <!-- header start -->
            <div class="tw-px-80-px  bg-black">
                <div class="d-flex align-items-center tw-gap-4 justify-content-lg-between justify-content-end py-lg-0 py-2">
                    <!-- Menu Start  -->
                    <div class="header-menu d-lg-block d-none menu-white">
                        @@include('../partials/_nav-menu.html', { "class" : "tw-gap-6" })
                    </div>
                    <!-- Menu End  -->

                    <!-- Header Right start -->
                    <div class="d-flex align-items-center tw-gap-3">
                        <div class="">
                            <button type="button"
                                class="open-search bg-brand-two tw-text-505 tw-w-13 tw-h-13 rounded-circle d-flex align-items-center justify-content-center border border-white-20 text-white hover-bg-white hover-text-black tw-duration-500">
                                <i class="ph ph-magnifying-glass"></i>
                            </button>
                        </div>
                        <div class="d-xs-flex d-none">
                            <a href="contact.html"
                                class="link-group style-two d-inline-flex align-items-center gap-sm-2 gap-0 group group-item bg-main-600 text-white tw-p-2 rounded-pill group-hover-bg-white overflow-hidden">
                                <span
                                    class="button-icon-two bg-white text-brand tw-w-9 tw-h-9 rounded-circle d-flex justify-content-center align-items-center tw-duration-500">
                                    <i class="ph-bold ph-arrow-right"></i>
                                </span>
                                <h2 class="fw-bold h6 tw-duration-500 text-white d-sm-flex d-none">
                                    Get In Touch
                                </h2>
                                <span
                                    class="button-icon-one bg-white text-brand tw-w-9 tw-h-9 rounded-circle d-flex justify-content-center align-items-center tw-duration-500">
                                    <i class="ph-bold ph-arrow-right"></i>
                                </span>
                            </a>
                        </div>
                        <button type="button"
                            class="tw-w-13 tw-h-13 bg-brand-secondary text-brand-neutral rounded-circle d-flex justify-content-center align-items-center tw-text-2xl hover-bg-white tw-duration-500">
                            <i class="ph-bold ph-dots-nine"></i>
                        </button>
                        <button type="button" class="toggle-mobileMenu leading-none d-lg-none text-white tw-text-10">
                            <i class="ph ph-list"></i>
                        </button>
                    </div>
                    <!-- Header Right End  -->

                </div>
            </div>
            <!-- header end -->

        </div>
    </div>
</div>
<!-- ============================= New header wrapper two end ======================================= -->