<!-- =========================== New why choose us one section start ================================= -->
<section class="new-why-choose-one py-120">
    <div class="container">
        <div class="tw-mb-15">
            <div class="row gy-4">
                <div class="col-lg-4">
                    <div class="">
                        <div class="d-flex align-items-center tw-gap-2">
                            <span class="d-flex tw-text-2xl text-brand-secondary">
                                <i class="ph-bold ph-sparkle"></i>
                            </span>
                            <span class="tw-text-lg text-brand-secondary">
                                Why Choose ITecho
                            </span>

                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="">
                        <h2 class="display-5 text-white fw-semibold text-reveal tw-leading-75">We create intelligent
                            systems that deliver results & Focused on quality, speed, and long-term value</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="row gy-4">
            <div class="col-lg-4">
                <div class="border border-white-20 tw-p-3 tw-rounded-xl position-relative overflow-hidden z-1 h-100 d-flex flex-column justify-content-between">
                    <div class="position-absolute top-0 start-0 w-100 h-100 z-n1">
                        <img src="assets/images/shape/new-why-choose-one-bg1.png" alt="Shape"
                            class="w-100 h-100 object-fit-cover">
                    </div>

                    <div class="tw-px-5 tw-pt-5">
                        <div class="d-flex align-items-center tw-gap-205">
                            <h2 class="display-2 fw-bold text-white tw-leading-none">
                                <span class="counter">25</span><span class="text-brand-secondary">+</span>
                            </h2>
                            <span class="text-white max-w-100-px">Years of experiencs</span>
                        </div>
                        <span class="d-block tw-my-6 tw-h-px w-100 bg-white-20"></span>
                        <div class="tw-pb-15">
                            <h2 class="h3 text-white tw-mb-4">AI Integrations</h2>
                            <p class="text-white">Clients-focused data are centric energistically communicate into
                                installed done.</p>
                        </div>
                    </div>
                    <div class="">
                        <div
                            class="image-double-animation clip-animation overflow-hidden position-relative d-block h-100 tw-rounded-lg">
                            <img src="assets/images/thumbs/new-why-choose-one-img1.png" alt="Image" data-animate="true"
                                class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                            <img src="assets/images/thumbs/new-why-choose-one-img1.png" alt="Image"
                                class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="row gy-4">
                    <div class="col-lg-12 col-md-6">
                        <div
                            class="border border-white-20 h-100 tw-p-8 tw-rounded-xl position-relative overflow-hidden z-1 bg-brand-light">
                            <div class="position-absolute top-0 start-0 w-100 h-100 z-n1">
                                <img src="assets/images/shape/new-why-choose-one-bg2.png" alt="Shape"
                                    class="w-100 h-100 object-fit-cover">
                            </div>

                            <p class="text-white fw-medium">Clients-focused data are centric energistically communicate
                                into installed done.</p>

                            <div class="tw-mt-15">
                                <div class="d-flex align-items-end tw-gap-4 justify-content-between">
                                    <h2 class="h3 text-white max-w-200-px">AI System Design</h2>
                                    <div class="text-end">
                                        <div
                                            class="bg-brand-secondary tw-py-205 tw-px-3 rounded-pill d-inline-flex tw-gap-1">
                                            <span class="tw-text-sm text-heading d-flex">
                                                <i class="ph-fill ph-star"></i>
                                            </span>
                                            <span class="tw-text-sm text-heading d-flex">
                                                <i class="ph-fill ph-star"></i>
                                            </span>
                                            <span class="tw-text-sm text-heading d-flex">
                                                <i class="ph-fill ph-star"></i>
                                            </span>
                                            <span class="tw-text-sm text-heading d-flex">
                                                <i class="ph-fill ph-star"></i>
                                            </span>
                                            <span class="tw-text-sm text-heading d-flex">
                                                <i class="ph-fill ph-star"></i>
                                            </span>
                                        </div>
                                        <h2 class="text-white tw-mt-2">4.9/5</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-6">
                        <div
                            class="border border-white-20 h-100 tw-p-3 tw-rounded-xl position-relative overflow-hidden z-1 item-overlay-gradient group group-item">
                            <div class="position-absolute top-0 start-0 w-100 h-100 z-n1">
                                <img src="assets/images/thumbs/new-why-choose-one-bg-img1.png" alt="Image"
                                    class="w-100 h-100 object-fit-cover group-hover-item-scale-12 tw-duration-500">
                            </div>

                            <div class="tw-p-5 position-relative z-1">
                                <div class="tw-pt-17 tw-mt-2">
                                    <h2 class="h3 text-white tw-mb-4">Machine Learning</h2>
                                    <p class="text-white fw-medium">Clients-focused data are centric energistically
                                        communicate
                                        into installed done.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div
                    class="border border-white-20 tw-p-3 tw-rounded-xl position-relative overflow-hidden z-1 item-overlay-gradient group group-item h-100">
                    <div class="position-absolute top-0 start-0 w-100 h-100 z-n1">
                        <img src="assets/images/thumbs/new-why-choose-one-bg-img2.png" alt="Image"
                            class="w-100 h-100 object-fit-cover group-hover-item-scale-12 tw-duration-500">
                    </div>

                    <div class="d-flex flex-column align-items-start justify-content-between tw-p-5 z-1 position-relative h-100">
                        <h2 class="h3 text-white tw-mb-4">Robotic Automation</h2>
                        <p class="text-white fw-medium max-w-280-px text-end ms-auto">Clients-focused data are centric energistically
                            communicate
                            into installed done.</p>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
<!-- =========================== New why choose us one section end ================================= -->