<!-- ==================== New two Footer Start Here ==================== -->
<footer class="position-relative z-1 w-100 bg-brand-neutral">
    <div class="position-relative z-1">
        <img src="assets/images/bg/new-two-footer-bg.png" alt="BG Image"
            class="position-absolute start-0 top-0 w-100 h-100 object-fit-cover z-n1">

        <div class="pt-120 pb80">
            <div class="container">
                <div class="row gy-5">
                    <div class="col-lg-4 col-sm-6">
                        <div class="max-w-260-px">
                            <h2 class="text-white h3 text-reveal tw-mb-6">Newsletter</h2>
                            <div class="">
                                <p class="text-white text-new-neutral-30">Subscribe to our newsletter for the latest
                                    updates
                                </p>
                                <form action="#" class="position-relative tw-mt-6">
                                    <input type="text"
                                        class="bg-brand-two border border-white-20 rounded-pill tw-py-405 tw-ps-6 tw-pe-90-px w-100 text-white"
                                        placeholder="Email address">
                                    <button type="submit"
                                        class="bg-brand tw-py-305 tw-px-6 rounded-pill d-flex justify-content-center align-items-center text-white position-absolute top-50 translate-middle-y tw-end-0 tw-me-3">
                                        <i class="ph-fill ph-paper-plane-right"></i>
                                    </button>
                                </form>
                                <ul class="d-flex align-items-center tw-gap-205 tw-mt-6">
                                    <li>
                                        <a href="https://www.facebook.com"
                                            class="tw-text-xl d-flex text-white hover-text-white justify-content-center align-items-center tw-w-11 tw-h-11 border border-white-20 rounded-circle hover-bg-brand-secondary-three">
                                            <i class="ph ph-facebook-logo"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.linkedin.com"
                                            class="tw-text-xl d-flex text-white hover-text-white justify-content-center align-items-center tw-w-11 tw-h-11 border border-white-20 rounded-circle hover-bg-brand-secondary-three">
                                            <i class="ph ph-linkedin-logo"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.pinterest.com"
                                            class="tw-text-xl d-flex text-white hover-text-white justify-content-center align-items-center tw-w-11 tw-h-11 border border-white-20 rounded-circle hover-bg-brand-secondary-three">
                                            <i class="ph ph-pinterest-logo"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com"
                                            class="tw-text-xl d-flex text-white hover-text-white justify-content-center align-items-center tw-w-11 tw-h-11 border border-white-20 rounded-circle hover-bg-brand-secondary-three">
                                            <i class="ph ph-instagram-logo"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="max-w-260-px">
                            <h2 class="text-white h3 text-reveal tw-mb-6">Quick Link</h2>
                            <ul class="d-flex flex-column tw-gap-4">
                                <li class="">
                                    <a href="about.html"
                                        class="hover-effect-link text-new-neutral-30 hover-text-brand-secondary position-relative">About
                                        us</a>
                                </li>
                                <li class="">
                                    <a href="services.html"
                                        class="hover-effect-link text-new-neutral-30 hover-text-brand-secondary position-relative">Services</a>
                                </li>
                                <li class="">
                                    <a href="projects.html"
                                        class="hover-effect-link text-new-neutral-30 hover-text-brand-secondary position-relative">Portfolios</a>
                                </li>
                                <li class="">
                                    <a href="blog.html"
                                        class="hover-effect-link text-new-neutral-30 hover-text-brand-secondary position-relative">Blogs</a>
                                </li>
                                <li class="">
                                    <a href="read-faq.html"
                                        class="hover-effect-link text-new-neutral-30 hover-text-brand-secondary position-relative">FAQs</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-6">
                        <div class="max-w-260-px">
                            <h2 class="text-white h3 text-reveal tw-mb-6">More Link</h2>
                            <ul class="d-flex flex-column tw-gap-4">
                                <li class="">
                                    <a href="contact.html"
                                        class="hover-effect-link text-new-neutral-30 hover-text-brand-secondary position-relative">Contact
                                        Us</a>
                                </li>
                                <li class="">
                                    <a href="javascript:void(0)"
                                        class="hover-effect-link text-new-neutral-30 hover-text-brand-secondary position-relative">Sign
                                        Up</a>
                                </li>
                                <li class="">
                                    <a href="javascript:void(0)"
                                        class="hover-effect-link text-new-neutral-30 hover-text-brand-secondary position-relative">Sign
                                        In</a>
                                </li>
                                <li class="">
                                    <a href="javascript:void(0)"
                                        class="hover-effect-link text-new-neutral-30 hover-text-brand-secondary position-relative">404
                                        Error</a>
                                </li>
                                <li class="">
                                    <a href="javascript:void(0)"
                                        class="hover-effect-link text-new-neutral-30 hover-text-brand-secondary position-relative">Help
                                        Center</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="max-w-260-px">
                            <h2 class="text-white h3 text-reveal tw-mb-6">Contact Us</h2>
                            <div class="">
                                <div class="d-flex flex-column tw-gap-6">
                                    <div class="">
                                        <div class="d-flex align-items-center tw-gap-2">
                                            <span class="text-brand-secondary d-flex tw-text-lg">
                                                <i class="ph ph-phone-call"></i>
                                            </span>
                                            <span class="text-neutral-400">Call Us:</span>
                                        </div>
                                        <a href="tel:(480)555-0103"
                                            class="text-white hover-common-underline hover-text-brand-secondray tw-text-base tw-mt-1 d-inline-block">(480)
                                            555-0103</a>
                                    </div>
                                    <div class="">
                                        <div class="d-flex align-items-center tw-gap-2">
                                            <span class="text-brand-secondary d-flex tw-text-lg">
                                                <i class="ph ph-envelope-open"></i>
                                            </span>
                                            <span class="text-neutral-400">Mail Us :</span>
                                        </div>
                                        <a href="mailto:demo@gmail.com"
                                            class="text-white hover-common-underline hover-text-brand-secondray tw-text-base tw-mt-1 d-inline-block">demo@gmail.com</a>
                                    </div>
                                    <div class="">
                                        <div class="d-flex align-items-center tw-gap-2">
                                            <span class="text-brand-secondary d-flex tw-text-lg">
                                                <i class="ph ph-map-pin-line"></i>
                                            </span>
                                            <span class="text-neutral-400">Address</span>
                                        </div>
                                        <p class="text-white hover-text-brand-secondray tw-text-base tw-mt-1">1901
                                            Thornridge Cir. Shiloh, Hawaii</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
        <div class="py-80">
            <div class="container">
                <div class="d-flex align-items-center tw-gap-4 justify-content-center">
                    <div class="favicon-max">
                        <img src="assets/images/logo/favicon-big.png" alt="Favicon">
                    </div>
                    <h2 class="text-white tw-text-200-px animated-title">ITecho</h2>
                </div>
            </div>  
            
        </div>

    </div>

    <div class="tw-py-10 bg-brand-two">
        <div class="container">
            <div class=" d-flex align-items-center justify-content-between tw-gap-4 flex-wrap">
                <p class="text-white">Copyright &copy; 2026 <a href="javascript:void(0)"
                        class="text-brand-secondary hover-common-underline hover-text-white">ITecho</a>. All rights
                    reserved.</p>
                <div class="">
                    <img src="assets/images/thumbs/payment-method.png" alt="Payment">
                </div>
            </div>
        </div>
    </div>

</footer>
<!-- ==================== New two Footer End Here ==================== -->