<!-- ================================= New two team start ==================================== -->
<section class="new-two-team py-120 position-relative z-1">
    <img src="assets/images/bg/new-two-team-bg.png" alt="Shape Image"
        class="position-absolute start-0 top-0 w-100 h-100 object-fit-cover z-n1">

    <div class="container">
        <div class="tw-rounded-2xl overflow-hidden">
            <div class="row">
                <div class="col-lg-4">
                    <div class="new-two-team position-relative on-hover-item">
                        <div
                            class="image-double-animation clip-animation overflow-hidden position-relative d-block h-100 tw-duration-500">
                            <img src="assets/images/thumbs/new-two-team-img1.png" alt="Image" data-animate="true"
                                class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                            <img src="assets/images/thumbs/new-two-team-img1.png" alt="Image"
                                class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                        </div>
                        <div class="new-two-team__content d-inline-flex flex-column align-items-end position-absolute bottom-0 end-0 tw-p-6 z-1">
                            <h2 class="h4 text-white bg-brand tw-py-2 tw-px-4 tw-rounded tw-mb-2 d-inline-block">
                                CRM Automation System</h2>
                            <span class="text-heading fw-medium bg-white tw-py-2 tw-px-4 tw-rounded">Business
                                Solutions</span>
                        </div>
                        <div class="new-two-team__socials position-absolute top-0 start-0 tw-mt-6 tw-ms-6 z-1">
                            <ul class="d-flex flex-column tw-gap-1 on-hover-animation-item">
                                <li class="tw-duration-300">
                                    <a href="https://www.facebook.com" class="tw-w-10 tw-h-10 bg-white rounded-circle d-flex justify-content-center align-items-center tw-text-xl hover-bg-brand-secondary-three hover-text-white tw-duration-300">
                                        <i class="ph-bold ph-facebook-logo"></i>
                                    </a>
                                </li>
                                <li class="tw-duration-300">
                                    <a href="https://www.instagram.com" class="tw-w-10 tw-h-10 bg-white rounded-circle d-flex justify-content-center align-items-center tw-text-xl hover-bg-brand-secondary-three hover-text-white tw-duration-300">
                                        <i class="ph-bold ph-instagram-logo"></i>
                                    </a>
                                </li>
                                <li class="tw-duration-300">
                                    <a href="https://www.pinterest.com" class="tw-w-10 tw-h-10 bg-white rounded-circle d-flex justify-content-center align-items-center tw-text-xl hover-bg-brand-secondary-three hover-text-white tw-duration-300">
                                        <i class="ph-bold ph-pinterest-logo"></i>
                                    </a>
                                </li>
                                <li class="tw-duration-300">
                                    <a href="https://www.linkedin.com" class="tw-w-10 tw-h-10 bg-white rounded-circle d-flex justify-content-center align-items-center tw-text-xl hover-bg-brand-secondary-three hover-text-white tw-duration-300">
                                        <i class="ph-bold ph-linkedin-logo"></i>
                                    </a>
                                </li>
                                <li class="tw-duration-300">
                                    <a href="https://www.discord.com" class="tw-w-10 tw-h-10 bg-white rounded-circle d-flex justify-content-center align-items-center tw-text-xl hover-bg-brand-secondary-three hover-text-white tw-duration-300">
                                        <i class="ph-bold ph-discord-logo"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ================================= New two team end ==================================== -->