<!-- ================================= New how it work one start ===================================== -->
<section class="new-how-it-work-one py-120 position-relative z-1 overflow-hidden">
    <img src="assets/images/bg/new-how-it-work-one-bg.png" alt="Shape Image"
        class="position-absolute start-0 top-0 w-100 h-100 object-fit-cover z-n1">

    <div class="position-absolute z-n1 z-n1 top-0 start-0">
        <img src="assets/images/shape/corner-left-shape.png" alt="corner shape">
    </div>
    <div class="position-absolute z-n1 z-n1 bottom-0 end-0">
        <img src="assets/images/shape/corner-right-shape.png" alt="corner shape">
    </div>
    <div class="position-absolute z-n1 top-50 translate-middle-y end-0 max-w-17-percent">
        <img src="assets/images/shape/round-trinagle-shape-two.png" alt="Element" data-speed=".7">
    </div>
    <div class="position-absolute z-n1 bottom-0 start-0 max-w-38-percent robot-hand-wrappe magnetic-item">
        <img src="assets/images/shape/new-about-one-shape.png" alt="Element" class="robot-hand-img">
    </div>

    <div class="container">
        <div class="row gy-5">
            <div class="col-lg-6">
                <div class="">
                    <div class="d-flex align-items-center tw-gap-2">
                        <span class="d-flex tw-text-2xl text-brand-secondary">
                            <i class="ph-bold ph-sparkle"></i>
                        </span>
                        <span class="tw-text-lg text-brand-secondary">
                            How Our AI Solutions Work
                        </span>
                    </div>
                    <div class="tw-mt-4">
                        <h2 class="display-5 text-white fw-bold text-reveal tw-leading-75">Simple Steps to Smart AI
                            Ideal Solutions</h2>
                    </div>
                    <div class="pt-120">
                        <p class="text-white max-w-530-px">Our process is designed to deliver powerful AI solutions
                            through a clear and efficient workflow & deploying intelligent systems.</p>
                        <div class="custom-fade-animation tw-mt-10" data-delay=".7" data-fade-from="bottom"
                            data-ease="bounce">
                            <a href="contact.html"
                                class="link-group style-two d-inline-flex align-items-center gap-2 gap-0 group group-item bg-main-600 text-white tw-p-2 rounded-pill group-hover-bg-white overflow-hidden">
                                <span
                                    class="button-icon-two bg-white text-brand tw-w-9 tw-h-9 rounded-circle d-flex justify-content-center align-items-center tw-duration-500">
                                    <i class="ph-bold ph-arrow-right"></i>
                                </span>
                                <span class="fw-bold h6 tw-duration-500 text-white">
                                    Get In Touch
                                </span>
                                <span
                                    class="button-icon-one bg-white text-brand tw-w-9 tw-h-9 rounded-circle d-flex justify-content-center align-items-center tw-duration-500">
                                    <i class="ph-bold ph-arrow-right"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="d-flex flex-column tw-gap-6">

                    <div
                        class="magnetic-item hover-slide-animation card-stack-reveal-item border border-white-20 tw-rounded-2xl overflow-hidden d-flex flex-sm-row flex-column position-relative bg-brand-two z-1">
                        <img src="assets/images/bg/new-how-it-work-item-bg.png" alt="Item BG"
                            class="position-absolute top-0 start-0 w-100 h-100 object-fit-cover z-n1">

                        <div
                            class="bg-brand-one tw-p-6 flex-shrink-0 d-flex flex-sm-column flex-row align-items-center tw-gap-6 justify-content-between">
                            <span class="text-brand d-flex tw-text-2xl">
                                <i class="ph ph-caret-double-down"></i>
                            </span>
                            <div class="">
                                <h2 class="text-white">01</h2>
                                <span class="tw-mt-05 text-new-neutral-50 font-heading tw-text-lg fw-medium">STEP</span>
                            </div>
                        </div>
                        <div class="tw-p-8 position-relative">
                            <span
                                class="bg-brand tw-w-16 tw-h-16 text-white tw-text-3xl d-flex align-items-center justify-content-center rounded-bottom-circle position-absolute top-0 tw-end-0 tw-me-8">
                                <i class="ph ph-chart-pie-slice"></i>
                            </span>

                            <h2 class="text-white h3 tw-me-15">Data Collection & Analysis</h2>
                            <div class="tw-mt-15 tw-pt-5">
                                <p class="text-new-neutral-50">We begin by gathering and analyzing relevant data to
                                    understand
                                    your business challenges and goals.</p>
                                <a href="javascript:void(0)"
                                    class="text-brand-secondary fw-semibold d-inline-flex align-items-center tw-gap-3 hover-text-white tw-mt-10 hover-underline">
                                    <span class="text-decoration-underline">Register Now</span>
                                    <span class="btn-down-arrow">
                                        <i class="ph ph-arrow-up-right"></i>
                                    </span>
                                </a>
                            </div>
                        </div>

                    </div>

                    <div
                        class="magnetic-item hover-slide-animation card-stack-reveal-item border border-white-20 tw-rounded-2xl overflow-hidden d-flex flex-sm-row flex-column position-relative bg-brand-two z-1">
                        <img src="assets/images/bg/new-how-it-work-item-bg.png" alt="Item BG"
                            class="position-absolute top-0 start-0 w-100 h-100 object-fit-cover z-n1">

                        <div
                            class="bg-brand-one tw-p-6 flex-shrink-0 d-flex flex-sm-column flex-row align-items-center tw-gap-6 justify-content-between">
                            <span class="text-brand d-flex tw-text-2xl">
                                <i class="ph ph-caret-double-down"></i>
                            </span>
                            <div class="">
                                <h2 class="text-white">02</h2>
                                <span class="tw-mt-05 text-new-neutral-50 font-heading tw-text-lg fw-medium">STEP</span>
                            </div>
                        </div>
                        <div class="tw-p-8 position-relative">
                            <span
                                class="bg-brand tw-w-16 tw-h-16 text-white tw-text-3xl d-flex align-items-center justify-content-center rounded-bottom-circle position-absolute top-0 tw-end-0 tw-me-8">
                                 <i class="ph ph-robot"></i>
                            </span>

                            <h2 class="text-white h3 tw-me-15">AI Model Development</h2>
                            <div class="tw-mt-15 tw-pt-5">
                                <p class="text-new-neutral-50">Our experts design and train advanced AI models tailored to your specific needs.</p>
                                <a href="javascript:void(0)"
                                    class="text-brand-secondary fw-semibold d-inline-flex align-items-center tw-gap-3 hover-text-white tw-mt-10 hover-underline">
                                    <span class="text-decoration-underline">Browse Services</span>
                                    <span class="btn-down-arrow">
                                        <i class="ph ph-arrow-up-right"></i>
                                    </span>
                                </a>
                            </div>
                        </div>

                    </div>

                    <div
                        class="magnetic-item hover-slide-animation card-stack-reveal-item border border-white-20 tw-rounded-2xl overflow-hidden d-flex flex-sm-row flex-column position-relative bg-brand-two z-1">
                        <img src="assets/images/bg/new-how-it-work-item-bg.png" alt="Item BG"
                            class="position-absolute top-0 start-0 w-100 h-100 object-fit-cover z-n1">

                        <div
                            class="bg-brand-one tw-p-6 flex-shrink-0 d-flex flex-sm-column flex-row align-items-center tw-gap-6 justify-content-between">
                            <span class="text-brand d-flex tw-text-2xl">
                                <i class="ph ph-caret-double-down"></i>
                            </span>
                            <div class="">
                                <h2 class="text-white">03</h2>
                                <span class="tw-mt-05 text-new-neutral-50 font-heading tw-text-lg fw-medium">STEP</span>
                            </div>
                        </div>
                        <div class="tw-p-8 position-relative">
                            <span
                                class="bg-brand tw-w-16 tw-h-16 text-white tw-text-3xl d-flex align-items-center justify-content-center rounded-bottom-circle position-absolute top-0 tw-end-0 tw-me-8">
                                <i class="ph ph-gauge"></i>
                            </span>

                            <h2 class="text-white h3 tw-me-15">Deployment & Optimization</h2>
                            <div class="tw-mt-15 tw-pt-5">
                                <p class="text-new-neutral-50">Once the solution is ready, we deploy it seamlessly into your system and continuously monitor its performance.</p>
                                <a href="javascript:void(0)"
                                    class="text-brand-secondary fw-semibold d-inline-flex align-items-center tw-gap-3 hover-text-white tw-mt-10 hover-underline">
                                    <span class="text-decoration-underline">Browse Portfolios</span>
                                    <span class="btn-down-arrow">
                                         <i class="ph ph-arrow-up-right"></i>
                                    </span>
                                </a>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- ================================= New how it work one end ===================================== -->