<!-- ============================= New Two features section start =============================== -->
<section class="py-120 new-two-key-features">
    <div class="container">
        <div class="tw-mb-16">
            <div class="row gy-4">
                <div class="col-xl-4">
                    <div class="">
                        <div class="d-flex align-items-center tw-gap-2">
                            <span class="d-flex tw-text-2xl text-brand">
                                <i class="ph-bold ph-sparkle"></i>
                            </span>
                            <span class="tw-text-lg text-brand">
                                Our Key Features
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-8">
                    <div class="">
                        <h2 class="display-5 text-white fw-semibold text-reveal-two tw-leading-75"> Discover the
                            features that make us stand out and Focused on quality, security, and performance</h2>
                    </div>
                </div>
            </div>
        </div>



        <div class="row gy-4">
            <div class="col-lg-4" data-speed="1.1">
                <div class="row gy-4">
                    <div class="col-lg-12 col-md-6">
                        <div class="tw-p-42-px border tw-rounded-2xl border-brand-20  bg-white shadow-lg">
                            <div class="bg-brand-secondary tw-py-205 tw-px-3 rounded-pill d-inline-flex tw-gap-1">
                                <span class="tw-text-sm text-heading d-flex">
                                    <i class="ph-fill ph-star"></i>
                                </span>
                                <span class="tw-text-sm text-heading d-flex">
                                    <i class="ph-fill ph-star"></i>
                                </span>
                                <span class="tw-text-sm text-heading d-flex">
                                    <i class="ph-fill ph-star"></i>
                                </span>
                                <span class="tw-text-sm text-heading d-flex">
                                    <i class="ph-fill ph-star"></i>
                                </span>
                                <span class="tw-text-sm text-heading d-flex">
                                    <i class="ph-fill ph-star-half"></i>
                                </span>
                            </div>
                            <div class="tw-my-4">
                                <div class="d-flex align-items-center tw-gap-2">
                                    <h2 class="display-5 text-heading tw-mt-2">8.54K <span class="text-danger">+</span> </h2>
                                    <h2 class="h4 fw-medium">Satisfied Clients</h2>
                                </div>
                                <div class="">
                                    <p class="">Join 15,145+ others loving worldwide customers</p>
                                </div>
                            </div>
                            <div class="">
                                
                            </div>
                        </div>

                        <div
                            class="border border-white-20 h-100 tw-p-8 tw-rounded-xl position-relative overflow-hidden z-1 bg-brand-light">
                            <div class="position-absolute top-0 start-0 w-100 h-100 z-n1">
                                <img src="assets/images/shape/new-why-choose-one-bg2.png" alt="Shape"
                                    class="w-100 h-100 object-fit-cover">
                            </div>
                            <p class="text-white fw-medium">Clients-focused data are centric energistically communicate
                                into installed done.</p>
                            <div class="tw-mt-15">
                                <div class="d-flex align-items-end tw-gap-4 justify-content-between">
                                    <h2 class="h3 text-white max-w-200-px">AI System Design</h2>
                                    <div class="text-end">
                                        <div
                                            class="bg-brand-secondary tw-py-205 tw-px-3 rounded-pill d-inline-flex tw-gap-1">
                                            <span class="tw-text-sm text-heading d-flex">
                                                <i class="ph-fill ph-star"></i>
                                            </span>
                                            <span class="tw-text-sm text-heading d-flex">
                                                <i class="ph-fill ph-star"></i>
                                            </span>
                                            <span class="tw-text-sm text-heading d-flex">
                                                <i class="ph-fill ph-star"></i>
                                            </span>
                                            <span class="tw-text-sm text-heading d-flex">
                                                <i class="ph-fill ph-star"></i>
                                            </span>
                                            <span class="tw-text-sm text-heading d-flex">
                                                <i class="ph-fill ph-star-half"></i>
                                            </span>
                                        </div>
                                        <h2 class="text-white tw-mt-2">4.9/5</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-6">
                        <div
                            class="border border-white-20 h-100 tw-p-3 tw-rounded-xl position-relative overflow-hidden z-1 item-overlay-gradient group group-item">
                            <div class="position-absolute top-0 start-0 w-100 h-100 z-n1">
                                <img src="assets/images/thumbs/new-why-choose-one-bg-img1.png" alt="Image"
                                    class="w-100 h-100 object-fit-cover group-hover-item-scale-12 tw-duration-500">
                            </div>

                            <div class="tw-p-5 position-relative z-1">
                                <div class="tw-pt-17 tw-mt-2">
                                    <h2 class="h3 text-white tw-mb-4">Machine Learning</h2>
                                    <p class="text-white fw-medium">Clients-focused data are centric energistically
                                        communicate
                                        into installed done.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div
                    class="border border-white-20 tw-p-3 tw-rounded-xl position-relative overflow-hidden z-1 item-overlay-gradient group group-item h-100 item-overlay-gradient-radial">
                    <div class="position-absolute top-0 start-0 w-100 h-100 z-n1">
                        <img src="assets/images/thumbs/new-two-key-features-img2.png" alt="Image"
                            class="w-100 h-100 object-fit-cover group-hover-item-scale-12 tw-duration-500">
                    </div>

                    <div
                        class="d-flex flex-column align-items-start justify-content-between tw-p-5 z-1 position-relative h-100">
                        <h2 class="h3 text-white tw-mb-4">24/7 Creativity Services</h2>
                        <p class="text-white fw-medium max-w-280-px text-end ms-auto">Our 24/7 Creativity Services are
                            designed to keep your projects at the forefront of innovation.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4" data-speed="1.1">
                <div
                    class="border border-white-20 tw-p-3 tw-rounded-xl position-relative overflow-hidden z-1 item-overlay-gradient group group-item h-100 item-overlay-gradient-radial">
                    <div class="position-absolute top-0 start-0 w-100 h-100 z-n1">
                        <img src="assets/images/thumbs/new-why-choose-one-bg-img2.png" alt="Image"
                            class="w-100 h-100 object-fit-cover group-hover-item-scale-12 tw-duration-500">
                    </div>

                    <div
                        class="d-flex flex-column align-items-start justify-content-between tw-p-5 z-1 position-relative h-100">
                        <h2 class="h3 text-white tw-mb-4">Robotic Automation</h2>
                        <p class="text-white fw-medium max-w-280-px text-end ms-auto">Clients-focused data are centric
                            energistically
                            communicate
                            into installed done.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="tw-mt-10 d-flex justify-content-center">
            <div class="custom-fade-animation" data-delay=".6" data-fade-from="bottom" data-ease="bounce">
                <a href="contact.html"
                    class="link-group style-two d-inline-flex align-items-center gap-2 gap-0 group group-item bg-main-600 text-white tw-p-2 rounded-pill group-hover-bg-white overflow-hidden">
                    <span
                        class="button-icon-two bg-white text-brand tw-w-9 tw-h-9 rounded-circle d-flex justify-content-center align-items-center tw-duration-500">
                        <i class="ph-bold ph-arrow-right"></i>
                    </span>
                    <span class="fw-bold h6 tw-duration-500 text-white">
                        Browse Our Services
                    </span>
                    <span
                        class="button-icon-one bg-white text-brand tw-w-9 tw-h-9 rounded-circle d-flex justify-content-center align-items-center tw-duration-500">
                        <i class="ph-bold ph-arrow-right"></i>
                    </span>
                </a>
            </div>
        </div>


    </div>
</section>
<!-- ============================= New Two features section end =============================== -->