<!-- ============================ New Two About section start ================================== -->
<section class="new-two-about py-120 position-relative z-1">
    <img src="assets/images/bg/new-two-about-bg.png" alt="Shape Image"
        class="position-absolute start-0 top-0 w-100 h-100 object-fit-cover z-n1">

    <div class="position-relative">
        <div class="container">
            <div class="row gy-4">
                <div class="col-xl-8">
                    <div class="position-relative z-2">
                        <div class="max-w-650-px">
                            <div class="tw-pb-15">
                                <div class="d-flex align-items-center tw-gap-2 tw-mb-4">
                                    <span class="d-flex tw-text-2xl text-brand">
                                        <i class="ph-bold ph-sparkle"></i>
                                    </span>
                                    <span class="tw-text-lg text-brand">
                                        Your Trusted IT Partner
                                    </span>
                                </div>
                                <div class="">
                                    <h2 class="display-5 text-heading fw-bold text-reveal-two tw-leading-75"> Creating
                                        Scalable Systems For Long-Term Success
                                    </h2>
                                </div>
                            </div>
                            <div
                                class="border-top border-bottom border-new-neutral-40 d-flex flex-sm-row flex-column position-relative z-1">
                                <div class="tw-pt-15 tw-pb-4 w-280-px flex-shrink-0 tw-pe-11 tw-ps-6">
                                    <div class="d-flex items-content-wrap tw-gap-5 justify-content-center">
                                        <div class="">
                                            <h2 class="tw-text-160-px fw-bold text-white-bg-img counter">13</h2>
                                        </div>
                                        <div class="d-flex tw-gap-4 flex-column">
                                            <span
                                                class="tw-text-lg text-new-neutral-500 writing-mode-rl tw-max-h-97-px">Of
                                                Years In
                                                Experiences</span>
                                            <span class="tw-text-9 d-flex text-danger justify-content-center">
                                                <i class="ph-bold ph-plus"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="tw-py-15 tw-ps-11 border-start border-new-neutral-40">
                                    <p class="text-new-neutral-500 tw-text-lg">Our team combines technical expertise
                                        with innovative thinking to build high-performance systems that improve.</p>
                                    <div class="custom-fade-animation tw-mt-10" data-delay=".7" data-fade-from="bottom"
                                        data-ease="bounce">
                                        <a href="contact.html"
                                            class="link-group style-two d-inline-flex align-items-center gap-2 gap-0 group group-item bg-main-600 text-white tw-p-2 rounded-pill group-hover-bg-white overflow-hidden">
                                            <span
                                                class="button-icon-two bg-white text-brand tw-w-9 tw-h-9 rounded-circle d-flex justify-content-center align-items-center tw-duration-500">
                                                <i class="ph-bold ph-arrow-right"></i>
                                            </span>
                                            <span class="fw-bold h6 tw-duration-500 text-white">
                                                Know About Us
                                            </span>
                                            <span
                                                class="button-icon-one bg-white text-brand tw-w-9 tw-h-9 rounded-circle d-flex justify-content-center align-items-center tw-duration-500">
                                                <i class="ph-bold ph-arrow-right"></i>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tw-mt-10 d-flex tw-gap-6 align-items-center flex-md-nowrap flex-wrap">
                            <div class="d-flex flex-column tw-gap-3 flex-shrink-0 max-w-305-px w-100">
                                <div class="d-flex align-items-center tw-gap-3">
                                    <span class="tw-text-xl text-main-600 d-flex">
                                        <i class="ph-bold ph-check-circle"></i>
                                    </span>
                                    <span class="fw-semibold h5 text-new-neutral-500 font-body">
                                        Secure Systems Plus
                                    </span>
                                </div>
                                <div class="d-flex align-items-center tw-gap-3">
                                    <span class="tw-text-xl text-main-600 d-flex">
                                        <i class="ph-bold ph-check-circle"></i>
                                    </span>
                                    <span class="fw-semibold h5 text-new-neutral-500 font-body">
                                        Innovative Solutions
                                    </span>
                                </div>
                                <div class="d-flex align-items-center tw-gap-3">
                                    <span class="tw-text-xl text-main-600 d-flex">
                                        <i class="ph-bold ph-check-circle"></i>
                                    </span>
                                    <span class="fw-semibold h5 text-new-neutral-500 font-body">
                                        Innovative Solutions
                                    </span>
                                </div>
                                <div class="d-flex align-items-center tw-gap-3">
                                    <span class="tw-text-xl text-main-600 d-flex">
                                        <i class="ph-bold ph-check-circle"></i>
                                    </span>
                                    <span class="fw-semibold h5 text-new-neutral-500 font-body">
                                        Sustainable Growth
                                    </span>
                                </div>
                            </div>
                            <div class="flex-grow-1">
                                <div class="new-two-about-item-wrapper">
                                    <div
                                        class="new-two-about-item card-1 is-expanded tw-p-6 tw-rounded-xl border border-brand-20 position-relative z-1 animation-item">
                                        <span
                                            class="serialize-number display-4 text-brand-light font-heading fw-bold position-absolute top-0 tw-end-0 tw-mt-6 tw-me-6 hover-text-brand z-n1">
                                            <span class="opacity-25">01</span>
                                        </span>
                                        <img src="assets/images/bg/new-two-about-item-bg.png" alt="BG"
                                            class="position-absolute top-0 tw-start-0 w-100 h-100 z-n1 new-two-item-bg">
                                        <span
                                            class="tw-w-14 tw-h-14 rounded-circle bg-white tw-shadow-six tw-text-3xl d-flex justify-content-center align-items-center text-brand flex-shrink-0">
                                            <i class="ph ph-lightbulb-filament animate__heartBeat"></i>
                                        </span>
                                        <div class="new-two-about-item__content tw-mt-10">
                                            <h2 class="h4">Innovation</h2>
                                            <p class="tw-mt-3 text-new-neutral-700">We continuously adopt modern
                                                technologies &
                                                innovative approaches to
                                                deliver smart and future-ready IT solutions. Our focus on innovation
                                                helps
                                                businesses.</p>
                                        </div>
                                    </div>

                                    <div
                                        class="new-two-about-item card-2 tw-p-6 tw-rounded-xl border border-brand-20 position-relative z-1 animation-item">
                                        <span
                                            class="serialize-number display-4 text-brand-light font-heading fw-bold position-absolute top-0 tw-end-0 tw-mt-6 tw-me-6 hover-text-brand z-n1">
                                            <span class="opacity-25">02</span>
                                        </span>
                                        <img src="assets/images/bg/new-two-about-item-bg.png" alt="BG"
                                            class="position-absolute top-0 tw-start-0 w-100 h-100 z-n1 new-two-item-bg">
                                        <span
                                            class="tw-w-14 tw-h-14 rounded-circle bg-white tw-shadow-six tw-text-3xl d-flex justify-content-center align-items-center text-brand flex-shrink-0">
                                            <i class="ph ph-handshake animate__heartBeat"></i>
                                        </span>
                                        <div class="new-two-about-item__content tw-mt-10">
                                            <h2 class="h4">Reliability</h2>
                                            <p class="tw-mt-3 text-new-neutral-700">We build relationships based on
                                                trust,
                                                ensuring your
                                                mission-critical infrastructure is secure, functional, and consistently
                                                performing.</p>
                                        </div>
                                    </div>

                                    <div
                                        class="new-two-about-item card-3 tw-p-6 tw-rounded-xl border border-brand-20 position-relative z-1 animation-item">
                                        <span
                                            class="serialize-number display-4 text-brand-light font-heading fw-bold position-absolute top-0 tw-end-0 tw-mt-6 tw-me-6 hover-text-brand z-n1">
                                            <span class="opacity-25">03</span>
                                        </span>
                                        <img src="assets/images/bg/new-two-about-item-bg.png" alt="BG"
                                            class="position-absolute top-0 tw-start-0 w-100 h-100 z-n1 new-two-item-bg">
                                        <span
                                            class="tw-w-14 tw-h-14 rounded-circle bg-white tw-shadow-six tw-text-3xl d-flex justify-content-center align-items-center text-brand flex-shrink-0">
                                            <i class="ph ph-headset animate__heartBeat"></i>
                                        </span>
                                        <div class="new-two-about-item__content tw-mt-10">
                                            <h2 class="h4">Support</h2>
                                            <p class="tw-mt-3 text-new-neutral-700">Our dedicated support engineers are
                                                operational around the clock to
                                                track, isolate, and debug any technical hurdles blocking your progress.
                                            </p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="new-two-about__images">
                        <div class="tw-pe-15 tw-pb-15 position-relative">
                            <div class="tw-pe-15 position-relative tw-pb-17">
                                <div
                                    class="image-double-animation clip-animation overflow-hidden position-relative d-block h-100 tw-rounded-xl tw-pe-705">
                                    <img src="assets/images/thumbs/new-two-about-img1.png" alt="Image"
                                        data-animate="true"
                                        class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                                    <img src="assets/images/thumbs/new-two-about-img1.png" alt="Image"
                                        class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                                </div>
                                <div
                                    class="tw-w-180-px tw-h-180-px d-flex justify-content-center align-items-center position-absolute tw-end-0 top-0 tw-mt-12 z-2">
                                    <img src="assets/images/shape/star-with-black-stroke.png" alt="Shape Image"
                                        class="position-absolute start-0 top-0 w-100 h-100 object-fit-cover z-n1 animation-rotate-right">
                                    <div class="text-center">
                                        <h2 class="h2"> 55K</h2>
                                        <span class="fw-semibold text-brand-neutral">User Reviews</span>
                                    </div>
                                </div>
                            </div>
                            <div class="position-absolute bottom-0 tw-end-0 z-2 max-w-58-percent">
                                <div
                                    class="image-double-animation clip-animation overflow-hidden position-relative d-block h-100 tw-rounded-xl tw-pe-705 border border-white border-3">
                                    <img src="assets/images/thumbs/new-two-about-img2.png" alt="Image"
                                        data-animate="true"
                                        class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                                    <img src="assets/images/thumbs/new-two-about-img2.png" alt="Image"
                                        class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                                </div>
                                <a href="https://www.youtube.com/watch?v=MFLVmAE4cqg"
                                    class="tw-w-12 tw-h-12 bg-danger text-white rounded-circle d-flex align-items-center justify-content-center tw-text-2xl hover-scale-2 play-button flex-shrink-0 play-btn position-absolute top-50 start-50 translate-middle z-3">
                                    <i class="ph-fill ph-play"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ============================ New Two About section end ================================== -->