<!-- New counter one start -->
<div class="new-counter-one @@sectionClass">
    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-3 col-sm-6 custom-fade-animation" data-delay=".6" data-fade-from="bottom" data-ease="bounce">
                <div class="position-relative text-center">
                    <h1 class="text-stroke tw-text-100-px fw-bold hover-text-brand counter tw-leading-1">85.9K+</h1>
                    <span
                        class="text-uppercase fw-bold tw-text-xl stroke-black stroke-black-1-px text-white font-heading position-absolute top-50 start-50 translate-middle min-w-max pointer-event-none">Projects
                        Completed</span>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 custom-fade-animation" data-delay=".7" data-fade-from="bottom" data-ease="bounce">
                <div class="position-relative text-center">
                    <h1 class="text-stroke tw-text-100-px fw-bold hover-text-brand counter tw-leading-1">10.1K+</h1>
                    <span
                        class="text-uppercase fw-bold tw-text-xl stroke-black stroke-black-1-px text-white font-heading position-absolute top-50 start-50 translate-middle min-w-max pointer-event-none">AI
                        Solutions Delivered</span>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 custom-fade-animation" data-delay=".8" data-fade-from="bottom" data-ease="bounce">
                <div class="position-relative text-center">
                    <h1 class="text-stroke tw-text-100-px fw-bold hover-text-brand counter tw-leading-1">56.7K+</h1>
                    <span
                        class="text-uppercase fw-bold tw-text-xl stroke-black stroke-black-1-px text-white font-heading position-absolute top-50 start-50 translate-middle min-w-max pointer-event-none">Client
                        Satisfaction</span>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 custom-fade-animation" data-delay=".9" data-fade-from="bottom" data-ease="bounce">
                <div class="position-relative text-center">
                    <h1 class="text-stroke tw-text-100-px fw-bold hover-text-brand counter tw-leading-1">12.4+</h1>
                    <span
                        class="text-uppercase fw-bold tw-text-xl stroke-black stroke-black-1-px text-white font-heading position-absolute top-50 start-50 translate-middle min-w-max pointer-event-none">Years
                        of Experience</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- New counter one end -->