<!-- =========================== New why choose us one section start ================================= -->
<section class="new-why-choose-one py-120">
    <div class="container">
        <div class="tw-m-15">
            <div class="row gy-4">
                <div class="col-lg-4">
                    <div class="">
                        <div class="d-flex align-items-center tw-gap-2">
                            <span class="d-flex tw-text-2xl text-brand-secondary">
                                <i class="ph-bold ph-sparkle"></i>
                            </span>
                            <span class="tw-text-lg text-brand-secondary">
                                Why Choose ITecho
                            </span>

                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="">
                        <h2 class="display-5 text-white fw-semibold text-reveal">We create intelligent systems that
                            deliver results &
                            Focused on quality, speed, and long-term value</h2>
                    </div>
                </div>
            </div>
        </div>


        <div class="row gy-4">
            <div class="col-lg-4">
                <div class="border border-white-20 tw-p-3 tw-rounded-xl">
                    <div class="">
                        <div class="d-flex align-items-center tw-gap-205">
                            <h2 class="display-2 fw-bold text-white">25<span class="text-brand-secondary">+</span></h2>
                            <span class="text-white max-w-100-px">Years of experiencs</span>
                        </div>
                        <div
                            class="image-double-animation clip-animation overflow-hidden position-relative d-block h-100 tw-rounded-lg">
                            <img src="assets/images/thumbs/new-why-choose-one-img1.png" alt="Image" data-animate="true"
                                class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                            <img src="assets/images/thumbs/new-why-choose-one-img1.png" alt="Image"
                                class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- =========================== New why choose us one section end ================================= -->