<!-- ================================= New two CTA section start ================================== -->
<section class="new-two-cta">
    <div class="container">
        <div class="tw-rounded-2xl overflow-hidden tw-py-15 position-relative z-1">
            <div class="tw-py-5">
                <img src="assets/images/bg/new-two-cta-bg.png" alt="Image"
                    class="position-absolute start-0 top-0 w-100 h-100 object-fit-cover z-n1">

                <div class="max-w-870-px mx-auto text-center">
                    <div class="d-inline-flex align-items-center tw-gap-2">
                        <span class="d-flex tw-text-2xl text-brand">
                            <i class="ph-bold ph-sparkle"></i>
                        </span>
                        <span class="tw-text-lg text-brand">
                            Let's Build Your Solution
                        </span>
                    </div>
                    <div class="">
                        <h2 class="display-5 text-white fw-semibold text-reveal-two tw-leading-75 tw-mt-4"> Let's Create
                            Powerful IT <span class="bg-brand tw-px-4 tw-py-105 tw-rounded-lg text-white rotate-4-deg">Solutions</span>  <span class="bg-brand-secondary-three tw-px-4 tw-py-105 tw-rounded-lg text-white rotate--4-deg">Tailored</span> To Your Needs</h2>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- ================================= New two CTA section end ================================== -->