<!-- ========================= New two case studies section start ================================ -->
<section class="new-two-case-studies bg-white top-bottom-section-gradient overflow-hidden">
    <div class="bg-brand-neutral tw-rounded-3xl py-120">
        <div class="container">
            <div class="max-w-350-px mx-auto text-center tw-mb-15 position-relative z-2">
                <div class="d-inline-flex align-items-center tw-gap-2">
                    <span class="d-inline-flex tw-text-2xl text-brand-secondary">
                        <i class="ph-bold ph-sparkle"></i>
                    </span>
                    <span class="tw-text-lg text-brand-secondary">
                        Our Case Studies
                    </span>
                </div>
                <div class="position-relative">
                    <h2 class="display-5 text-white text-reveal fw-bold p-0">
                        Solutions That IT Work's
                    </h2>
                </div>
                <div class="">
                    <p class="text-white tw-text-lg tw-mt-4">Our case studies highlight how we help
                        businesses overcome
                        challenges.</p>
                </div>
            </div>

            <div class="row gy-4">
                <div class="col-lg-4 col-md-6" data-speed=".75">
                    <div class="d-flex flex-column tw-gap-6">
                        <div class="position-relative z-1 group group-item">
                            <div
                                class="image-double-animation clip-animation overflow-hidden position-relative d-block h-100 tw-rounded-xl tw-pe-705 border border-transparent hover-border-main-600 tw-duration-500 border-3">
                                <img src="assets/images/thumbs/new-two-case-studies-img1.png" alt="Image"
                                    data-animate="true"
                                    class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                                <img src="assets/images/thumbs/new-two-case-studies-img1.png" alt="Image"
                                    class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                            </div>
                            <span
                                class="position-absolute w-100 h-100 top-0 start-0 bg-black bg-opacity-50 tw-duration-500 tw-invisible opacity-0 group-hover-item-opacity-1 group-hover-item-visible pointer-event-none"></span>
                            <div
                                class="position-absolute w-100 h-100 top-0 start-0 tw-p-6 z-1 d-flex flex-column justify-content-between tw-gap-6 tw-duration-500 tw-invisible opacity-0 group-hover-item-opacity-1 group-hover-item-visible">
                                <div class="d-flex align-items-center justify-content-end tw-gap-2">
                                    <button type="button"
                                        class="tw-w-11 tw-h-11 bg-brand-secondary-three text-white rounded-circle d-flex justify-content-center align-items-center tw-text-2xl hover-scale-108 tw-duration-500">
                                        <i class="ph-fill ph-image"></i>
                                    </button>
                                    <button type="button"
                                        class="tw-w-11 tw-h-11 bg-brand-secondary-three text-white rounded-circle d-flex justify-content-center align-items-center tw-text-2xl hover-scale-108 tw-duration-500">
                                        <i class="ph-fill ph-play"></i>
                                    </button>
                                </div>
                                <div class="d-inline-flex flex-column align-items-start">
                                    <h2
                                        class="h4 text-white bg-brand tw-py-2 tw-px-4 tw-rounded tw-mb-2 d-inline-block">
                                        CRM Automation System</h2>
                                    <span class="text-brand bg-white tw-py-2 tw-px-4 tw-rounded">Business
                                        Solutions</span>
                                </div>
                            </div>
                        </div>
                        <div class="position-relative z-1 group group-item">
                            <div
                                class="image-double-animation clip-animation overflow-hidden position-relative d-block h-100 tw-rounded-xl tw-pe-705 border border-transparent hover-border-main-600 tw-duration-500 border-3">
                                <img src="assets/images/thumbs/new-two-case-studies-img2.png" alt="Image"
                                    data-animate="true"
                                    class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                                <img src="assets/images/thumbs/new-two-case-studies-img2.png" alt="Image"
                                    class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                            </div>
                            <span
                                class="position-absolute w-100 h-100 top-0 start-0 bg-black bg-opacity-50 tw-duration-500 tw-invisible opacity-0 group-hover-item-opacity-1 group-hover-item-visible pointer-event-none"></span>
                            <div
                                class="position-absolute w-100 h-100 top-0 start-0 tw-p-6 z-1 d-flex flex-column justify-content-between tw-gap-6 tw-duration-500 tw-invisible opacity-0 group-hover-item-opacity-1 group-hover-item-visible">
                                <div class="d-flex align-items-center justify-content-end tw-gap-2">
                                    <button type="button"
                                        class="tw-w-11 tw-h-11 bg-brand-secondary-three text-white rounded-circle d-flex justify-content-center align-items-center tw-text-2xl hover-scale-108 tw-duration-500">
                                        <i class="ph-fill ph-image"></i>
                                    </button>
                                    <button type="button"
                                        class="tw-w-11 tw-h-11 bg-brand-secondary-three text-white rounded-circle d-flex justify-content-center align-items-center tw-text-2xl hover-scale-108 tw-duration-500">
                                        <i class="ph-fill ph-play"></i>
                                    </button>
                                </div>
                                <div class="d-inline-flex flex-column align-items-start">
                                    <h2
                                        class="h4 text-white bg-brand tw-py-2 tw-px-4 tw-rounded tw-mb-2 d-inline-block">
                                        CRM Automation System</h2>
                                    <span class="text-brand bg-white tw-py-2 tw-px-4 tw-rounded">Business
                                        Solutions</span>
                                </div>
                            </div>
                        </div>
                        <div class="position-relative z-1 group group-item">
                            <div
                                class="image-double-animation clip-animation overflow-hidden position-relative d-block h-100 tw-rounded-xl tw-pe-705 border border-transparent hover-border-main-600 tw-duration-500 border-3">
                                <img src="assets/images/thumbs/new-two-case-studies-img3.png" alt="Image"
                                    data-animate="true"
                                    class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                                <img src="assets/images/thumbs/new-two-case-studies-img3.png" alt="Image"
                                    class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                            </div>
                            <span
                                class="position-absolute w-100 h-100 top-0 start-0 bg-black bg-opacity-50 tw-duration-500 tw-invisible opacity-0 group-hover-item-opacity-1 group-hover-item-visible pointer-event-none"></span>
                            <div
                                class="position-absolute w-100 h-100 top-0 start-0 tw-p-6 z-1 d-flex flex-column justify-content-between tw-gap-6 tw-duration-500 tw-invisible opacity-0 group-hover-item-opacity-1 group-hover-item-visible">
                                <div class="d-flex align-items-center justify-content-end tw-gap-2">
                                    <button type="button"
                                        class="tw-w-11 tw-h-11 bg-brand-secondary-three text-white rounded-circle d-flex justify-content-center align-items-center tw-text-2xl hover-scale-108 tw-duration-500">
                                        <i class="ph-fill ph-image"></i>
                                    </button>
                                    <button type="button"
                                        class="tw-w-11 tw-h-11 bg-brand-secondary-three text-white rounded-circle d-flex justify-content-center align-items-center tw-text-2xl hover-scale-108 tw-duration-500">
                                        <i class="ph-fill ph-play"></i>
                                    </button>
                                </div>
                                <div class="d-inline-flex flex-column align-items-start">
                                    <h2
                                        class="h4 text-white bg-brand tw-py-2 tw-px-4 tw-rounded tw-mb-2 d-inline-block">
                                        CRM Automation System</h2>
                                    <span class="text-brand bg-white tw-py-2 tw-px-4 tw-rounded">Business
                                        Solutions</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="d-flex flex-column tw-gap-6">
                        <div class="position-relative z-1 group group-item">
                            <div
                                class="image-double-animation clip-animation overflow-hidden position-relative d-block h-100 tw-rounded-xl tw-pe-705 border border-transparent hover-border-main-600 tw-duration-500 border-3">
                                <img src="assets/images/thumbs/new-two-case-studies-img4.png" alt="Image"
                                    data-animate="true"
                                    class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                                <img src="assets/images/thumbs/new-two-case-studies-img4.png" alt="Image"
                                    class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                            </div>
                            <span
                                class="position-absolute w-100 h-100 top-0 start-0 bg-black bg-opacity-50 tw-duration-500 tw-invisible opacity-0 group-hover-item-opacity-1 group-hover-item-visible pointer-event-none"></span>
                            <div
                                class="position-absolute w-100 h-100 top-0 start-0 tw-p-6 z-1 d-flex flex-column justify-content-between tw-gap-6 tw-duration-500 tw-invisible opacity-0 group-hover-item-opacity-1 group-hover-item-visible">
                                <div class="d-flex align-items-center justify-content-end tw-gap-2">
                                    <button type="button"
                                        class="tw-w-11 tw-h-11 bg-brand-secondary-three text-white rounded-circle d-flex justify-content-center align-items-center tw-text-2xl hover-scale-108 tw-duration-500">
                                        <i class="ph-fill ph-image"></i>
                                    </button>
                                    <button type="button"
                                        class="tw-w-11 tw-h-11 bg-brand-secondary-three text-white rounded-circle d-flex justify-content-center align-items-center tw-text-2xl hover-scale-108 tw-duration-500">
                                        <i class="ph-fill ph-play"></i>
                                    </button>
                                </div>
                                <div class="d-inline-flex flex-column align-items-start">
                                    <h2
                                        class="h4 text-white bg-brand tw-py-2 tw-px-4 tw-rounded tw-mb-2 d-inline-block">
                                        CRM Automation System</h2>
                                    <span class="text-brand bg-white tw-py-2 tw-px-4 tw-rounded">Business
                                        Solutions</span>
                                </div>
                            </div>
                        </div>
                        <div class="position-relative z-1 group group-item">
                            <div
                                class="image-double-animation clip-animation overflow-hidden position-relative d-block h-100 tw-rounded-xl tw-pe-705 border border-transparent hover-border-main-600 tw-duration-500 border-3">
                                <img src="assets/images/thumbs/new-two-case-studies-img5.png" alt="Image"
                                    data-animate="true"
                                    class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                                <img src="assets/images/thumbs/new-two-case-studies-img5.png" alt="Image"
                                    class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                            </div>
                            <span
                                class="position-absolute w-100 h-100 top-0 start-0 bg-black bg-opacity-50 tw-duration-500 tw-invisible opacity-0 group-hover-item-opacity-1 group-hover-item-visible pointer-event-none"></span>
                            <div
                                class="position-absolute w-100 h-100 top-0 start-0 tw-p-6 z-1 d-flex flex-column justify-content-between tw-gap-6 tw-duration-500 tw-invisible opacity-0 group-hover-item-opacity-1 group-hover-item-visible">
                                <div class="d-flex align-items-center justify-content-end tw-gap-2">
                                    <button type="button"
                                        class="tw-w-11 tw-h-11 bg-brand-secondary-three text-white rounded-circle d-flex justify-content-center align-items-center tw-text-2xl hover-scale-108 tw-duration-500">
                                        <i class="ph-fill ph-image"></i>
                                    </button>
                                    <button type="button"
                                        class="tw-w-11 tw-h-11 bg-brand-secondary-three text-white rounded-circle d-flex justify-content-center align-items-center tw-text-2xl hover-scale-108 tw-duration-500">
                                        <i class="ph-fill ph-play"></i>
                                    </button>
                                </div>
                                <div class="d-inline-flex flex-column align-items-start">
                                    <h2
                                        class="h4 text-white bg-brand tw-py-2 tw-px-4 tw-rounded tw-mb-2 d-inline-block">
                                        CRM Automation System</h2>
                                    <span class="text-brand bg-white tw-py-2 tw-px-4 tw-rounded">Business
                                        Solutions</span>
                                </div>
                            </div>
                        </div>
                        <div class="position-relative z-1 group group-item">
                            <div
                                class="image-double-animation clip-animation overflow-hidden position-relative d-block h-100 tw-rounded-xl tw-pe-705 border border-transparent hover-border-main-600 tw-duration-500 border-3">
                                <img src="assets/images/thumbs/new-two-case-studies-img1.png" alt="Image"
                                    data-animate="true"
                                    class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                                <img src="assets/images/thumbs/new-two-case-studies-img1.png" alt="Image"
                                    class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                            </div>
                            <span
                                class="position-absolute w-100 h-100 top-0 start-0 bg-black bg-opacity-50 tw-duration-500 tw-invisible opacity-0 group-hover-item-opacity-1 group-hover-item-visible pointer-event-none"></span>
                            <div
                                class="position-absolute w-100 h-100 top-0 start-0 tw-p-6 z-1 d-flex flex-column justify-content-between tw-gap-6 tw-duration-500 tw-invisible opacity-0 group-hover-item-opacity-1 group-hover-item-visible">
                                <div class="d-flex align-items-center justify-content-end tw-gap-2">
                                    <button type="button"
                                        class="tw-w-11 tw-h-11 bg-brand-secondary-three text-white rounded-circle d-flex justify-content-center align-items-center tw-text-2xl hover-scale-108 tw-duration-500">
                                        <i class="ph-fill ph-image"></i>
                                    </button>
                                    <button type="button"
                                        class="tw-w-11 tw-h-11 bg-brand-secondary-three text-white rounded-circle d-flex justify-content-center align-items-center tw-text-2xl hover-scale-108 tw-duration-500">
                                        <i class="ph-fill ph-play"></i>
                                    </button>
                                </div>
                                <div class="d-inline-flex flex-column align-items-start">
                                    <h2
                                        class="h4 text-white bg-brand tw-py-2 tw-px-4 tw-rounded tw-mb-2 d-inline-block">
                                        CRM Automation System</h2>
                                    <span class="text-brand bg-white tw-py-2 tw-px-4 tw-rounded">Business
                                        Solutions</span>
                                </div>
                            </div>
                        </div>
                        <div class="">
                            <div class="custom-fade-animation tw-mt-10 d-flex justify-content-center" data-delay=".7"
                                data-fade-from="bottom" data-ease="bounce">
                                <a href="contact.html"
                                    class="link-group style-two d-inline-flex align-items-center gap-2 gap-0 group group-item bg-main-600 text-white tw-p-2 rounded-pill group-hover-bg-white overflow-hidden">
                                    <span
                                        class="button-icon-two bg-white text-brand tw-w-9 tw-h-9 rounded-circle d-flex justify-content-center align-items-center tw-duration-500">
                                        <i class="ph-bold ph-arrow-right"></i>
                                    </span>
                                    <span class="fw-bold h6 tw-duration-500 text-white">
                                        View All Studies
                                    </span>
                                    <span
                                        class="button-icon-one bg-white text-brand tw-w-9 tw-h-9 rounded-circle d-flex justify-content-center align-items-center tw-duration-500">
                                        <i class="ph-bold ph-arrow-right"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6" data-speed=".75">
                    <div class="d-flex flex-column tw-gap-6">
                        <div class="position-relative z-1 group group-item">
                            <div
                                class="image-double-animation clip-animation overflow-hidden position-relative d-block h-100 tw-rounded-xl tw-pe-705 border border-transparent hover-border-main-600 tw-duration-500 border-3">
                                <img src="assets/images/thumbs/new-two-case-studies-img6.png" alt="Image"
                                    data-animate="true"
                                    class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                                <img src="assets/images/thumbs/new-two-case-studies-img6.png" alt="Image"
                                    class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                            </div>
                            <span
                                class="position-absolute w-100 h-100 top-0 start-0 bg-black bg-opacity-50 tw-duration-500 tw-invisible opacity-0 group-hover-item-opacity-1 group-hover-item-visible pointer-event-none"></span>
                            <div
                                class="position-absolute w-100 h-100 top-0 start-0 tw-p-6 z-1 d-flex flex-column justify-content-between tw-gap-6 tw-duration-500 tw-invisible opacity-0 group-hover-item-opacity-1 group-hover-item-visible">
                                <div class="d-flex align-items-center justify-content-end tw-gap-2">
                                    <button type="button"
                                        class="tw-w-11 tw-h-11 bg-brand-secondary-three text-white rounded-circle d-flex justify-content-center align-items-center tw-text-2xl hover-scale-108 tw-duration-500">
                                        <i class="ph-fill ph-image"></i>
                                    </button>
                                    <button type="button"
                                        class="tw-w-11 tw-h-11 bg-brand-secondary-three text-white rounded-circle d-flex justify-content-center align-items-center tw-text-2xl hover-scale-108 tw-duration-500">
                                        <i class="ph-fill ph-play"></i>
                                    </button>
                                </div>
                                <div class="d-inline-flex flex-column align-items-start">
                                    <h2
                                        class="h4 text-white bg-brand tw-py-2 tw-px-4 tw-rounded tw-mb-2 d-inline-block">
                                        CRM Automation System</h2>
                                    <span class="text-brand bg-white tw-py-2 tw-px-4 tw-rounded">Business
                                        Solutions</span>
                                </div>
                            </div>
                        </div>
                        <div class="position-relative z-1 group group-item">
                            <div
                                class="image-double-animation clip-animation overflow-hidden position-relative d-block h-100 tw-rounded-xl tw-pe-705 border border-transparent hover-border-main-600 tw-duration-500 border-3">
                                <img src="assets/images/thumbs/new-two-case-studies-img7.png" alt="Image"
                                    data-animate="true"
                                    class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                                <img src="assets/images/thumbs/new-two-case-studies-img7.png" alt="Image"
                                    class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                            </div>
                            <span
                                class="position-absolute w-100 h-100 top-0 start-0 bg-black bg-opacity-50 tw-duration-500 tw-invisible opacity-0 group-hover-item-opacity-1 group-hover-item-visible pointer-event-none"></span>
                            <div
                                class="position-absolute w-100 h-100 top-0 start-0 tw-p-6 z-1 d-flex flex-column justify-content-between tw-gap-6 tw-duration-500 tw-invisible opacity-0 group-hover-item-opacity-1 group-hover-item-visible">
                                <div class="d-flex align-items-center justify-content-end tw-gap-2">
                                    <button type="button"
                                        class="tw-w-11 tw-h-11 bg-brand-secondary-three text-white rounded-circle d-flex justify-content-center align-items-center tw-text-2xl hover-scale-108 tw-duration-500">
                                        <i class="ph-fill ph-image"></i>
                                    </button>
                                    <button type="button"
                                        class="tw-w-11 tw-h-11 bg-brand-secondary-three text-white rounded-circle d-flex justify-content-center align-items-center tw-text-2xl hover-scale-108 tw-duration-500">
                                        <i class="ph-fill ph-play"></i>
                                    </button>
                                </div>
                                <div class="d-inline-flex flex-column align-items-start">
                                    <h2
                                        class="h4 text-white bg-brand tw-py-2 tw-px-4 tw-rounded tw-mb-2 d-inline-block">
                                        CRM Automation System</h2>
                                    <span class="text-brand bg-white tw-py-2 tw-px-4 tw-rounded">Business
                                        Solutions</span>
                                </div>
                            </div>
                        </div>
                        <div class="position-relative z-1 group group-item">
                            <div
                                class="image-double-animation clip-animation overflow-hidden position-relative d-block h-100 tw-rounded-xl tw-pe-705 border border-transparent hover-border-main-600 tw-duration-500 border-3">
                                <img src="assets/images/thumbs/new-two-case-studies-img8.png" alt="Image"
                                    data-animate="true"
                                    class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                                <img src="assets/images/thumbs/new-two-case-studies-img8.png" alt="Image"
                                    class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                            </div>
                            <span
                                class="position-absolute w-100 h-100 top-0 start-0 bg-black bg-opacity-50 tw-duration-500 tw-invisible opacity-0 group-hover-item-opacity-1 group-hover-item-visible pointer-event-none"></span>
                            <div
                                class="position-absolute w-100 h-100 top-0 start-0 tw-p-6 z-1 d-flex flex-column justify-content-between tw-gap-6 tw-duration-500 tw-invisible opacity-0 group-hover-item-opacity-1 group-hover-item-visible">
                                <div class="d-flex align-items-center justify-content-end tw-gap-2">
                                    <button type="button"
                                        class="tw-w-11 tw-h-11 bg-brand-secondary-three text-white rounded-circle d-flex justify-content-center align-items-center tw-text-2xl hover-scale-108 tw-duration-500">
                                        <i class="ph-fill ph-image"></i>
                                    </button>
                                    <button type="button"
                                        class="tw-w-11 tw-h-11 bg-brand-secondary-three text-white rounded-circle d-flex justify-content-center align-items-center tw-text-2xl hover-scale-108 tw-duration-500">
                                        <i class="ph-fill ph-play"></i>
                                    </button>
                                </div>
                                <div class="d-inline-flex flex-column align-items-start">
                                    <h2
                                        class="h4 text-white bg-brand tw-py-2 tw-px-4 tw-rounded tw-mb-2 d-inline-block">
                                        CRM Automation System</h2>
                                    <span class="text-brand bg-white tw-py-2 tw-px-4 tw-rounded">Business
                                        Solutions</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========================= New two case studies section end ================================ -->