<!-- ============================ new two testimonials start =========================== -->
<section class="new-two-testimonials py-120">
    <div class="container">
        <div class="row gy-4">
            <div class="col-xl-4">
                <div class="">
                    <div class="d-flex align-items-center tw-gap-2">
                        <span class="d-flex tw-text-2xl text-brand">
                            <i class="ph-bold ph-sparkle"></i>
                        </span>
                        <span class="tw-text-lg text-brand">
                            What Our Clients Say
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-xl-8">
                <div class="">
                    <h2 class="display-5 text-white fw-semibold text-reveal-two tw-leading-75"> Real Experiences From Businesses We've Helped Grow Feedback</h2>
                </div>
            </div>
        </div>

        <div class="row gy-4">
            <div class="col-lg-6">
                <div class=""></div>
            </div>
            <div class="col-lg-6">
                <div class=""></div>
            </div>
        </div>
    </div>
</section>
<!-- ============================ new two testimonials end =========================== -->