<!-- ============================== new help center one start =============================== -->
<section class="new-help-center py-120 position-relative z-1 overflow-hidden">
    <img src="assets/images/bg/new-help-center-bg.png" alt="Shape Image"
        class="position-absolute start-0 top-0 w-100 h-100 object-fit-cover z-n1">


    <div class="container">
        <div class="tw-mb-16">
            <div class="row gy-4">
                <div class="col-xl-3">
                    <div class="">
                        <div class="d-flex align-items-center tw-gap-2">
                            <span class="d-flex tw-text-2xl text-brand-secondary">
                                <i class="ph-bold ph-sparkle"></i>
                            </span>
                            <span class="tw-text-lg text-brand-secondary">
                                Help & Support ?
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="position-relative">
                        <h2 class="display-5 text-white text-reveal fw-bold">
                            Everything You Need to Know
                        </h2>
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="">
                        <p class="text-white">Our process is designed to deliver powerful AI solutions through a clear
                            and efficient workflow.</p>
                    </div>
                </div>
            </div>
        </div>


        <div class="row gy-4">
            <div class="col-lg-6">
                <div class="">
                    <div class="accordion accordion-new-style-two" id="accordionExampleTwo">
                        <div
                            class="accordion-item bg-brand-two border border-white-20 tw-rounded-32-px overflow-hidden">
                            <h2 class="accordion-header">
                                <button
                                    class="accordion-button bg-transparent border-0 shadow-none text-white tw-py-6 tw-ps-6"
                                    type="button" data-bs-toggle="collapse" data-bs-target="#collapseOnee"
                                    aria-expanded="true" aria-controls="collapseOnee">
                                    <span class="d-flex align-items-center tw-gap-3">
                                        <span class="tw-w-2 tw-h-2 bg-white rounded-circle"></span>
                                        <span class="h5 tw-hidden text-white">What services does ITecho provide?</span>
                                    </span>
                                </button>
                            </h2>
                            <div id="collapseOnee" class="accordion-collapse collapse show"
                                data-bs-parent="#accordionExampleTwo">
                                <div class="accordion-body tw-p-6 pt-0">
                                    <p class="text-white">
                                        Yes, we specialize in building custom AI solutions tailored to your business
                                        needs, ensuring the technology aligns perfectly with your goals.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div
                            class="accordion-item bg-brand-two border border-white-20 tw-rounded-32-px overflow-hidden">
                            <h2 class="accordion-header">
                                <button
                                    class="accordion-button bg-transparent border-0 shadow-none text-white tw-py-6 tw-ps-6 collapsed"
                                    type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwoe"
                                    aria-expanded="false" aria-controls="collapseTwoe">
                                    <span class="d-flex align-items-center tw-gap-3">
                                        <span class="tw-w-2 tw-h-2 bg-white rounded-circle"></span>
                                        <span class="h5 tw-hidden text-white">How can AI benefit my business?</span>
                                    </span>
                                </button>
                            </h2>
                            <div id="collapseTwoe" class="accordion-collapse collapse"
                                data-bs-parent="#accordionExampleTwo">
                                <div class="accordion-body tw-p-6 pt-0">
                                    <p class="text-white">
                                        Yes, we specialize in building custom AI solutions tailored to your business
                                        needs, ensuring the technology aligns perfectly with your goals.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div
                            class="accordion-item bg-brand-two border border-white-20 tw-rounded-32-px overflow-hidden">
                            <h2 class="accordion-header">
                                <button
                                    class="accordion-button bg-transparent border-0 shadow-none text-white tw-py-6 tw-ps-6 collapsed"
                                    type="button" data-bs-toggle="collapse" data-bs-target="#collapseThreee"
                                    aria-expanded="false" aria-controls="collapseThreee">
                                    <span class="d-flex align-items-center tw-gap-3">
                                        <span class="tw-w-2 tw-h-2 bg-white rounded-circle"></span>
                                        <span class="h5 tw-hidden text-white">Do you offer custom AI solutions?</span>
                                    </span>
                                </button>
                            </h2>
                            <div id="collapseThreee" class="accordion-collapse collapse"
                                data-bs-parent="#accordionExampleTwo">
                                <div class="accordion-body tw-p-6 pt-0">
                                    <p class="text-white">
                                        Yes, we specialize in building custom AI solutions tailored to your business
                                        needs, ensuring the technology aligns perfectly with your goals.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div
                            class="accordion-item bg-brand-two border border-white-20 tw-rounded-32-px overflow-hidden">
                            <h2 class="accordion-header">
                                <button
                                    class="accordion-button bg-transparent border-0 shadow-none text-white tw-py-6 tw-ps-6 collapsed"
                                    type="button" data-bs-toggle="collapse" data-bs-target="#collapseFourr"
                                    aria-expanded="false" aria-controls="collapseFourr">
                                    <span class="d-flex align-items-center tw-gap-3">
                                        <span class="tw-w-2 tw-h-2 bg-white rounded-circle"></span>
                                        <span class="h5 tw-hidden text-white">Do you offer custom AI solutions?</span>
                                    </span>
                                </button>
                            </h2>
                            <div id="collapseFourr" class="accordion-collapse collapse"
                                data-bs-parent="#accordionExampleTwo">
                                <div class="accordion-body tw-p-6 pt-0">
                                    <p class="text-white">
                                        Yes, we specialize in building custom AI solutions tailored to your business
                                        needs, ensuring the technology aligns perfectly with your goals.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div
                            class="accordion-item bg-brand-two border border-white-20 tw-rounded-32-px overflow-hidden">
                            <h2 class="accordion-header">
                                <button
                                    class="accordion-button bg-transparent border-0 shadow-none text-white tw-py-6 tw-ps-6 collapsed"
                                    type="button" data-bs-toggle="collapse" data-bs-target="#collapseFivee"
                                    aria-expanded="false" aria-controls="collapseFivee">
                                    <span class="d-flex align-items-center tw-gap-3">
                                        <span class="tw-w-2 tw-h-2 bg-white rounded-circle"></span>
                                        <span class="h5 tw-hidden text-white">Do you offer custom AI solutions?</span>
                                    </span>
                                </button>
                            </h2>
                            <div id="collapseFivee" class="accordion-collapse collapse"
                                data-bs-parent="#accordionExampleTwo">
                                <div class="accordion-body tw-p-6 pt-0">
                                    <p class="text-white">
                                        Yes, we specialize in building custom AI solutions tailored to your business
                                        needs, ensuring the technology aligns perfectly with your goals.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="position-relative tw-pb-16 h-100 still-have-question-box-wrapper">
                    <div
                        class="image-double-animation clip-animation overflow-hidden position-relative d-block h-100 tw-rounded-xl">
                        <img src="assets/images/thumbs/new-help-center-img.png" alt="Image" data-animate="true"
                            class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                        <img src="assets/images/thumbs/new-help-center-img.png" alt="Image"
                            class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                    </div>
                    <div class="still-have-question-box bg-brand-secondary tw-p-8 tw-rounded-xl border border-black border-5 max-w-440-px">
                        <h2 class="h3">STILL HAVE QUESTIONS?</h2>
                        <p class="tw-mt-4 text-black fw-medium">Find clear and simple answers to the most common
                            questions about AI Technology.</p>
                        <div class="tw-mt-10 d-flex align-items-center tw-gap-5">
                            <div class="d-inline-flex align-items-center pointer-events-auto">
                                <div
                                    class="pointer-events-auto tw-w-15 tw-h-15 rounded-circle overflow-hidden border border-brand-secondary tw-duration-300 hover-scale-14 tw-hover-z-4 position-relative z-0">
                                    <img src="assets/images/thumbs/client-img1.png" alt="Client Image"
                                        class="w-100 h-100 object-fit-cover">
                                </div>
                                <div
                                    class="pointer-events-auto tw-w-15 tw-h-15 rounded-circle overflow-hidden border border-brand-secondary tw-duration-300 hover-scale-14 tw-hover-z-4 position-relative tw--ms-28-px z-1">
                                    <img src="assets/images/thumbs/client-img2.png" alt="Client Image"
                                        class="w-100 h-100 object-fit-cover">
                                </div>
                                <div
                                    class="pointer-events-auto tw-w-15 tw-h-15 rounded-circle overflow-hidden border border-brand-secondary tw-duration-300 hover-scale-14 tw-hover-z-4 position-relative tw--ms-28-px z-1">
                                    <img src="assets/images/thumbs/client-img3.png" alt="Client Image"
                                        class="w-100 h-100 object-fit-cover">
                                </div>
                            </div>
                            <div class="">
                                <h2 class="tw-text-lg">NEED TO SUPPORTS</h2>
                                <a href="javascript:void(0)" class="tw-text-base fw-bold d-inline-flex align-items-center tw-gap-205 border-bottom border-brand tw-mt-105 font-heading hover-text-black hover-border-black">
                                    Get In Touch
                                    <span class="d-flex">
                                        <i class="ph ph-arrow-right"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- ============================== new help center one end =============================== -->