<!-- ================================= New how it work one start ===================================== -->
<section class="new-how-it-work-one py-120 position-relative z-1 overflow-hidden">
    <img src="assets/images/bg/new-how-it-work-one-bg.png" alt="Shape Image" class="position-absolute start-0 top-0 w-100 h-100 object-fit-cover z-n1">

    <div class="position-absolute z-n1 z-n1 top-0 start-0">
        <img src="assets/images/shape/corner-left-shape.png" alt="corner shape">
    </div>
    <div class="position-absolute z-n1 z-n1 bottom-0 end-0">
        <img src="assets/images/shape/corner-right-shape.png" alt="corner shape">
    </div>
    <div class="position-absolute z-n1 top-50 translate-middle-y end-0 max-w-17-percent">
        <img src="assets/images/shape/round-trinagle-shape-two.png" alt="Element" data-speed="1.3">
    </div>
</section>
<!-- ================================= New how it work one end ===================================== -->