<!-- ============================== new blog one section start =====================================-->
<section class="new-blog-one py-120 position-relative z-1 overflow-hidden">
    <img src="assets/images/bg/new-blog-one-bg.png" alt="Shape Image"
        class="position-absolute start-0 top-0 w-100 h-100 object-fit-cover z-n1">

    <div class="position-absolute z-n1 z-n1 top-0 start-0">
        <img src="assets/images/shape/corner-left-shape.png" alt="corner shape">
    </div>
    <div class="position-absolute z-n1 z-n1 bottom-0 end-0">
        <img src="assets/images/shape/corner-right-shape.png" alt="corner shape">
    </div>
    <div class="position-absolute z-n1 top-50 translate-middle-y end-0 max-w-17-percent">
        <img src="assets/images/shape/round-trinagle-shape-two.png" alt="Element" data-speed=".7">
    </div>

    <div class="container">
        <div class="tw-mb-16">
            <div class="row gy-4">
                <div class="col-xl-4">
                    <div class="">
                        <div class="d-flex align-items-center tw-gap-2">
                            <span class="d-flex tw-text-2xl text-brand-secondary">
                                <i class="ph-bold ph-sparkle"></i>
                            </span>
                            <span class="tw-text-lg text-brand-secondary">
                                Latest News & Blogs
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-8">
                    <div class="position-relative">
                        <h2 class="display-5 text-white text-reveal fw-bold">
                            Explore insights, ideas, & innovations With Stay updated with the latest AI and tech trends
                        </h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="swiper new-blog-one-slider left-right-gradient gradient-width-200">
            <div class="swiper-wrapper">
                <div class="swiper-slide" data-speed="1.1">
                    <div class="bg-brand-two border border-white-20 tw-rounded-xl overflow-hidden tw-p-3">
                        <div class="position-relative">
                            <div
                                class="image-double-animation clip-animation overflow-hidden position-relative d-block h-100 tw-rounded-xl">
                                <img src="assets/images/thumbs/new-blog-one-img1.png" alt="Image" data-animate="true"
                                    class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                                <img src="assets/images/thumbs/new-blog-one-img1.png" alt="Image"
                                    class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                            </div>
                            <div
                                class="d-inline-flex rounded-pill overflow-hidden border border-white-20 position-absolute top-0 tw-end-0 tw-mt-4 tw-me-4 z-1">
                                <span class="bg-brand tw-py-2 tw-ps-4 tw-pe-3 fw-bold text-white">25</span>
                                <span class="bg-brand-two tw-py-2 tw-pe-4 tw-ps-3 fw-semibold text-white">May,
                                    2026</span>
                            </div>
                        </div>
                        <div class="tw-pt-10 tw-p-4 position-relative">
                            <span
                                class="new-blog-one__info fw-semibold bg-brand-secondary tw-py-2 tw-px-5 text-heading">AI
                                Trends</span>
                            <h2 class="h3 text-white">
                                <a href="blog-details.html"
                                    class="hover-common-underline text-white hover-text-brand">Leading AI Trends Shaping
                                    Businesses in 2026</a>
                            </h2>
                            <div class="tw-my-7 w-100 tw-h-px border border-white-20"></div>
                            <div class="d-flex align-items-center tw-gap-4 flex-wrap justify-content-between">
                                <div class="d-flex align-items-center tw-gap-2">
                                    <span class="tw-w-11 tw-h-11 rounded-circle overflow-hidden">
                                        <img src="assets/images/thumbs/client-img1.png" alt="Image"
                                            class="w-100 h-100 object-fit-cover">
                                    </span>
                                    <div class="">
                                        <h2 class="tw-text-base text-white font-body">Ronald Richards</h2>
                                        <span class="text-new-neutral-40 tw-text-sm">Sociologist</span>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center tw-gap-4">
                                    <div class="d-inline-flex align-items-center tw-gap-205">
                                        <span class="text-brand tw-text-2xl d-flex">
                                            <i class="ph ph-chat-centered-text"></i>
                                        </span>
                                        <span class="text-white fw-medium">216</span>
                                    </div>
                                    <a href="blog-details.html"
                                        class="d-inline-flex align-items-center tw-gap-205 text-brand-secondary fw-bold hover-text-white hover-common-underline">
                                        <span class="fw-medium">Read</span>
                                        <span class="tw-text-lg d-flex">
                                            <i class="ph-bold ph-arrow-up-right"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="bg-brand-two border border-white-20 tw-rounded-xl overflow-hidden tw-p-3">
                        <div class="position-relative">
                            <div
                                class="image-double-animation clip-animation overflow-hidden position-relative d-block h-100 tw-rounded-xl">
                                <img src="assets/images/thumbs/new-blog-one-img2.png" alt="Image" data-animate="true"
                                    class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                                <img src="assets/images/thumbs/new-blog-one-img2.png" alt="Image"
                                    class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                            </div>
                            <div
                                class="d-inline-flex rounded-pill overflow-hidden border border-white-20 position-absolute top-0 tw-end-0 tw-mt-4 tw-me-4 z-1">
                                <span class="bg-brand tw-py-2 tw-ps-4 tw-pe-3 fw-bold text-white">10</span>
                                <span class="bg-brand-two tw-py-2 tw-pe-4 tw-ps-3 fw-semibold text-white">Feb,
                                    2026</span>
                            </div>
                        </div>
                        <div class="tw-pt-10 tw-p-4 position-relative">
                            <span
                                class="new-blog-one__info fw-semibold bg-brand-secondary tw-py-2 tw-px-5 text-heading">Machine
                                Learning</span>
                            <h2 class="h3 text-white">
                                <a href="blog-details.html"
                                    class="hover-common-underline text-white hover-text-brand">How
                                    Machine Learning Improves Business </a>
                            </h2>
                            <div class="tw-my-7 w-100 tw-h-px border border-white-20"></div>
                            <div class="d-flex align-items-center tw-gap-4 flex-wrap justify-content-between">
                                <div class="d-flex align-items-center tw-gap-2">
                                    <span class="tw-w-11 tw-h-11 rounded-circle overflow-hidden">
                                        <img src="assets/images/thumbs/client-img2.png" alt="Image"
                                            class="w-100 h-100 object-fit-cover">
                                    </span>
                                    <div class="">
                                        <h2 class="tw-text-base text-white font-body">Esther Howard</h2>
                                        <span class="text-new-neutral-40 tw-text-sm">Psychologist</span>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center tw-gap-4">
                                    <div class="d-inline-flex align-items-center tw-gap-205">
                                        <span class="text-brand tw-text-2xl d-flex">
                                            <i class="ph ph-chat-centered-text"></i>
                                        </span>
                                        <span class="text-white fw-medium">344</span>
                                    </div>
                                    <a href="blog-details.html"
                                        class="d-inline-flex align-items-center tw-gap-205 text-brand-secondary fw-bold hover-text-white hover-common-underline">
                                        <span class="fw-medium">Read</span>
                                        <span class="tw-text-lg d-flex">
                                            <i class="ph-bold ph-arrow-up-right"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide" data-speed="1.1">
                    <div class="bg-brand-two border border-white-20 tw-rounded-xl overflow-hidden tw-p-3">
                        <div class="position-relative">
                            <div
                                class="image-double-animation clip-animation overflow-hidden position-relative d-block h-100 tw-rounded-xl">
                                <img src="assets/images/thumbs/new-blog-one-img3.png" alt="Image" data-animate="true"
                                    class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                                <img src="assets/images/thumbs/new-blog-one-img3.png" alt="Image"
                                    class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                            </div>
                            <div
                                class="d-inline-flex rounded-pill overflow-hidden border border-white-20 position-absolute top-0 tw-end-0 tw-mt-4 tw-me-4 z-1">
                                <span class="bg-brand tw-py-2 tw-ps-4 tw-pe-3 fw-bold text-white">16</span>
                                <span class="bg-brand-two tw-py-2 tw-pe-4 tw-ps-3 fw-semibold text-white">Jan,
                                    2026</span>
                            </div>
                        </div>
                        <div class="tw-pt-10 tw-p-4 position-relative">
                            <span
                                class="new-blog-one__info fw-semibold bg-brand-secondary tw-py-2 tw-px-5 text-heading">AI
                                Automation</span>
                            <h2 class="h3 text-white">
                                <a href="blog-details.html"
                                    class="hover-common-underline text-white hover-text-brand">Benefits of AI Automation
                                    for
                                    Modern Enterprises</a>
                            </h2>
                            <div class="tw-my-7 w-100 tw-h-px border border-white-20"></div>
                            <div class="d-flex align-items-center tw-gap-4 flex-wrap justify-content-between">
                                <div class="d-flex align-items-center tw-gap-2">
                                    <span class="tw-w-11 tw-h-11 rounded-circle overflow-hidden">
                                        <img src="assets/images/thumbs/client-img3.png" alt="Image"
                                            class="w-100 h-100 object-fit-cover">
                                    </span>
                                    <div class="">
                                        <h2 class="tw-text-base text-white font-body">Kathryn Murphy</h2>
                                        <span class="text-new-neutral-40 tw-text-sm">Reporter</span>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center tw-gap-4">
                                    <div class="d-inline-flex align-items-center tw-gap-205">
                                        <span class="text-brand tw-text-2xl d-flex">
                                            <i class="ph ph-chat-centered-text"></i>
                                        </span>
                                        <span class="text-white fw-medium">654</span>
                                    </div>
                                    <a href="blog-details.html"
                                        class="d-inline-flex align-items-center tw-gap-205 text-brand-secondary fw-bold hover-text-white hover-common-underline">
                                        <span class="fw-medium">Read</span>
                                        <span class="tw-text-lg d-flex">
                                            <i class="ph-bold ph-arrow-up-right"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="bg-brand-two border border-white-20 tw-rounded-xl overflow-hidden tw-p-3">
                        <div class="position-relative">
                            <div
                                class="image-double-animation clip-animation overflow-hidden position-relative d-block h-100 tw-rounded-xl">
                                <img src="assets/images/thumbs/new-blog-one-img2.png" alt="Image" data-animate="true"
                                    class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                                <img src="assets/images/thumbs/new-blog-one-img2.png" alt="Image"
                                    class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                            </div>
                            <div
                                class="d-inline-flex rounded-pill overflow-hidden border border-white-20 position-absolute top-0 tw-end-0 tw-mt-4 tw-me-4 z-1">
                                <span class="bg-brand tw-py-2 tw-ps-4 tw-pe-3 fw-bold text-white">10</span>
                                <span class="bg-brand-two tw-py-2 tw-pe-4 tw-ps-3 fw-semibold text-white">Feb,
                                    2026</span>
                            </div>
                        </div>
                        <div class="tw-pt-10 tw-p-4 position-relative">
                            <span
                                class="new-blog-one__info fw-semibold bg-brand-secondary tw-py-2 tw-px-5 text-heading">Machine
                                Learning</span>
                            <h2 class="h3 text-white">
                                <a href="blog-details.html"
                                    class="hover-common-underline text-white hover-text-brand">How
                                    Machine Learning Improves Business </a>
                            </h2>
                            <div class="tw-my-7 w-100 tw-h-px border border-white-20"></div>
                            <div class="d-flex align-items-center tw-gap-4 flex-wrap justify-content-between">
                                <div class="d-flex align-items-center tw-gap-2">
                                    <span class="tw-w-11 tw-h-11 rounded-circle overflow-hidden">
                                        <img src="assets/images/thumbs/client-img2.png" alt="Image"
                                            class="w-100 h-100 object-fit-cover">
                                    </span>
                                    <div class="">
                                        <h2 class="tw-text-base text-white font-body">Esther Howard</h2>
                                        <span class="text-new-neutral-40 tw-text-sm">Psychologist</span>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center tw-gap-4">
                                    <div class="d-inline-flex align-items-center tw-gap-205">
                                        <span class="text-brand tw-text-2xl d-flex">
                                            <i class="ph ph-chat-centered-text"></i>
                                        </span>
                                        <span class="text-white fw-medium">344</span>
                                    </div>
                                    <a href="blog-details.html"
                                        class="d-inline-flex align-items-center tw-gap-205 text-brand-secondary fw-bold hover-text-white hover-common-underline">
                                        <span class="fw-medium">Read</span>
                                        <span class="tw-text-lg d-flex">
                                            <i class="ph-bold ph-arrow-up-right"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div
                class="new-blog-one-slider-pagination new-pagination-style d-flex tw-gap-2 tw-mt-10 justify-content-center">
            </div>
        </div>

    </div>
</section>
<!-- ============================== new blog one section end =====================================-->