<!-- ========================= our team two section start ========================= -->
<section class="py-120">
    <div class="container">
        <div class="d-flex align-items-center tw-gap-4 justify-content-between flex-wrap tw-mb-12">
            <div class="max-w-480-px w-100" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                <div class="d-inline-flex align-items-center tw-gap-2 tw-py-2 tw-px-5 border-main-50 border rounded-pill tw-mb-5">
                    <span class="tw-w-205 tw-h-205 bg-main-600 rounded-circle"></span>
                    <h3 class="fw-bold h6 text-main-600">
                        Meet with Our Team
                    </h3>
                </div>
                <h3 class="fw-bold text-main-two-600">
                    See Our IT Professional Staff For you
                </h3>
            </div>
            <p class="max-w-650-px w-100 fw-semibold tw-text-base text-neutral-600" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                Since 1998, At Logisku, we specialize in delivering seamless transport and logistics solutions that empower your business. With a strong commitment to reliability, speed, and customer satisfaction.
            </p>
        </div>
    </div>
    <div class="container max-w-1550-px">
        <div class="row gy-4">
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="team-two-card" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                    <div class="position-relative tw-mb-7">
                        <span class="w-100">
                            <img src="assets/images/thumbs/our-team-two-img1.png" alt="img" class="w-100">
                        </span>
                        <div class="team-two-card-icon">
                            <ul class="d-flex align-items-center tw-gap-2 position-absolute translate-middle-x mx-auto tw-start-50 bottom-0 tw-start-0 tw-mb-7">
                                <li>
                                    <a href="https://www.facebook.com/" class="tw-w-11 tw-h-11 bg-white tw-text-lg text-main-two-600 tw-rounded-md d-flex align-items-center justify-content-center hover-bg-main-600 hover-text-white tw-duration-300">
                                        <i class="ph-bold ph-facebook-logo"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.twitter.com/" class="tw-w-11 tw-h-11 bg-white tw-text-lg text-main-two-600 tw-rounded-md d-flex align-items-center justify-content-center hover-bg-main-600 hover-text-white tw-duration-300">
                                        <i class="ph-fill ph-twitter-logo"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.youtube.com/" class="tw-w-11 tw-h-11 bg-white tw-text-lg text-main-two-600 tw-rounded-md d-flex align-items-center justify-content-center hover-bg-main-600 hover-text-white tw-duration-300">
                                        <i class="ph-fill ph-youtube-logo"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/" class="tw-w-11 tw-h-11 bg-white tw-text-lg text-main-two-600 tw-rounded-md d-flex align-items-center justify-content-center hover-bg-main-600 hover-text-white tw-duration-300">
                                        <i class="ph-bold ph-linkedin-logo"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div>
                        <h2 class="h5">
                            <a href="team-details.html" class="fw-bold text-main-two-600 tw-mb-2">
                                William Smith
                            </a>
                        </h2>
                        <span class="fw-medium tw-text-lg text-neutral-600">
                            Express Courier Specialist
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="team-two-card" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                    <div class="position-relative tw-mb-7">
                        <span class="w-100">
                            <img src="assets/images/thumbs/our-team-two-img2.png" alt="img" class="w-100">
                        </span>
                        <div class="team-two-card-icon">
                            <ul class="d-flex align-items-center tw-gap-2 position-absolute translate-middle-x mx-auto tw-start-50 bottom-0 tw-start-0 tw-mb-7">
                                <li>
                                    <a href="https://www.facebook.com/" class="tw-w-11 tw-h-11 bg-white tw-text-lg text-main-two-600 tw-rounded-md d-flex align-items-center justify-content-center hover-bg-main-600 hover-text-white tw-duration-300">
                                        <i class="ph-bold ph-facebook-logo"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.twitter.com/" class="tw-w-11 tw-h-11 bg-white tw-text-lg text-main-two-600 tw-rounded-md d-flex align-items-center justify-content-center hover-bg-main-600 hover-text-white tw-duration-300">
                                        <i class="ph-fill ph-twitter-logo"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.youtube.com/" class="tw-w-11 tw-h-11 bg-white tw-text-lg text-main-two-600 tw-rounded-md d-flex align-items-center justify-content-center hover-bg-main-600 hover-text-white tw-duration-300">
                                        <i class="ph-fill ph-youtube-logo"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/" class="tw-w-11 tw-h-11 bg-white tw-text-lg text-main-two-600 tw-rounded-md d-flex align-items-center justify-content-center hover-bg-main-600 hover-text-white tw-duration-300">
                                        <i class="ph-bold ph-linkedin-logo"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div>
                        <h2 class="h5">
                            <a href="team-details.html" class="fw-bold text-main-two-600 tw-mb-2">
                                Jason Clark
                            </a>
                        </h2>
                        <span class="fw-medium tw-text-lg text-neutral-600">
                            Express Courier Specialist
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="team-two-card" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                    <div class="position-relative tw-mb-7">
                        <span class="w-100">
                            <img src="assets/images/thumbs/our-team-two-img3.png" alt="img" class="w-100">
                        </span>
                        <div class="team-two-card-icon">
                            <ul class="d-flex align-items-center tw-gap-2 position-absolute translate-middle-x mx-auto tw-start-50 bottom-0 tw-start-0 tw-mb-7">
                                <li>
                                    <a href="https://www.facebook.com/" class="tw-w-11 tw-h-11 bg-white tw-text-lg text-main-two-600 tw-rounded-md d-flex align-items-center justify-content-center hover-bg-main-600 hover-text-white tw-duration-300">
                                        <i class="ph-bold ph-facebook-logo"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.twitter.com/" class="tw-w-11 tw-h-11 bg-white tw-text-lg text-main-two-600 tw-rounded-md d-flex align-items-center justify-content-center hover-bg-main-600 hover-text-white tw-duration-300">
                                        <i class="ph-fill ph-twitter-logo"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.youtube.com/" class="tw-w-11 tw-h-11 bg-white tw-text-lg text-main-two-600 tw-rounded-md d-flex align-items-center justify-content-center hover-bg-main-600 hover-text-white tw-duration-300">
                                        <i class="ph-fill ph-youtube-logo"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/" class="tw-w-11 tw-h-11 bg-white tw-text-lg text-main-two-600 tw-rounded-md d-flex align-items-center justify-content-center hover-bg-main-600 hover-text-white tw-duration-300">
                                        <i class="ph-bold ph-linkedin-logo"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div>
                        <h2 class="h5">
                            <a href="team-details.html" class="fw-bold text-main-two-600 tw-mb-2">
                                Robert Carter
                            </a>
                        </h2>
                        <span class="fw-medium tw-text-lg text-neutral-600">
                            Express Courier Specialist
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="team-two-card" data-aos="fade-up" data-aos-duration="800" data-aos-delay="350">
                    <div class="position-relative tw-mb-7">
                        <span class="w-100">
                            <img src="assets/images/thumbs/our-team-two-img4.png" alt="img" class="w-100">
                        </span>
                        <div class="team-two-card-icon">
                            <ul class="d-flex align-items-center tw-gap-2 position-absolute translate-middle-x mx-auto tw-start-50 bottom-0 tw-start-0 tw-mb-7">
                                <li>
                                    <a href="https://www.facebook.com/" class="tw-w-11 tw-h-11 bg-white tw-text-lg text-main-two-600 tw-rounded-md d-flex align-items-center justify-content-center hover-bg-main-600 hover-text-white tw-duration-300">
                                        <i class="ph-bold ph-facebook-logo"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.twitter.com/" class="tw-w-11 tw-h-11 bg-white tw-text-lg text-main-two-600 tw-rounded-md d-flex align-items-center justify-content-center hover-bg-main-600 hover-text-white tw-duration-300">
                                        <i class="ph-fill ph-twitter-logo"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.youtube.com/" class="tw-w-11 tw-h-11 bg-white tw-text-lg text-main-two-600 tw-rounded-md d-flex align-items-center justify-content-center hover-bg-main-600 hover-text-white tw-duration-300">
                                        <i class="ph-fill ph-youtube-logo"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/" class="tw-w-11 tw-h-11 bg-white tw-text-lg text-main-two-600 tw-rounded-md d-flex align-items-center justify-content-center hover-bg-main-600 hover-text-white tw-duration-300">
                                        <i class="ph-bold ph-linkedin-logo"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div>
                        <h2 class="h5">
                            <a href="team-details.html" class="fw-bold text-main-two-600 tw-mb-2">
                                Jason Carter
                            </a>
                        </h2>
                        <span class="fw-medium tw-text-lg text-neutral-600">
                            Express Courier Specialist
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========================= our team two section end ========================= -->