<!-- ====================== our bolg section start ====================== -->
<section class="py-120 ">
    <div class="container">
        <div class="d-flex align-items-center justify-content-center text-center tw-mb-15">
            <div class="max-w-590-px w-100">
                <div class="d-inline-flex tw-mb-5 align-items-center tw-gap-2 tw-py-2 tw-px-5 border-main-50 border rounded-pill" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                    <span class="tw-w-205 tw-h-205 bg-main-600 rounded-circle"></span>
                    <h3 class="fw-bold text-main-600 h6">
                        New Blogs & Post
                    </h3>
                </div>
                <h3 class="fw-bold text-main-two-600 tw-mb-4" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200"> 
                    Latest News & Articles From The Blog Posts
                </h3>
            </div>
        </div>
        <div class="row gy-4">
            <div class="col-xl-4 col-md-6">
                <div class="bg-neutral-30 tw-rounded-2xl tw-p-5 animation-item" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                    <span class="w-100 overflow-hidden tw-rounded-xl tw-mb-6">
                        <img src="assets/images/thumbs/our-blog-six-img1.png" alt="img" class="w-100 course-item__img tw-duration-300">
                    </span>
                    <div class="tw-ps-2 tw-pb-4">
                        <div class="d-flex align-items-center tw-gap-5 flex-wrap tw-mb-3">
                            <div class="d-flex align-items-center tw-gap-2">
                                <span class="tw-text-base text-main-600">
                                    <i class="ph-fill ph-user-gear"></i>
                                </span>
                                <span class="tw-text-xl text-neutral-500">
                                    By Admin
                                </span>
                            </div>
                            <div class="d-flex align-items-center tw-gap-2">
                                <span class="tw-text-base text-main-600">
                                    <i class="ph-fill ph-calendar-check"></i>
                                </span>
                                <span class="tw-text-xl text-neutral-500">
                                    July 13, 2025
                                </span>
                            </div>
                        </div>
                        <a href="blog-details.html" class="h5 fw-bold text-main-two-600 hover-underline tw-mb-5">
                            Boosting Up Your Creativity area
                            Without Endless
                        </a>
                        <div>
                            <a href="blog-details.html" class="d-flex align-items-center tw-gap-2 group">
                                <span class="text-main-600 tw-text-7">
                                    <i class="ph-bold ph-arrow-elbow-down-right"></i>
                                </span>
                                <span class="h6 fw-bold text-main-two-600 group-hover-text-main-600 tw-duration-300">
                                    Read More
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="bg-neutral-30 tw-rounded-2xl tw-p-5 animation-item" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                    <span class="w-100 overflow-hidden tw-rounded-xl tw-mb-6">
                        <img src="assets/images/thumbs/our-blog-six-img2.png" alt="img" class="w-100 course-item__img tw-duration-300">
                    </span>
                    <div class="tw-ps-2 tw-pb-4">
                        <div class="d-flex align-items-center tw-gap-5 flex-wrap tw-mb-3">
                            <div class="d-flex align-items-center tw-gap-2">
                                <span class="tw-text-base text-main-600">
                                    <i class="ph-fill ph-user-gear"></i>
                                </span>
                                <span class="tw-text-xl text-neutral-500">
                                    By Admin
                                </span>
                            </div>
                            <div class="d-flex align-items-center tw-gap-2">
                                <span class="tw-text-base text-main-600">
                                    <i class="ph-fill ph-calendar-check"></i>
                                </span>
                                <span class="tw-text-xl text-neutral-500">
                                    July 13, 2025
                                </span>
                            </div>
                        </div>
                        <a href="blog-details.html" class="h5 fw-bold text-main-two-600 hover-underline tw-mb-5">
                            Power of Technology for the
                            Middle Market
                        </a>
                        <div>
                            <a href="blog-details.html" class="d-flex align-items-center tw-gap-2 group">
                                <span class="text-main-600 tw-text-7">
                                    <i class="ph-bold ph-arrow-elbow-down-right"></i>
                                </span>
                                <span class="h6 fw-bold text-main-two-600 group-hover-text-main-600 tw-duration-300">
                                    Read More
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="bg-neutral-30 tw-rounded-2xl tw-p-5 animation-item" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                    <span class="w-100 overflow-hidden tw-rounded-xl tw-mb-6">
                        <img src="assets/images/thumbs/our-blog-six-img3.png" alt="img" class="w-100 course-item__img tw-duration-300">
                    </span>
                    <div class="tw-ps-2 tw-pb-4">
                        <div class="d-flex align-items-center tw-gap-5 flex-wrap tw-mb-3">
                            <div class="d-flex align-items-center tw-gap-2">
                                <span class="tw-text-base text-main-600">
                                    <i class="ph-fill ph-user-gear"></i>
                                </span>
                                <span class="tw-text-xl text-neutral-500">
                                    By Admin
                                </span>
                            </div>
                            <div class="d-flex align-items-center tw-gap-2">
                                <span class="tw-text-base text-main-600">
                                    <i class="ph-fill ph-calendar-check"></i>
                                </span>
                                <span class="tw-text-xl text-neutral-500">
                                    July 13, 2025
                                </span>
                            </div>
                        </div>
                        <a href="blog-details.html" class="h5 fw-bold text-main-two-600 hover-underline tw-mb-5">
                            Analyze Cash Flow & Boost Your
                            Business Growth
                        </a>
                        <div>
                            <a href="blog-details.html" class="d-flex align-items-center tw-gap-2 group">
                                <span class="text-main-600 tw-text-7">
                                    <i class="ph-bold ph-arrow-elbow-down-right"></i>
                                </span>
                                <span class="h6 fw-bold text-main-two-600 group-hover-text-main-600 tw-duration-300">
                                    Read More
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ====================== our bolg section end ====================== -->