<!-- ========================== our company section start ========================= -->
<section class="py-120">
    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-6">
                <div class="max-w-570-px">
                    <div class="d-inline-flex align-items-center tw-gap-2 tw-py-2 tw-px-5 border-main-600 border rounded-pill tw-mb-6">
                        <span class="tw-w-205 tw-h-205 bg-main-600 rounded-circle"></span>
                        <h3 class="fw-semibold h6 text-main-600">
                            Welcome To Our Company
                        </h3>
                    </div>
                    <h3 class="fw-bold text-main-two-600 tw-mb-6">
                        Connecting People And Build Technology
                    </h3>
                    <p class="fw-semibold tw-text-base text-neutral-600 tw-mb-9">
                        Energistically evisculate an expanded array of meta-services after cross-media
                        strategic theme areas. Intvely simplify interactive customer service before fully
                        tested relationship parallel task high standards.
                    </p>
                    <div class="d-flex align-items-center tw-gap-3 justify-content-between flex-wrap tw-mb-10">
                        <div>
                            <div class="d-flex align-items-center tw-gap-3">
                                <span class="tw-text-lg text-green-700">
                                    <i class="ph-bold ph-check"></i>
                                </span>
                                <span class="fw-semibold tw-text-base text-neutral-600">
                                    Regulatory Investigations
                                </span>
                            </div>
                            <div class="d-flex align-items-center tw-gap-3">
                                <span class="tw-text-lg text-green-700">
                                    <i class="ph-bold ph-check"></i>
                                </span>
                                <span class="fw-semibold tw-text-base text-neutral-600">
                                    Anit- Competitive Conduct
                                </span>
                            </div>
                        </div>
                        <div>
                            <div class="d-flex align-items-center tw-gap-3">
                                <span class="tw-text-lg text-green-700">
                                    <i class="ph-bold ph-check"></i>
                                </span>
                                <span class="fw-semibold tw-text-base text-neutral-600">
                                    Competitive Work Analysis
                                </span>
                            </div>
                            <div class="d-flex align-items-center tw-gap-3">
                                <span class="tw-text-lg text-green-700">
                                    <i class="ph-bold ph-check"></i>
                                </span>
                                <span class="fw-semibold tw-text-base text-neutral-600">
                                    Innovation. Strategy. Success.
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="tw-mb-8">
                        <span class="text-lg fw-semibold tw-mb-3 d-block text-heading text-capitalize cursor-small">
                            Creativity
                        </span>
                        <div
                        class="progress-container style-yellow"
                        data-percentage="95"
                        >
                        <div class="progress active"></div>
                        <div class="percentage active cursor-small">0%</div>  
                        </div>
                    </div>
                    <a href="about-us.html" class="link-group d-inline-flex align-items-center group group-item">
                        <span class="button-icon-one fw-bold bg-main-600 text-white tw-py-3 tw-px-4 tw-rounded-xl tw-text-xl group-hover-bg-black tw-duration-300">
                        <i class="ph-bold ph-arrow-right"></i>
                        </span>
                        <h2 class="fw-bold h6 bg-main-600 text-white tw-py-4 tw-px-10 tw-rounded-xl group-hover-bg-black tw-duration-300">
                            Discover More
                        </h2>
                        <span class="button-icon-two fw-bold bg-main-600 text-white tw-py-3 tw-px-4 tw-rounded-xl tw-text-xl group-hover-bg-black tw-duration-300">
                        <i class="ph-bold ph-arrow-right"></i>
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="position-relative z-2">
                    <div>
                        <img src="assets/images/thumbs/our-company-three-img1.png" alt="img">
                    </div>
                    <img src="assets/images/shape/pricing-plan-shape2.png" alt="shape" class="position-absolute bottom-0 tw-start-0 z-n1 animation-upDown d-lg-block d-none">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========================== our company section end ========================= -->