<!-- ============================ our blog two section start ============================ -->
<section class="py-120">
    <div class="container">
        <div class="d-flex align-items-center justify-content-center tw-mb-15">
            <div class="max-w-600-px text-center">
                <div class="d-inline-flex align-items-center tw-gap-2 tw-py-2 tw-px-5 border-main-50 border rounded-pill tw-mb-5">
                    <span class="tw-w-205 tw-h-205 bg-main-600 rounded-circle"></span>
                    <h3 class="fw-bold h6 text-main-600">
                        Our Blog & News
                    </h3>
                </div>
                <h3 class="fw-bold text-main-two-600">
                    Empowering Businesses Through Smart IT Solutions
                </h3>
            </div>
        </div>
        <div class="row gy-4">
            <div class="col-lg-4 col-sm-6">
                <div class="h-100">
                    <div class="bg-main-600 tw-pt-5 tw-px-1 tw-pb-1 tw-rounded-xl text-center tw-mb--40-px tw-ms-7 position-relative max-w-100-px">
                        <h2 class="tw-text-36-px fw-bold text-white d-block tw-mb-1">
                            24
                        </h2>
                        <span class="fw-bold tw-text-sm tw-py-1 tw-px-4 bg-white bg-opacity-10 tw-rounded-lg text-white">
                            NOV 26
                        </span>
                    </div>
                    <a href="blog-details.html" class="w-100">
                        <img src="assets/images/thumbs/our-blog-two-img1.png" alt="img" class="w-100">
                    </a>
                    <div class="max-w-350-px w-100 tw-mt--150-px position-relative mx-auto">
                        <span class="fw-bold tw-text-base text-main-two-600 bg-neutral-30 tw-py-2 tw-px-5 rounded-pill tw-mb-4">
                            Design and Technology
                        </span>
                        <div class="tw-py-7 tw-px-6 bg-neutral-30 tw-rounded-2xl d-flex align-items-center tw-gap-5">
                            <span class="tw-bg-gradient-three"></span>
                            <a href="blog-details.html" class="fw-bold h5 text-main-two-600">
                                Leading the Digital Age with Groundbreaking
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="h-100">
                    <div class="bg-main-600 tw-pt-5 tw-px-1 tw-pb-1 tw-rounded-xl text-center tw-mb--40-px tw-ms-7 position-relative max-w-100-px">
                        <h2 class="tw-text-36-px fw-bold text-white d-block tw-mb-1">
                            09
                        </h2>
                        <span class="fw-bold tw-text-sm tw-py-1 tw-px-4 bg-white bg-opacity-10 tw-rounded-lg text-white">
                            NOV 26
                        </span>
                    </div>
                    <a href="blog-details.html" class="w-100">
                        <img src="assets/images/thumbs/our-blog-two-img2.png" alt="img" class="w-100">
                    </a>
                    <div class="max-w-350-px w-100 tw-mt--150-px position-relative mx-auto">
                        <span class="fw-bold tw-text-base text-main-two-600 bg-neutral-30 tw-py-2 tw-px-5 rounded-pill tw-mb-4">
                            Design and Technology
                        </span>
                        <div class="tw-py-7 tw-px-6 bg-neutral-30 tw-rounded-2xl d-flex align-items-center tw-gap-5">
                            <span class="tw-bg-gradient-three"></span>
                            <a href="blog-details.html" class="fw-bold h5 text-main-two-600">
                                Unlocking New Possibilities with Advanced Cloud
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="h-100">
                    <div class="bg-main-600 tw-pt-5 tw-px-1 tw-pb-1 tw-rounded-xl text-center tw-mb--40-px tw-ms-7 position-relative max-w-100-px">
                        <h2 class="tw-text-36-px fw-bold text-white d-block tw-mb-1">
                            27
                        </h2>
                        <span class="fw-bold tw-text-sm tw-py-1 tw-px-4 bg-white bg-opacity-10 tw-rounded-lg text-white">
                            NOV 26
                        </span>
                    </div>
                    <a href="blog-details.html" class="w-100">
                        <img src="assets/images/thumbs/our-blog-two-img3.png" alt="img" class="w-100">
                    </a>
                    <div class="max-w-350-px w-100 tw-mt--150-px position-relative mx-auto">
                        <span class="fw-bold tw-text-base text-main-two-600 bg-neutral-30 tw-py-2 tw-px-5 rounded-pill tw-mb-4">
                            Design and Technology
                        </span>
                        <div class="tw-py-7 tw-px-6 bg-neutral-30 tw-rounded-2xl d-flex align-items-center tw-gap-5">
                            <span class="tw-bg-gradient-three"></span>
                            <a href="blog-details.html" class="fw-bold h5 text-main-two-600">
                                Amplify your inspiring ideas today to future success.
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ============================ our blog two section end ============================ -->