<!-- ============================= portfolio section start ============================= -->
<section class="">
    <div class="container max-w-1740-px">
        <div class="d-flex">
            <div class="max-w-720-px w-100 d-xxl-block d-none d-flex">
                <span class="w-100 h-100">
                    <img src="assets/images/thumbs/our-protfolio-two-img1.png" alt="img" class="w-100 h-100">
                </span>
            </div>
            <div class="bg-gradent-service py-120 w-100 max-w-1030-px tw-rounded-top-bottom">
                <div class="px-90">
                    <div class="d-inline-flex align-items-center tw-gap-2 tw-py-2 tw-px-5 border-neutral-300 border rounded-pill tw-mb-4">
                        <span class="tw-w-205 tw-h-205 bg-white rounded-circle"></span>
                        <h3 class="fw-bold h6 text-white">
                            Our Portfolio
                        </h3>
                    </div>
                    <h3 class="fw-bold text-white tw-mb-7">
                        Combining Expertise to Deliver<br> Intelligent Solutions
                    </h3>
                    <p class="fw-semibold tw-text-base text-white tw-mb-12">
                        For over 25 years, Northway has specialized in IT solutions that empower businesses to adapt,<br> grow, and lead in a digital-first world. By combining deep industry .
                    </p>
                </div>
                <div class="tw-ms--150-px">

                    <div class="swiper portfolio-swiper-slider">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="bg-white tw-rounded-2xl tw-p-4">
                                    <div class="tw-mb-4 position-relative w-100">
                                        <img src="assets/images/thumbs/our-protfolio-two-img2.png" alt="img" class="w-100">
                                        <a href="contact.html" class="tw-text-2xl position-absolute top-0 tw-end-0 text-main-600">
                                            <i class="ph-bold ph-arrow-up-right"></i>
                                        </a>
                                    </div>
                                    <div class="tw-px-205">
                                        <span class="fw-semibold tw-text-base text-main-600 tw-py-2 tw-px-5 bg-main-50 rounded-pill tw-mb-4">
                                            Consulting
                                        </span>
                                        <a href="contact.html" class="fw-semibold tw-text-5 text-main-two-600 hover-text-main-600 tw-mb-5">
                                            Transform how your teams collaborate-from
                                        </a>
                                        <p class="fw-semibold tw-text-base text-neutral-600">
                                            Energistically evisculate an expanded array of meta-services after cross-media
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="bg-white tw-rounded-2xl tw-p-4">
                                    <div class="tw-mb-4 position-relative w-100">
                                        <img src="assets/images/thumbs/our-protfolio-two-img3.png" alt="img" class="w-100">
                                        <a href="contact.html" class="tw-text-2xl position-absolute top-0 tw-end-0 text-main-600">
                                            <i class="ph-bold ph-arrow-up-right"></i>
                                        </a>
                                    </div>
                                    <div class="tw-px-205">
                                        <span class="fw-semibold tw-text-base text-main-600 tw-py-2 tw-px-5 bg-main-50 rounded-pill tw-mb-4">
                                            Consulting
                                        </span>
                                        <a href="contact.html" class="fw-semibold tw-text-5 text-main-two-600 hover-text-main-600 tw-mb-5">
                                            Protect What’s Important to You & Your Business.
                                        </a>
                                        <p class="fw-semibold tw-text-base text-neutral-600">
                                            Energistically evisculate an expanded array of meta-services after cross-media
                                        </p>
                                    </div>
                                </div> 
                            </div>
                            <div class="swiper-slide">
                                <div class="bg-white tw-rounded-2xl tw-p-4">
                                    <div class="tw-mb-4 position-relative w-100">
                                        <img src="assets/images/thumbs/our-protfolio-two-img4.png" alt="img" class="w-100">
                                        <a href="contact.html" class="tw-text-2xl position-absolute top-0 tw-end-0 text-main-600">
                                            <i class="ph-bold ph-arrow-up-right"></i>
                                        </a>
                                    </div>
                                    <div class="tw-px-205">
                                        <span class="fw-semibold tw-text-base text-main-600 tw-py-2 tw-px-5 bg-main-50 rounded-pill tw-mb-4">
                                            Consulting
                                        </span>
                                        <a href="contact.html" class="fw-semibold tw-text-5 text-main-two-600 hover-text-main-600 tw-mb-5">
                                            Building a Strong Strategic Brand Identity for a SaaS Startup
                                        </a>
                                        <p class="fw-semibold tw-text-base text-neutral-600">
                                            Energistically evisculate an expanded array of meta-services after cross-media
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="bg-white tw-rounded-2xl tw-p-4">
                                    <div class="tw-mb-4 position-relative w-100">
                                        <img src="assets/images/thumbs/our-protfolio-two-img3.png" alt="img" class="w-100">
                                        <a href="contact.html" class="tw-text-2xl position-absolute top-0 tw-end-0 text-main-600">
                                            <i class="ph-bold ph-arrow-up-right"></i>
                                        </a>
                                    </div>
                                    <div class="tw-px-205">
                                        <span class="fw-semibold tw-text-base text-main-600 tw-py-2 tw-px-5 bg-main-50 rounded-pill tw-mb-4">
                                            Consulting
                                        </span>
                                        <a href="contact.html" class="fw-semibold tw-text-5 text-main-two-600 hover-text-main-600 tw-mb-5">
                                            Protect What’s Important to You & Your Business.
                                        </a>
                                        <p class="fw-semibold tw-text-base text-neutral-600">
                                            Energistically evisculate an expanded array of meta-services after cross-media
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ============================= portfolio section end ============================= -->


