<!-- ============================ our company about section start ========================== -->
<section class="py-120">
    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-6">
                <div class="d-inline-flex align-items-center tw-gap-2 tw-py-2 tw-px-5 border-main-100 border rounded-pill tw-mb-5" data-aos="fade-up" data-aos-duration="900" data-aos-delay="100">
                    <span class="tw-w-205 tw-h-205 bg-main-600 rounded-circle"></span>
                    <h2 class="fw-bold h6 text-main-600">
                        Welcome To Our Company
                    </h2>
                </div>
                <h3 class="fw-bold text-main-two-600 tw-mb-7" data-aos="fade-up" data-aos-duration="900" data-aos-delay="200">
                    Connecting People And
                    Build Technology
                </h3>
                <p class="fw-semibold tw-text-base text-neutral-500 tw-mb-7" data-aos="fade-up" data-aos-duration="900" data-aos-delay="300">
                    Energistically evisculate an expanded array of meta-services after cross-media
                    strategic theme areas. Intvely simplify interactive customer service before fully
                    tested relationship parallel task high standards.
                </p>
                <div class="tw-mb-5" data-aos="fade-up" data-aos-duration="900" data-aos-delay="330">
                    <h3 class="text-xl h6 fw-bold tw-mb-3 d-block text-heading text-capitalize cursor-small">
                        Business Security
                    </h3>
                    <div class="progress-container style-yellow" data-percentage="62">
                        <div class="progress active"></div>
                        <div class="percentage active cursor-small">0%</div>  
                    </div>
                </div>
                <div class="tw-mb-5" data-aos="fade-up" data-aos-duration="900" data-aos-delay="360">
                    <h3 class="text-xl h6 fw-bold tw-mb-3 d-block text-heading text-capitalize cursor-small">
                       Career Development
                    </h3>
                    <div class="progress-container style-yellow" data-percentage="88">
                        <div class="progress active"></div>
                        <div class="percentage active cursor-small">0%</div>  
                    </div>
                </div>
                <div class="tw-mb-5" data-aos="fade-up" data-aos-duration="900" data-aos-delay="390">
                    <h3 class="text-xl h6 fw-bold tw-mb-3 d-block text-heading text-capitalize cursor-small">
                        Business Inovation
                    </h3>
                    <div class="progress-container style-yellow" data-percentage="90">
                        <div class="progress active"></div>
                        <div class="percentage active cursor-small">0%</div>  
                    </div>
                </div>
                <div class="tw-mb-5" data-aos="fade-up" data-aos-duration="900" data-aos-delay="420">
                    <h3 class="text-xl h6 fw-bold tw-mb-3 d-block text-heading text-capitalize cursor-small">
                        Security Management
                    </h3>
                    <div class="progress-container style-yellow" data-percentage="78">
                        <div class="progress active"></div>
                        <div class="percentage active cursor-small">0%</div>  
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="d-flex align-items-center justify-content-center" data-aos="zoom-in" data-aos-duration="1500">
                    <img src="assets/images/thumbs/our-company-about-img1.png" alt="img" class="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ============================ our company about section end ========================== -->