<!-- ============================= Portfolio five section start ============================= -->
<section class="py-120">
    <div class="container max-w-1720-px">
        <div class="d-flex align-items-center justify-content-center tw-mb-15">
            <div class="max-w-570-px w-100 text-center">
                <div class="d-inline-flex align-items-center tw-gap-2 tw-py-2 tw-px-5 border-main-100 border rounded-pill tw-mb-5" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                    <span class="tw-w-205 tw-h-205 rounded-circle bg-main-600"></span>
                    <h3 class="fw-bold text-main-600 h6">
                        Our Portfolio
                    </h3>
                </div>
                <h3 class="fw-bold text-main-two-600 tw-mb-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                    Our Portfolio Of Excellence
                    In Security
                </h3>
            </div>
        </div>
        <ul class="nav nav-pills tw-mb-15 d-flex align-items-center justify-content-center tw-gap-3 flex-wrap" id="pills-tab" role="tablist" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="pills-all-tab" data-bs-toggle="pill" data-bs-target="#pills-all" type="button" role="tab" aria-controls="pills-all" aria-selected="true">All</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-access-tab" data-bs-toggle="pill" data-bs-target="#pills-access" type="button" role="tab" aria-controls="pills-access" aria-selected="false">Access Control</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-protection-tab" data-bs-toggle="pill" data-bs-target="#pills-protection" type="button" role="tab" aria-controls="pills-protection" aria-selected="false">Bank Protection</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-security-tab" data-bs-toggle="pill" data-bs-target="#pills-security" type="button" role="tab" aria-controls="pills-security" aria-selected="false">Event Security</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="false">Home Security</button>
            </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-all" role="tabpanel" aria-labelledby="pills-all-tab" tabindex="0">
                @@include('../partials/_portfolio-tab-five.html')
            </div>
            <div class="tab-pane fade" id="pills-access" role="tabpanel" aria-labelledby="pills-access-tab" tabindex="0">
                @@include('../partials/_portfolio-tab-five.html')
            </div>
            <div class="tab-pane fade" id="pills-protection" role="tabpanel" aria-labelledby="pills-protection-tab" tabindex="0">
                @@include('../partials/_portfolio-tab-five.html')
            </div>
            <div class="tab-pane fade" id="pills-security" role="tabpanel" aria-labelledby="pills-security-tab" tabindex="0">
                @@include('../partials/_portfolio-tab-five.html')
            </div>
            <div class="tab-pane fade" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
                @@include('../partials/_portfolio-tab-five.html')
            </div>
        </div>
    </div>
</section>
<!-- ============================= Portfolio five section end ============================= -->