<!-- ========================= portfolio tab five section start ========================= -->
<div class="row gy-4">
    <div class="col-xl-3 col-lg-4 col-sm-6">
        <div class="position-relative group-item" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
            <span class="w-100 h-100">
                <img src="assets/images/thumbs/portfolio-five-img1.png" alt="img" class="w-100 h-100">
            </span>
            <span class="tw-bg-gradient-four w-100 h-100 position-absolute top-0 tw-start-0 tw-rounded-3xl tw-hidden tw-opacity-0 tw-duration-300 group-hover-item-visible group-hover-item-opacity-1"></span>
            <div class="position-absolute bottom-0 tw-start-0 tw-ms-7 tw-mb-7 w-100 tw-hidden tw-opacity-0 tw-duration-300 group-hover-item-visible group-hover-item-opacity-1">
                <span class="fw-semibold tw-text-base text-white tw-py-2 tw-px-7 bg-white bg-opacity-25 tw-mb-3 rounded-pill">
                    CCTV
                </span>
                <h2 class="fw-bold text-white h5">
                    Residential CCTV Installation
                </h2>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-sm-6">
        <div class="position-relative group-item" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
            <span class="w-100 h-100">
                <img src="assets/images/thumbs/portfolio-five-img2.png" alt="img" class="w-100 h-100">
            </span>
            <span class="tw-bg-gradient-four w-100 h-100 position-absolute top-0 tw-start-0 tw-rounded-3xl tw-hidden tw-opacity-0 tw-duration-300 group-hover-item-visible group-hover-item-opacity-1"></span>
            <div class="position-absolute bottom-0 tw-start-0 tw-ms-7 tw-mb-7 w-100 tw-hidden tw-opacity-0 tw-duration-300 group-hover-item-visible group-hover-item-opacity-1">
                <span class="fw-semibold tw-text-base text-white tw-py-2 tw-px-7 bg-white bg-opacity-25 tw-mb-3 rounded-pill">
                    CCTV
                </span>
                <h2 class="fw-bold text-white h5">
                    Residential CCTV Installation
                </h2>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-sm-6">
        <div class="position-relative group-item" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
            <span class="w-100 h-100">
                <img src="assets/images/thumbs/portfolio-five-img3.png" alt="img" class="w-100 h-100">
            </span>
            <span class="tw-bg-gradient-four w-100 h-100 position-absolute top-0 tw-start-0 tw-rounded-3xl tw-hidden tw-opacity-0 tw-duration-300 group-hover-item-visible group-hover-item-opacity-1"></span>
            <div class="position-absolute bottom-0 tw-start-0 tw-ms-7 tw-mb-7 w-100 tw-hidden tw-opacity-0 tw-duration-300 group-hover-item-visible group-hover-item-opacity-1">
                <span class="fw-semibold tw-text-base text-white tw-py-2 tw-px-7 bg-white bg-opacity-25 tw-mb-3 rounded-pill">
                    CCTV
                </span>
                <h2 class="fw-bold text-white h5">
                    Residential CCTV Installation
                </h2>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-sm-6">
        <div class="position-relative group-item" data-aos="fade-up" data-aos-duration="800" data-aos-delay="350">
            <span class="w-100 h-100">
                <img src="assets/images/thumbs/portfolio-five-img4.png" alt="img" class="w-100 h-100">
            </span>
            <span class="tw-bg-gradient-four w-100 h-100 position-absolute top-0 tw-start-0 tw-rounded-3xl tw-hidden tw-opacity-0 tw-duration-300 group-hover-item-visible group-hover-item-opacity-1"></span>
            <div class="position-absolute bottom-0 tw-start-0 tw-ms-7 tw-mb-7 w-100 tw-hidden tw-opacity-0 tw-duration-300 group-hover-item-visible group-hover-item-opacity-1">
                <span class="fw-semibold tw-text-base text-white tw-py-2 tw-px-7 bg-white bg-opacity-25 tw-mb-3 rounded-pill">
                    CCTV
                </span>
                <h2 class="fw-bold text-white h5">
                    Residential CCTV Installation
                </h2>
            </div>
        </div>
    </div>
</div>
<!-- ========================= portfolio tab five section end ========================= -->