<!-- =========================== pricing plan five scetion start =========================== -->
<section class="bg-neutral-30 py-120">
    <div class="container">
        <div class="d-flex justify-content-center align-items-center tw-mb-15">
            <div class="max-w-550-px w-100 text-center">
                <div class="d-inline-flex align-items-center tw-gap-2 tw-py-2 tw-px-5 rounded-pill border-main-100 border tw-mb-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                    <span class="tw-w-205 tw-h-205 rounded-circle bg-main-600"></span>
                    <h3 class="h6 fw-bold text-main-600">
                        Pricing Plans
                    </h3>
                </div>
                <h3 class="fw-bold text-main-two-600 " data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                    Custom Protection Service
                    Plans For CCTV
                </h3>
            </div>
        </div>
        <div class="row gy-4">
            <div class="col-xl-4 col-md-6">
                <div class="group group-item" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                    <div class="tw-bg-main-10 tw-pb-3 tw-rounded-3xl group-hover-bg-main-600 tw-duration-300 group-hover-item-pb-0">
                        <div class="tw-hidden tw-opacity-0 group-hover-item-visible group-hover-item-opacity-1 tw-duration-300 group-hover-item-py-24-px tw-duration-300">
                            <h2 class="fw-bold tw-text-xl text-white text-center">
                                Mostpopular
                            </h2>
                        </div>
                        <div class="bg-white tw-rounded-3xl tw-py-12 tw-px-10 position-relative tw-mt--25px group-hover-bg-neutral-800 tw-duration-300 group-hover-item-mt-0">
                            <div class="position-relative">
                                <img src="assets/images/shape/pricing-plan-five-shape1.png" alt="shape" class="position-absolute top-0 tw-end-0 tw-hidden tw-opacity-0 group-hover-item-visible group-hover-item-opacity-1 tw-duration-300">
                                <span class="fw-semibold tw-text-base text-main-600 tw-py-2 tw-px-6 rounded-pill border-main-100 border tw-mb-4 group-hover-text-white tw-duration-300 group-hover-border-white-15">
                                    Basic Package
                                </span>
                                <div class="d-flex align-items-center tw-gap-1 tw-mb-2">
                                    <h2 class="tw-text-42-px fw-bold text-main-600 tw-duration-300 group-hover-text-white">
                                        29 USD
                                    </h2>
                                    <h3 class="fw-bold h6 text-main-two-600 tw-mt-2 tw-duration-300 group-hover-text-white">
                                        / month
                                    </h3>
                                </div>
                                <span class="fw-semibold tw-text-base text-neutral-600 tw-mb-7 tw-duration-300 group-hover-text-white">
                                    Organize Daily Task by free
                                </span>
                                <h2>
                                    <a href="pricing.html" class="h6 fw-bold text-main-two-600 w-100 border-neutral-300 border rounded-pill text-center tw-py-5 tw-mb-6 group-hover-bg-main-600 tw-duration-300 group-hover-text-white group-hover-border-none">
                                        Join This Plan
                                    </a>
                                </h2>
                                <span class="fw-semibold tw-text-base text-main-two-600 tw-mb-6 tw-duration-300 group-hover-text-white">
                                    Key Features
                                </span>
                                <ul class="d-flex flex-column tw-gap-2">
                                    <li class="d-flex align-items-center tw-gap-2">
                                        <span class="tw-text-lg text-neutral-600 tw-duration-300 group-hover-text-white">
                                            <i class="ph-bold ph-check-circle"></i>
                                        </span>
                                        <span class="fw-semibold tw-text-base text-neutral-500 tw-duration-300 group-hover-text-white">
                                            3 Users availble
                                        </span>
                                    </li>
                                    <li class="d-flex align-items-center tw-gap-2">
                                        <span class="tw-text-lg text-neutral-600 tw-duration-300 group-hover-text-white">
                                            <i class="ph-bold ph-check-circle"></i>
                                        </span>
                                        <span class="fw-semibold tw-text-base text-neutral-500 tw-duration-300 group-hover-text-white">
                                            2 HD Cameras
                                        </span>
                                    </li>
                                    <li class="d-flex align-items-center tw-gap-2">
                                        <span class="tw-text-lg text-neutral-600 tw-duration-300 group-hover-text-white">
                                            <i class="ph-bold ph-check-circle"></i>
                                        </span>
                                        <span class="fw-semibold tw-text-base text-neutral-500 tw-duration-300 group-hover-text-white">
                                            Mobile App Monitoring
                                        </span>
                                    </li>
                                    <li class="d-flex align-items-center tw-gap-2">
                                        <span class="tw-text-lg text-neutral-600 tw-duration-300 group-hover-text-white">
                                            <i class="ph-bold ph-check-circle"></i>
                                        </span>
                                        <span class="fw-semibold tw-text-base text-neutral-500 tw-duration-300 group-hover-text-white">
                                            Basic Storage
                                        </span>
                                    </li>
                                    <li class="d-flex align-items-center tw-gap-2">
                                        <span class="tw-text-lg text-neutral-600 tw-duration-300 group-hover-text-white">
                                            <i class="ph-bold ph-check-circle"></i>
                                        </span>
                                        <span class="fw-semibold tw-text-base text-neutral-500 tw-duration-300 group-hover-text-white">
                                            Installation Included
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="group group-item" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                    <div class="tw-bg-main-10 tw-pb-3 tw-rounded-3xl group-hover-bg-main-600 tw-duration-300 group-hover-item-pb-0">
                        <div class="tw-hidden tw-opacity-0 group-hover-item-visible group-hover-item-opacity-1 tw-duration-300 group-hover-item-py-24-px tw-duration-300">
                            <h2 class="fw-bold tw-text-xl text-white text-center">
                                Mostpopular
                            </h2>
                        </div>
                        <div class="bg-white tw-rounded-3xl tw-py-12 tw-px-10 position-relative tw-mt--25px group-hover-bg-neutral-800 tw-duration-300 group-hover-item-mt-0">
                            <div class="position-relative">
                                <img src="assets/images/shape/pricing-plan-five-shape1.png" alt="shape" class="position-absolute top-0 tw-end-0 tw-hidden tw-opacity-0 group-hover-item-visible group-hover-item-opacity-1 tw-duration-300">
                                <span class="fw-semibold tw-text-base text-main-600 tw-py-2 tw-px-6 rounded-pill border-main-100 border tw-mb-4 group-hover-text-white tw-duration-300 group-hover-border-white-15">
                                    Standard Package
                                </span>
                                <div class="d-flex align-items-center tw-gap-1 tw-mb-2">
                                    <h2 class="tw-text-42-px fw-bold text-main-600 tw-duration-300 group-hover-text-white">
                                        39 USD
                                    </h2>
                                    <h3 class="fw-bold h6 text-main-two-600 tw-mt-2 tw-duration-300 group-hover-text-white">
                                        / month
                                    </h3>
                                </div>
                                <span class="fw-semibold tw-text-base text-neutral-600 tw-mb-7 tw-duration-300 group-hover-text-white">
                                    Organize Daily Task by free
                                </span>
                                <h2>
                                    <a href="pricing.html" class="h6 fw-bold text-main-two-600 w-100 border-neutral-300 border rounded-pill text-center tw-py-5 tw-mb-6 group-hover-bg-main-600 tw-duration-300 group-hover-text-white group-hover-border-none">
                                        Join This Plan
                                    </a>
                                </h2>
                                <span class="fw-semibold tw-text-base text-main-two-600 tw-mb-6 tw-duration-300 group-hover-text-white">
                                    Key Features
                                </span>
                                <ul class="d-flex flex-column tw-gap-2">
                                    <li class="d-flex align-items-center tw-gap-2">
                                        <span class="tw-text-lg text-neutral-600 tw-duration-300 group-hover-text-white">
                                            <i class="ph-bold ph-check-circle"></i>
                                        </span>
                                        <span class="fw-semibold tw-text-base text-neutral-500 tw-duration-300 group-hover-text-white">
                                            3 Users availble
                                        </span>
                                    </li>
                                    <li class="d-flex align-items-center tw-gap-2">
                                        <span class="tw-text-lg text-neutral-600 tw-duration-300 group-hover-text-white">
                                            <i class="ph-bold ph-check-circle"></i>
                                        </span>
                                        <span class="fw-semibold tw-text-base text-neutral-500 tw-duration-300 group-hover-text-white">
                                            4 HD Cameras
                                        </span>
                                    </li>
                                    <li class="d-flex align-items-center tw-gap-2">
                                        <span class="tw-text-lg text-neutral-600 tw-duration-300 group-hover-text-white">
                                            <i class="ph-bold ph-check-circle"></i>
                                        </span>
                                        <span class="fw-semibold tw-text-base text-neutral-500 tw-duration-300 group-hover-text-white">
                                            Night Vision + Alerts
                                        </span>
                                    </li>
                                    <li class="d-flex align-items-center tw-gap-2">
                                        <span class="tw-text-lg text-neutral-600 tw-duration-300 group-hover-text-white">
                                            <i class="ph-bold ph-check-circle"></i>
                                        </span>
                                        <span class="fw-semibold tw-text-base text-neutral-500 tw-duration-300 group-hover-text-white">
                                            Cloud Backup
                                        </span>
                                    </li>
                                    <li class="d-flex align-items-center tw-gap-2">
                                        <span class="tw-text-lg text-neutral-600 tw-duration-300 group-hover-text-white">
                                            <i class="ph-bold ph-check-circle"></i>
                                        </span>
                                        <span class="fw-semibold tw-text-base text-neutral-500 tw-duration-300 group-hover-text-white">
                                            Free Maintenance (1 year)
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="group group-item" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                    <div class="tw-bg-main-10 tw-pb-3 tw-rounded-3xl group-hover-bg-main-600 tw-duration-300 group-hover-item-pb-0">
                        <div class="tw-hidden tw-opacity-0 group-hover-item-visible group-hover-item-opacity-1 tw-duration-300 group-hover-item-py-24-px tw-duration-300">
                            <h2 class="fw-bold tw-text-xl text-white text-center">
                                Mostpopular
                            </h2>
                        </div>
                        <div class="bg-white tw-rounded-3xl tw-py-12 tw-px-10 position-relative tw-mt--25px group-hover-bg-neutral-800 tw-duration-300 group-hover-item-mt-0">
                            <div class="position-relative">
                                <img src="assets/images/shape/pricing-plan-five-shape1.png" alt="shape" class="position-absolute top-0 tw-end-0 tw-hidden tw-opacity-0 group-hover-item-visible group-hover-item-opacity-1 tw-duration-300">
                                <span class="fw-semibold tw-text-base text-main-600 tw-py-2 tw-px-6 rounded-pill border-main-100 border tw-mb-4 group-hover-text-white tw-duration-300 group-hover-border-white-15">
                                    Premium Package
                                </span>
                                <div class="d-flex align-items-center tw-gap-1 tw-mb-2">
                                    <h2 class="tw-text-42-px fw-bold text-main-600 tw-duration-300 group-hover-text-white">
                                        49 USD
                                    </h2>
                                    <h3 class="fw-bold h6 text-main-two-600 tw-mt-2 tw-duration-300 group-hover-text-white">
                                        / month
                                    </h3>
                                </div>
                                <span class="fw-semibold tw-text-base text-neutral-600 tw-mb-7 tw-duration-300 group-hover-text-white">
                                    Organize Daily Task by free
                                </span>
                                <h2>
                                    <a href="pricing.html" class="h6 fw-bold text-main-two-600 w-100 border-neutral-300 border rounded-pill text-center tw-py-5 tw-mb-6 group-hover-bg-main-600 tw-duration-300 group-hover-text-white group-hover-border-none">
                                        Join This Plan
                                    </a>
                                </h2>
                                <span class="fw-semibold tw-text-base text-main-two-600 tw-mb-6 tw-duration-300 group-hover-text-white">
                                    Key Features
                                </span>
                                <ul class="d-flex flex-column tw-gap-2">
                                    <li class="d-flex align-items-center tw-gap-2">
                                        <span class="tw-text-lg text-neutral-600 tw-duration-300 group-hover-text-white">
                                            <i class="ph-bold ph-check-circle"></i>
                                        </span>
                                        <span class="fw-semibold tw-text-base text-neutral-500 tw-duration-300 group-hover-text-white">
                                            3 Users availble
                                        </span>
                                    </li>
                                    <li class="d-flex align-items-center tw-gap-2">
                                        <span class="tw-text-lg text-neutral-600 tw-duration-300 group-hover-text-white">
                                            <i class="ph-bold ph-check-circle"></i>
                                        </span>
                                        <span class="fw-semibold tw-text-base text-neutral-500 tw-duration-300 group-hover-text-white">
                                            6-8 Cameras
                                        </span>
                                    </li>
                                    <li class="d-flex align-items-center tw-gap-2">
                                        <span class="tw-text-lg text-neutral-600 tw-duration-300 group-hover-text-white">
                                            <i class="ph-bold ph-check-circle"></i>
                                        </span>
                                        <span class="fw-semibold tw-text-base text-neutral-500 tw-duration-300 group-hover-text-white">
                                            24/7 Live Monitoring
                                        </span>
                                    </li>
                                    <li class="d-flex align-items-center tw-gap-2">
                                        <span class="tw-text-lg text-neutral-600 tw-duration-300 group-hover-text-white">
                                            <i class="ph-bold ph-check-circle"></i>
                                        </span>
                                        <span class="fw-semibold tw-text-base text-neutral-500 tw-duration-300 group-hover-text-white">
                                            Smart AI Detection
                                        </span>
                                    </li>
                                    <li class="d-flex align-items-center tw-gap-2">
                                        <span class="tw-text-lg text-neutral-600 tw-duration-300 group-hover-text-white">
                                            <i class="ph-bold ph-check-circle"></i>
                                        </span>
                                        <span class="fw-semibold tw-text-base text-neutral-500 tw-duration-300 group-hover-text-white">
                                            Priority Support
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- =========================== pricing plan five scetion end =========================== -->