<!-- =========================== pricing tab section start ========================== -->
<div class="row gy-4">
    <div class="col-lg-4 col-md-6">
        <div class="group">
            <div class="w-100 bg-white tw-py-10 tw-px-6 tw-rounded-2xl group-hover-bg-main-600 tw-duration-300">
                <span class="fw-semibold tw-text-base text-main-600 border-main-100 border text-main-600  tw-py-2 tw-px-5 tw-mb-4 rounded-pill group-hover-text-white tw-duration-300">
                    Basic Package
                </span>
                <div class="d-flex align-items-end tw-gap-1 tw-mb-4">
                    <h4 class="tw-text-42-px text-main-600 fw-bold tw-line-h-44-px group-hover-text-white tw-duration-300">
                        29 USD
                    </h4>
                    <h3 class="fw-semibold h6 text-main-two-600 group-hover-text-white tw-duration-300">
                        / month
                    </h3>
                </div>
                <p class="fw-semibold tw-text-base text-neutral-600 tw-mb-5 group-hover-text-white tw-duration-300">
                    Great for companies up to 10 website who are
                    ready to grow search on top.
                </p>
                <h3 class="h6">
                    <a href="contact.html" class="tw-p-4 w-100 border-neutral-300 border rounded-pill text-center fw-bold text-main-two-600 tw-mb-6 group-hover-text-white tw-duration-300 group-hover-bg-main-600">
                        Chose Package
                    </a>
                </h3>
                <div class="bg-neutral-30 tw-p-5 tw-rounded-xl group-hover-bg-white tw-duration-300">
                    <span class="fw-semibold tw-text-base text-main-two-600 tw-mb-5">
                        Included:
                    </span>
                    <div class="d-flex flex-column tw-gap-4">
                        <div class="d-flex align-items-center tw-gap-2 flex-wrap ">
                            <span class="tw-text-base text-neutral-600">
                                <i class="ph-bold ph-check-circle"></i>
                            </span>
                            <span class="tw-text-base text-neutral-600 fw-semibold">
                                Cyber Analytics
                            </span>
                        </div>
                        <div class="d-flex align-items-center tw-gap-2 flex-wrap ">
                            <span class="tw-text-base text-neutral-600">
                                <i class="ph-bold ph-check-circle"></i>
                            </span>
                            <span class="tw-text-base text-neutral-600 fw-semibold">
                               Great Customer Support
                            </span>
                        </div>
                        <div class="d-flex align-items-center tw-gap-2 flex-wrap ">
                            <span class="tw-text-base text-neutral-600">
                                <i class="ph-bold ph-check-circle"></i>
                            </span>
                            <span class="tw-text-base text-neutral-600 fw-semibold">
                                Market Growth Solution
                            </span>
                        </div>
                        <div class="d-flex align-items-center tw-gap-2 flex-wrap ">
                            <span class="tw-text-base text-neutral-600">
                                <i class="ph-bold ph-check-circle"></i>
                            </span>
                            <span class="tw-text-base text-neutral-600 fw-semibold">
                                Unlimited Support
                            </span>
                        </div>
                        <div class="d-flex align-items-center tw-gap-2 flex-wrap ">
                            <span class="tw-text-base text-neutral-600">
                                <i class="ph-bold ph-check-circle"></i>
                            </span>
                            <span class="tw-text-base text-neutral-600 fw-semibold">
                                30 Days Availability
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="group">
            <div class="w-100 bg-white tw-py-10 tw-px-6 tw-rounded-2xl group-hover-bg-main-600 tw-duration-300">
                <span class="fw-semibold tw-text-base text-main-600 border-main-100 border text-main-600  tw-py-2 tw-px-5 tw-mb-4 rounded-pill group-hover-text-white tw-duration-300">
                    Basic Package
                </span>
                <div class="d-flex align-items-end tw-gap-1 tw-mb-4">
                    <h4 class="tw-text-42-px text-main-600 fw-bold tw-line-h-44-px group-hover-text-white tw-duration-300">
                        29 USD
                    </h4>
                    <h3 class="fw-semibold h6 text-main-two-600 group-hover-text-white tw-duration-300">
                        / month
                    </h3>
                </div>
                <p class="fw-semibold tw-text-base text-neutral-600 tw-mb-5 group-hover-text-white tw-duration-300">
                    Great for companies up to 10 website who are
                    ready to grow search on top.
                </p>
                <h3 class="h6">
                    <a href="contact.html" class="tw-p-4 w-100 border-neutral-300 border rounded-pill text-center fw-bold text-main-two-600 tw-mb-6 group-hover-text-white tw-duration-300 group-hover-bg-main-600">
                        Chose Package
                    </a>
                </h3>
                <div class="bg-neutral-30 tw-p-5 tw-rounded-xl group-hover-bg-white tw-duration-300">
                    <span class="fw-semibold tw-text-base text-main-two-600 tw-mb-5">
                        Included:
                    </span>
                    <div class="d-flex flex-column tw-gap-4">
                        <div class="d-flex align-items-center tw-gap-2 flex-wrap ">
                            <span class="tw-text-base text-neutral-600">
                                <i class="ph-bold ph-check-circle"></i>
                            </span>
                            <span class="tw-text-base text-neutral-600 fw-semibold">
                                Cyber Analytics
                            </span>
                        </div>
                        <div class="d-flex align-items-center tw-gap-2 flex-wrap ">
                            <span class="tw-text-base text-neutral-600">
                                <i class="ph-bold ph-check-circle"></i>
                            </span>
                            <span class="tw-text-base text-neutral-600 fw-semibold">
                               Great Customer Support
                            </span>
                        </div>
                        <div class="d-flex align-items-center tw-gap-2 flex-wrap ">
                            <span class="tw-text-base text-neutral-600">
                                <i class="ph-bold ph-check-circle"></i>
                            </span>
                            <span class="tw-text-base text-neutral-600 fw-semibold">
                                Market Growth Solution
                            </span>
                        </div>
                        <div class="d-flex align-items-center tw-gap-2 flex-wrap ">
                            <span class="tw-text-base text-neutral-600">
                                <i class="ph-bold ph-check-circle"></i>
                            </span>
                            <span class="tw-text-base text-neutral-600 fw-semibold">
                                Unlimited Support
                            </span>
                        </div>
                        <div class="d-flex align-items-center tw-gap-2 flex-wrap ">
                            <span class="tw-text-base text-neutral-600">
                                <i class="ph-bold ph-check-circle"></i>
                            </span>
                            <span class="tw-text-base text-neutral-600 fw-semibold">
                                30 Days Availability
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="group">
            <div class="w-100 bg-white tw-py-10 tw-px-6 tw-rounded-2xl group-hover-bg-main-600 tw-duration-300">
                <span class="fw-semibold tw-text-base text-main-600 border-main-100 border text-main-600  tw-py-2 tw-px-5 tw-mb-4 rounded-pill group-hover-text-white tw-duration-300">
                    Basic Package
                </span>
                <div class="d-flex align-items-end tw-gap-1 tw-mb-4">
                    <h4 class="tw-text-42-px text-main-600 fw-bold tw-line-h-44-px group-hover-text-white tw-duration-300">
                        29 USD
                    </h4>
                    <h3 class="fw-semibold h6 text-main-two-600 group-hover-text-white tw-duration-300">
                        / month
                    </h3>
                </div>
                <p class="fw-semibold tw-text-base text-neutral-600 tw-mb-5 group-hover-text-white tw-duration-300">
                    Great for companies up to 10 website who are
                    ready to grow search on top.
                </p>
                <h3 class="h6">
                    <a href="contact.html" class="tw-p-4 w-100 border-neutral-300 border rounded-pill text-center fw-bold text-main-two-600 tw-mb-6 group-hover-text-white tw-duration-300 group-hover-bg-main-600">
                        Chose Package
                    </a>
                </h3>
                <div class="bg-neutral-30 tw-p-5 tw-rounded-xl group-hover-bg-white tw-duration-300">
                    <span class="fw-semibold tw-text-base text-main-two-600 tw-mb-5">
                        Included:
                    </span>
                    <div class="d-flex flex-column tw-gap-4">
                        <div class="d-flex align-items-center tw-gap-2 flex-wrap ">
                            <span class="tw-text-base text-neutral-600">
                                <i class="ph-bold ph-check-circle"></i>
                            </span>
                            <span class="tw-text-base text-neutral-600 fw-semibold">
                                Cyber Analytics
                            </span>
                        </div>
                        <div class="d-flex align-items-center tw-gap-2 flex-wrap ">
                            <span class="tw-text-base text-neutral-600">
                                <i class="ph-bold ph-check-circle"></i>
                            </span>
                            <span class="tw-text-base text-neutral-600 fw-semibold">
                               Great Customer Support
                            </span>
                        </div>
                        <div class="d-flex align-items-center tw-gap-2 flex-wrap ">
                            <span class="tw-text-base text-neutral-600">
                                <i class="ph-bold ph-check-circle"></i>
                            </span>
                            <span class="tw-text-base text-neutral-600 fw-semibold">
                                Market Growth Solution
                            </span>
                        </div>
                        <div class="d-flex align-items-center tw-gap-2 flex-wrap ">
                            <span class="tw-text-base text-neutral-600">
                                <i class="ph-bold ph-check-circle"></i>
                            </span>
                            <span class="tw-text-base text-neutral-600 fw-semibold">
                                Unlimited Support
                            </span>
                        </div>
                        <div class="d-flex align-items-center tw-gap-2 flex-wrap ">
                            <span class="tw-text-base text-neutral-600">
                                <i class="ph-bold ph-check-circle"></i>
                            </span>
                            <span class="tw-text-base text-neutral-600 fw-semibold">
                                30 Days Availability
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- =========================== pricing tab section end ========================== -->