<!-- ============================ pricing plan setion start ============================ -->
<section class="pt-120 position-relative mb--120">
    <img src="assets/images/shape/pricing-plan-shape1.png" alt="shape" class="position-absolute top-0 tw-start-0 tw-mt-17 animation-upDown d-xl-block d-none">
    <img src="assets/images/shape/pricing-plan-shape2.png" alt="shape" class="position-absolute top-0 tw-end-0 animation-upDown d-xl-block d-none tw-mt--30-px">
    <div class="container">
        <div class="text-center tw-mb-13">
            <div class="d-inline-flex tw-mb-5 align-items-center tw-gap-2 tw-py-2 tw-px-5 border-main-50 border rounded-pill" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                <span class="tw-w-205 tw-h-205 bg-main-600 rounded-circle"></span>
                <h3 class="fw-bold h6 text-main-600">
                    Our Flexible Pricing Plan
                </h3>
            </div>
            <h3 class="fw-bold text-main-two-600 tw-mb-4" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200"> 
                Choose from Flexible Consulting<br> Packages Today
            </h3>
            <p class="fw-bold tw-text-base text-neutral-500" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                Energistically evisculate an expanded array of meta-services after<br> cross-media strategic theme areas.
            </p>
        </div>
        <div class="bg-neutral-40 tw-rounded-3xl tw-p-5">
            <div class="row">
                <div class="col-xl-4 col-md-6 p-0">
                    <div class="group w-100 group-item tw-duration-300" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                        <div class="tw-px-8 tw-pt-6 tw-pb-12 bg-white tw-rounded-3xl border-neutral-100 border group-hover-bg-gradient-one tw-duration-300">
                            <div class="d-flex align-items-center tw-gap-3 justify-content-between flex-wrap tw-mb-6">
                                <span class="group-hover-item-text-invert-white tw-duration-300">
                                    <img src="assets/images/icon/pricing-plan-icon1.png" alt="icon">
                                </span>
                                <h3 class="fw-bold h6 tw-text-base text-neutral-500 tw-py-2 tw-px-5 border-main-600 border rounded-pill group-hover-border-white group-hover-text-white tw-duration-300">
                                    Basic Plan
                                </h3>
                            </div>
                            <div class="d-flex align-items-end tw-gap-3 tw-mb-1">
                                <div class="d-flex align-items-start tw-gap-2">
                                    <h2 class="fw-bold h4 text-main-two-600 tw-mt-1 group-hover-text-white tw-duration-300">
                                        $
                                    </h2>
                                    <h2 class="fw-bold text-main-two-600 group-hover-text-white tw-duration-300">
                                        299
                                    </h2>
                                </div>
                                <h3 class="tw-text-base h6 fw-semibold text-neutral-800 tw-mb-1 group-hover-text-white tw-duration-300">
                                    /per month
                                </h3>
                            </div>
                            <span class="fw-semibold tw-text-base text-neutral-600 tw-mb-10 group-hover-text-white tw-duration-300">
                                For scaling startups ready to expand rapidly and confidently.
                            </span>
                            <div class="group-hover-bg-main-600 tw-duration-300 tw-rounded-xl">
                                <a href="pricing.html" class="d-flex align-items-center tw-gap-5 justify-content-center w-100 border-main-600 border tw-rounded-xl tw-py-3 tw-px-5 tw-mb-9 hover-bg-white hover-border-main-two-600 tw-duration-300 group">
                                    <h3 class="fw-bold text-main-600 h6 group-hover-text-main-two-600 tw-duration-300">
                                        Discover More
                                    </h3>
                                    <span class="tw-text-xl text-main-600 group-hover-text-main-two-600 tw-duration-300">
                                        <i class="ph-bold ph-arrow-right"></i>
                                    </span>
                                </a>
                            </div>
                            <div class="d-flex flex-column tw-gap-4">
                                <div class="d-flex align-items-center tw-gap-3">
                                    <span class="tw-text-xl text-main-600 tw-mt-1">
                                        <i class="ph-bold ph-check"></i>
                                    </span>
                                    <span class="fw-semibold tw-text-base text-green-100 group-hover-text-white tw-duration-300">
                                        Customer acquisition strategies
                                    </span>
                                </div>
                                <div class="d-flex align-items-center tw-gap-3">
                                    <span class="tw-text-xl text-main-600 tw-mt-1">
                                        <i class="ph-bold ph-check"></i>
                                    </span>
                                    <span class="fw-semibold tw-text-base text-green-100 group-hover-text-white tw-duration-300">
                                        Includes everything in Start Suite
                                    </span>
                                </div>
                                <div class="d-flex align-items-center tw-gap-3">
                                    <span class="tw-text-xl text-main-600 tw-mt-1">
                                        <i class="ph-bold ph-check"></i>
                                    </span>
                                    <span class="fw-semibold tw-text-base text-green-100 group-hover-text-white tw-duration-300">
                                        Brand positioning & presence
                                    </span>
                                </div>
                                <div class="d-flex align-items-center tw-gap-3">
                                    <span class="tw-text-xl text-main-600 tw-mt-1">
                                        <i class="ph-bold ph-check"></i>
                                    </span>
                                    <span class="fw-semibold tw-text-base text-green-100 group-hover-text-white tw-duration-300">
                                        Investor-ready financial forecasts
                                    </span>
                                </div>
                                <div class="d-flex align-items-center tw-gap-3">
                                    <span class="tw-text-xl text-main-600 tw-mt-1">
                                        <i class="ph-bold ph-check"></i>
                                    </span>
                                    <span class="fw-semibold tw-text-base text-green-100 group-hover-text-white tw-duration-300">
                                        Bi-weekly consulting & reviews
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 p-0">
                    <div class="group w-100 group-item tw-duration-300" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                        <div class="tw-px-8 tw-pt-6 tw-pb-12 bg-white tw-rounded-3xl border-neutral-100 border group-hover-bg-gradient-one tw-duration-500">
                            <div class="d-flex align-items-center tw-gap-3 justify-content-between flex-wrap tw-mb-6">
                                <span class="group-hover-item-text-invert-white tw-duration-300">
                                    <img src="assets/images/icon/pricing-plan-icon2.png" alt="icon">
                                </span>
                                <h3 class="fw-bold h6 tw-text-base text-neutral-500 tw-py-2 tw-px-5 border-main-600 border rounded-pill group-hover-border-white group-hover-text-white tw-duration-300">
                                    Advanced Plan
                                </h3>
                            </div>
                            <div class="d-flex align-items-end tw-gap-3 tw-mb-1">
                                <div class="d-flex align-items-start tw-gap-2">
                                    <h2 class="fw-bold h4 text-main-two-600 tw-mt-1 group-hover-text-white tw-duration-300">
                                        $
                                    </h2>
                                    <h2 class="fw-bold text-main-two-600 group-hover-text-white tw-duration-300">
                                        499
                                    </h2>
                                </div>
                                <h3 class="tw-text-base h6 fw-semibold text-neutral-800 tw-mb-1 group-hover-text-white tw-duration-300">
                                    /per month
                                </h3>
                            </div>
                            <span class="fw-semibold tw-text-base text-neutral-600 tw-mb-10 group-hover-text-white tw-duration-300">
                                For scaling startups ready to expand rapidly and confidently.
                            </span>
                            <div class="group-hover-bg-main-600 tw-duration-300 tw-rounded-xl">
                                <a href="pricing.html" class="d-flex align-items-center tw-gap-5 justify-content-center w-100 border-main-600 border tw-rounded-xl tw-py-3 tw-px-5 tw-mb-9 hover-bg-white hover-border-main-two-600 tw-duration-300 group">
                                    <h3 class="fw-bold text-main-600 h6 group-hover-text-main-two-600 tw-duration-300">
                                        Discover More
                                    </h3>
                                    <span class="tw-text-xl text-main-600 group-hover-text-main-two-600 tw-duration-300">
                                        <i class="ph-bold ph-arrow-right"></i>
                                    </span>
                                </a>
                            </div>
                            <div class="d-flex flex-column tw-gap-4">
                                <div class="d-flex align-items-center tw-gap-3">
                                    <span class="tw-text-xl text-main-600 tw-mt-1">
                                        <i class="ph-bold ph-check"></i>
                                    </span>
                                    <span class="fw-semibold tw-text-base text-green-100 group-hover-text-white tw-duration-300">
                                        Customer acquisition strategies
                                    </span>
                                </div>
                                <div class="d-flex align-items-center tw-gap-3">
                                    <span class="tw-text-xl text-main-600 tw-mt-1">
                                        <i class="ph-bold ph-check"></i>
                                    </span>
                                    <span class="fw-semibold tw-text-base text-green-100 group-hover-text-white tw-duration-300">
                                        Includes everything in Start Suite
                                    </span>
                                </div>
                                <div class="d-flex align-items-center tw-gap-3">
                                    <span class="tw-text-xl text-main-600 tw-mt-1">
                                        <i class="ph-bold ph-check"></i>
                                    </span>
                                    <span class="fw-semibold tw-text-base text-green-100 group-hover-text-white tw-duration-300">
                                        Brand positioning & presence
                                    </span>
                                </div>
                                <div class="d-flex align-items-center tw-gap-3">
                                    <span class="tw-text-xl text-main-600 tw-mt-1">
                                        <i class="ph-bold ph-check"></i>
                                    </span>
                                    <span class="fw-semibold tw-text-base text-green-100 group-hover-text-white tw-duration-300">
                                        Investor-ready financial forecasts
                                    </span>
                                </div>
                                <div class="d-flex align-items-center tw-gap-3">
                                    <span class="tw-text-xl text-main-600 tw-mt-1">
                                        <i class="ph-bold ph-check"></i>
                                    </span>
                                    <span class="fw-semibold tw-text-base text-green-100 group-hover-text-white tw-duration-300">
                                        Bi-weekly consulting & reviews
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 p-0">
                    <div class="group w-100 group-item tw-duration-300" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                        <div class="tw-px-8 tw-pt-6 tw-pb-12 bg-white tw-rounded-3xl border-neutral-100 border group-hover-bg-gradient-one tw-duration-500">
                            <div class="d-flex align-items-center tw-gap-3 justify-content-between flex-wrap tw-mb-6">
                                <span class="group-hover-item-text-invert-white tw-duration-300">
                                    <img src="assets/images/icon/pricing-plan-icon3.png" alt="icon">
                                </span>
                                <h3 class="fw-bold h6 tw-text-base text-neutral-500 tw-py-2 tw-px-5 border-main-600 border rounded-pill group-hover-border-white group-hover-text-white tw-duration-300">
                                    Advanced Plan
                                </h3>
                            </div>
                            <div class="d-flex align-items-end tw-gap-3 tw-mb-1">
                                <div class="d-flex align-items-start tw-gap-2">
                                    <h2 class="fw-bold h4 text-main-two-600 tw-mt-1 group-hover-text-white tw-duration-300">
                                        $
                                    </h2>
                                    <h2 class="fw-bold text-main-two-600 group-hover-text-white tw-duration-300">
                                        899
                                    </h2>
                                </div>
                                <h3 class="tw-text-base h6 fw-semibold text-neutral-800 tw-mb-1 group-hover-text-white tw-duration-300">
                                    /per month
                                </h3>
                            </div>
                            <span class="fw-semibold tw-text-base text-neutral-600 tw-mb-10 group-hover-text-white tw-duration-300">
                                For scaling startups ready to expand rapidly and confidently.
                            </span>
                            <div class="group-hover-bg-main-600 tw-duration-300 tw-rounded-xl">
                                <a href="pricing.html" class="d-flex align-items-center tw-gap-5 justify-content-center w-100 border-main-600 border tw-rounded-xl tw-py-3 tw-px-5 tw-mb-9 hover-bg-white hover-border-main-two-600 tw-duration-300 group">
                                    <h3 class="fw-bold text-main-600 h6 group-hover-text-main-two-600 tw-duration-300">
                                        Discover More
                                    </h3>
                                    <span class="tw-text-xl text-main-600 group-hover-text-main-two-600 tw-duration-300">
                                        <i class="ph-bold ph-arrow-right"></i>
                                    </span>
                                </a>
                            </div>
                            <div class="d-flex flex-column tw-gap-4">
                                <div class="d-flex align-items-center tw-gap-3">
                                    <span class="tw-text-xl text-main-600 tw-mt-1">
                                        <i class="ph-bold ph-check"></i>
                                    </span>
                                    <span class="fw-semibold tw-text-base text-green-100 group-hover-text-white tw-duration-300">
                                        Customer acquisition strategies
                                    </span>
                                </div>
                                <div class="d-flex align-items-center tw-gap-3">
                                    <span class="tw-text-xl text-main-600 tw-mt-1">
                                        <i class="ph-bold ph-check"></i>
                                    </span>
                                    <span class="fw-semibold tw-text-base text-green-100 group-hover-text-white tw-duration-300">
                                        Includes everything in Start Suite
                                    </span>
                                </div>
                                <div class="d-flex align-items-center tw-gap-3">
                                    <span class="tw-text-xl text-main-600 tw-mt-1">
                                        <i class="ph-bold ph-check"></i>
                                    </span>
                                    <span class="fw-semibold tw-text-base text-green-100 group-hover-text-white tw-duration-300">
                                        Brand positioning & presence
                                    </span>
                                </div>
                                <div class="d-flex align-items-center tw-gap-3">
                                    <span class="tw-text-xl text-main-600 tw-mt-1">
                                        <i class="ph-bold ph-check"></i>
                                    </span>
                                    <span class="fw-semibold tw-text-base text-green-100 group-hover-text-white tw-duration-300">
                                        Investor-ready financial forecasts
                                    </span>
                                </div>
                                <div class="d-flex align-items-center tw-gap-3">
                                    <span class="tw-text-xl text-main-600 tw-mt-1">
                                        <i class="ph-bold ph-check"></i>
                                    </span>
                                    <span class="fw-semibold tw-text-base text-green-100 group-hover-text-white tw-duration-300">
                                        Bi-weekly consulting & reviews
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ============================ pricing plan setion end ============================ -->