<!-- =========================== projects details section start ============================= -->
<section class="py-120">
    <div class="container">
        <div class="w-100 tw-mb-7">
            <img src="assets/images/thumbs/projects-details-img1.png" alt="img" class="w-100">
        </div>
        <div class="row gy-4">
            <div class="col-xl-8">
                <div class="tw-py-10 tw-px-7 border-black border-opacity-10 border tw-rounded-lg">
                    <div class="tw-mb-13">
                        <h2 class="fw-semibold h4 text-main-two-600 tw-text-36-px tw-mb-8">
                            AI Development
                        </h2>
                        <p class="fw-normal tw-text-base text-neutral-600 tw-mb-8">
                            No two clients are the same, and that's why we provide custom solar solutions tailored to meet your 
                            energy requirements. Whether you're a homeowner, a business, or a large-scale energy user, we have
                            expertise to design and install a solar power system that fits exactly what you need.
                        </p>
                        <p class="fw-normal tw-text-base text-neutral-600 tw-mb-8">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vulputate vestibulum Phasell jesmit
                            dolor eget viverra pretium, dolor tellus aliquet nunc, vitae ultricies erat elit eu lacus. Vestibulu limania
                            consectetur, cursus ante, tincidunt sapien. Nulla quis diam sit amet turpis interdum accumsan evento
                            enim. Vivamus faucibus ex sed nibh egestas elementum.
                        </p>
                    </div>
                    <div class="tw-mb-13">
                        <h2 class="fw-semibold h4 text-main-two-600 tw-text-36-px tw-mb-8">
                            Maintenance & Support
                        </h2>
                        <p class="fw-normal tw-text-base text-neutral-600 tw-mb-8">
                            Gardeno systems require minimal maintenance, yet for peace of mind and optimal performance, our
                            technicians offer routine check-ups, perfor mance assessments, and maintenance services.  remote
                            monitoring capabilities, we keep a vigilant eye on your system's performance, ensuring it operates at
                            peak efficiency.
                        </p>
                    </div>
                    <div>
                        <div>
                            <h2 class="fw-semibold h4 text-main-two-600 tw-text-36-px tw-mb-8">
                                Service Benefits
                            </h2>
                            <div class="row gy-4">
                                <div class="col-md-4">
                                    <div class="d-flex flex-column tw-gap-3">
                                        <div class="d-flex align-items-center tw-gap-3">
                                            <span class="tw-w-105 tw-h-105 bg-main-two-600 rounded-circle"></span>
                                            <h3 class="fw-semibold h6 text-main-two-600">
                                                Expertise and Experience
                                            </h3>
                                        </div>
                                        <div class="d-flex align-items-center tw-gap-3">
                                            <span class="tw-w-105 tw-h-105 bg-main-two-600 rounded-circle"></span>
                                            <h3 class="fw-semibold h6 text-main-two-600">
                                                Cost Efficiency
                                            </h3>
                                        </div>
                                        <div class="d-flex align-items-center tw-gap-3">
                                            <span class="tw-w-105 tw-h-105 bg-main-two-600 rounded-circle"></span>
                                            <h3 class="fw-semibold h6 text-main-two-600">
                                                Time Savings
                                            </h3>
                                        </div>
                                        <div class="d-flex align-items-center tw-gap-3">
                                            <span class="tw-w-105 tw-h-105 bg-main-two-600 rounded-circle"></span>
                                            <h3 class="fw-semibold h6 text-main-two-600">
                                                Quality Assurance
                                            </h3>
                                        </div>
                                        <div class="d-flex align-items-center tw-gap-3">
                                            <span class="tw-w-105 tw-h-105 bg-main-two-600 rounded-circle"></span>
                                            <h3 class="fw-semibold h6 text-main-two-600">
                                                Regulatory Compliance
                                            </h3>
                                        </div>
                                        <div class="d-flex align-items-center tw-gap-3">
                                            <span class="tw-w-105 tw-h-105 bg-main-two-600 rounded-circle"></span>
                                            <h3 class="fw-semibold h6 text-main-two-600">
                                                Customization and Flexibility
                                            </h3>
                                        </div>
                                        <div class="d-flex align-items-center tw-gap-3">
                                            <span class="tw-w-105 tw-h-105 bg-main-two-600 rounded-circle"></span>
                                            <h3 class="fw-semibold h6 text-main-two-600">
                                                Post-Solar Support
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="row gy-4">
                                        <div class="col-sm-6">
                                            <span>
                                                <img src="assets/images/thumbs/services-details-img2.png" alt="images">
                                            </span>
                                        </div>
                                        <div class="col-sm-6">
                                            <span>
                                                <img src="assets/images/thumbs/services-details-img3.png" alt="images">
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="tw-py-10 tw-px-7 bg-neutral-30 tw-rounded-lg">
                    <h2 class="fw-semibold h4 text-main-two-600 tw-text-36-px tw-mb-10">
                        Project Information
                    </h2>
                    <div class="d-flex align-items-center tw-gap-2 flex-wrap tw-mb-4">
                        <span class="tw-w-13 tw-h-13 bg-white rounded-circle d-flex align-items-center justify-content-center tw-text-2xl text-main-600">
                            <i class="ph-bold ph-user-circle-gear"></i>
                        </span>
                        <div>
                            <span class="fw-medium tw-text-base text-neutral-600 tw-mb-2">
                                Clients:
                            </span>
                            <h3 class="fw-semibold h6 text-main-two-600">
                                Michel Miller
                            </h3>
                        </div>
                    </div>
                    <div class="d-flex align-items-center tw-gap-2 flex-wrap tw-mb-4">
                        <span class="tw-w-13 tw-h-13 bg-white rounded-circle d-flex align-items-center justify-content-center tw-text-2xl text-main-600">
                            <i class="ph-bold ph-copy"></i>
                        </span>
                        <div>
                            <span class="fw-medium tw-text-base text-neutral-600 tw-mb-2">
                                Clients:
                            </span>
                            <h3 class="fw-semibold h6 text-main-two-600">
                                Digital Marketing
                            </h3>
                        </div>
                    </div>
                    <div class="d-flex align-items-center tw-gap-2 flex-wrap tw-mb-4">
                        <span class="tw-w-13 tw-h-13 bg-white rounded-circle d-flex align-items-center justify-content-center tw-text-2xl text-main-600">
                            <i class="ph-bold ph-calendar-dots"></i>
                        </span>
                        <div>
                            <span class="fw-medium tw-text-base text-neutral-600 tw-mb-2">
                                Clients:
                            </span>
                            <h3 class="fw-semibold h6 text-main-two-600">
                                21 Jun, 2025
                            </h3>
                        </div>
                    </div>
                    <div class="d-flex align-items-center tw-gap-2 flex-wrap tw-mb-4">
                        <span class="tw-w-13 tw-h-13 bg-white rounded-circle d-flex align-items-center justify-content-center tw-text-2xl text-main-600">
                            <i class="ph-bold ph-map-pin"></i>
                        </span>
                        <div>
                            <span class="fw-medium tw-text-base text-neutral-600 tw-mb-2">
                                Clients:
                            </span>
                            <h3 class="fw-semibold h6 text-main-two-600">
                                42 Hangston, USA
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- =========================== projects details section end ============================= -->