<!-- =============================== company projects section start ============================ -->
<section class="py-120 bg-neutral-30">
    <div class="container max-w-1700-px">
        <div class="d-flex align-items-center justify-content-center tw-mb-15">
            <div class="max-w-570-px w-100 text-center">
                <div class="d-inline-flex align-items-center tw-gap-2 tw-py-2 tw-px-5 border-main-100 border rounded-pill tw-mb-5">
                    <span class="tw-w-205 tw-h-205 bg-main-600 rounded-circle"></span>
                    <h2 class="fw-bold h6 text-main-600">
                       Our Company Projects
                    </h2>
                </div>
                <h3 class="fw-bold text-main-two-600">
                    Explore Our Recent Projects That We Have Done
                </h3>
            </div>
        </div>
        <div class="swiper company-projects__slider">
            <div class="swiper-wrapper tw-mb-15">
                <div class="swiper-slide">
                    <div class="position-relative group-item">
                        <img src="assets/images/thumbs/company-project-about-img1.png" alt="img" class="w-100">
                        <span class="tw-bg-main-60 position-absolute top-0 tw-start-0 w-100 h-100 tw-rounded-xl tw-invisible tw-opacity-0 group-hover-item-visible group-hover-item-opacity-1 tw-duration-300"></span>
                        <a href="projects-details.html" class="shadow__card tw-w-17 tw-h-17 bg-neutral-30 d-flex align-items-end justify-content-end position-absolute bottom-0 tw-end-0 tw-rounded-xl">
                            <span class="tw-w-15 tw-h-15 bg-white tw-rounded-xl tw-text-xl text-main-600 d-flex align-items-center justify-content-center border-main-200 border">
                                <i class="ph-bold ph-arrow-up-right"></i>
                            </span>
                        </a>
                        <div class="position-absolute top-0 tw-start-0 top-50 tw-start-50 translate-middle text-center tw-invisible tw-opacity-0 group-hover-item-visible group-hover-item-opacity-1 tw-duration-300">
                            <h4 class="tw-mb-4">
                                <a href="projects-details.html" class="fw-bold text-white">
                                    Cyber solutions
                                </a>
                            </h4>
                            <span class="fw-semibold text-white tw-text-base">
                                Technology
                            </span>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="position-relative group-item">
                        <img src="assets/images/thumbs/company-project-about-img2.png" alt="img" class="w-100">
                        <span class="tw-bg-main-60 position-absolute top-0 tw-start-0 w-100 h-100 tw-rounded-xl tw-invisible tw-opacity-0 group-hover-item-visible group-hover-item-opacity-1 tw-duration-300"></span>
                        <a href="projects-details.html" class="shadow__card tw-w-17 tw-h-17 bg-neutral-30 d-flex align-items-end justify-content-end position-absolute bottom-0 tw-end-0 tw-rounded-xl">
                            <span class="tw-w-15 tw-h-15 bg-white tw-rounded-xl tw-text-xl text-main-600 d-flex align-items-center justify-content-center border-main-200 border">
                                <i class="ph-bold ph-arrow-up-right"></i>
                            </span>
                        </a>
                        <div class="position-absolute top-0 tw-start-0 top-50 tw-start-50 translate-middle text-center tw-invisible tw-opacity-0 group-hover-item-visible group-hover-item-opacity-1 tw-duration-300">
                            <h4 class="tw-mb-4">
                                <a href="projects-details.html" class="fw-bold text-white">
                                    Cyber solutions
                                </a>
                            </h4>
                            <span class="fw-semibold text-white tw-text-base">
                                Technology
                            </span>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="position-relative group-item">
                        <img src="assets/images/thumbs/company-project-about-img3.png" alt="img" class="w-100">
                        <span class="tw-bg-main-60 position-absolute top-0 tw-start-0 w-100 h-100 tw-rounded-xl tw-invisible tw-opacity-0 group-hover-item-visible group-hover-item-opacity-1 tw-duration-300"></span>
                        <a href="projects-details.html" class="shadow__card tw-w-17 tw-h-17 bg-neutral-30 d-flex align-items-end justify-content-end position-absolute bottom-0 tw-end-0 tw-rounded-xl">
                            <span class="tw-w-15 tw-h-15 bg-white tw-rounded-xl tw-text-xl text-main-600 d-flex align-items-center justify-content-center border-main-200 border">
                                <i class="ph-bold ph-arrow-up-right"></i>
                            </span>
                        </a>
                        <div class="position-absolute top-0 tw-start-0 top-50 tw-start-50 translate-middle text-center tw-invisible tw-opacity-0 group-hover-item-visible group-hover-item-opacity-1 tw-duration-300">
                            <h4 class="tw-mb-4">
                                <a href="projects-details.html" class="fw-bold text-white">
                                    Cyber solutions
                                </a>
                            </h4>
                            <span class="fw-semibold text-white tw-text-base">
                                Technology
                            </span>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="position-relative group-item">
                        <img src="assets/images/thumbs/company-project-about-img4.png" alt="img" class="w-100">
                        <span class="tw-bg-main-60 position-absolute top-0 tw-start-0 w-100 h-100 tw-rounded-xl tw-invisible tw-opacity-0 group-hover-item-visible group-hover-item-opacity-1 tw-duration-300"></span>
                        <a href="projects-details.html" class="shadow__card tw-w-17 tw-h-17 bg-neutral-30 d-flex align-items-end justify-content-end position-absolute bottom-0 tw-end-0 tw-rounded-xl">
                            <span class="tw-w-15 tw-h-15 bg-white tw-rounded-xl tw-text-xl text-main-600 d-flex align-items-center justify-content-center border-main-200 border">
                                <i class="ph-bold ph-arrow-up-right"></i>
                            </span>
                        </a>
                        <div class="position-absolute top-0 tw-start-0 top-50 tw-start-50 translate-middle text-center tw-invisible tw-opacity-0 group-hover-item-visible group-hover-item-opacity-1 tw-duration-300">
                            <h4 class="tw-mb-4">
                                <a href="projects-details.html" class="fw-bold text-white">
                                    Cyber solutions
                                </a>
                            </h4>
                            <span class="fw-semibold text-white tw-text-base">
                                Technology
                            </span>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="position-relative group-item">
                        <img src="assets/images/thumbs/company-project-about-img2.png" alt="img" class="w-100">
                        <span class="tw-bg-main-60 position-absolute top-0 tw-start-0 w-100 h-100 tw-rounded-xl tw-invisible tw-opacity-0 group-hover-item-visible group-hover-item-opacity-1 tw-duration-300"></span>
                        <a href="projects-details.html" class="shadow__card tw-w-17 tw-h-17 bg-neutral-30 d-flex align-items-end justify-content-end position-absolute bottom-0 tw-end-0 tw-rounded-xl">
                            <span class="tw-w-15 tw-h-15 bg-white tw-rounded-xl tw-text-xl text-main-600 d-flex align-items-center justify-content-center border-main-200 border">
                                <i class="ph-bold ph-arrow-up-right"></i>
                            </span>
                        </a>
                        <div class="position-absolute top-0 tw-start-0 top-50 tw-start-50 translate-middle text-center tw-invisible tw-opacity-0 group-hover-item-visible group-hover-item-opacity-1 tw-duration-300">
                            <h4 class="tw-mb-4">
                                <a href="projects-details.html" class="fw-bold text-white">
                                    Cyber solutions
                                </a>
                            </h4>
                            <span class="fw-semibold text-white tw-text-base">
                                Technology
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>
<!-- =============================== company projects section end ============================ -->