<!-- ============================ faq section start ============================ -->
<section class="py-120">
    <div class="container">
        <div class="row gy-4">
            <div class="col-xl-6">
                <div class="max-w-590-px">
                    <div class="position-relative">
                        <div>
                            <img src="assets/images/thumbs/read-faq-img1.png" alt="img" class="w-100">
                        </div>
                        <div class="tw-py-7 tw-ps-8 tw-pe-15 bg-main-600 tw-rounded-top-20-px position-absolute bottom-0 tw-end-0">
                            <h2  class="fw-bold text-white tw-mb-10 h4">
                                Get Started<br>
                                Free Call?
                            </h2>
                            <span class="tw-w-12 tw-h-12 bg-white rounded-circle d-flex align-items-center justify-content-center tw-text-xl text-main-600 tw-mb-3">
                                <i class="ph-bold ph-phone-call"></i>
                            </span>
                            <h3 class="h6">
                                <a href="tel:+123-456-7894" class="fw-bold text-white hover-underline hover-text-white">
                                    +123-456-7894
                                </a>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item tw-mb-3">
                        <button class="accordion-button h5" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            1. What services does your company offer?
                        </button>
                        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p class="fw-medium tw-text-lg text-neutral-600">
                                    You can reach us through our contact page on the website where you’ll find our phone number email address and a convenient contact form we are also available social media platforms such
                                    list relevant platform contact form we are 
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item tw-mb-3">
                        <button class="accordion-button collapsed h5" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            2. How can your IT solutions help my business?
                        </button>
                        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p class="fw-medium tw-text-lg text-neutral-600">
                                    You can reach us through our contact page on the website where you’ll find our phone number email address and a convenient contact form we are also available social media platforms such
                                    list relevant platform contact form we are 
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item tw-mb-3">
                        <button class="accordion-button collapsed h5" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                           3. Do you provide support after project completion?
                        </button>
                        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p class="fw-medium tw-text-lg text-neutral-600">
                                    You can reach us through our contact page on the website where you’ll find our phone number email address and a convenient contact form we are also available social media platforms such
                                    list relevant platform contact form we are 
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item tw-mb-3">
                        <button class="accordion-button collapsed h5" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                           4. How long does it take to implement an IT solution?
                        </button>
                        <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p class="fw-medium tw-text-lg text-neutral-600">
                                    You can reach us through our contact page on the website where you’ll find our phone number email address and a convenient contact form we are also available social media platforms such
                                    list relevant platform contact form we are 
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <button class="accordion-button collapsed h5" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                           5. Is my data secure with your solutions?
                        </button>
                        <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p class="fw-medium tw-text-lg text-neutral-600">
                                    You can reach us through our contact page on the website where you’ll find our phone number email address and a convenient contact form we are also available social media platforms such
                                    list relevant platform contact form we are 
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ============================ faq section end ============================ -->