<!-- ========================= solution seven section start ======================= -->
<section class="py-120">
    <div class="container">
        <div class="d-flex justify-content-center align-items-center tw-mb-15">
            <div class="max-w-800-px w-100 text-center">
                <div class="tw-py-2 tw-px-5 border-neutral-300 border rounded-pill d-inline-flex tw-gap-2 align-items-center tw-mb-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                    <span class="tw-w-205 tw-h-205 bg-main-600 rounded-circle"></span>
                    <h2 class="h6 fw-bold text-main-600">
                        More Than Solutions
                    </h2>
                </div>
                <h2 class="fw-bold h3 text-main-two-600 tw-lh-1" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                    Big Data Engineers & Architects  | Deep
                    Expertise In Aws And Azure
                </h2>
            </div>
        </div>
        <div class="row gy-4">
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="group h-100 w-100" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                    <div class="tw-py-8 tw-ps-7 tw-pe-4 border-neutral-100 border tw-rounded-2xl animation-item group-hover-bg-main-600 tw-duration-300 h-100 w-100">
                        <div class="d-flex align-items-center justify-content-between tw-gap-3 flex-wrap tw-mb-5">
                            <span class="tw-w-17 tw-h-17 border-neutral-100 border tw-rounded-lg tw-text-11 text-main-two-600 text-center d-flex align-items-center justify-content-center group-hover-bg-white tw-duration-300">
                                <img src="assets/images/icon/seven-solutions-icon1.png" alt="icon" class="animate__wobble tw-duration-300">
                            </span>
                            <h3 class="fw-bold text-neutral-100 group-hover-text-white tw-duration-300">
                                01
                            </h3>
                        </div>
                        <h3 class="h4 fw-bold text-main-two-600 tw-mb-5">
                            <a href="services-details.html" class="hover-underline tw-duration-300 group-hover-text-white tw-duration-300">
                                Data Analytics &
                                Reporting
                            </a>
                        </h3>
                        <p class="fw-semibold tw-text-base text-neutral-500 tw-mb-5 group-hover-text-white tw-duration-300">
                            The wise man therefore always
                            doing holding these matters
                        </p>
                        <a href="services-details.html" class="h6 fw-bold text-main-two-600 d-flex align-items-center tw-gap-2 group-hover-text-white tw-duration-300 hover-underline">
                            Read More
                            <span>
                                <i class="ph-bold ph-arrow-right"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="group h-100 w-100" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                    <div class="tw-py-8 tw-ps-7 tw-pe-4 border-neutral-100 border tw-rounded-2xl animation-item group-hover-bg-main-600 tw-duration-300 h-100 w-100">
                        <div class="d-flex align-items-center justify-content-between tw-gap-3 flex-wrap tw-mb-5">
                            <span class="tw-w-17 tw-h-17 border-neutral-100 border tw-rounded-lg tw-text-11 text-main-two-600 text-center d-flex align-items-center justify-content-center group-hover-bg-white tw-duration-300">
                                <img src="assets/images/icon/seven-solutions-icon2.png" alt="icon" class="animate__wobble tw-duration-300">
                            </span>
                            <h3 class="fw-bold text-neutral-100 group-hover-text-white tw-duration-300">
                                02
                            </h3>
                        </div>
                        <h3 class="h4 fw-bold text-main-two-600 tw-mb-5">
                            <a href="services-details.html" class="hover-underline tw-duration-300 group-hover-text-white tw-duration-300">
                                Business Intelligence
                                Solutions
                            </a>
                        </h3>
                        <p class="fw-semibold tw-text-base text-neutral-500 tw-mb-5 group-hover-text-white tw-duration-300">
                            The wise man therefore always
                            doing holding these matters
                        </p>
                        <a href="services-details.html" class="h6 fw-bold text-main-two-600 d-flex align-items-center tw-gap-2 group-hover-text-white tw-duration-300 hover-underline">
                            Read More
                            <span>
                                <i class="ph-bold ph-arrow-right"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="group h-100 w-100" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                    <div class="tw-py-8 tw-ps-7 tw-pe-4 border-neutral-100 border tw-rounded-2xl animation-item group-hover-bg-main-600 tw-duration-300 h-100 w-100">
                        <div class="d-flex align-items-center justify-content-between tw-gap-3 flex-wrap tw-mb-5">
                            <span class="tw-w-17 tw-h-17 border-neutral-100 border tw-rounded-lg tw-text-11 text-main-two-600 text-center d-flex align-items-center justify-content-center group-hover-bg-white tw-duration-300">
                                <img src="assets/images/icon/seven-solutions-icon3.png" alt="icon" class="animate__wobble tw-duration-300">
                            </span>
                            <h3 class="fw-bold text-neutral-100 group-hover-text-white tw-duration-300">
                                03
                            </h3>
                        </div>
                        <h3 class="h4 fw-bold text-main-two-600 tw-mb-5">
                            <a href="services-details.html" class="hover-underline tw-duration-300 group-hover-text-white tw-duration-300">
                               Data Engineering &
                                Warehousing
                            </a>
                        </h3>
                        <p class="fw-semibold tw-text-base text-neutral-500 tw-mb-5 group-hover-text-white tw-duration-300">
                            The wise man therefore always
                            doing holding these matters
                        </p>
                        <a href="services-details.html" class="h6 fw-bold text-main-two-600 d-flex align-items-center tw-gap-2 group-hover-text-white tw-duration-300 hover-underline">
                            Read More
                            <span>
                                <i class="ph-bold ph-arrow-right"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="group h-100 w-100" data-aos="fade-up" data-aos-duration="800" data-aos-delay="350">
                    <div class="tw-py-8 tw-ps-7 tw-pe-4 border-neutral-100 border tw-rounded-2xl animation-item group-hover-bg-main-600 tw-duration-300 h-100 w-100">
                        <div class="d-flex align-items-center justify-content-between tw-gap-3 flex-wrap tw-mb-5">
                            <span class="tw-w-17 tw-h-17 border-neutral-100 border tw-rounded-lg tw-text-11 text-main-two-600 text-center d-flex align-items-center justify-content-center group-hover-bg-white tw-duration-300">
                                <img src="assets/images/icon/seven-solutions-icon4.png" alt="icon" class="animate__wobble tw-duration-300">
                            </span>
                            <h3 class="fw-bold text-neutral-100 group-hover-text-white tw-duration-300">
                                04
                            </h3>
                        </div>
                        <h3 class="h4 fw-bold text-main-two-600 tw-mb-5">
                            <a href="services-details.html" class="hover-underline tw-duration-300 group-hover-text-white tw-duration-300">
                                Data Visualization &
                                Storytelling
                            </a>
                        </h3>
                        <p class="fw-semibold tw-text-base text-neutral-500 tw-mb-5 group-hover-text-white tw-duration-300">
                            The wise man therefore always
                            doing holding these matters
                        </p>
                        <a href="services-details.html" class="h6 fw-bold text-main-two-600 d-flex align-items-center tw-gap-2 group-hover-text-white tw-duration-300 hover-underline">
                            Read More
                            <span>
                                <i class="ph-bold ph-arrow-right"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========================= solution seven section end ======================= -->