<!-- ======================== digital seven section start ====================== -->
<section>
    <img src="assets/images/shape/saven-about-us-shape1.png" alt="shape" class="w-100 tw-mb--8-px">
    <div class="py-120 bg-neutral-30">
        <div class="container">
            <div class="d-flex align-items-center justify-content-center tw-mb-15">
                <div class="max-w-600-px w-100 text-center">
                   <div class="tw-py-2 tw-px-5 border-neutral-300 border rounded-pill d-inline-flex tw-gap-2 align-items-center tw-mb-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                        <span class="tw-w-205 tw-h-205 bg-main-600 rounded-circle"></span>
                        <h2 class="h6 fw-bold text-main-600">
                            Real-Time Data
                        </h2>
                    </div>
                    <h2 class="fw-bold h3 text-main-two-600 tw-lh-1" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                        Brands We Are Growing With
                        Digital Expertise
                    </h2>
                </div>
            </div>
            <div class="row gy-4">
                <div class="col-xl-4 col-md-6 p-0">
                    <div class="w-100 bg-white tw-rounded-xl tw-py-2 d-flex align-items-center tw-gap-5 flex-wrap tw-mb-8" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                        <div class="bg-neutral-30 tw-rounded-xl tw-py-4 tw-ps-4 tw-pe-6 max-w-260-px w-100">
                            <h2 class="fw-bold h6 text-main-two-600 tw-mb-2">
                                Media & Entertainment
                            </h2>
                            <p class="fw-semibold tw-text-base text-neutral-600">
                                Lorem ipsum dolor sit amet,
                                consectetur adipiscing elit
                            </p>
                        </div>
                        <span class="tw-w-74-px tw-h-75-px tw-bg-gradient-8 rounded-circle d-flex align-items-center justify-content-center tw-shadow-six">
                            <span class="tw-w-16 tw-h-16 bg-neutral-30 rounded-circle d-flex align-items-center justify-content-center">
                                <img src="assets/images/icon/saven-degital-icon1.png" alt="icon">
                            </span>
                        </span>
                    </div>
                    <div class="w-100 bg-white tw-rounded-xl tw-py-2 d-flex align-items-center tw-gap-5 flex-wrap tw-mb-8" data-aos="fade-up" data-aos-duration="800" data-aos-delay="150">
                        <div class="bg-neutral-30 tw-rounded-xl tw-py-4 tw-ps-4 tw-pe-6 max-w-260-px w-100">
                            <h2 class="fw-bold h6 text-main-two-600 tw-mb-2">
                                Financials & Banking
                            </h2>
                            <p class="fw-semibold tw-text-base text-neutral-600">
                                Lorem ipsum dolor sit amet,
                                consectetur adipiscing elit
                            </p>
                        </div>
                        <span class="tw-w-74-px tw-h-75-px tw-bg-gradient-8 rounded-circle d-flex align-items-center justify-content-center tw-shadow-six">
                            <span class="tw-w-16 tw-h-16 bg-neutral-30 rounded-circle d-flex align-items-center justify-content-center">
                                <img src="assets/images/icon/saven-degital-icon2.png" alt="icon">
                            </span>
                        </span>
                    </div>
                    <div class="w-100 bg-white tw-rounded-xl tw-py-2 d-flex align-items-center tw-gap-5 flex-wrap" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                        <div class="bg-neutral-30 tw-rounded-xl tw-py-4 tw-ps-4 tw-pe-6 max-w-260-px w-100">
                            <h2 class="fw-bold h6 text-main-two-600 tw-mb-2">
                                Healthcare & Medicine
                            </h2>
                            <p class="fw-semibold tw-text-base text-neutral-600">
                                Lorem ipsum dolor sit amet,
                                consectetur adipiscing elit
                            </p>
                        </div>
                        <span class="tw-w-74-px tw-h-75-px tw-bg-gradient-8 rounded-circle d-flex align-items-center justify-content-center tw-shadow-six">
                            <span class="tw-w-16 tw-h-16 bg-neutral-30 rounded-circle d-flex align-items-center justify-content-center">
                                <img src="assets/images/icon/saven-degital-icon3.png" alt="icon">
                            </span>
                        </span>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 p-0">
                    <div class="d-flex align-items-center justify-content-center h-100 w-100 position-relative z-3" data-aos="zoom-in" data-aos-duration="1500">
                        <img src="assets/images/shape/saven-degital-shape1.png" alt="shape" class="position-absolute top-0 tw-start-0 w-100 top-50 tw-start-50 translate-middle z-n1 d-xl-block d-none">
                        <div class="degital-bg-one rounded-circle d-flex align-items-center justify-content-center">
                            <div class="degital-bg-two rounded-circle d-flex align-items-center justify-content-center">
                                <span class="degital-bg-three rounded-circle h6 fw-bold  d-flex align-items-center justify-content-center">
                                    INFO DATA
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 p-0">
                    <div class="w-100 bg-white tw-rounded-xl tw-py-2 d-flex align-items-center tw-gap-5 flex-wrap justify-content-end tw-mb-8" data-aos="fade-up" data-aos-duration="800" data-aos-delay="250">
                        <span class="tw-w-74-px tw-h-75-px tw-bg-gradient-8 rounded-circle d-flex align-items-center justify-content-center tw-shadow-six">
                            <span class="tw-w-16 tw-h-16 bg-neutral-30 rounded-circle d-flex align-items-center justify-content-center">
                                <img src="assets/images/icon/saven-degital-icon4.png" alt="icon">
                            </span>
                        </span>
                        <div class="bg-neutral-30 tw-rounded-xl tw-py-4 tw-ps-4 tw-pe-6 max-w-260-px w-100">
                            <h2 class="fw-bold h6 text-main-two-600 tw-mb-2">
                               Trasportation & Logistics
                            </h2>
                            <p class="fw-semibold tw-text-base text-neutral-600">
                                Lorem ipsum dolor sit amet,
                                consectetur adipiscing elit
                            </p>
                        </div>
                    </div>
                    <div class="w-100 bg-white tw-rounded-xl tw-py-2 d-flex align-items-center tw-gap-5 flex-wrap justify-content-end tw-mb-8" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                        <span class="tw-w-74-px tw-h-75-px tw-bg-gradient-8 rounded-circle d-flex align-items-center justify-content-center tw-shadow-six">
                            <span class="tw-w-16 tw-h-16 bg-neutral-30 rounded-circle d-flex align-items-center justify-content-center">
                                <img src="assets/images/icon/saven-degital-icon5.png" alt="icon">
                            </span>
                        </span>
                        <div class="bg-neutral-30 tw-rounded-xl tw-py-4 tw-ps-4 tw-pe-6 max-w-260-px w-100">
                            <h2 class="fw-bold h6 text-main-two-600 tw-mb-2">
                               Travel & Hospitality
                            </h2>
                            <p class="fw-semibold tw-text-base text-neutral-600">
                                Lorem ipsum dolor sit amet,
                                consectetur adipiscing elit
                            </p>
                        </div>
                    </div>
                    <div class="w-100 bg-white tw-rounded-xl tw-py-2 d-flex align-items-center tw-gap-5 flex-wrap justify-content-end" data-aos="fade-up" data-aos-duration="800" data-aos-delay="350">
                        <span class="tw-w-74-px tw-h-75-px tw-bg-gradient-8 rounded-circle d-flex align-items-center justify-content-center tw-shadow-six">
                            <span class="tw-w-16 tw-h-16 bg-neutral-30 rounded-circle d-flex align-items-center justify-content-center">
                                <img src="assets/images/icon/saven-degital-icon6.png" alt="icon">
                            </span>
                        </span>
                        <div class="bg-neutral-30 tw-rounded-xl tw-py-4 tw-ps-4 tw-pe-6 max-w-260-px w-100">
                            <h2 class="fw-bold h6 text-main-two-600 tw-mb-2">
                               Advertising & Marketing
                            </h2>
                            <p class="fw-semibold tw-text-base text-neutral-600">
                                Lorem ipsum dolor sit amet,
                                consectetur adipiscing elit
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img src="assets/images/shape/saven-about-us-shape2.png" alt="shape" class="w-100 tw-mt--12-px">
</section>
<!-- ======================== digital seven section end ====================== -->