<!-- ======================== saven bog section start ========================= -->
<section class="tw-mb--80-px position-relative z-1">
    <img src="assets/images/shape/saven-about-us-shape1.png" alt="shape" class="w-100 tw-mb--8-px">
    <div class="py-120 bg-neutral-30">
        <div class="container">
            <div class="d-flex align-items-center justify-content-center tw-mb-15">
                <div class="max-w-480-px w-100 text-center">
                   <div class="tw-py-2 tw-px-5 border-neutral-300 border rounded-pill d-inline-flex tw-gap-2 align-items-center tw-mb-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                        <span class="tw-w-205 tw-h-205 bg-main-600 rounded-circle"></span>
                        <h2 class="h6 fw-bold text-main-600">
                            News & Blog
                        </h2>
                    </div>
                    <h2 class="fw-bold h3 text-main-two-600 tw-lh-1" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                        Get Connected With Us
                        For Timely Updates
                    </h2>
                </div>
            </div>
            <div class="row gy-4">
                <div class="col-lg-6">
                    <div class="position-relative animation-item" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                        <span class="w-100 h-100 overflow-hidden tw-rounded-xl">
                            <img src="assets/images/thumbs/blog-saven-img3.png" alt="img" class="w-100 h-100 course-item__img tw-duration-300">
                        </span>
                        <span class="w-100 h-100 tw-bg-gradient-blog-7 position-absolute top-0 tw-start-0 tw-rounded-xl"></span>
                        <div class="max-w-340-px w-100 position-absolute bottom-0 tw-start-0 tw-ms-7 tw-mb-8">
                            <div class="d-flex align-items-center tw-gap-4 flex-wrap tw-mb-2">
                                <div class="d-flex align-items-center tw-gap-2 ">
                                    <span class="tw-text-lg text-white">
                                        <i class="ph-fill ph-user-plus"></i>
                                    </span>
                                    <h2 class="h6 fw-semibold text-white">
                                        By Admin
                                    </h2>
                                </div>
                                <div class="d-flex align-items-center tw-gap-2 ">
                                    <span class="tw-text-lg text-white">
                                        <i class="ph-fill ph-calendar-check"></i>
                                    </span>
                                    <h2 class="h6 fw-semibold text-white">
                                        July 13, 2025
                                    </h2>
                                </div>
                            </div>
                            <h2>
                                <a href="blog-details.html" class="fw-semibold h5 text-white tw-mb-5 hover-underline tw-duration-300">
                                    “How UI/UX Can Transform Data
                                    Interpretation”
                                </a>
                            </h2>
                            <a href="blog-details.html" class="d-flex align-items-center tw-gap-2 text-white hover-underline tw-duration-300">
                                <i class="ph ph-arrow-elbow-down-right"></i>
                                <span>
                                    Read More
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row gy-4">
                        <div class="col-sm-6">
                            <div class="animation-item" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                                <span class="w-100 h-100 overflow-hidden tw-rounded-xl">
                                    <img src="assets/images/thumbs/blog-saven-img2.png" alt="img" class="w-100 h-100 course-item__img tw-duration-300">
                                </span>
                                <div class="">
                                    <div class="d-flex align-items-center tw-gap-4 flex-wrap tw-mb-2">
                                        <div class="d-flex align-items-center tw-gap-2 ">
                                            <span class="tw-text-lg text-main-600">
                                                <i class="ph-fill ph-user-plus"></i>
                                            </span>
                                            <h2 class="h6 fw-semibold text-neutral-500">
                                                By Admin
                                            </h2>
                                        </div>
                                        <div class="d-flex align-items-center tw-gap-2 ">
                                            <span class="tw-text-lg text-main-600">
                                                <i class="ph-fill ph-calendar-check"></i>
                                            </span>
                                            <h2 class="h6 fw-semibold text-neutral-500">
                                                July 13, 2025
                                            </h2>
                                        </div>
                                    </div>
                                    <h2>
                                        <a href="blog-details.html" class="fw-bold h5 text-main-two-600 tw-mb-5 hover-underline tw-duration-300">
                                            “Why Predictive Analytics
                                            Matters in 2025”
                                        </a>
                                    </h2>
                                    <a href="blog-details.html" class="d-flex align-items-center tw-gap-2 text-main-two-600 hover-underline tw-duration-300">
                                        <span class="text-main-600">
                                            <i class="ph ph-arrow-elbow-down-right"></i>
                                        </span>
                                        Read More
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="animation-item" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                                <span class="w-100 h-100 overflow-hidden tw-rounded-xl">
                                    <img src="assets/images/thumbs/blog-saven-img1.png" alt="img" class="w-100 h-100 course-item__img tw-duration-300">
                                </span>
                                <div class="">
                                    <div class="d-flex align-items-center tw-gap-4 flex-wrap tw-mb-2">
                                        <div class="d-flex align-items-center tw-gap-2 ">
                                            <span class="tw-text-lg text-main-600">
                                                <i class="ph-fill ph-user-plus"></i>
                                            </span>
                                            <h2 class="h6 fw-semibold text-neutral-500">
                                                By Admin
                                            </h2>
                                        </div>
                                        <div class="d-flex align-items-center tw-gap-2 ">
                                            <span class="tw-text-lg text-main-600">
                                                <i class="ph-fill ph-calendar-check"></i>
                                            </span>
                                            <h2 class="h6 fw-semibold text-neutral-500">
                                                July 13, 2025
                                            </h2>
                                        </div>
                                    </div>
                                    <h2>
                                        <a href="blog-details.html" class="fw-bold h5 text-main-two-600 tw-mb-5 hover-underline tw-duration-300">
                                            “Data Mistakes That Cost
                                            Companies Millions”
                                        </a>
                                    </h2>
                                    <a href="blog-details.html" class="d-flex align-items-center tw-gap-2 text-main-two-600 hover-underline tw-duration-300">
                                        <span class="text-main-600">
                                            <i class="ph ph-arrow-elbow-down-right"></i>
                                        </span>
                                        Read More
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img src="assets/images/shape/saven-about-us-shape2.png" alt="shape" class="w-100 tw-mt--12-px">
</section>
<!-- ======================== saven bog section end ========================= -->