<!-- =========================== about seven section start =========================== -->
<section class=" position-relative z-3">
    <img src="assets/images/shape/saven-about-us-shape1.png" alt="shape" class="w-100 tw-mb--8-px">
    <img src="assets/images/shape/saven-about-us-shape3.png" alt="shape" class="position-absolute bottom-0 tw-end-0 d-lg-block d-none animation-upDown tw-mb-100-px z-n1">
    <div class="bg-neutral-30 py-120">
        <div class="container">
            <div class="row gy-4">
                <div class="col-lg-6">
                    <div data-aos="zoom-in" data-aos-duration="1500">
                        <img src="assets/images/thumbs/saven-about-us-img1.png" alt="img">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="tw-py-2 tw-px-5 border-neutral-300 border rounded-pill d-inline-flex tw-gap-2 align-items-center tw-mb-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                        <span class="tw-w-205 tw-h-205 bg-main-600 rounded-circle"></span>
                        <h2 class="h6 fw-bold text-main-600">
                            About Our Company
                        </h2>
                    </div>
                    <h2 class="fw-bold h3 text-main-two-600 tw-lh-1 tw-mb-4" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                        We Provide Big Data Analytics
                        Techniques & Data Solutions
                    </h2>
                    <p class="fw-semibold tw-text-base text-neutral-500 tw-mb-5" data-aos="fade-up" data-aos-duration="800" data-aos-delay="250">
                        ITZen specializes in delivering cutting-edge big data analytics and comprehensive data
                        solutions tailored to meet the evolving needs of modern enterprises. Our expertise lies
                        in harnessing advanced analytical techniques to transform vast and complex
                    </p>
                    <div class="tw-mb-7 animation-item" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                        <div class="d-flex align-items-center tw-gap-3 flex-wrap tw-mb-3">
                            <span class="tw-w-17 tw-h-17 bg-white rounded-circle d-flex align-items-center justify-content-center">
                                <span class="tw-w-16 tw-h-16 bg-neutral-30 rounded-circle d-flex align-items-center justify-content-center">
                                    <img src="assets/images/icon/saven-about-us-icon1.png" alt="icon" class="animate__bounce">
                                </span>
                            </span>
                            <h2 class="h5 fw-bold text-main-two-600">
                                Realtime Data Solutions
                            </h2>
                        </div>
                        <p class="fw-semibold tw-text-base text-neutral-500 max-w-530-px">
                            ITZen delivers cutting-edge realtime data solutions designed to empower
                            businesses with instantaneous insights
                        </p>
                    </div>
                    <div class="tw-mb-8 animation-item" data-aos="fade-up" data-aos-duration="800" data-aos-delay="350">
                        <div class="d-flex align-items-center tw-gap-3 flex-wrap tw-mb-3">
                            <span class="tw-w-17 tw-h-17 bg-white rounded-circle d-flex align-items-center justify-content-center">
                                <span class="tw-w-16 tw-h-16 bg-neutral-30 rounded-circle d-flex align-items-center justify-content-center">
                                    <img src="assets/images/icon/saven-about-us-icon2.png" alt="icon" class="animate__bounce">
                                </span>
                            </span>
                            <h2 class="h5 fw-bold text-main-two-600">
                                Various Analysis Options
                            </h2>
                        </div>
                        <p class="fw-semibold tw-text-base text-neutral-500 max-w-530-px">
                            ITZen offers a comprehensive suite of analytical tools designed to meet the
                            diverse needs of modern businesses. With
                        </p>
                    </div>
                    <a href="about-us.html" class="link-group d-inline-flex align-items-center group group-item" data-aos="fade-up" data-aos-duration="800" data-aos-delay="400">
                        <span class="button-icon-one fw-bold bg-main-600 text-white tw-py-3 tw-px-4 tw-rounded-xl tw-text-xl group-hover-bg-neutral-800 group-hover-text-white tw-duration-300">
                            <i class="ph-bold ph-arrow-right"></i>
                        </span>
                        <h2 class="fw-bold h6 bg-main-600 text-white tw-py-4 tw-px-10 tw-rounded-xl group-hover-bg-neutral-800 group-hover-text-white tw-duration-300">
                            Learn More Us
                        </h2>
                        <span class="button-icon-two fw-bold bg-main-600 text-white tw-py-3 tw-px-4 tw-rounded-xl tw-text-xl group-hover-bg-neutral-800 group-hover-text-white tw-duration-300">
                            <i class="ph-bold ph-arrow-right"></i>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- =========================== about seven section end =========================== -->