<!-- ============================= banner seven section start ============================= -->
<section style="background-image: url(assets/images/bg/seven-banner-bg-img.png);" class="py-120 bg-img position-relative">
    <img src="assets/images/shape/seven-banner-shape1.png" alt="shape" class="position-absolute bottom-0 tw-start-0 w-100">
    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-6">
                <div class="tw-py-2 tw-px-5 border-neutral-300 border rounded-pill d-inline-flex tw-gap-2 align-items-center tw-mb-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                    <span class="tw-w-205 tw-h-205 bg-main-600 rounded-circle"></span>
                    <h2 class="h6 fw-bold text-main-two-600">
                        The Advanced Data Systems
                    </h2>
                </div>
                <h2 class="fw-bold text-main-two-600 tw-lh-1 tw-mb-12" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                    Real-Time Big Data
                    Analytics for Business
                    Leaders
                </h2>
                <p class="fw-semibold tw-text-base text-neutral-500 tw-mb-10" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                    ITZen empowers business leaders with cutting-edge real-time big data analytics desig.
                    to transform decision-making processes. By seamlessly integrating 
                </p>
                <a href="services-details.html" class="link-group d-inline-flex align-items-center group group-item" data-aos="fade-up" data-aos-duration="800" data-aos-delay="350">
                    <span class="button-icon-one fw-bold bg-main-600 text-white tw-py-3 tw-px-4 tw-rounded-xl tw-text-xl group-hover-bg-neutral-800 group-hover-text-white tw-duration-300">
                        <i class="ph-bold ph-arrow-right"></i>
                    </span>
                    <h2 class="fw-bold h6 bg-main-600 text-white tw-py-4 tw-px-10 tw-rounded-xl group-hover-bg-neutral-800 group-hover-text-white tw-duration-300">
                        Discover More
                    </h2>
                    <span class="button-icon-two fw-bold bg-main-600 text-white tw-py-3 tw-px-4 tw-rounded-xl tw-text-xl group-hover-bg-neutral-800 group-hover-text-white tw-duration-300">
                        <i class="ph-bold ph-arrow-right"></i>
                    </span>
                </a>
            </div>
            <div class="col-lg-6">
                <div data-aos="zoom-in" data-aos-duration="1500">
                    <img src="assets/images/thumbs/seven-banner-img1.png" alt="img">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ============================= banner seven section end ============================= -->