<!-- ==================== Footer Start Here ==================== -->
<footer class="footer bg-img pt-180" style="background-image: url(assets/images/bg/footer-four-bg-img.png);">
    <div class="container">
        <div class="d-flex align-items-center tw-gap-4 justify-content-between flex-wrap border-bottom border-white border-opacity-25 tw-pb-10">
            <h3 class="max-w-600-px text-white fw-bold">
                Inspired by strategy. let’s build amazing together!
            </h3>
            <a href="contact.html" class="link-group d-inline-flex align-items-center group group-item">
                <span class="button-icon-one fw-bold bg-main-600 text-white tw-py-3 tw-px-4 tw-rounded-xl tw-text-xl group-hover-bg-white group-hover-item-text-main-600 tw-duration-300">
                <i class="ph-bold ph-arrow-right"></i>
                </span>
                <h3 class="fw-bold h6 bg-main-600 text-white tw-py-4 tw-px-10 tw-rounded-xl group-hover-bg-white group-hover-item-text-main-600 hover-text-main-600 tw-duration-300">
                    Book a Consultation
                </h3>
                <span class="button-icon-two fw-bold bg-main-600 text-white tw-py-3 tw-px-4 tw-rounded-xl tw-text-xl group-hover-bg-white group-hover-item-text-main-600 hover-text-main-600 tw-duration-300">
                <i class="ph-bold ph-arrow-right"></i>
                </span>
            </a>
        </div>
        <div class="tw-pt-15">
            <div class="row gy-5">
                <div class="col-lg-4 aos-init aos-animate">
                    <div data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                        <h3 class="fw-bold h5 text-white tw-mb-4">
                            Sign up to get Updates
                        </h3>
                        <p class="fw-semibold tw-text-base text-white tw-mb-6">
                            Information will never be shared with third parties.
                        </p>
                        <form action="#" class="position-relative tw-mb-15">
                            <input type="email" placeholder="Enter Your Email" class="fw-semibold tw-text-base text-white tw-py-4 tw-ps-4 border-white border border-opacity-25 w-100 rounded-pill bg-transparent focus-border-green-600 focus-ring tw-pe-140-px">
                            <h3 class="position-absolute h6 top-0 tw-end-0 top-50 translate-middle-y tw-me-2">
                                <button type="submit" class="fw-bold text-white tw-py-3 tw-ps-8 tw-pe-8 rounded-pill bg-main-600">
                                    Submit
                                </button>
                            </h3>
                        </form>
                        <h2 class="fw-semibold text-white tw-text-160-px tw-line-h-130-px">
                            ITzen
                        </h2>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-6 aos-init aos-animate">
                    <div class="" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                    <h3 class="cursor-big h5 fw-semibold text-white">Our Company</h3>
                    <span class="tw-w-74-px tw-h-1 bg-main-600 rounded-pill tw-mt-4 tw-mb-7"></span>
                    <ul class="d-flex flex-column tw-gap-4">
                        <li>
                        <a
                            href="about-us.html"
                            class="text-white hover-underline"
                            >About Us</a
                        >
                        </li>
                        <li>
                        <a
                            href="team-details.html"
                            class="text-white hover-underline"
                            >Our Team</a
                        >
                        </li>
                        <li>
                        <a
                            href="pricing.html"
                            class="text-white hover-underline"
                            >Pricing Plan</a
                        >
                        </li>
                        <li>
                        <a
                            href="blog-details.html"
                            class="text-white hover-underline"
                            >Latest Blog</a
                        >
                        </li>
                        <li>
                        <a
                            href="javascript:void(0)"
                            class="text-white hover-underline"
                            >Careers</a
                        >
                        </li>
                        <li>
                        <a
                            href="contact.html"
                            class="text-white hover-underline"
                            >Contact Us</a
                        >
                        </li>
                    </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-6 aos-init aos-animate">
                    <div class="" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                    <h3 class="cursor-big h5 fw-medium text-white">Quick Link</h3>
                    <span class="tw-w-74-px tw-h-1 bg-main-600 rounded-pill tw-mt-4 tw-mb-7"></span>
                    <ul class="d-flex flex-column tw-gap-4">
                        <li>
                        <a
                            href="javascript:void(0)"
                            class="text-white hover-underline"
                            >It Mangement</a
                        >
                        </li>
                        <li>
                        <a
                            href="javascript:void(0)"
                            class="text-white hover-underline"
                            >Cyber Security</a
                        >
                        </li>
                        <li>
                        <a
                            href="javascript:void(0)"
                            class="text-white hover-underline"
                            >Cloud Computing</a
                        >
                        </li>
                        <li>
                        <a
                            href="javascript:void(0)"
                            class="text-white hover-underline"
                            >IT Consulting</a
                        >
                        </li>
                        <li>
                        <a
                            href="javascript:void(0)"
                            class="text-white hover-underline"
                            >Backup & Recovery</a
                        >
                        </li>
                        <li>
                        <a
                            href="javascript:void(0)"
                            class="text-white hover-underline"
                            >Analytic Solution</a
                        >
                        </li>
                    </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-6 col-xs-6 aos-init aos-animate">
                    <div class="" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                    <h3 class="cursor-big h5 fw-medium text-white">Social Media</h3>
                    <span class="tw-w-74-px tw-h-1 bg-main-600 rounded-pill tw-mt-4 tw-mb-7"></span>
                    <ul class="d-flex flex-column tw-gap-4">
                        <li>
                        <a
                            href="https://www.linkedin.com/"
                            class="text-white hover-underline"
                            >Linkedin</a
                        >
                        </li>
                        <li>
                        <a
                            href="https://www.instagram.com/"
                            class="text-white hover-underline"
                            >Instagram</a
                        >
                        </li>
                        <li>
                        <a
                            href="https://www.facebook.com/"
                            class="text-white hover-underline"
                            >Facebook</a
                        >
                        </li>
                        <li>
                        <a
                            href="https://www.twitter.com/"
                            class="text-white hover-underline"
                            >Twitter</a
                        >
                        </li>
                    </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <span class="w-100 tw-h-px bg-neutral-600 tw-mb-7"></span>
        <!-- bottom Footer -->
        <div class="">
        <div class="container container-two">
            <p class="fw-medium tw-text-base text-white tw-pb-7 text-center">
                Copyright © 2026 ITzen by WowTheme7. All Rights Reserved. 
            </p>
        </div>
        </div>
</footer>
<!-- ==================== Footer End Here ==================== -->
