<!-- ======================== benefits saven section start ======================== -->
<section class="">
    <img src="assets/images/shape/saven-about-us-shape1.png" alt="shape" class="w-100 tw-mb--8-px">
    <div class="py-120 bg-neutral-30">
        <div class="container">
            <div class="row gy-4">
                <div class="col-lg-6">
                    <div data-aos="zoom-in" data-aos-duration="1500">
                        <img src="assets/images/thumbs/saven-benefits-img1.png" alt="img">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="tw-py-2 tw-px-5 border-neutral-300 border rounded-pill d-inline-flex tw-gap-2 align-items-center tw-mb-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                        <span class="tw-w-205 tw-h-205 bg-main-600 rounded-circle"></span>
                        <h2 class="h6 fw-bold text-main-600">
                            Value & Benefits
                        </h2>
                    </div>
                    <h2 class="fw-bold h3 text-main-two-600 tw-lh-1 tw-mb-4" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                        Create Value Using Predictive
                        Data Analytics
                    </h2>
                    <p class="fw-semibold tw-text-base text-neutral-500 tw-mb-5" data-aos="fade-up" data-aos-duration="800" data-aos-delay="250">
                        ITZen specializes in delivering cutting-edge big data analytics and comprehensive data
                        solutions tailored to meet the evolving needs of modern enterprises. Our expertise lies
                        in harnessing advanced analytical techniques to transform vast and complex
                    </p>
                    <ul class="d-flex align-items-center tw-gap-4 justify-content-between flex-lg-wrap tw-mb-10">
                        <li>
                            <ul class="d-flex flex-column tw-gap-4" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                                <li class="d-flex align-items-center tw-gap-2">
                                    <span class="text-main-600 tw-text-6">
                                        <i class="ph-bold ph-check-circle"></i>
                                    </span>
                                    <h2 class="fw-semibold h5 text-main-two-600">
                                        Recommender Systems
                                    </h2>
                                </li>
                                <li class="d-flex align-items-center tw-gap-2">
                                    <span class="text-main-600 tw-text-6">
                                        <i class="ph-bold ph-check-circle"></i>
                                    </span>
                                    <h2 class="fw-semibold h5 text-main-two-600">
                                        Omnichannel Analytics
                                    </h2>
                                </li>
                                <li class="d-flex align-items-center tw-gap-2">
                                    <span class="text-main-600 tw-text-6">
                                        <i class="ph-bold ph-check-circle"></i>
                                    </span>
                                    <h2 class="fw-semibold h5 text-main-two-600">
                                        Sales Prediction
                                    </h2>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <ul class="d-flex flex-column tw-gap-4" data-aos="fade-up" data-aos-duration="800" data-aos-delay="350">
                                <li class="d-flex align-items-center tw-gap-2">
                                    <span class="text-main-600 tw-text-6">
                                        <i class="ph-bold ph-check-circle"></i>
                                    </span>
                                    <h2 class="fw-semibold h5 text-main-two-600">
                                        Demand Prediction
                                    </h2>
                                </li>
                                <li class="d-flex align-items-center tw-gap-2">
                                    <span class="text-main-600 tw-text-6">
                                        <i class="ph-bold ph-check-circle"></i>
                                    </span>
                                    <h2 class="fw-semibold h5 text-main-two-600">
                                        Lead Generation
                                    </h2>
                                </li>
                                <li class="d-flex align-items-center tw-gap-2">
                                    <span class="text-main-600 tw-text-6">
                                        <i class="ph-bold ph-check-circle"></i>
                                    </span>
                                    <h2 class="fw-semibold h5 text-main-two-600">
                                        Product Line Optimizatio
                                    </h2>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <a href="about-us.html" class="link-group d-inline-flex align-items-center group group-item" data-aos="fade-up" data-aos-duration="800" data-aos-delay="400">
                        <span class="button-icon-one fw-bold bg-main-600 text-white tw-py-3 tw-px-4 tw-rounded-xl tw-text-xl group-hover-bg-neutral-800 group-hover-text-white tw-duration-300">
                            <i class="ph-bold ph-arrow-right"></i>
                        </span>
                        <h2 class="fw-bold h6 bg-main-600 text-white tw-py-4 tw-px-10 tw-rounded-xl group-hover-bg-neutral-800 group-hover-text-white tw-duration-300">
                            Learn More Us
                        </h2>
                        <span class="button-icon-two fw-bold bg-main-600 text-white tw-py-3 tw-px-4 tw-rounded-xl tw-text-xl group-hover-bg-neutral-800 group-hover-text-white tw-duration-300">
                            <i class="ph-bold ph-arrow-right"></i>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ======================== benefits saven section end ======================== -->