<!-- ============================= testimonial saven section start ============================= -->
<section>
    <img src="assets/images/shape/saven-about-us-shape2.png" alt="shape" class="w-100 tw-mt--12-px">
    <div class="py-120 ">
        <div class="container">
            <div class="d-flex align-items-center justify-content-center tw-mb-15">
                <div class="max-w-480-px w-100 text-center">
                   <div class="tw-py-2 tw-px-5 border-neutral-300 border rounded-pill d-inline-flex tw-gap-2 align-items-center tw-mb-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                        <span class="tw-w-205 tw-h-205 bg-main-600 rounded-circle"></span>
                        <h2 class="h6 fw-bold text-main-600">
                            Reliable Review Data
                        </h2>
                    </div>
                    <h2 class="fw-bold h3 text-main-two-600 tw-lh-1" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                        Explore Client Reviews
                        On Recent Projects
                    </h2>
                </div>
            </div>
            <div class="swiper saven-testimonial__slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="group group-item" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                            <div class="tw-ps-8 tw-pe-6 tw-pt-8 tw-pb-8 bg-neutral-30 tw-rounded-xl w-100 group-hover-bg-main-600 tw-duration-300">
                                <div class="d-flex align-items-center justify-content-between flex-wrap tw-gap-3 tw-mb-4">
                                    <ul class="d-flex align-items-center tw-gap-2 tw-mb-6">
                                        <li class="text-warning-500 tw-text-xl tw-w-7 tw-h-7 bg-white tw-rounded-md d-flex align-items-center justify-content-center ">
                                            <i class="ph-fill ph-star"></i>
                                        </li>
                                        <li class="text-warning-500 tw-text-xl tw-w-7 tw-h-7 bg-white tw-rounded-md d-flex align-items-center justify-content-center ">
                                            <i class="ph-fill ph-star"></i>
                                        </li>
                                        <li class="text-warning-500 tw-text-xl tw-w-7 tw-h-7 bg-white tw-rounded-md d-flex align-items-center justify-content-center ">
                                            <i class="ph-fill ph-star"></i>
                                        </li>
                                        <li class="text-warning-500 tw-text-xl tw-w-7 tw-h-7 bg-white tw-rounded-md d-flex align-items-center justify-content-center ">
                                            <i class="ph-fill ph-star"></i>
                                        </li>
                                        <li class="text-warning-500 tw-text-xl tw-w-7 tw-h-7 bg-white tw-rounded-md d-flex align-items-center justify-content-center ">
                                            <i class="ph-fill ph-star"></i>
                                        </li>
                                    </ul>
                                    <span class="group-hover-text-white tw-duration-300 tw-text-9 text-main-200">
                                        <i class="ph-fill ph-quotes"></i>
                                    </span>
                                </div>
                                <p class="fw-semibold tw-text-base text-neutral-500 group-hover-text-white tw-duration-300 tw-mb-10">
                                    There are many variations of passages of Lorem
                                    Ipsum available, but the majority have suffered
                                    alteration in some form, by injected humour, or
                                    randomised words which don't look even words
                                    slightly believable some form, bywords which
                                    Ipsum available, but the majority have 
                                </p>
                                <div class="d-flex align-items-center tw-gap-2 flex-wrap">
                                    <span class="tw-w-80-px tw-h-80-px bg-main-100 rounded-circle d-flex align-items-center justify-content-center">
                                        <img src="assets/images/thumbs/testimonials-six-img1.png" alt="img" class="rounded-circle">
                                    </span>
                                    <div>
                                        <h2 class="h5 fw-bold text-main-two-600 tw-mb-1 text-center group-hover-text-white tw-duration-300">
                                            Abigayle Comedy
                                        </h2>
                                        <span class="fw-semibold tw-text-base text-neutral-500 group-hover-text-white tw-duration-300"> 
                                            Developer
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <span class="tw-w-11 tw-h-11 bg-neutral-30 tw-click-path-6 tw-ms-121-px group-hover-bg-main-600 tw-duration-300"></span>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="group group-item" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                            <div class="tw-ps-8 tw-pe-6 tw-pt-8 tw-pb-8 bg-neutral-30 tw-rounded-xl w-100 group-hover-bg-main-600 tw-duration-300">
                                <div class="d-flex align-items-center justify-content-between flex-wrap tw-gap-3 tw-mb-4">
                                    <ul class="d-flex align-items-center tw-gap-2 tw-mb-6">
                                        <li class="text-warning-500 tw-text-xl tw-w-7 tw-h-7 bg-white tw-rounded-md d-flex align-items-center justify-content-center ">
                                            <i class="ph-fill ph-star"></i>
                                        </li>
                                        <li class="text-warning-500 tw-text-xl tw-w-7 tw-h-7 bg-white tw-rounded-md d-flex align-items-center justify-content-center ">
                                            <i class="ph-fill ph-star"></i>
                                        </li>
                                        <li class="text-warning-500 tw-text-xl tw-w-7 tw-h-7 bg-white tw-rounded-md d-flex align-items-center justify-content-center ">
                                            <i class="ph-fill ph-star"></i>
                                        </li>
                                        <li class="text-warning-500 tw-text-xl tw-w-7 tw-h-7 bg-white tw-rounded-md d-flex align-items-center justify-content-center ">
                                            <i class="ph-fill ph-star"></i>
                                        </li>
                                        <li class="text-warning-500 tw-text-xl tw-w-7 tw-h-7 bg-white tw-rounded-md d-flex align-items-center justify-content-center ">
                                            <i class="ph-fill ph-star"></i>
                                        </li>
                                    </ul>
                                    <span class="group-hover-text-white tw-duration-300 tw-text-9 text-main-200">
                                        <i class="ph-fill ph-quotes"></i>
                                    </span>
                                </div>
                                <p class="fw-semibold tw-text-base text-neutral-500 group-hover-text-white tw-duration-300 tw-mb-10">
                                    There are many variations of passages of Lorem
                                    Ipsum available, but the majority have suffered
                                    alteration in some form, by injected humour, or
                                    randomised words which don't look even words
                                    slightly believable some form, bywords which
                                    Ipsum available, but the majority have 
                                </p>
                                <div class="d-flex align-items-center tw-gap-2 flex-wrap">
                                    <span class="tw-w-80-px tw-h-80-px bg-main-100 rounded-circle d-flex align-items-center justify-content-center">
                                        <img src="assets/images/thumbs/testimonials-six-img1.png" alt="img" class="rounded-circle">
                                    </span>
                                    <div>
                                        <h2 class="h5 fw-bold text-main-two-600 tw-mb-1 text-center group-hover-text-white tw-duration-300">
                                            Abigayle Comedy
                                        </h2>
                                        <span class="fw-semibold tw-text-base text-neutral-500 group-hover-text-white tw-duration-300"> 
                                            Developer
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <span class="tw-w-11 tw-h-11 bg-neutral-30 tw-click-path-6 tw-ms-121-px group-hover-bg-main-600 tw-duration-300"></span>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="group group-item" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                            <div class="tw-ps-8 tw-pe-6 tw-pt-8 tw-pb-8 bg-neutral-30 tw-rounded-xl w-100 group-hover-bg-main-600 tw-duration-300">
                                <div class="d-flex align-items-center justify-content-between flex-wrap tw-gap-3 tw-mb-4">
                                    <ul class="d-flex align-items-center tw-gap-2 tw-mb-6">
                                        <li class="text-warning-500 tw-text-xl tw-w-7 tw-h-7 bg-white tw-rounded-md d-flex align-items-center justify-content-center ">
                                            <i class="ph-fill ph-star"></i>
                                        </li>
                                        <li class="text-warning-500 tw-text-xl tw-w-7 tw-h-7 bg-white tw-rounded-md d-flex align-items-center justify-content-center ">
                                            <i class="ph-fill ph-star"></i>
                                        </li>
                                        <li class="text-warning-500 tw-text-xl tw-w-7 tw-h-7 bg-white tw-rounded-md d-flex align-items-center justify-content-center ">
                                            <i class="ph-fill ph-star"></i>
                                        </li>
                                        <li class="text-warning-500 tw-text-xl tw-w-7 tw-h-7 bg-white tw-rounded-md d-flex align-items-center justify-content-center ">
                                            <i class="ph-fill ph-star"></i>
                                        </li>
                                        <li class="text-warning-500 tw-text-xl tw-w-7 tw-h-7 bg-white tw-rounded-md d-flex align-items-center justify-content-center ">
                                            <i class="ph-fill ph-star"></i>
                                        </li>
                                    </ul>
                                    <span class="group-hover-text-white tw-duration-300 tw-text-9 text-main-200">
                                        <i class="ph-fill ph-quotes"></i>
                                    </span>
                                </div>
                                <p class="fw-semibold tw-text-base text-neutral-500 group-hover-text-white tw-duration-300 tw-mb-10">
                                    There are many variations of passages of Lorem
                                    Ipsum available, but the majority have suffered
                                    alteration in some form, by injected humour, or
                                    randomised words which don't look even words
                                    slightly believable some form, bywords which
                                    Ipsum available, but the majority have 
                                </p>
                                <div class="d-flex align-items-center tw-gap-2 flex-wrap">
                                    <span class="tw-w-80-px tw-h-80-px bg-main-100 rounded-circle d-flex align-items-center justify-content-center">
                                        <img src="assets/images/thumbs/testimonials-six-img1.png" alt="img" class="rounded-circle">
                                    </span>
                                    <div>
                                        <h2 class="h5 fw-bold text-main-two-600 tw-mb-1 text-center group-hover-text-white tw-duration-300">
                                            Abigayle Comedy
                                        </h2>
                                        <span class="fw-semibold tw-text-base text-neutral-500 group-hover-text-white tw-duration-300"> 
                                            Developer
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <span class="tw-w-11 tw-h-11 bg-neutral-30 tw-click-path-6 tw-ms-121-px group-hover-bg-main-600 tw-duration-300"></span>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="group group-item" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                            <div class="tw-ps-8 tw-pe-6 tw-pt-8 tw-pb-8 bg-neutral-30 tw-rounded-xl w-100 group-hover-bg-main-600 tw-duration-300">
                                <div class="d-flex align-items-center justify-content-between flex-wrap tw-gap-3 tw-mb-4">
                                    <ul class="d-flex align-items-center tw-gap-2 tw-mb-6">
                                        <li class="text-warning-500 tw-text-xl tw-w-7 tw-h-7 bg-white tw-rounded-md d-flex align-items-center justify-content-center ">
                                            <i class="ph-fill ph-star"></i>
                                        </li>
                                        <li class="text-warning-500 tw-text-xl tw-w-7 tw-h-7 bg-white tw-rounded-md d-flex align-items-center justify-content-center ">
                                            <i class="ph-fill ph-star"></i>
                                        </li>
                                        <li class="text-warning-500 tw-text-xl tw-w-7 tw-h-7 bg-white tw-rounded-md d-flex align-items-center justify-content-center ">
                                            <i class="ph-fill ph-star"></i>
                                        </li>
                                        <li class="text-warning-500 tw-text-xl tw-w-7 tw-h-7 bg-white tw-rounded-md d-flex align-items-center justify-content-center ">
                                            <i class="ph-fill ph-star"></i>
                                        </li>
                                        <li class="text-warning-500 tw-text-xl tw-w-7 tw-h-7 bg-white tw-rounded-md d-flex align-items-center justify-content-center ">
                                            <i class="ph-fill ph-star"></i>
                                        </li>
                                    </ul>
                                    <span class="group-hover-text-white tw-duration-300 tw-text-9 text-main-200">
                                        <i class="ph-fill ph-quotes"></i>
                                    </span>
                                </div>
                                <p class="fw-semibold tw-text-base text-neutral-500 group-hover-text-white tw-duration-300 tw-mb-10">
                                    There are many variations of passages of Lorem
                                    Ipsum available, but the majority have suffered
                                    alteration in some form, by injected humour, or
                                    randomised words which don't look even words
                                    slightly believable some form, bywords which
                                    Ipsum available, but the majority have 
                                </p>
                                <div class="d-flex align-items-center tw-gap-2 flex-wrap">
                                    <span class="tw-w-80-px tw-h-80-px bg-main-100 rounded-circle d-flex align-items-center justify-content-center">
                                        <img src="assets/images/thumbs/testimonials-six-img1.png" alt="img" class="rounded-circle">
                                    </span>
                                    <div>
                                        <h2 class="h5 fw-bold text-main-two-600 tw-mb-1 text-center group-hover-text-white tw-duration-300">
                                            Abigayle Comedy
                                        </h2>
                                        <span class="fw-semibold tw-text-base text-neutral-500 group-hover-text-white tw-duration-300"> 
                                            Developer
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <span class="tw-w-11 tw-h-11 bg-neutral-30 tw-click-path-6 tw-ms-121-px group-hover-bg-main-600 tw-duration-300"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ============================= testimonial saven section end ============================= -->