<!-- ========================== services section start ========================== -->
<section class=" position-relative">
    <img src="assets/images/shape/saven-about-us-shape2.png" alt="shape" class="w-100 tw-mt--12-px">
    <div class="py-120">
        <div class="container">
            <div class="d-flex align-items-center justify-content-center tw-mb-15">
                <div class="max-w-460-px w-100 text-center">
                   <div class="tw-py-2 tw-px-5 border-neutral-300 border rounded-pill d-inline-flex tw-gap-2 align-items-center tw-mb-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                        <span class="tw-w-205 tw-h-205 bg-main-600 rounded-circle"></span>
                        <h2 class="h6 fw-bold text-main-600">
                            Our Services
                        </h2>
                    </div>
                    <h2 class="fw-bold h3 text-main-two-600 tw-lh-1" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                        We Offer Trusted Data
                        Management Support
                    </h2>
                </div>
            </div>
            <div class="row gy-4">
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="group w-100 h-100" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                        <div class="tw-py-8 tw-px-4 border-neutral-200 border tw-rounded-2xl animation-item group-hover-bg-main-600 tw-duration-300 h-100 w-100">
                            <div>
                                <h2 class="fw-bold h4 text-main-two-600 tw-mb-5 group-hover-text-white tw-duration-300">
                                    Data System
                                    Management
                                </h2>
                                <div class="position-relative tw-mb-5">
                                    <span class="w-100 h-100 overflow-hidden tw-rounded-xl">
                                        <img src="assets/images/thumbs/saven-services-img1.png" alt="images" class="w-100 h-100 course-item__img tw-duration-300">
                                    </span>
                                    <span class="tw-w-17 tw-h-17 bg-white rounded-circle d-flex align-items-center justify-content-center position-absolute bottom-0 tw-start-0 tw-ms-4 tw-mb-6">
                                        <img src="assets/images/icon/saven-services-icon1.png" alt="icon">
                                    </span>
                                </div>
                                <ul class="d-flex flex-column tw-gap-4 tw-mb-10">
                                    <li class="d-flex align-items-center tw-gap-3 ">
                                        <span class="tw-w-105 tw-h-105 rounded-circle bg-main-two-600 group-hover-bg-white tw-duration-300"></span>
                                        <h2 class="h6 fw-semibold text-main-two-600 group-hover-text-white tw-duration-300">
                                            Website Maintenance & Updates
                                        </h2>
                                    </li>
                                    <li class="d-flex align-items-center tw-gap-3 ">
                                        <span class="tw-w-105 tw-h-105 rounded-circle bg-main-two-600 group-hover-bg-white tw-duration-300"></span>
                                        <h2 class="h6 fw-semibold text-main-two-600 group-hover-text-white tw-duration-300">
                                            Performance Optimization
                                        </h2>
                                    </li>
                                    <li class="d-flex align-items-center tw-gap-3 ">
                                        <span class="tw-w-105 tw-h-105 rounded-circle bg-main-two-600 group-hover-bg-white tw-duration-300"></span>
                                        <h2 class="h6 fw-semibold text-main-two-600 group-hover-text-white tw-duration-300">
                                            Security Monitoring
                                        </h2>
                                    </li>
                                    <li class="d-flex align-items-center tw-gap-3 ">
                                        <span class="tw-w-105 tw-h-105 rounded-circle bg-main-two-600 group-hover-bg-white tw-duration-300"></span>
                                        <h2 class="h6 fw-semibold text-main-two-600 group-hover-text-white tw-duration-300">
                                            Backup & Recoveryt
                                        </h2>
                                    </li>
                                </ul>
                                <div class="d-flex align-items-center justify-content-between tw-gap-3 flex-wrap">
                                    <span class="tw-w-160-px tw-h-px bg-neutral-200"></span>
                                    <a href="services-details.html" class="h6 fw-bold text-main-two-600 hover-underline group-hover-text-white tw-duration-300">
                                        More
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="group w-100 h-100" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                        <div class="tw-py-8 tw-px-4 border-neutral-200 border tw-rounded-2xl animation-item group-hover-bg-main-600 tw-duration-300 h-100 w-100">
                            <div>
                                <h2 class="fw-bold h4 text-main-two-600 tw-mb-5 group-hover-text-white tw-duration-300">
                                    Data Workflow
                                    Optimization
                                </h2>
                                <div class="position-relative tw-mb-5">
                                    <span class="w-100 h-100 overflow-hidden tw-rounded-xl">
                                        <img src="assets/images/thumbs/saven-services-img2.png" alt="images" class="w-100 h-100 course-item__img tw-duration-300">
                                    </span>
                                    <span class="tw-w-17 tw-h-17 bg-white rounded-circle d-flex align-items-center justify-content-center position-absolute bottom-0 tw-start-0 tw-ms-4 tw-mb-6">
                                        <img src="assets/images/icon/saven-services-icon2.png" alt="icon">
                                    </span>
                                </div>
                                <ul class="d-flex flex-column tw-gap-4 tw-mb-10">
                                    <li class="d-flex align-items-center tw-gap-3 ">
                                        <span class="tw-w-105 tw-h-105 rounded-circle bg-main-two-600 group-hover-bg-white tw-duration-300"></span>
                                        <h2 class="h6 fw-semibold text-main-two-600 group-hover-text-white tw-duration-300">
                                            Website Maintenance & Updates
                                        </h2>
                                    </li>
                                    <li class="d-flex align-items-center tw-gap-3 ">
                                        <span class="tw-w-105 tw-h-105 rounded-circle bg-main-two-600 group-hover-bg-white tw-duration-300"></span>
                                        <h2 class="h6 fw-semibold text-main-two-600 group-hover-text-white tw-duration-300">
                                            Performance Optimization
                                        </h2>
                                    </li>
                                    <li class="d-flex align-items-center tw-gap-3 ">
                                        <span class="tw-w-105 tw-h-105 rounded-circle bg-main-two-600 group-hover-bg-white tw-duration-300"></span>
                                        <h2 class="h6 fw-semibold text-main-two-600 group-hover-text-white tw-duration-300">
                                            Security Monitoring
                                        </h2>
                                    </li>
                                    <li class="d-flex align-items-center tw-gap-3 ">
                                        <span class="tw-w-105 tw-h-105 rounded-circle bg-main-two-600 group-hover-bg-white tw-duration-300"></span>
                                        <h2 class="h6 fw-semibold text-main-two-600 group-hover-text-white tw-duration-300">
                                            Backup & Recoveryt
                                        </h2>
                                    </li>
                                </ul>
                                <div class="d-flex align-items-center justify-content-between tw-gap-3 flex-wrap">
                                    <span class="tw-w-160-px tw-h-px bg-neutral-200"></span>
                                    <a href="services-details.html" class="h6 fw-bold text-main-two-600 hover-underline group-hover-text-white tw-duration-300">
                                        More
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="group w-100 h-100" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                        <div class="tw-py-8 tw-px-4 border-neutral-200 border tw-rounded-2xl animation-item group-hover-bg-main-600 tw-duration-300 h-100 w-100">
                            <div>
                                <h2 class="fw-bold h4 text-main-two-600 tw-mb-5 group-hover-text-white tw-duration-300">
                                    Machine Learning
                                    Integration
                                </h2>
                                <div class="position-relative tw-mb-5">
                                    <span class="w-100 h-100 overflow-hidden tw-rounded-xl">
                                        <img src="assets/images/thumbs/saven-services-img3.png" alt="images" class="w-100 h-100 course-item__img tw-duration-300">
                                    </span>
                                    <span class="tw-w-17 tw-h-17 bg-white rounded-circle d-flex align-items-center justify-content-center position-absolute bottom-0 tw-start-0 tw-ms-4 tw-mb-6">
                                        <img src="assets/images/icon/saven-services-icon3.png" alt="icon">
                                    </span>
                                </div>
                                <ul class="d-flex flex-column tw-gap-4 tw-mb-10">
                                    <li class="d-flex align-items-center tw-gap-3 ">
                                        <span class="tw-w-105 tw-h-105 rounded-circle bg-main-two-600 group-hover-bg-white tw-duration-300"></span>
                                        <h2 class="h6 fw-semibold text-main-two-600 group-hover-text-white tw-duration-300">
                                            Website Maintenance & Updates
                                        </h2>
                                    </li>
                                    <li class="d-flex align-items-center tw-gap-3 ">
                                        <span class="tw-w-105 tw-h-105 rounded-circle bg-main-two-600 group-hover-bg-white tw-duration-300"></span>
                                        <h2 class="h6 fw-semibold text-main-two-600 group-hover-text-white tw-duration-300">
                                            Performance Optimization
                                        </h2>
                                    </li>
                                    <li class="d-flex align-items-center tw-gap-3 ">
                                        <span class="tw-w-105 tw-h-105 rounded-circle bg-main-two-600 group-hover-bg-white tw-duration-300"></span>
                                        <h2 class="h6 fw-semibold text-main-two-600 group-hover-text-white tw-duration-300">
                                            Security Monitoring
                                        </h2>
                                    </li>
                                    <li class="d-flex align-items-center tw-gap-3 ">
                                        <span class="tw-w-105 tw-h-105 rounded-circle bg-main-two-600 group-hover-bg-white tw-duration-300"></span>
                                        <h2 class="h6 fw-semibold text-main-two-600 group-hover-text-white tw-duration-300">
                                            Backup & Recoveryt
                                        </h2>
                                    </li>
                                </ul>
                                <div class="d-flex align-items-center justify-content-between tw-gap-3 flex-wrap">
                                    <span class="tw-w-160-px tw-h-px bg-neutral-200"></span>
                                    <a href="services-details.html" class="h6 fw-bold text-main-two-600 hover-underline group-hover-text-white tw-duration-300">
                                        More
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="group w-100 h-100" data-aos="fade-up" data-aos-duration="800" data-aos-delay="350">
                        <div class="tw-py-8 tw-px-4 border-neutral-200 border tw-rounded-2xl animation-item group-hover-bg-main-600 tw-duration-300 h-100 w-100">
                            <div>
                                <h2 class="fw-bold h4 text-main-two-600 tw-mb-5 group-hover-text-white tw-duration-300">
                                    Digital Resource
                                    Monitoring
                                </h2>
                                <div class="position-relative tw-mb-5">
                                    <span class="w-100 h-100 overflow-hidden tw-rounded-xl">
                                        <img src="assets/images/thumbs/saven-services-img4.png" alt="images" class="w-100 h-100 course-item__img tw-duration-300">
                                    </span>
                                    <span class="tw-w-17 tw-h-17 bg-white rounded-circle d-flex align-items-center justify-content-center position-absolute bottom-0 tw-start-0 tw-ms-4 tw-mb-6">
                                        <img src="assets/images/icon/saven-services-icon4.png" alt="icon">
                                    </span>
                                </div>
                                <ul class="d-flex flex-column tw-gap-4 tw-mb-10">
                                    <li class="d-flex align-items-center tw-gap-3 ">
                                        <span class="tw-w-105 tw-h-105 rounded-circle bg-main-two-600 group-hover-bg-white tw-duration-300"></span>
                                        <h2 class="h6 fw-semibold text-main-two-600 group-hover-text-white tw-duration-300">
                                            Website Maintenance & Updates
                                        </h2>
                                    </li>
                                    <li class="d-flex align-items-center tw-gap-3 ">
                                        <span class="tw-w-105 tw-h-105 rounded-circle bg-main-two-600 group-hover-bg-white tw-duration-300"></span>
                                        <h2 class="h6 fw-semibold text-main-two-600 group-hover-text-white tw-duration-300">
                                            Performance Optimization
                                        </h2>
                                    </li>
                                    <li class="d-flex align-items-center tw-gap-3 ">
                                        <span class="tw-w-105 tw-h-105 rounded-circle bg-main-two-600 group-hover-bg-white tw-duration-300"></span>
                                        <h2 class="h6 fw-semibold text-main-two-600 group-hover-text-white tw-duration-300">
                                            Security Monitoring
                                        </h2>
                                    </li>
                                    <li class="d-flex align-items-center tw-gap-3 ">
                                        <span class="tw-w-105 tw-h-105 rounded-circle bg-main-two-600 group-hover-bg-white tw-duration-300"></span>
                                        <h2 class="h6 fw-semibold text-main-two-600 group-hover-text-white tw-duration-300">
                                            Backup & Recoveryt
                                        </h2>
                                    </li>
                                </ul>
                                <div class="d-flex align-items-center justify-content-between tw-gap-3 flex-wrap">
                                    <span class="tw-w-160-px tw-h-px bg-neutral-200"></span>
                                    <a href="services-details.html" class="h6 fw-bold text-main-two-600 hover-underline group-hover-text-white tw-duration-300">
                                        More
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========================== services section end ========================== -->