<!-- ======================= service three section start ======================= -->
<section class="py-120 tw-bg-main-three">
    <div class="container max-w-1660-px">
        <div class="d-flex align-items-center justify-content-center tw-mb-15">
            <div class="max-w-570-px text-center">
                <div class="d-inline-flex align-items-center tw-gap-2 tw-py-2 tw-px-5 border border-white rounded-pill tw-mb-4 border-opacity-10">
                    <span class="tw-w-205 tw-h-205 bg-white rounded-circle"></span>
                    <h3 class="fw-bold h6 text-white">
                        Service We Provide
                    </h3>
                </div>
                <h3 class="fw-bold text-white">
                    Discover IT Auditing and Business Services
                </h3>
            </div>
        </div>
        <div class="row gy-4">
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="bg-white bg-opacity-10 tw-p-3 border-white border-opacity-25 border tw-rounded-xl animation-item">
                    <div class="tw-mb-6 position-relative">
                        <span class="overflow-hidden tw-rounded-xl bg-img">
                            <img src="assets/images/thumbs/service-three-img1.png" alt="img" class="course-item__img tw-duration-300 bg-img">
                        </span>
                        <div class="bg-main-600 tw-p-4 tw-rounded-lg position-absolute bottom-0 tw-end-0 tw-mb-5 tw-me-205">
                            <img src="assets/images/icon/services-white-icon3.png" alt="icon">
                        </div>
                    </div>
                    <div class="tw-px-4 tw-mb-4">
                        <h2 class="fw-semibold h5 text-white tw-mb-4">
                            Streamlined Apps
                        </h2>
                        <p class="fw-semibold tw-text-base text-white text-opacity-75">
                            Every number tells a story We analyze your data to uncover patterns and highlight for solutions.
                        </p>
                        <span class="w-100 tw-h-px bg-white bg-opacity-50 tw-my-6"></span>
                        <h3 class="fw-semibold h6 text-white tw-mb-4">
                            Bank Cost
                        </h3>
                        <div class="d-flex align-items-center tw-gap-4 flex-wrap">
                            <div class="d-flex align-items-center tw-gap-2">
                                <span class="tw-text-lg text-white">
                                    <i class="ph-bold ph-check"></i>
                                </span>
                                <span class="fw-semibold tw-text-base text-white">
                                    Strategy
                                </span>
                            </div>
                            <div class="d-flex align-items-center tw-gap-2">
                                <span class="tw-text-lg text-white">
                                    <i class="ph-bold ph-check"></i>
                                </span>
                                <span class="fw-semibold tw-text-base text-white">
                                    Management System
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="bg-white bg-opacity-10 tw-p-3 border-white border-opacity-25 border tw-rounded-xl animation-item">
                    <div class="tw-mb-6 position-relative">
                        <span class="overflow-hidden tw-rounded-xl bg-img">
                            <img src="assets/images/thumbs/service-three-img2.png" alt="img" class="course-item__img tw-duration-300 bg-img">
                        </span>
                        <div class="bg-main-600 tw-p-4 tw-rounded-lg position-absolute bottom-0 tw-end-0 tw-mb-5 tw-me-205">
                            <img src="assets/images/icon/services-white-icon4.png" alt="icon">
                        </div>
                    </div>
                    <div class="tw-px-4 tw-mb-4">
                        <h2 class="fw-semibold h5 text-white tw-mb-4">
                            UIUX Design
                        </h2>
                        <p class="fw-semibold tw-text-base text-white text-opacity-75">
                            Every number tells a story We analyze your data to uncover patterns and highlight for solutions.
                        </p>
                        <span class="w-100 tw-h-px bg-white bg-opacity-50 tw-my-6"></span>
                        <h3 class="fw-semibold h6 text-white tw-mb-4">
                            Bank Cost
                        </h3>
                        <div class="d-flex align-items-center tw-gap-4 flex-wrap">
                            <div class="d-flex align-items-center tw-gap-2">
                                <span class="tw-text-lg text-white">
                                    <i class="ph-bold ph-check"></i>
                                </span>
                                <span class="fw-semibold tw-text-base text-white">
                                    Strategy
                                </span>
                            </div>
                            <div class="d-flex align-items-center tw-gap-2">
                                <span class="tw-text-lg text-white">
                                    <i class="ph-bold ph-check"></i>
                                </span>
                                <span class="fw-semibold tw-text-base text-white">
                                    Management System
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="bg-white bg-opacity-10 tw-p-3 border-white border-opacity-25 border tw-rounded-xl animation-item">
                    <div class="tw-mb-6 position-relative">
                        <span class="overflow-hidden tw-rounded-xl bg-img">
                            <img src="assets/images/thumbs/service-three-img3.png" alt="img" class="course-item__img tw-duration-300 bg-img">
                        </span>
                        <div class="bg-main-600 tw-p-4 tw-rounded-lg position-absolute bottom-0 tw-end-0 tw-mb-5 tw-me-205">
                            <img src="assets/images/icon/services-white-icon2.png" alt="icon">
                        </div>
                    </div>
                    <div class="tw-px-4 tw-mb-4">
                        <h2 class="fw-semibold h5 text-white tw-mb-4">
                            IT Management
                        </h2>
                        <p class="fw-semibold tw-text-base text-white text-opacity-75">
                            Every number tells a story We analyze your data to uncover patterns and highlight for solutions.
                        </p>
                        <span class="w-100 tw-h-px bg-white bg-opacity-50 tw-my-6"></span>
                        <h3 class="fw-semibold h6 text-white tw-mb-4">
                            Bank Cost
                        </h3>
                        <div class="d-flex align-items-center tw-gap-4 flex-wrap">
                            <div class="d-flex align-items-center tw-gap-2">
                                <span class="tw-text-lg text-white">
                                    <i class="ph-bold ph-check"></i>
                                </span>
                                <span class="fw-semibold tw-text-base text-white">
                                    Strategy
                                </span>
                            </div>
                            <div class="d-flex align-items-center tw-gap-2">
                                <span class="tw-text-lg text-white">
                                    <i class="ph-bold ph-check"></i>
                                </span>
                                <span class="fw-semibold tw-text-base text-white">
                                    Management System
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="bg-white bg-opacity-10 tw-p-3 border-white border-opacity-25 border tw-rounded-xl animation-item">
                    <div class="tw-mb-6 position-relative">
                        <span class="overflow-hidden tw-rounded-xl bg-img">
                            <img src="assets/images/thumbs/service-three-img4.png" alt="img" class="course-item__img tw-duration-300 bg-img">
                        </span>
                        <div class="bg-main-600 tw-p-4 tw-rounded-lg position-absolute bottom-0 tw-end-0 tw-mb-5 tw-me-205">
                            <img src="assets/images/icon/services-white-icon1.png" alt="icon">
                        </div>
                    </div>
                    <div class="tw-px-4 tw-mb-4">
                        <h2 class="fw-semibold h5 text-white tw-mb-4">
                            Marketing Strategy
                        </h2>
                        <p class="fw-semibold tw-text-base text-white text-opacity-75">
                            Every number tells a story We analyze your data to uncover patterns and highlight for solutions.
                        </p>
                        <span class="w-100 tw-h-px bg-white bg-opacity-50 tw-my-6"></span>
                        <h3 class="fw-semibold h6 text-white tw-mb-4">
                            Bank Cost
                        </h3>
                        <div class="d-flex align-items-center tw-gap-4 flex-wrap">
                            <div class="d-flex align-items-center tw-gap-2">
                                <span class="tw-text-lg text-white">
                                    <i class="ph-bold ph-check"></i>
                                </span>
                                <span class="fw-semibold tw-text-base text-white">
                                    Strategy
                                </span>
                            </div>
                            <div class="d-flex align-items-center tw-gap-2">
                                <span class="tw-text-lg text-white">
                                    <i class="ph-bold ph-check"></i>
                                </span>
                                <span class="fw-semibold tw-text-base text-white">
                                    Management System
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ======================= service three section end ======================= -->