<!-- ========================= services section start ========================= -->
<section class="d-flex align-items-center justify-content-center">
    <div class="max-w-1880-px w-100 tw-bg-gradient-two tw-rounded-2xl">
        <div class="py-120">
            <div class="container">
                <div class="text-center tw-mb-13">
                    <div class="d-inline-flex align-items-center tw-gap-2 tw-py-2 tw-ps-5 tw-pe-5 border-white border border-opacity-10 rounded-pill tw-mb-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                        <span class="tw-w-205 tw-h-205 bg-white rounded-circle"></span>
                        <h3 class="fw-bold h6 tw-text-xl text-white">
                            Service We Provide
                        </h3>
                    </div>
                    <h3 class="fw-bold text-white" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                        Discover IT Auditing and<br> Business Services
                    </h3>
                </div>
                <div class="row gy-4">
                    <div class="col-xl-4 col-sm-6">
                        <div class="group w-100 h-100" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                            <div class="tw-p-8 company-clip-path bg-white-08 tw-rounded-2xl animation-item group-hover-bg-main-600 tw-duration-500 w-100 h-100 tw-rounded-2xl">
                                <span class="tw-mb-15">
                                    <img src="assets/images/icon/servicess-two-icon1.png" alt="icon" class="animate__wobble">
                                </span>
                                <h2 class="tw-text-32-px fw-bold text-white tw-mb-6">
                                    CI/CD Consulting Services
                                </h2>
                                <p class="fw-semibold tw-text-base text-white tw-mb-9">
                                    Technological innovation, delivering intelligent IT solutions designed to elevate business.
                                </p>
                                <div class="d-flex flex-column tw-gap-4">
                                    <div class="d-flex align-items-center tw-gap-2">
                                        <span class="tw-w-6 tw-h-6 bg-white rounded-circle d-flex align-items-center justify-content-center tw-text-4">
                                            <i class="ph-fill ph-check-fat"></i>
                                        </span>
                                        <span class="fw-semibold tw-text-base text-white">
                                            TechGuard Audit
                                        </span>
                                    </div>
                                    <div class="d-flex align-items-center tw-gap-2">
                                        <span class="tw-w-6 tw-h-6 bg-white rounded-circle d-flex align-items-center justify-content-center tw-text-4">
                                            <i class="ph-fill ph-check-fat"></i>
                                        </span>
                                        <span class="fw-semibold tw-text-base text-white">
                                            AssuranceEdge & IT Consulting
                                        </span>
                                    </div>
                                    <div class="d-flex align-items-center tw-gap-2">
                                        <span class="tw-w-6 tw-h-6 bg-white rounded-circle d-flex align-items-center justify-content-center tw-text-4">
                                            <i class="ph-fill ph-check-fat"></i>
                                        </span>
                                        <span class="fw-semibold tw-text-base text-white">
                                            CyberSafe Audit & IT Consulting
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-sm-6">
                        <div class="group w-100 h-100" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                            <div class="tw-p-8 company-clip-path bg-white-08 tw-rounded-2xl animation-item group-hover-bg-main-600 tw-duration-500 w-100 h-100">
                                <span class="tw-mb-15">
                                    <img src="assets/images/icon/servicess-two-icon2.png" alt="icon" class="animate__wobble">
                                </span>
                                <h2 class="tw-text-32-px fw-bold text-white tw-mb-6">
                                    Optimizes Cloud Applications
                                </h2>
                                <p class="fw-semibold tw-text-base text-white tw-mb-9">
                                    Technological innovation, delivering intelligent IT solutions designed to elevate business.
                                </p>
                                <div class="d-flex flex-column tw-gap-4">
                                    <div class="d-flex align-items-center tw-gap-2">
                                        <span class="tw-w-6 tw-h-6 bg-white rounded-circle d-flex align-items-center justify-content-center tw-text-4">
                                            <i class="ph-fill ph-check-fat"></i>
                                        </span>
                                        <span class="fw-semibold tw-text-base text-white">
                                            TechGuard Audit
                                        </span>
                                    </div>
                                    <div class="d-flex align-items-center tw-gap-2">
                                        <span class="tw-w-6 tw-h-6 bg-white rounded-circle d-flex align-items-center justify-content-center tw-text-4">
                                            <i class="ph-fill ph-check-fat"></i>
                                        </span>
                                        <span class="fw-semibold tw-text-base text-white">
                                            AssuranceEdge & IT Consulting
                                        </span>
                                    </div>
                                    <div class="d-flex align-items-center tw-gap-2">
                                        <span class="tw-w-6 tw-h-6 bg-white rounded-circle d-flex align-items-center justify-content-center tw-text-4">
                                            <i class="ph-fill ph-check-fat"></i>
                                        </span>
                                        <span class="fw-semibold tw-text-base text-white">
                                            CyberSafe Audit & IT Consulting
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-sm-6">
                        <div class="group w-100 h-100" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                            <div class="tw-p-8 company-clip-path bg-white-08 tw-rounded-2xl animation-item group-hover-bg-main-600 tw-duration-500 w-100 h-100">
                                <span class="tw-mb-15">
                                    <img src="assets/images/icon/servicess-two-icon3.png" alt="icon" class="animate__wobble">
                                </span>
                                <h2 class="tw-text-32-px fw-bold text-white tw-mb-6">
                                    CI/CD Consulting Services
                                </h2>
                                <p class="fw-semibold tw-text-base text-white tw-mb-9">
                                    Technological innovation, delivering intelligent IT solutions designed to elevate business.
                                </p>
                                <div class="d-flex flex-column tw-gap-4">
                                    <div class="d-flex align-items-center tw-gap-2">
                                        <span class="tw-w-6 tw-h-6 bg-white rounded-circle d-flex align-items-center justify-content-center tw-text-4">
                                            <i class="ph-fill ph-check-fat"></i>
                                        </span>
                                        <span class="fw-semibold tw-text-base text-white">
                                            TechGuard Audit
                                        </span>
                                    </div>
                                    <div class="d-flex align-items-center tw-gap-2">
                                        <span class="tw-w-6 tw-h-6 bg-white rounded-circle d-flex align-items-center justify-content-center tw-text-4">
                                            <i class="ph-fill ph-check-fat"></i>
                                        </span>
                                        <span class="fw-semibold tw-text-base text-white">
                                            AssuranceEdge & IT Consulting
                                        </span>
                                    </div>
                                    <div class="d-flex align-items-center tw-gap-2">
                                        <span class="tw-w-6 tw-h-6 bg-white rounded-circle d-flex align-items-center justify-content-center tw-text-4">
                                            <i class="ph-fill ph-check-fat"></i>
                                        </span>
                                        <span class="fw-semibold tw-text-base text-white">
                                            CyberSafe Audit & IT Consulting
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="bg-main-600 w-100 tw-p-52-px company-clip-path-two tw-rounded-top-left">
                <div class="d-inline-flex align-items-center tw-gap-2 tw-py-2 tw-ps-5 tw-pe-5 rounded-pill border-white border border-opacity-10 tw-mb-7" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                    <span class="tw-w-205 tw-h-205 bg-white rounded-circle"></span>
                    <h3 class="fw-bold h6 text-white">
                        Contact With Us
                    </h3>
                </div>
                <h3 class="fw-bold text-white max-w-440-px" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                    Ready to Transform your Business?
                </h3>
            </div>
        </div>
    </div>
</section>
<!-- ========================= services section end ========================= -->
