<!-- =============================== service section start =============================== -->
<section class="bg-neutral-30 py-120">
    <div class="container">
        <div class="row gy-4">
            <div class="col-xl-6">
                <div class="max-w-550-px w-100">
                    <div class="d-inline-flex align-items-center tw-gap-2 tw-py-2 tw-px-5 border-neutral-300 border rounded-pill tw-mb-4" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                        <span class="tw-w-205 tw-h-205 bg-main-600 rounded-circle"></span>
                        <h3 class="h6 fw-bold text-main-600">
                            Service We Provide
                        </h3>
                    </div>
                    <h2 class="fw-bold h3 text-main-two-600 tw-mb-7" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                        Comprehensive Security &
                        Surveillance Solutions
                    </h2>
                    <p class="fw-semibold tw-text-base text-neutral-500 tw-mb-8" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                        The ITZen CCTV Camera System represents the pinnacle of modern security 
                        engineered to deliver comprehensive protection for your property around the
                        Combining cutting-edge imaging capabilities
                    </p>
                    <a href="services-details.html" class="link-group d-inline-flex align-items-center group group-item" data-aos="fade-up" data-aos-duration="800" data-aos-delay="350">
                        <span class="button-icon-one fw-bold bg-main-600 text-white tw-py-3 tw-px-4 tw-rounded-xl tw-text-xl group-hover-bg-black tw-duration-300">
                            <i class="ph-bold ph-arrow-right"></i>
                        </span>
                        <h2 class="fw-bold h6 bg-main-600 text-white tw-py-4 tw-px-10 tw-rounded-xl group-hover-bg-black tw-duration-300">
                            See All Services
                        </h2>
                        <span class="button-icon-two fw-bold bg-main-600 text-white tw-py-3 tw-px-4 tw-rounded-xl tw-text-xl group-hover-bg-black tw-duration-300">
                            <i class="ph-bold ph-arrow-right"></i>
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="d-flex align-items-start tw-gap-4 justify-content-between flex-sm-nowrap flex-wrap">
                    <div class="max-w-260-px w-100" data-aos="fade-down" data-aos-duration="800" data-aos-delay="400">
                        <div class="tw-mb-70-px animation-item">
                            <div class="d-flex align-items-center justify-content-between flex-wrap tw-mb-8">
                                <img src="assets/images/icon/service-six-icon1.png" alt="icon" class="animate__wobble tw-duration-300">
                                <h2 class="h5 fw-bold text-main-two-600">
                                    01
                                </h2>
                            </div>
                            <h2 class="h5 fw-bold text-main-two-600 tw-mb-3">
                                Robotic Automation
                            </h2>
                            <span class="fw-semibold tw-text-base text-neutral-500">
                                Business it will frequently occur that
                                some pleasures.
                            </span>
                        </div>
                        <div class="animation-item">
                            <div class="d-flex align-items-center justify-content-between flex-wrap tw-mb-8">
                                <img src="assets/images/icon/service-six-icon2.png" alt="icon" class="animate__wobble tw-duration-300">
                                <h2 class="h5 fw-bold text-main-two-600">
                                    02
                                </h2>
                            </div>
                            <h2 class="h5 fw-bold text-main-two-600 tw-mb-3">
                               Al For Cloud Services
                            </h2>
                            <span class="fw-semibold tw-text-base text-neutral-500">
                                Business it will frequently occur that
                                some pleasures.
                            </span>
                        </div>
                    </div>
                    <span class="tw-w-px tw-h-780-px bg-neutral-300 d-xxl-block d-none" data-aos-duration="1000" data-aos-delay="300" data-aos="zoom-in"></span>
                    <div class="max-w-260-px w-100 tw-mt-350-px" data-aos="fade-up" data-aos-duration="800" data-aos-delay="400">
                        <div class="tw-mb-70-px animation-item">
                            <div class="d-flex align-items-center justify-content-between flex-wrap tw-mb-8">
                                <img src="assets/images/icon/service-six-icon3.png" alt="icon" class="animate__wobble tw-duration-300">
                                <h2 class="h5 fw-bold text-main-two-600">
                                    03
                                </h2>
                            </div>
                            <h2 class="h5 fw-bold text-main-two-600 tw-mb-3">
                                Virtual Reality
                            </h2>
                            <span class="fw-semibold tw-text-base text-neutral-500">
                                Business it will frequently occur that
                                some pleasures.
                            </span>
                        </div>
                        <div class="animation-item">
                            <div class="d-flex align-items-center justify-content-between flex-wrap tw-mb-8">
                                <img src="assets/images/icon/service-six-icon4.png" alt="icon" class="animate__wobble tw-duration-300">
                                <h2 class="h5 fw-bold text-main-two-600">
                                    04
                                </h2>
                            </div>
                            <h2 class="h5 fw-bold text-main-two-600 tw-mb-3">
                              Machine Learning
                            </h2>
                            <span class="fw-semibold tw-text-base text-neutral-500">
                                Business it will frequently occur that
                                some pleasures.
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- =============================== service section end =============================== -->