<!-- ============================= services detils section start ============================= -->
<section class="py-120">
    <div class="container">
        <div class="row gy-4">
            <div class="col-xl-8">
                <div class="border-black border-opacity-10 border tw-rounded-lg">
                    <div class="w-100 tw-mb-10">
                        <img src="assets/images/thumbs/services-details-img1.png" alt="img" class="w-100">
                    </div>
                    <div class="tw-px-8 tw-pb-15">
                        <div class="tw-mb-13">
                            <h2 class="fw-semibold h4 text-main-two-600 tw-text-36-px tw-mb-8">
                                Web & Mobile App Development
                            </h2>
                            <p class="fw-normal tw-text-base text-neutral-600 tw-mb-8">
                                No two clients are the same, and that's why we provide custom solar solutions tailored to meet your 
                                energy requirements. Whether you're a homeowner, a business, or a large-scale energy user, we have
                                expertise to design and install a solar power system that fits exactly what you need.
                            </p>
                            <p class="fw-normal tw-text-base text-neutral-600 tw-mb-8">
                               Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vulputate vestibulum Phasell jesmit
                                dolor eget viverra pretium, dolor tellus aliquet nunc, vitae ultricies erat elit eu lacus. Vestibulu limania
                                consectetur, cursus ante, tincidunt sapien. Nulla quis diam sit amet turpis interdum accumsan evento
                                enim. Vivamus faucibus ex sed nibh egestas elementum.
                            </p>
                        </div>
                        <div class="tw-mb-13">
                            <h2 class="fw-semibold h4 text-main-two-600 tw-text-36-px tw-mb-8">
                                Maintenance & Support
                            </h2>
                            <p class="fw-normal tw-text-base text-neutral-600 tw-mb-8">
                               Gardeno systems require minimal maintenance, yet for peace of mind and optimal performance, our
                                technicians offer routine check-ups, perfor mance assessments, and maintenance services.  remote
                                monitoring capabilities, we keep a vigilant eye on your system's performance, ensuring it operates at
                                peak efficiency.
                            </p>
                        </div>
                        <div>
                            <div>
                                <h2 class="fw-semibold h4 text-main-two-600 tw-text-36-px tw-mb-8">
                                    Service Benefits
                                </h2>
                                <div class="row gy-4">
                                    <div class="col-md-4">
                                        <div class="d-flex flex-column tw-gap-3">
                                            <div class="d-flex align-items-center tw-gap-3">
                                                <span class="tw-w-105 tw-h-105 bg-main-two-600 rounded-circle"></span>
                                                <h3 class="fw-semibold h6 text-main-two-600">
                                                    Expertise and Experience
                                                </h3>
                                            </div>
                                            <div class="d-flex align-items-center tw-gap-3">
                                                <span class="tw-w-105 tw-h-105 bg-main-two-600 rounded-circle"></span>
                                                <h3 class="fw-semibold h6 text-main-two-600">
                                                    Cost Efficiency
                                                </h3>
                                            </div>
                                            <div class="d-flex align-items-center tw-gap-3">
                                                <span class="tw-w-105 tw-h-105 bg-main-two-600 rounded-circle"></span>
                                                <h3 class="fw-semibold h6 text-main-two-600">
                                                    Time Savings
                                                </h3>
                                            </div>
                                            <div class="d-flex align-items-center tw-gap-3">
                                                <span class="tw-w-105 tw-h-105 bg-main-two-600 rounded-circle"></span>
                                                <h3 class="fw-semibold h6 text-main-two-600">
                                                    Quality Assurance
                                                </h3>
                                            </div>
                                            <div class="d-flex align-items-center tw-gap-3">
                                                <span class="tw-w-105 tw-h-105 bg-main-two-600 rounded-circle"></span>
                                                <h3 class="fw-semibold h6 text-main-two-600">
                                                    Regulatory Compliance
                                                </h3>
                                            </div>
                                            <div class="d-flex align-items-center tw-gap-3">
                                                <span class="tw-w-105 tw-h-105 bg-main-two-600 rounded-circle"></span>
                                                <h3 class="fw-semibold h6 text-main-two-600">
                                                    Customization and Flexibility
                                                </h3>
                                            </div>
                                            <div class="d-flex align-items-center tw-gap-3">
                                                <span class="tw-w-105 tw-h-105 bg-main-two-600 rounded-circle"></span>
                                                <h3 class="fw-semibold h6 text-main-two-600">
                                                    Post-Solar Support
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="row gy-4">
                                            <div class="col-sm-6">
                                                <span>
                                                    <img src="assets/images/thumbs/services-details-img2.png" alt="images">
                                                </span>
                                            </div>
                                            <div class="col-sm-6">
                                                <span>
                                                    <img src="assets/images/thumbs/services-details-img3.png" alt="images">
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="tw-py-10 tw-px-7 bg-neutral-30 tw-rounded-lg tw-mb-6">
                    <h2 class="fw-bold h4 text-main-two-600 tw-text-36-px tw-mb-9">
                        Our Services
                    </h2>
                    <ul class="d-flex flex-column tw-gap-6">
                        <li>
                            <a href="javascript:void(0)" class="fw-semibold tw-text-base text-neutral-500 tw-py-5 tw-px-4 bg-white tw-rounded-lg w-100 d-flex align-items-center tw-gap-4 justify-content-between hover-bg-main-600 hover-text-white">
                                Technology Solution
                                <span class="">
                                    <i class="ph-bold ph-arrow-right"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" class="fw-semibold tw-text-base text-neutral-500 tw-py-5 tw-px-4 bg-white tw-rounded-lg w-100 d-flex align-items-center tw-gap-4 justify-content-between hover-bg-main-600 hover-text-white">
                                IT Management Service
                                <span class="">
                                    <i class="ph-bold ph-arrow-right"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" class="fw-semibold tw-text-base text-neutral-500 tw-py-5 tw-px-4 bg-white tw-rounded-lg w-100 d-flex align-items-center tw-gap-4 justify-content-between hover-bg-main-600 hover-text-white">
                                Tracking Security
                                <span class="">
                                    <i class="ph-bold ph-arrow-right"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" class="fw-semibold tw-text-base text-neutral-500 tw-py-5 tw-px-4 bg-white tw-rounded-lg w-100 d-flex align-items-center tw-gap-4 justify-content-between hover-bg-main-600 hover-text-white">
                               Website & Mobile App
                                <span class="">
                                    <i class="ph-bold ph-arrow-right"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" class="fw-semibold tw-text-base text-neutral-500 tw-py-5 tw-px-4 bg-white tw-rounded-lg w-100 d-flex align-items-center tw-gap-4 justify-content-between hover-bg-main-600 hover-text-white">
                                App Development
                                <span class="">
                                    <i class="ph-bold ph-arrow-right"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" class="fw-semibold tw-text-base text-neutral-500 tw-py-5 tw-px-4 bg-white tw-rounded-lg w-100 d-flex align-items-center tw-gap-4 justify-content-between hover-bg-main-600 hover-text-white">
                                IT Solution
                                <span class="">
                                    <i class="ph-bold ph-arrow-right"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" class="fw-semibold tw-text-base text-neutral-500 tw-py-5 tw-px-4 bg-white tw-rounded-lg w-100 d-flex align-items-center tw-gap-4 justify-content-between hover-bg-main-600 hover-text-white">
                                Data & Analytics Services
                                <span class="">
                                    <i class="ph-bold ph-arrow-right"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" class="fw-semibold tw-text-base text-neutral-500 tw-py-5 tw-px-4 bg-white tw-rounded-lg w-100 d-flex align-items-center tw-gap-4 justify-content-between hover-bg-main-600 hover-text-white">
                                IT Consulting & Strategy
                                <span class="">
                                    <i class="ph-bold ph-arrow-right"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="tw-py-10 tw-px-7 bg-neutral-30 tw-rounded-lg">
                    <h2 class="fw-semibold h4 text-main-two-600 tw-text-36-px tw-mb-9">
                        Company Brochure
                    </h2>
                    <button type="button" class="tw-py-3 tw-px-7 bg-white w-100 text-neutral-500 d-flex align-items-center tw-gap-3 justify-content-center hover-bg-main-600 hover-text-white tw-duration-300 group tw-rounded-lg tw-mb-6">
                        <span class="tw-text-6 text-main-600 group-hover-text-white tw-duration-300">
                            <i class="ph-fill ph-envelope-open"></i>
                        </span>
                        Report 2025-25
                    </button>
                    <button type="button" class="tw-py-3 tw-px-7 bg-white w-100 text-neutral-500 d-flex align-items-center tw-gap-3 justify-content-center hover-bg-main-600 hover-text-white tw-duration-300 group tw-rounded-lg tw-mb-6">
                        <span class="tw-text-6 text-main-600 group-hover-text-white tw-duration-300">
                            <i class="ph-fill ph-file-arrow-down"></i>
                        </span>
                        Download PDF
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ============================= services detils section end ============================= -->