<!-- ========================= service five section start ========================= -->
<section class="bg-neutral-30 py-120">
    <div class="container">
        <div class="d-flex align-items-center justify-content-center tw-mb-15">
            <div class="max-w-570-px w-100 text-center">
                <div class="d-inline-flex align-items-center tw-gap-2 tw-py-2 tw-px-5 border-main-100 border rounded-pill tw-mb-5" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                    <span class="tw-w-205 tw-h-205 rounded-circle bg-main-600"></span>
                    <h3 class="fw-bold text-main-600 h6">
                        Service We Provide
                    </h3>
                </div>
                <h3 class="fw-bold text-main-two-600 tw-mb-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                    Comprehensive Security &
                    Surveillance Solutions
                </h3>
            </div>
        </div>
        
        <div class="swiper service-five__slider">
            <div class="swiper-wrapper tw-mb-15">
                <div class="swiper-slide">
                    <div class="bg-white tw-rounded-3xl position-relative" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                        <div class="service-five__card tw-w-80-px tw-h-80-px bg-neutral-30 tw-rounded-right-bottom position-absolute top-0 tw-start-0">
                            <span class="tw-w-16 tw-h-16 bg-main-600 tw-rounded-lg d-flex align-items-center justify-content-center">
                                <img src="assets/images/icon/service-four-icon1.png" alt="icon" class="tw-w-10 tw-h-10">
                            </span>
                        </div>
                        <div class="w-100 h-100 tw-mb-6">
                            <img src="assets/images/thumbs/service-five-img1.png" alt="images" class="w-100 h-100">
                        </div>
                        <div class="tw-ps-6 tw-pb-8">
                            <span class="fw-semibold tw-text-base text-main-two-600 tw-py-2 tw-px-7 border-black border border-opacity-10 rounded-pill tw-mb-3">
                                CCTV
                            </span>
                            <h2 class="h5">
                                <a href="services-details.html" class="fw-bold text-main-two-600">
                                    Residential CCTV Installation
                                </a>
                            </h2>
                        </div>
                        <div class="service-five__card-two tw-w-80-px tw-h-80-px bg-neutral-30 tw-rounded-right-bottom position-absolute bottom-0 tw-end-0 d-flex justify-content-end align-items-end">
                            <a href="services-details.html" class="tw-w-16 tw-h-16 bg-white tw-rounded-lg d-flex align-items-center justify-content-center tw-text-xl text-main-two-600">
                                <i class="ph-bold ph-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="bg-white tw-rounded-3xl position-relative" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                        <div class="service-five__card tw-w-80-px tw-h-80-px bg-neutral-30 tw-rounded-right-bottom position-absolute top-0 tw-start-0">
                            <span class="tw-w-16 tw-h-16 bg-main-600 tw-rounded-lg d-flex align-items-center justify-content-center">
                                <img src="assets/images/icon/service-four-icon1.png" alt="icon" class="tw-w-10 tw-h-10">
                            </span>
                        </div>
                        <div class="w-100 h-100 tw-mb-6">
                            <img src="assets/images/thumbs/service-five-img2.png" alt="images" class="w-100 h-100">
                        </div>
                        <div class="tw-ps-6 tw-pb-8">
                            <span class="fw-semibold tw-text-base text-main-two-600 tw-py-2 tw-px-7 border-black border border-opacity-10 rounded-pill tw-mb-3">
                                CCTV
                            </span>
                            <h2 class="h5">
                                <a href="services-details.html" class="fw-bold text-main-two-600">
                                    Commercial & Office Surveill.
                                </a>
                            </h2>
                        </div>
                        <div class="service-five__card-two tw-w-80-px tw-h-80-px bg-neutral-30 tw-rounded-right-bottom position-absolute bottom-0 tw-end-0 d-flex justify-content-end align-items-end">
                            <a href="services-details.html" class="tw-w-16 tw-h-16 bg-white tw-rounded-lg d-flex align-items-center justify-content-center tw-text-xl text-main-two-600">
                                <i class="ph-bold ph-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="bg-white tw-rounded-3xl position-relative" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                        <div class="service-five__card tw-w-80-px tw-h-80-px bg-neutral-30 tw-rounded-right-bottom position-absolute top-0 tw-start-0">
                            <span class="tw-w-16 tw-h-16 bg-main-600 tw-rounded-lg d-flex align-items-center justify-content-center">
                                <img src="assets/images/icon/service-four-icon1.png" alt="icon" class="tw-w-10 tw-h-10">
                            </span>
                        </div>
                        <div class="w-100 h-100 tw-mb-6">
                            <img src="assets/images/thumbs/service-five-img3.png" alt="images" class="w-100 h-100">
                        </div>
                        <div class="tw-ps-6 tw-pb-8">
                            <span class="fw-semibold tw-text-base text-main-two-600 tw-py-2 tw-px-7 border-black border border-opacity-10 rounded-pill tw-mb-3">
                                CCTV
                            </span>
                            <h2 class="h5">
                                <a href="services-details.html" class="fw-bold text-main-two-600">
                                    Maintenance & Repairs
                                </a>
                            </h2>
                        </div>
                        <div class="service-five__card-two tw-w-80-px tw-h-80-px bg-neutral-30 tw-rounded-right-bottom position-absolute bottom-0 tw-end-0 d-flex justify-content-end align-items-end">
                            <a href="services-details.html" class="tw-w-16 tw-h-16 bg-white tw-rounded-lg d-flex align-items-center justify-content-center tw-text-xl text-main-two-600">
                                <i class="ph-bold ph-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>  
                <div class="swiper-slide">
                    <div class="bg-white tw-rounded-3xl position-relative" data-aos="fade-up" data-aos-duration="800" data-aos-delay="350">
                        <div class="service-five__card tw-w-80-px tw-h-80-px bg-neutral-30 tw-rounded-right-bottom position-absolute top-0 tw-start-0">
                            <span class="tw-w-16 tw-h-16 bg-main-600 tw-rounded-lg d-flex align-items-center justify-content-center">
                                <img src="assets/images/icon/service-four-icon1.png" alt="icon" class="tw-w-10 tw-h-10">
                            </span>
                        </div>
                        <div class="w-100 h-100 tw-mb-6">
                            <img src="assets/images/thumbs/service-five-img2.png" alt="images" class="w-100 h-100">
                        </div>
                        <div class="tw-ps-6 tw-pb-8">
                            <span class="fw-semibold tw-text-base text-main-two-600 tw-py-2 tw-px-7 border-black border border-opacity-10 rounded-pill tw-mb-3">
                                CCTV
                            </span>
                            <h2 class="h5">
                                <a href="services-details.html" class="fw-bold text-main-two-600">
                                    Commercial & Office Surveill.
                                </a>
                            </h2>
                        </div>
                        <div class="service-five__card-two tw-w-80-px tw-h-80-px bg-neutral-30 tw-rounded-right-bottom position-absolute bottom-0 tw-end-0 d-flex justify-content-end align-items-end">
                            <a href="services-details.html" class="tw-w-16 tw-h-16 bg-white tw-rounded-lg d-flex align-items-center justify-content-center tw-text-xl text-main-two-600">
                                <i class="ph-bold ph-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>

    </div>
</section>
<!-- ========================= service five section end ========================= -->