<!-- ================================ servicde section start ================================ -->
<section class="tw-bg-gradient-two pt-120 tw-pb-300-px position-relative z-3">
    <img src="assets/images/shape/service-four-shape1.png" alt="shape" class="position-absolute top-0 tw-start-0 z-n1 d-xl-block d-none">
    <img src="assets/images/shape/service-four-shape2.png" alt="shape" class="position-absolute top-0 tw-end-0 z-n1 d-xl-block d-none">
    <div class="container">
        <div class="d-flex align-items-center justify-content-center tw-mb-12">
            <div class="max-w-570-px text-center">
                <div class="d-inline-flex align-items-center tw-gap-2 tw-py-2 tw-px-5 border border-white rounded-pill tw-mb-4 border-opacity-10" data-aos="fade-up" data-aos-duration="900" data-aos-delay="100">
                    <span class="tw-w-205 tw-h-205 bg-white rounded-circle"></span>
                    <h3 class="fw-bold h6 text-white">
                        Service We Provide
                    </h3>
                </div>
                <h3 class="fw-bold text-white" data-aos="fade-up" data-aos-duration="900" data-aos-delay="200">
                    Discover IT Auditing and Business Services
                </h3>
            </div>
        </div>
        <div class="row gy-4">
            <div class="col-lg-4 col-sm-6">
                <div class="services-four-card group-item position-relative h-100 w-100" data-aos="fade-up" data-aos-duration="900" data-aos-delay="250">
                    <div class="services-four__image position-relative h-100 w-100">
                        <span class="bg-img">
                            <img src="assets/images/thumbs/service-four-img1.png" alt="img" class="w-100">
                        </span>
                        <div class="text-center position-absolute bottom-0 tw-start-0 tw-start-50 translate-middle-x  w-100 tw-mb-10">
                            <span class="tw-mb-4">
                                <img src="assets/images/icon/service-four-icon1.png" alt="icon">
                            </span>
                            <h2 class="fw-bold h4 tw-text-32-px text-white">
                                Web & Mobile App<br>
                                Development
                            </h2>
                        </div>
                    </div>
                    <div class="position-absolute top-0 tw-start-0 w-100 h-100 tw-hidden tw-opacity-0 group-hover-item-visible group-hover-item-opacity-1 tw-duration-300">
                        <div class="services-four__text h-100 w-100">
                            <div class="bg-main-600 tw-rounded-xl text-center tw-py-80-px tw-px-48-px position-relative z-3 animation-item h-100 w-100">
                                <span class="tw-mb-4">
                                    <img src="assets/images/icon/service-four-icon2.png" alt="icon" class="animate__bounce tw-duration-300">
                                </span>
                                <h2 class="fw-bold h4 tw-text-32-px text-white tw-mb-6">
                                   IT Management<br> & Strategy
                                </h2>
                                <p class="fw-semibold tw-text-base text-white tw-mb-8">
                                    Technological innovation, delivering intelligent IT solutions designed to elevate business performance. By seamlessly integrating.
                                </p>
                                <div class="d-flex justify-content-center align-items-center">
                                    <a href="services-details.html" class="tw-w-12 tw-h-12 border-white border rounded-circle d-flex align-items-center justify-content-center tw-text-xl text-white hover-bg-white hover-text-main-600 tw-duration-300">
                                        <i class="ph-bold ph-arrow-right"></i>
                                    </a>
                                </div>
                                <h3 class="tw-text-200-px h6 text-white text-opacity-25 fw-bold position-absolute top-0 tw-end-0 z-n1 tw-line-h-145-px">
                                    01
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="services-four-card group-item position-relative h-100 w-100" data-aos="fade-up" data-aos-duration="900" data-aos-delay="300">
                    <div class="services-four__image position-relative h-100 w-100">
                        <span class="bg-img">
                            <img src="assets/images/thumbs/service-four-img1.png" alt="img" class="w-100">
                        </span>
                        <div class="text-center position-absolute bottom-0 tw-start-0 tw-start-50 translate-middle-x  w-100 tw-mb-10">
                            <span class="tw-mb-4">
                                <img src="assets/images/icon/service-four-icon1.png" alt="icon">
                            </span>
                            <h2 class="fw-bold h4 tw-text-32-px text-white">
                                Web & Mobile App<br>
                                Development
                            </h2>
                        </div>
                    </div>
                    <div class="position-absolute top-0 tw-start-0 w-100 h-100 tw-hidden tw-opacity-0 group-hover-item-visible group-hover-item-opacity-1 tw-duration-300">
                        <div class="services-four__text h-100 w-100">
                            <div class="bg-main-600 tw-rounded-xl text-center tw-py-80-px tw-px-48-px position-relative z-3 animation-item h-100 w-100">
                                <span class="tw-mb-4">
                                    <img src="assets/images/icon/service-four-icon2.png" alt="icon" class="animate__bounce tw-duration-300">
                                </span>
                                <h2 class="fw-bold h4 tw-text-32-px text-white tw-mb-6">
                                   IT Management<br> & Strategy
                                </h2>
                                <p class="fw-semibold tw-text-base text-white tw-mb-8">
                                    Technological innovation, delivering intelligent IT solutions designed to elevate business performance. By seamlessly integrating.
                                </p>
                                <div class="d-flex justify-content-center align-items-center">
                                    <a href="services-details.html" class="tw-w-12 tw-h-12 border-white border rounded-circle d-flex align-items-center justify-content-center tw-text-xl text-white hover-bg-white hover-text-main-600 tw-duration-300">
                                        <i class="ph-bold ph-arrow-right"></i>
                                    </a>
                                </div>
                                <h3 class="tw-text-200-px h6 text-white text-opacity-25 fw-bold position-absolute top-0 tw-end-0 z-n1 tw-line-h-145-px">
                                    02
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="services-four-card group-item position-relative h-100 w-100" data-aos="fade-up" data-aos-duration="900" data-aos-delay="300">
                    <div class="services-four__image position-relative h-100 w-100">
                        <span class="bg-img">
                            <img src="assets/images/thumbs/service-four-img2.png" alt="img" class="w-100">
                        </span>
                        <div class="text-center position-absolute bottom-0 tw-start-0 tw-start-50 translate-middle-x  w-100 tw-mb-10">
                            <span class="tw-mb-4">
                                <img src="assets/images/icon/service-four-icon1.png" alt="icon">
                            </span>
                            <h2 class="fw-bold h4 tw-text-32-px text-white">
                                Web & Mobile App<br>
                                Development
                            </h2>
                        </div>
                    </div>
                    <div class="position-absolute top-0 tw-start-0 w-100 h-100 tw-hidden tw-opacity-0 group-hover-item-visible group-hover-item-opacity-1 tw-duration-300">
                        <div class="services-four__text h-100 w-100">
                            <div class="bg-main-600 tw-rounded-xl text-center tw-py-80-px tw-px-48-px position-relative z-3 animation-item h-100 w-100">
                                <span class="tw-mb-4">
                                    <img src="assets/images/icon/service-four-icon2.png" alt="icon" class="animate__bounce tw-duration-300">
                                </span>
                                <h2 class="fw-bold h4 tw-text-32-px text-white tw-mb-6">
                                   IT Management<br> & Strategy
                                </h2>
                                <p class="fw-semibold tw-text-base text-white tw-mb-8">
                                    Technological innovation, delivering intelligent IT solutions designed to elevate business performance. By seamlessly integrating.
                                </p>
                                <div class="d-flex justify-content-center align-items-center">
                                    <a href="services-details.html" class="tw-w-12 tw-h-12 border-white border rounded-circle d-flex align-items-center justify-content-center tw-text-xl text-white hover-bg-white hover-text-main-600 tw-duration-300">
                                        <i class="ph-bold ph-arrow-right"></i>
                                    </a>
                                </div>
                                <h3 class="tw-text-200-px h6 text-white text-opacity-25 fw-bold position-absolute top-0 tw-end-0 z-n1 tw-line-h-145-px">
                                    03
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ================================ servicde section end ================================ -->