<!-- =========================== services section start =========================== -->
<section>
    <img src="assets/images/shape/service-shape1.png" alt="shape" class="position-absolute top-0 tw-end-0 z-n1">
    <img src="assets/images/shape/service-shape2.png" alt="shape" class="position-absolute bottom-0 tw-start-0 z-n1">
    <div class="py-120 w-100">
        <div class="container">
            <div class="d-flex align-items-center tw-gap-3 justify-content-between flex-wrap tw-mb-15">
                <div class="max-w-440-px w-100">
                    <div class="d-inline-flex align-items-center tw-gap-2 tw-py-2 tw-px-5 rounded-pill border-neutral-700 border tw-mb-5" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                        <span class="tw-w-205 tw-h-205 bg-white rounded-circle"></span>
                        <h3 class="fw-bold h6 tw-text-lg text-white">
                            Service We Provide
                        </h3>
                    </div>
                    <h3 class="fw-bold text-white" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                        Building Confidence Through Innovative IT Solutions.
                    </h3>
                </div>
                <div class="max-w-650-px w-100">
                    <p class="fw-semibold tw-text-base text-white opacity-75 tw-mb-7" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                        For over 25 years, Northway has specialized in IT solutions that empower businesses to adapt, grow, and lead in a digital-first world. By combining deep industry knowledge with innovative approaches, we create value-driven results that last. 
                    </p>
                    <div class="d-flex align-items-center tw-gap-4 flex-wrap" data-aos="fade-up" data-aos-duration="800" data-aos-delay="350">
                        <a href="services-details.html" class="link-group d-inline-flex align-items-center group group-item">
                            <span class="button-icon-one fw-bold bg-main-600 text-white tw-py-3 tw-px-4 tw-rounded-xl tw-text-xl group-hover-bg-white group-hover-item-text-main-600 tw-duration-300">
                                <i class="ph-bold ph-arrow-right"></i>
                            </span>
                            <h2 class="fw-bold h6 bg-main-600 text-white tw-py-4 tw-px-10 tw-rounded-xl group-hover-bg-white group-hover-item-text-main-600 hover-text-main-600 tw-duration-300">
                                Discover More
                            </h2>
                            <span class="button-icon-two fw-bold bg-main-600 text-white tw-py-3 tw-px-4 tw-rounded-xl tw-text-xl group-hover-bg-white group-hover-item-text-main-600 hover-text-main-600 tw-duration-300">
                                <i class="ph-bold ph-arrow-right"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div> 
    
            <div class="bg-white tw-rounded-2xl w-100 tw-p-6 h-100 position-relative">
                <span class="services-card__one tw-w-121-px tw-h-120-px tw-bg-service-two position-absolute top-0 tw-start-0 tw-rounded-2xl"></span> 

                <div class="row gy-4">
                    <div class="col-xxl-3 col-lg-4 col-md-6">
                        <div class="group-item group w-100 h-100 position-relative z-3" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                            <div class="bg-neutral-100 tw-px-5 tw-pt-10 tw-pb-6 tw-rounded-xl tw-duration-500 border-main-600 border-bottom position-relative z-2">
                                <img src="assets/images/bg/services-bg-img1.png" alt="img" class="position-absolute top-0 tw-start-0 w-100 h-100 tw-hidden tw-opacity-0 group-hover-item-visible group-hover-item-opacity-1 tw-duration-300 z-n1">
                                <div class="d-flex align-items-center tw-gap-3 justify-content-between flex-wrap">
                                    <h3 class="fw-semibold h6 text-main-two-600 group-hover-text-white tw-duration-300">
                                        IT & Software<br> Development
                                    </h3>
                                    <div>
                                        <img src="assets/images/icon/services-icon1.png" alt="icon" class="group-hover-item-text-invert-white tw-duration-300">
                                    </div>
                                </div>
                                <span class="w-100 tw-h-px bg-neutral-200 tw-mt-4 mb-3"></span>
                                <p class="fw-medium tw-text-base text-neutral-600 tw-mb-8 group-hover-text-white tw-duration-300"> 
                                    We deliver secure IT systems that protect patient data and optimize workflows.
                                </p>
                                <a href="javascript:void(0)" class="bg-white tw-py-205 tw-px-5 w-100 d-flex align-items-center tw-gap-3 justify-content-center fw-semibold tw-text-xl text-main-600 hover-underline tw-rounded-xl group-hover-text-white tw-duration-300 group-hover-bg-white-15">
                                    Discover More
                                    <span class="tw-text-2xl ">
                                        <i class="ph-bold ph-arrow-right"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-lg-4 col-md-6">
                        <div class="group-item group w-100 h-100 position-relative z-3" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                            <div class="bg-neutral-100 tw-px-5 tw-pt-10 tw-pb-6 tw-rounded-xl tw-duration-500 border-main-600 border-bottom position-relative z-2">
                                <img src="assets/images/bg/services-bg-img1.png" alt="img" class="position-absolute top-0 tw-start-0 w-100 h-100 tw-hidden tw-opacity-0 group-hover-item-visible group-hover-item-opacity-1 tw-duration-300 z-n1">
                                <div class="d-flex align-items-center tw-gap-3 justify-content-between flex-wrap">
                                    <h3 class="fw-semibold h6 text-main-two-600 group-hover-text-white tw-duration-300">
                                        Streamlined Apps<br> Management
                                    </h3>
                                    <div>
                                        <img src="assets/images/icon/services-icon2.png" alt="icon" class="group-hover-item-text-invert-white tw-duration-300">
                                    </div>
                                </div>
                                <span class="w-100 tw-h-px bg-neutral-200 tw-mt-4 mb-3"></span>
                                <p class="fw-medium tw-text-base text-neutral-600 tw-mb-8 group-hover-text-white tw-duration-300"> 
                                    We deliver secure IT systems that protect patient data and optimize workflows.
                                </p>
                                <a href="javascript:void(0)" class="bg-white tw-py-205 tw-px-5 w-100 d-flex align-items-center tw-gap-3 justify-content-center fw-semibold tw-text-xl text-main-600 hover-underline tw-rounded-xl group-hover-text-white tw-duration-300 group-hover-bg-white-15">
                                    Discover More
                                    <span class="tw-text-2xl ">
                                        <i class="ph-bold ph-arrow-right"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-lg-4 col-md-6">
                        <div class="group-item group w-100 h-100 position-relative z-3" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                            <div class="bg-neutral-100 tw-px-5 tw-pt-10 tw-pb-6 tw-rounded-xl tw-duration-500 border-main-600 border-bottom position-relative z-2">
                                <img src="assets/images/bg/services-bg-img1.png" alt="img" class="position-absolute top-0 tw-start-0 w-100 h-100 tw-hidden tw-opacity-0 group-hover-item-visible group-hover-item-opacity-1 tw-duration-300 z-n1">
                                <div class="d-flex align-items-center tw-gap-3 justify-content-between flex-wrap">
                                    <h3 class="fw-semibold h6 text-main-two-600 group-hover-text-white tw-duration-300">
                                        Data Tracking and<br> Security
                                    </h3>
                                    <div>
                                        <img src="assets/images/icon/services-icon3.png" alt="icon" class="group-hover-item-text-invert-white tw-duration-300">
                                    </div>
                                </div>
                                <span class="w-100 tw-h-px bg-neutral-200 tw-mt-4 mb-3"></span>
                                <p class="fw-medium tw-text-base text-neutral-600 tw-mb-8 group-hover-text-white tw-duration-300"> 
                                    We deliver secure IT systems that protect patient data and optimize workflows.
                                </p>
                                <a href="javascript:void(0)" class="bg-white tw-py-205 tw-px-5 w-100 d-flex align-items-center tw-gap-3 justify-content-center fw-semibold tw-text-xl text-main-600 hover-underline tw-rounded-xl group-hover-text-white tw-duration-300 group-hover-bg-white-15">
                                    Discover More
                                    <span class="tw-text-2xl ">
                                        <i class="ph-bold ph-arrow-right"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-lg-4 col-md-6">
                        <div class="group-item group w-100 h-100 position-relative z-3" data-aos="fade-up" data-aos-duration="800" data-aos-delay="350">
                            <div class="bg-neutral-100 tw-px-5 tw-pt-10 tw-pb-6 tw-rounded-xl tw-duration-500 border-main-600 border-bottom position-relative z-2">
                                <img src="assets/images/bg/services-bg-img1.png" alt="img" class="position-absolute top-0 tw-start-0 w-100 h-100 tw-hidden tw-opacity-0 group-hover-item-visible group-hover-item-opacity-1 tw-duration-300 z-n1">
                                <div class="d-flex align-items-center tw-gap-3 justify-content-between flex-wrap">
                                    <h3 class="fw-semibold h6 text-main-two-600 group-hover-text-white tw-duration-300">
                                        UI/UX Design<br> Services
                                    </h3>
                                    <div>
                                        <img src="assets/images/icon/services-icon4.png" alt="icon" class="group-hover-item-text-invert-white tw-duration-300">
                                    </div>
                                </div>
                                <span class="w-100 tw-h-px bg-neutral-200 tw-mt-4 mb-3"></span>
                                <p class="fw-medium tw-text-base text-neutral-600 tw-mb-8 group-hover-text-white tw-duration-300"> 
                                    We deliver secure IT systems that protect patient data and optimize workflows.
                                </p>
                                <a href="javascript:void(0)" class="bg-white tw-py-205 tw-px-5 w-100 d-flex align-items-center tw-gap-3 justify-content-center fw-semibold tw-text-xl text-main-600 hover-underline tw-rounded-xl group-hover-text-white tw-duration-300 group-hover-bg-white-15">
                                    Discover More
                                    <span class="tw-text-2xl ">
                                        <i class="ph-bold ph-arrow-right"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- =========================== services section end =========================== -->