<!-- ============================ service provide section start ============================= -->
<section class="py-120">
    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-4 col-md-6">
                <div class="d-inline-flex align-items-center tw-gap-2 tw-py-3 tw-px-6 border-main-600 border rounded-pill tw-mb-5" data-aos="fade-up" data-aos-duration="900" data-aos-delay="100">
                    <span class="tw-w-205 tw-h-205 bg-main-600 rounded-circle"></span>
                    <h3 class="fw-bold h6 text-main-600">
                        Service We Provide
                    </h3>
                </div>
                <h3 class="fw-bold text-main-two-600 tw-mb-6" data-aos="fade-up" data-aos-duration="900" data-aos-delay="200">
                    Discover IT Auditing & Business Services
                </h3>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="tw-py-10 tw-px-7 border-neutral-300 border tw-rounded-2xl group group-item animation-item">
                    <div class="d-flex align-items-start tw-gap-5 flex-wrap">
                        <span class="tw-w-17 tw-h-17 bg-neutral-30 tw-rounded-lg border-neutral-200 border d-flex align-items-center justify-content-center group-hover-bg-main-600 tw-duration-300">
                            <img src="assets/images/icon/service-provide-icon1.png" alt="icon" class="group-hover-item-text-invert-white tw-duration-300 animate__bounce">
                        </span>
                        <div class="max-w-230-px w-100">
                            <h2 class="fw-bold h5 text-main-two-600 tw-mb-4">
                                <a href="services-details.html">
                                    Web & Mobile App
                                    Development
                                </a>
                            </h2>
                            <p class="fw-semibold tw-text-base text-neutral-500 tw-mb-4">
                                The wise man therefore always
                                doing holding these matters
                            </p>
                            <a href="services-details.html" class="d-flex align-items-center tw-gap-2 ">
                                <h3 class="fw-bold h6 text-main-two-600 group-hover-text-main-600 tw-duration-300">
                                    Read More
                                </h3>
                                <span class="tw-text-2xl text-main-two-600 group-hover-text-main-600 tw-duration-300">
                                    <i class="ph-bold ph-arrow-right"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="tw-py-10 tw-px-7 border-neutral-300 border tw-rounded-2xl group group-item animation-item">
                    <div class="d-flex align-items-start tw-gap-5 flex-wrap">
                        <span class="tw-w-17 tw-h-17 bg-neutral-30 tw-rounded-lg border-neutral-200 border d-flex align-items-center justify-content-center group-hover-bg-main-600 tw-duration-300">
                            <img src="assets/images/icon/service-provide-icon2.png" alt="icon" class="group-hover-item-text-invert-white tw-duration-300 animate__bounce">
                        </span>
                        <div class="max-w-230-px w-100">
                            <h2 class="fw-bold h5 text-main-two-600 tw-mb-4">
                                <a href="services-details.html">
                                   IT Consulting &
                                    Strategy
                                </a>
                            </h2>
                            <p class="fw-semibold tw-text-base text-neutral-500 tw-mb-4">
                                The wise man therefore always
                                doing holding these matters
                            </p>
                            <a href="services-details.html" class="d-flex align-items-center tw-gap-2 ">
                                <h3 class="fw-bold h6 text-main-two-600 group-hover-text-main-600 tw-duration-300">
                                    Read More
                                </h3>
                                <span class="tw-text-2xl text-main-two-600 group-hover-text-main-600 tw-duration-300">
                                    <i class="ph-bold ph-arrow-right"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="tw-py-10 tw-px-7 border-neutral-300 border tw-rounded-2xl group group-item animation-item">
                    <div class="d-flex align-items-start tw-gap-5 flex-wrap">
                        <span class="tw-w-17 tw-h-17 bg-neutral-30 tw-rounded-lg border-neutral-200 border d-flex align-items-center justify-content-center group-hover-bg-main-600 tw-duration-300">
                            <img src="assets/images/icon/service-provide-icon3.png" alt="icon" class="group-hover-item-text-invert-white tw-duration-300 animate__bounce">
                        </span>
                        <div class="max-w-230-px w-100">
                            <h2 class="fw-bold h5 text-main-two-600 tw-mb-4">
                                <a href="services-details.html">
                                  IT Infrastructure
                                    Services
                                </a>
                            </h2>
                            <p class="fw-semibold tw-text-base text-neutral-500 tw-mb-4">
                                The wise man therefore always
                                doing holding these matters
                            </p>
                            <a href="services-details.html" class="d-flex align-items-center tw-gap-2 ">
                                <h3 class="fw-bold h6 text-main-two-600 group-hover-text-main-600 tw-duration-300">
                                    Read More
                                </h3>
                                <span class="tw-text-2xl text-main-two-600 group-hover-text-main-600 tw-duration-300">
                                    <i class="ph-bold ph-arrow-right"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="tw-py-10 tw-px-7 border-neutral-300 border tw-rounded-2xl group group-item animation-item">
                    <div class="d-flex align-items-start tw-gap-5 flex-wrap">
                        <span class="tw-w-17 tw-h-17 bg-neutral-30 tw-rounded-lg border-neutral-200 border d-flex align-items-center justify-content-center group-hover-bg-main-600 tw-duration-300">
                            <img src="assets/images/icon/service-provide-icon4.png" alt="icon" class="group-hover-item-text-invert-white tw-duration-300 animate__bounce">
                        </span>
                        <div class="max-w-230-px w-100">
                            <h2 class="fw-bold h5 text-main-two-600 tw-mb-4">
                                <a href="services-details.html">
                                  AI & Automation
                                  Solutions
                                </a>
                            </h2>
                            <p class="fw-semibold tw-text-base text-neutral-500 tw-mb-4">
                                The wise man therefore always
                                doing holding these matters
                            </p>
                            <a href="services-details.html" class="d-flex align-items-center tw-gap-2 ">
                                <h3 class="fw-bold h6 text-main-two-600 group-hover-text-main-600 tw-duration-300">
                                    Read More
                                </h3>
                                <span class="tw-text-2xl text-main-two-600 group-hover-text-main-600 tw-duration-300">
                                    <i class="ph-bold ph-arrow-right"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="tw-py-10 tw-px-7 border-neutral-300 border tw-rounded-2xl group group-item animation-item">
                    <div class="d-flex align-items-start tw-gap-5 flex-wrap">
                        <span class="tw-w-17 tw-h-17 bg-neutral-30 tw-rounded-lg border-neutral-200 border d-flex align-items-center justify-content-center group-hover-bg-main-600 tw-duration-300">
                            <img src="assets/images/icon/service-provide-icon5.png" alt="icon" class="group-hover-item-text-invert-white tw-duration-300 animate__bounce">
                        </span>
                        <div class="max-w-230-px w-100">
                            <h2 class="fw-bold h5 text-main-two-600 tw-mb-4">
                                <a href="services-details.html">
                                  Data & Analytics
                                  Services
                                </a>
                            </h2>
                            <p class="fw-semibold tw-text-base text-neutral-500 tw-mb-4">
                                The wise man therefore always
                                doing holding these matters
                            </p>
                            <a href="services-details.html" class="d-flex align-items-center tw-gap-2 ">
                                <h3 class="fw-bold h6 text-main-two-600 group-hover-text-main-600 tw-duration-300">
                                    Read More
                                </h3>
                                <span class="tw-text-2xl text-main-two-600 group-hover-text-main-600 tw-duration-300">
                                    <i class="ph-bold ph-arrow-right"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ============================ service provide section end ============================= -->