<!-- ========================== shop section start ========================== -->
<div class="py-120">
    <div class="container">
        <div class="d-flex align-items-center tw-gap-4 justify-content-between flex-wrap tw-mb-15">
            <h3 class="fw-bold h6 text-main-two-600">
                Showing 1-16 of 22 results
            </h3>
            <select class="form-select tw-py-4 tw-px-10 border-neutral-300 border rounded-pill max-w-230-px fw-bold text-main-two-600 tw-text-base">
                <option value="1">Default Sorting</option>
                <option value="1">Discount</option>
                <option value="1">Featured</option>
                <option value="1">Popularity</option>
                <option value="1">Average Rating</option>
                <option value="1">Latest</option>
            </select>
        </div>
        <div class="row gy-4">
            <div class="col-xl-3 col-md-4 col-sm-6">
                <div class="bg-neutral-30 w-100 h-100 tw-rounded-lg group-item">
                    <div class="border-neutral-200 border w-100 tw-pt-10 tw-pb-5 tw-px-7 tw-rounded-lg tw-mb-5 position-relative tw-h-320-px">
                        <span class="d-flex justify-content-center align-items-center tw-mb-4">
                            <img src="assets/images/thumbs/shop-img1.png" alt="img" class="max-w-200-px tw-h-190-px w-100 object-fit-contain">
                        </span>
                        <a href="contact.html" class="fw-medium tw-text-sm text-white bg-main-600 w-100 tw-py-4 tw-px-6 rounded-pill text-center tw-hidden tw-opacity-0 tw-duration-300 group-hover-item-visible group-hover-item-opacity-1">
                            Add To Cart
                        </a>
                        <div class="position-absolute top-0 tw-end-0 tw-mt-4 tw-me-5 tw-hidden tw-opacity-0 tw-duration-300 group-hover-item-visible group-hover-item-opacity-1">
                            <button type="button" class="tw-w-10 tw-h-10 bg-neutral-300 tw-rounded-lg d-flex align-items-center justify-content-center tw-text-lg text-main-two-600 hover-bg-main-600 hover-text-white tw-duration-300 tw-mb-2">
                                <i class="ph-bold ph-eye"></i>
                            </button>
                            <button type="button" class="tw-w-10 tw-h-10 bg-neutral-300 tw-rounded-lg d-flex align-items-center justify-content-center tw-text-lg text-main-two-600 hover-bg-main-600 hover-text-white tw-duration-300 tw-mb-2">
                                <i class="ph-bold ph-star"></i>
                            </button>
                            <button type="button" class="tw-w-10 tw-h-10 bg-neutral-300 tw-rounded-lg d-flex align-items-center justify-content-center tw-text-lg text-main-two-600 hover-bg-main-600 hover-text-white tw-duration-300">
                                <i class="ph-bold ph-arrows-down-up"></i>
                            </button>
                        </div>
                    </div>
                    <div class="text-center tw-pb-10">
                        <div class="d-flex align-items-center justify-content-center tw-gap-1 tw-mb-2">
                            <button type="button" class="tw-text-sm text-warning-600">
                                <i class="ph-fill ph-star"></i>
                            </button>
                            <button type="button" class="tw-text-sm text-warning-600">
                                <i class="ph-fill ph-star"></i>
                            </button>
                            <button type="button" class="tw-text-sm text-warning-600">
                                <i class="ph-fill ph-star"></i>
                            </button>
                            <button type="button" class="tw-text-sm text-warning-600">
                                <i class="ph-fill ph-star"></i>
                            </button>
                            <button type="button" class="tw-text-sm text-neutral-400">
                                <i class="ph-fill ph-star"></i>
                            </button>
                        </div>
                        <h3  class="fw-bold h6 text-main-two-600 tw-mb-1">
                            Digital lamp
                        </h3>
                        <h3  class="fw-bold h6 text-main-two-600 ">
                            $142.00
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-4 col-sm-6">
                <div class="bg-neutral-30 w-100 h-100 tw-rounded-lg group-item">
                    <div class="border-neutral-200 border w-100 tw-pt-10 tw-pb-5 tw-px-7 tw-rounded-lg tw-mb-5 position-relative tw-h-320-px">
                        <span class="d-flex justify-content-center align-items-center tw-mb-4">
                            <img src="assets/images/thumbs/shop-img2.png" alt="img" class="max-w-200-px tw-h-190-px w-100 object-fit-contain">
                        </span>
                        <a href="contact.html" class="fw-medium tw-text-sm text-white bg-main-600 w-100 tw-py-4 tw-px-6 rounded-pill text-center tw-hidden tw-opacity-0 tw-duration-300 group-hover-item-visible group-hover-item-opacity-1">
                            Add To Cart
                        </a>
                        <div class="position-absolute top-0 tw-end-0 tw-mt-4 tw-me-5 tw-hidden tw-opacity-0 tw-duration-300 group-hover-item-visible group-hover-item-opacity-1">
                            <button type="button" class="tw-w-10 tw-h-10 bg-neutral-300 tw-rounded-lg d-flex align-items-center justify-content-center tw-text-lg text-main-two-600 hover-bg-main-600 hover-text-white tw-duration-300 tw-mb-2">
                                <i class="ph-bold ph-eye"></i>
                            </button>
                            <button type="button" class="tw-w-10 tw-h-10 bg-neutral-300 tw-rounded-lg d-flex align-items-center justify-content-center tw-text-lg text-main-two-600 hover-bg-main-600 hover-text-white tw-duration-300 tw-mb-2">
                                <i class="ph-bold ph-star"></i>
                            </button>
                            <button type="button" class="tw-w-10 tw-h-10 bg-neutral-300 tw-rounded-lg d-flex align-items-center justify-content-center tw-text-lg text-main-two-600 hover-bg-main-600 hover-text-white tw-duration-300">
                                <i class="ph-bold ph-arrows-down-up"></i>
                            </button>
                        </div>
                    </div>
                    <div class="text-center tw-pb-10">
                        <div class="d-flex align-items-center justify-content-center tw-gap-1 tw-mb-2">
                            <button type="button" class="tw-text-sm text-warning-600">
                                <i class="ph-fill ph-star"></i>
                            </button>
                            <button type="button" class="tw-text-sm text-warning-600">
                                <i class="ph-fill ph-star"></i>
                            </button>
                            <button type="button" class="tw-text-sm text-warning-600">
                                <i class="ph-fill ph-star"></i>
                            </button>
                            <button type="button" class="tw-text-sm text-warning-600">
                                <i class="ph-fill ph-star"></i>
                            </button>
                            <button type="button" class="tw-text-sm text-neutral-400">
                                <i class="ph-fill ph-star"></i>
                            </button>
                        </div>
                        <h3  class="fw-bold h6 text-main-two-600 tw-mb-1">
                            Fan
                        </h3>
                        <h3  class="fw-bold h6 text-main-two-600 ">
                            $322.00
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-4 col-sm-6">
                <div class="bg-neutral-30 w-100 h-100 tw-rounded-lg group-item">
                    <div class="border-neutral-200 border w-100 tw-pt-10 tw-pb-5 tw-px-7 tw-rounded-lg tw-mb-5 position-relative tw-h-320-px">
                        <span class="d-flex justify-content-center align-items-center tw-mb-4">
                            <img src="assets/images/thumbs/shop-img3.png" alt="img" class="max-w-200-px tw-h-190-px w-100 object-fit-contain">
                        </span>
                        <a href="contact.html" class="fw-medium tw-text-sm text-white bg-main-600 w-100 tw-py-4 tw-px-6 rounded-pill text-center tw-hidden tw-opacity-0 tw-duration-300 group-hover-item-visible group-hover-item-opacity-1">
                            Add To Cart
                        </a>
                        <div class="position-absolute top-0 tw-end-0 tw-mt-4 tw-me-5 tw-hidden tw-opacity-0 tw-duration-300 group-hover-item-visible group-hover-item-opacity-1">
                            <button type="button" class="tw-w-10 tw-h-10 bg-neutral-300 tw-rounded-lg d-flex align-items-center justify-content-center tw-text-lg text-main-two-600 hover-bg-main-600 hover-text-white tw-duration-300 tw-mb-2">
                                <i class="ph-bold ph-eye"></i>
                            </button>
                            <button type="button" class="tw-w-10 tw-h-10 bg-neutral-300 tw-rounded-lg d-flex align-items-center justify-content-center tw-text-lg text-main-two-600 hover-bg-main-600 hover-text-white tw-duration-300 tw-mb-2">
                                <i class="ph-bold ph-star"></i>
                            </button>
                            <button type="button" class="tw-w-10 tw-h-10 bg-neutral-300 tw-rounded-lg d-flex align-items-center justify-content-center tw-text-lg text-main-two-600 hover-bg-main-600 hover-text-white tw-duration-300">
                                <i class="ph-bold ph-arrows-down-up"></i>
                            </button>
                        </div>
                    </div>
                    <div class="text-center tw-pb-10">
                        <div class="d-flex align-items-center justify-content-center tw-gap-1 tw-mb-2">
                            <button type="button" class="tw-text-sm text-warning-600">
                                <i class="ph-fill ph-star"></i>
                            </button>
                            <button type="button" class="tw-text-sm text-warning-600">
                                <i class="ph-fill ph-star"></i>
                            </button>
                            <button type="button" class="tw-text-sm text-warning-600">
                                <i class="ph-fill ph-star"></i>
                            </button>
                            <button type="button" class="tw-text-sm text-warning-600">
                                <i class="ph-fill ph-star"></i>
                            </button>
                            <button type="button" class="tw-text-sm text-neutral-400">
                                <i class="ph-fill ph-star"></i>
                            </button>
                        </div>
                        <h3  class="fw-bold h6 text-main-two-600 tw-mb-1">
                            Cooler
                        </h3>
                        <h3  class="fw-bold h6 text-main-two-600 ">
                            $222.00
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-4 col-sm-6">
                <div class="bg-neutral-30 w-100 h-100 tw-rounded-lg group-item">
                    <div class="border-neutral-200 border w-100 tw-pt-10 tw-pb-5 tw-px-7 tw-rounded-lg tw-mb-5 position-relative tw-h-320-px">
                        <span class="d-flex justify-content-center align-items-center tw-mb-4">
                            <img src="assets/images/thumbs/shop-img4.png" alt="img" class="max-w-200-px tw-h-190-px w-100 object-fit-contain">
                        </span>
                        <a href="contact.html" class="fw-medium tw-text-sm text-white bg-main-600 w-100 tw-py-4 tw-px-6 rounded-pill text-center tw-hidden tw-opacity-0 tw-duration-300 group-hover-item-visible group-hover-item-opacity-1">
                            Add To Cart
                        </a>
                        <div class="position-absolute top-0 tw-end-0 tw-mt-4 tw-me-5 tw-hidden tw-opacity-0 tw-duration-300 group-hover-item-visible group-hover-item-opacity-1">
                            <button type="button" class="tw-w-10 tw-h-10 bg-neutral-300 tw-rounded-lg d-flex align-items-center justify-content-center tw-text-lg text-main-two-600 hover-bg-main-600 hover-text-white tw-duration-300 tw-mb-2">
                                <i class="ph-bold ph-eye"></i>
                            </button>
                            <button type="button" class="tw-w-10 tw-h-10 bg-neutral-300 tw-rounded-lg d-flex align-items-center justify-content-center tw-text-lg text-main-two-600 hover-bg-main-600 hover-text-white tw-duration-300 tw-mb-2">
                                <i class="ph-bold ph-star"></i>
                            </button>
                            <button type="button" class="tw-w-10 tw-h-10 bg-neutral-300 tw-rounded-lg d-flex align-items-center justify-content-center tw-text-lg text-main-two-600 hover-bg-main-600 hover-text-white tw-duration-300">
                                <i class="ph-bold ph-arrows-down-up"></i>
                            </button>
                        </div>
                    </div>
                    <div class="text-center tw-pb-10">
                        <div class="d-flex align-items-center justify-content-center tw-gap-1 tw-mb-2">
                            <button type="button" class="tw-text-sm text-warning-600">
                                <i class="ph-fill ph-star"></i>
                            </button>
                            <button type="button" class="tw-text-sm text-warning-600">
                                <i class="ph-fill ph-star"></i>
                            </button>
                            <button type="button" class="tw-text-sm text-warning-600">
                                <i class="ph-fill ph-star"></i>
                            </button>
                            <button type="button" class="tw-text-sm text-warning-600">
                                <i class="ph-fill ph-star"></i>
                            </button>
                            <button type="button" class="tw-text-sm text-neutral-400">
                                <i class="ph-fill ph-star"></i>
                            </button>
                        </div>
                        <h3  class="fw-bold h6 text-main-two-600 tw-mb-1">
                            table-lamp 1
                        </h3>
                        <h3  class="fw-bold h6 text-main-two-600 ">
                            $402.00
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-4 col-sm-6">
                <div class="bg-neutral-30 w-100 h-100 tw-rounded-lg group-item">
                    <div class="border-neutral-200 border w-100 tw-pt-10 tw-pb-5 tw-px-7 tw-rounded-lg tw-mb-5 position-relative tw-h-320-px">
                        <span class="d-flex justify-content-center align-items-center tw-mb-4">
                            <img src="assets/images/thumbs/shop-img5.png" alt="img" class="max-w-200-px tw-h-190-px w-100 object-fit-contain">
                        </span>
                        <a href="contact.html" class="fw-medium tw-text-sm text-white bg-main-600 w-100 tw-py-4 tw-px-6 rounded-pill text-center tw-hidden tw-opacity-0 tw-duration-300 group-hover-item-visible group-hover-item-opacity-1">
                            Add To Cart
                        </a>
                        <div class="position-absolute top-0 tw-end-0 tw-mt-4 tw-me-5 tw-hidden tw-opacity-0 tw-duration-300 group-hover-item-visible group-hover-item-opacity-1">
                            <button type="button" class="tw-w-10 tw-h-10 bg-neutral-300 tw-rounded-lg d-flex align-items-center justify-content-center tw-text-lg text-main-two-600 hover-bg-main-600 hover-text-white tw-duration-300 tw-mb-2">
                                <i class="ph-bold ph-eye"></i>
                            </button>
                            <button type="button" class="tw-w-10 tw-h-10 bg-neutral-300 tw-rounded-lg d-flex align-items-center justify-content-center tw-text-lg text-main-two-600 hover-bg-main-600 hover-text-white tw-duration-300 tw-mb-2">
                                <i class="ph-bold ph-star"></i>
                            </button>
                            <button type="button" class="tw-w-10 tw-h-10 bg-neutral-300 tw-rounded-lg d-flex align-items-center justify-content-center tw-text-lg text-main-two-600 hover-bg-main-600 hover-text-white tw-duration-300">
                                <i class="ph-bold ph-arrows-down-up"></i>
                            </button>
                        </div>
                    </div>
                    <div class="text-center tw-pb-10">
                        <div class="d-flex align-items-center justify-content-center tw-gap-1 tw-mb-2">
                            <button type="button" class="tw-text-sm text-warning-600">
                                <i class="ph-fill ph-star"></i>
                            </button>
                            <button type="button" class="tw-text-sm text-warning-600">
                                <i class="ph-fill ph-star"></i>
                            </button>
                            <button type="button" class="tw-text-sm text-warning-600">
                                <i class="ph-fill ph-star"></i>
                            </button>
                            <button type="button" class="tw-text-sm text-warning-600">
                                <i class="ph-fill ph-star"></i>
                            </button>
                            <button type="button" class="tw-text-sm text-neutral-400">
                                <i class="ph-fill ph-star"></i>
                            </button>
                        </div>
                        <h3  class="fw-bold h6 text-main-two-600 tw-mb-1">
                            Black Lamp
                        </h3>
                        <h3  class="fw-bold h6 text-main-two-600 ">
                            $140.00
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-4 col-sm-6">
                <div class="bg-neutral-30 w-100 h-100 tw-rounded-lg group-item">
                    <div class="border-neutral-200 border w-100 tw-pt-10 tw-pb-5 tw-px-7 tw-rounded-lg tw-mb-5 position-relative tw-h-320-px">
                        <span class="d-flex justify-content-center align-items-center tw-mb-4">
                            <img src="assets/images/thumbs/shop-img6.png" alt="img" class="max-w-200-px tw-h-190-px w-100 object-fit-contain">
                        </span>
                        <a href="contact.html" class="fw-medium tw-text-sm text-white bg-main-600 w-100 tw-py-4 tw-px-6 rounded-pill text-center tw-hidden tw-opacity-0 tw-duration-300 group-hover-item-visible group-hover-item-opacity-1">
                            Add To Cart
                        </a>
                        <div class="position-absolute top-0 tw-end-0 tw-mt-4 tw-me-5 tw-hidden tw-opacity-0 tw-duration-300 group-hover-item-visible group-hover-item-opacity-1">
                            <button type="button" class="tw-w-10 tw-h-10 bg-neutral-300 tw-rounded-lg d-flex align-items-center justify-content-center tw-text-lg text-main-two-600 hover-bg-main-600 hover-text-white tw-duration-300 tw-mb-2">
                                <i class="ph-bold ph-eye"></i>
                            </button>
                            <button type="button" class="tw-w-10 tw-h-10 bg-neutral-300 tw-rounded-lg d-flex align-items-center justify-content-center tw-text-lg text-main-two-600 hover-bg-main-600 hover-text-white tw-duration-300 tw-mb-2">
                                <i class="ph-bold ph-star"></i>
                            </button>
                            <button type="button" class="tw-w-10 tw-h-10 bg-neutral-300 tw-rounded-lg d-flex align-items-center justify-content-center tw-text-lg text-main-two-600 hover-bg-main-600 hover-text-white tw-duration-300">
                                <i class="ph-bold ph-arrows-down-up"></i>
                            </button>
                        </div>
                    </div>
                    <div class="text-center tw-pb-10">
                        <div class="d-flex align-items-center justify-content-center tw-gap-1 tw-mb-2">
                            <button type="button" class="tw-text-sm text-warning-600">
                                <i class="ph-fill ph-star"></i>
                            </button>
                            <button type="button" class="tw-text-sm text-warning-600">
                                <i class="ph-fill ph-star"></i>
                            </button>
                            <button type="button" class="tw-text-sm text-warning-600">
                                <i class="ph-fill ph-star"></i>
                            </button>
                            <button type="button" class="tw-text-sm text-warning-600">
                                <i class="ph-fill ph-star"></i>
                            </button>
                            <button type="button" class="tw-text-sm text-neutral-400">
                                <i class="ph-fill ph-star"></i>
                            </button>
                        </div>
                        <h3  class="fw-bold h6 text-main-two-600 tw-mb-1">
                            cctv security camera
                        </h3>
                        <h3  class="fw-bold h6 text-main-two-600 ">
                            $152.00
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-4 col-sm-6">
                <div class="bg-neutral-30 w-100 h-100 tw-rounded-lg group-item">
                    <div class="border-neutral-200 border w-100 tw-pt-10 tw-pb-5 tw-px-7 tw-rounded-lg tw-mb-5 position-relative tw-h-320-px">
                        <span class="d-flex justify-content-center align-items-center tw-mb-4">
                            <img src="assets/images/thumbs/shop-img7.png" alt="img" class="max-w-200-px tw-h-190-px w-100 object-fit-contain">
                        </span>
                        <a href="contact.html" class="fw-medium tw-text-sm text-white bg-main-600 w-100 tw-py-4 tw-px-6 rounded-pill text-center tw-hidden tw-opacity-0 tw-duration-300 group-hover-item-visible group-hover-item-opacity-1">
                            Add To Cart
                        </a>
                        <div class="position-absolute top-0 tw-end-0 tw-mt-4 tw-me-5 tw-hidden tw-opacity-0 tw-duration-300 group-hover-item-visible group-hover-item-opacity-1">
                            <button type="button" class="tw-w-10 tw-h-10 bg-neutral-300 tw-rounded-lg d-flex align-items-center justify-content-center tw-text-lg text-main-two-600 hover-bg-main-600 hover-text-white tw-duration-300 tw-mb-2">
                                <i class="ph-bold ph-eye"></i>
                            </button>
                            <button type="button" class="tw-w-10 tw-h-10 bg-neutral-300 tw-rounded-lg d-flex align-items-center justify-content-center tw-text-lg text-main-two-600 hover-bg-main-600 hover-text-white tw-duration-300 tw-mb-2">
                                <i class="ph-bold ph-star"></i>
                            </button>
                            <button type="button" class="tw-w-10 tw-h-10 bg-neutral-300 tw-rounded-lg d-flex align-items-center justify-content-center tw-text-lg text-main-two-600 hover-bg-main-600 hover-text-white tw-duration-300">
                                <i class="ph-bold ph-arrows-down-up"></i>
                            </button>
                        </div>
                    </div>
                    <div class="text-center tw-pb-10">
                        <div class="d-flex align-items-center justify-content-center tw-gap-1 tw-mb-2">
                            <button type="button" class="tw-text-sm text-warning-600">
                                <i class="ph-fill ph-star"></i>
                            </button>
                            <button type="button" class="tw-text-sm text-warning-600">
                                <i class="ph-fill ph-star"></i>
                            </button>
                            <button type="button" class="tw-text-sm text-warning-600">
                                <i class="ph-fill ph-star"></i>
                            </button>
                            <button type="button" class="tw-text-sm text-warning-600">
                                <i class="ph-fill ph-star"></i>
                            </button>
                            <button type="button" class="tw-text-sm text-neutral-400">
                                <i class="ph-fill ph-star"></i>
                            </button>
                        </div>
                        <h3  class="fw-bold h6 text-main-two-600 tw-mb-1">
                            CCTV monitor
                        </h3>
                        <h3  class="fw-bold h6 text-main-two-600 ">
                            $242.00
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-4 col-sm-6">
                <div class="bg-neutral-30 w-100 h-100 tw-rounded-lg group-item">
                    <div class="border-neutral-200 border w-100 tw-pt-10 tw-pb-5 tw-px-7 tw-rounded-lg tw-mb-5 position-relative tw-h-320-px">
                        <span class="d-flex justify-content-center align-items-center tw-mb-4">
                            <img src="assets/images/thumbs/shop-img8.png" alt="img" class="max-w-200-px tw-h-190-px w-100 object-fit-contain">
                        </span>
                        <a href="contact.html" class="fw-medium tw-text-sm text-white bg-main-600 w-100 tw-py-4 tw-px-6 rounded-pill text-center tw-hidden tw-opacity-0 tw-duration-300 group-hover-item-visible group-hover-item-opacity-1">
                            Add To Cart
                        </a>
                        <div class="position-absolute top-0 tw-end-0 tw-mt-4 tw-me-5 tw-hidden tw-opacity-0 tw-duration-300 group-hover-item-visible group-hover-item-opacity-1">
                            <button type="button" class="tw-w-10 tw-h-10 bg-neutral-300 tw-rounded-lg d-flex align-items-center justify-content-center tw-text-lg text-main-two-600 hover-bg-main-600 hover-text-white tw-duration-300 tw-mb-2">
                                <i class="ph-bold ph-eye"></i>
                            </button>
                            <button type="button" class="tw-w-10 tw-h-10 bg-neutral-300 tw-rounded-lg d-flex align-items-center justify-content-center tw-text-lg text-main-two-600 hover-bg-main-600 hover-text-white tw-duration-300 tw-mb-2">
                                <i class="ph-bold ph-star"></i>
                            </button>
                            <button type="button" class="tw-w-10 tw-h-10 bg-neutral-300 tw-rounded-lg d-flex align-items-center justify-content-center tw-text-lg text-main-two-600 hover-bg-main-600 hover-text-white tw-duration-300">
                                <i class="ph-bold ph-arrows-down-up"></i>
                            </button>
                        </div>
                    </div>
                    <div class="text-center tw-pb-10">
                        <div class="d-flex align-items-center justify-content-center tw-gap-1 tw-mb-2">
                            <button type="button" class="tw-text-sm text-warning-600">
                                <i class="ph-fill ph-star"></i>
                            </button>
                            <button type="button" class="tw-text-sm text-warning-600">
                                <i class="ph-fill ph-star"></i>
                            </button>
                            <button type="button" class="tw-text-sm text-warning-600">
                                <i class="ph-fill ph-star"></i>
                            </button>
                            <button type="button" class="tw-text-sm text-warning-600">
                                <i class="ph-fill ph-star"></i>
                            </button>
                            <button type="button" class="tw-text-sm text-neutral-400">
                                <i class="ph-fill ph-star"></i>
                            </button>
                        </div>
                        <h3  class="fw-bold h6 text-main-two-600 tw-mb-1">
                            Watch box
                        </h3>
                        <h3  class="fw-bold h6 text-main-two-600 ">
                            $342.00
                        </h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex align-items-center tw-gap-3 flex-wrap justify-content-center tw-mt-12">
            <button type="button" class="tw-w-12 tw-h-12 border-neutral-200 border rounded-circle d-flex align-items-center justify-content-center tw-text-base text-main-two-600 hover-bg-main-600 hover-text-white tw-duration-300">
                <i class="ph-bold ph-caret-double-left"></i>
            </button>
            <button type="button" class="tw-w-12 tw-h-12 border-neutral-200 border rounded-circle d-flex align-items-center justify-content-center tw-text-base text-main-two-600 hover-bg-main-600 hover-text-white tw-duration-300">
                1
            </button>
            <button type="button" class="tw-w-12 tw-h-12 border-neutral-200 border rounded-circle d-flex align-items-center justify-content-center tw-text-base text-main-two-600 hover-bg-main-600 hover-text-white tw-duration-300">
                2
            </button>
            <button type="button" class="tw-w-12 tw-h-12 border-neutral-200 border rounded-circle d-flex align-items-center justify-content-center tw-text-base text-main-two-600 hover-bg-main-600 hover-text-white tw-duration-300">
                3
            </button>
            <button type="button" class="tw-w-12 tw-h-12 border-neutral-200 border rounded-circle d-flex align-items-center justify-content-center tw-text-base text-main-two-600 hover-bg-main-600 hover-text-white tw-duration-300">
                <i class="ph-bold ph-caret-double-right"></i>
            </button>
        </div>
    </div>
</div>
<!-- ========================== shop section end ========================== -->