<!-- ============================= team details section start =========================== -->
<div class="py-120">
    <div class="container">
        <div class="bg-neutral-30 tw-rounded-lg tw-p-6 tw-mb-17">
            <div class="d-flex align-items-center tw-gap-5 flex-wrap">
                <span>
                    <img src="assets/images/thumbs/team-details-img1.png" alt="img">
                </span>
                <div class="max-w-760-px w-100">
                    <span class="fw-semibold text-black text-main-two-600 tw-mb-4">
                        Design Specialist
                    </span>
                    <h2 class="fw-semibold text-main-two-600 tw-text-36-px tw-mb-5">
                        Gardenwithjonny
                    </h2>
                    <p class="fw-medium tw-text-base text-neutral-600 tw-mb-15">
                        Vehicula duis tempus porttitor lacus morbi pharetra neque pretium enim urna riiculus nibh, mus class arcu magna ornare orci mollis. Posuere quam eget non mollis platea habitasse cras feugiat.
                    </p>
                    <div class="d-flex align-items-center tw-gap-3 justify-content-between flex-wrap tw-mb-7">
                        <div class="d-flex align-items-center tw-gap-3 flex-wrap">
                            <span class="tw-w-13 tw-h-13 bg-white rounded-circle d-flex align-items-center justify-content-center tw-text-2xl text-main-two-600">
                                <i class="ph-bold ph-envelope"></i>
                            </span>
                            <div>
                                <span class="fw-semibold tw-text-base text-neutral-600 tw-mb-3">
                                    Email Address
                                </span>
                                <h3 class="h6">
                                    <a href="mailto:example@mail.com" class="fw-semibold text-main-two-600">
                                        example@mail.com
                                    </a>
                                </h3>
                            </div>
                        </div>
                        <div class="d-flex align-items-center tw-gap-3 flex-wrap">
                            <span class="tw-w-13 tw-h-13 bg-white rounded-circle d-flex align-items-center justify-content-center tw-text-2xl text-main-two-600">
                                <i class="ph-bold ph-phone-call"></i>
                            </span>
                            <div>
                                <span class="fw-semibold tw-text-base text-neutral-600 tw-mb-3">
                                    Phone Number
                                </span>
                                <h3 class="h6">
                                    <a href="tel:+1232154.21568" class="fw-semibold text-main-two-600">
                                        +123 2154.21568
                                    </a>
                                </h3>
                            </div>
                        </div>
                        <div class="d-flex align-items-center tw-gap-3 flex-wrap">
                            <span class="tw-w-13 tw-h-13 bg-white rounded-circle d-flex align-items-center justify-content-center tw-text-2xl text-main-two-600">
                                <i class="ph-bold ph-map-pin"></i>
                            </span>
                            <div>
                                <span class="fw-semibold tw-text-base text-neutral-600 tw-mb-3">
                                    Office Location
                                </span>
                                <h3 class="fw-semibold text-main-two-600 h6">
                                    455 West Orchard Street
                                </h3>
                            </div>
                        </div>
                    </div>
                    <ul class="d-flex align-items-center tw-gap-2">
                        <li>
                            <a href="https://www.facebook.com/" class="tw-w-9 tw-h-9 border-main-600 border tw-rounded-lg tw-text-lg text-main-600 d-flex align-items-center justify-content-center hover-bg-main-600 hover-text-white tw-duration-300">
                                <i class="ph-bold ph-facebook-logo"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.twitter.com/" class="tw-w-9 tw-h-9 border-main-600 border tw-rounded-lg tw-text-lg text-main-600 d-flex align-items-center justify-content-center hover-bg-main-600 hover-text-white tw-duration-300">
                                <i class="ph-fill ph-twitter-logo"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/" class="tw-w-9 tw-h-9 border-main-600 border tw-rounded-lg tw-text-lg text-main-600 d-flex align-items-center justify-content-center hover-bg-main-600 hover-text-white tw-duration-300">
                                <i class="ph-bold ph-linkedin-logo"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/" class="tw-w-9 tw-h-9 border-main-600 border tw-rounded-lg tw-text-lg text-main-600 d-flex align-items-center justify-content-center hover-bg-main-600 hover-text-white tw-duration-300">
                                <i class="ph-fill ph-youtube-logo"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row gy-5">
            <div class="col-md-6">
                <h2 class="fw-bold h5 text-main-two-600 tw-mb-6">
                    Professional Info
                </h2>
                <p class="fw-normal tw-text-base text-neutral-600 tw-mb-6">
                    Consectetur adipisicing elit, sed do eiusmod tempor is incididunt ut labore et dolore of magna aliqua. Ut enim ad minim veniam, made of owl the quis nostrud exercitation ullamco laboris nisi ut aliquip
                </p>
                <p class="fw-normal tw-text-base text-neutral-600 tw-mb-6">
                    The is ipsum dolor sit amet consectetur adipiscing elit. Fusce eleifend porta arcu In hac augu ehabitasse the is platea augue thelorem turpoi dictumst. In lacus libero faucibus
                </p>
            </div>
            <div class="col-md-6">
                <div class="tw-mb-5" data-aos="fade-up" data-aos-duration="900" data-aos-delay="330">
                    <h3 class="text-xl h6 fw-bold tw-mb-3 d-block text-heading text-capitalize cursor-small">
                        Creativity
                    </h3>
                    <div class="progress-container style-yellow" data-percentage="86">
                        <div class="progress active"></div>
                        <div class="percentage active cursor-small">0%</div>  
                    </div>
                </div>
                <div class="tw-mb-5" data-aos="fade-up" data-aos-duration="900" data-aos-delay="360">
                    <h3 class="text-xl h6 fw-bold tw-mb-3 d-block text-heading text-capitalize cursor-small">
                       Time Management
                    </h3>
                    <div class="progress-container style-yellow" data-percentage="76">
                        <div class="progress active"></div>
                        <div class="percentage active cursor-small">0%</div>  
                    </div>
                </div>
                <div class="tw-mb-5" data-aos="fade-up" data-aos-duration="900" data-aos-delay="390">
                    <h3 class="text-xl h6 fw-bold tw-mb-3 d-block text-heading text-capitalize cursor-small">
                        Art and Carft
                    </h3>
                    <div class="progress-container style-yellow" data-percentage="66">
                        <div class="progress active"></div>
                        <div class="percentage active cursor-small">0%</div>  
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ============================= team details section end =========================== -->