<!-- ========================= our team two section start ========================= -->
<section class="py-120">
    <div class="container max-w-1550-px">
        <div class="d-flex align-items-center tw-gap-4 justify-content-between flex-wrap tw-mb-12">
            <div class="max-w-480-px w-100" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                <div class="d-inline-flex align-items-center tw-gap-2 tw-py-2 tw-px-5 border-main-50 border rounded-pill tw-mb-5">
                    <span class="tw-w-205 tw-h-205 bg-main-600 rounded-circle"></span>
                    <h2 class="fw-bold h6 text-main-600">
                        Meet Our Team
                    </h2>
                </div>
                <h3 class="fw-bold text-main-two-600">
                    See Our IT Professional Staff For you
                </h3>
            </div>
            <a href="team-details.html" class="link-group d-inline-flex align-items-center group group-item">
                <span class="button-icon-one fw-bold bg-main-600 text-white tw-py-3 tw-px-4 tw-rounded-xl tw-text-xl group-hover-bg-black tw-duration-300">
                <i class="ph-bold ph-arrow-right"></i>
                </span>
                <h2 class="fw-bold h6 bg-main-600 text-white tw-py-4 tw-px-10 tw-rounded-xl group-hover-bg-black tw-duration-300">
                    See All Members
                </h2>
                <span class="button-icon-two fw-bold bg-main-600 text-white tw-py-3 tw-px-4 tw-rounded-xl tw-text-xl group-hover-bg-black tw-duration-300">
                <i class="ph-bold ph-arrow-right"></i>
                </span>
            </a>
        </div>
        <div class="row gy-4">
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="team-two-card" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                    <div class="position-relative tw-mb-7">
                        <span class="w-100 tw-p-205 border-neutral-300 border tw-rounded-xl">
                            <img src="assets/images/thumbs/team-about-img1.png" alt="img" class="w-100">
                        </span>
                        <div class="team-two-card-icon">
                            <ul class="d-flex align-items-center tw-gap-2 position-absolute translate-middle-x mx-auto tw-start-50 bottom-0 tw-start-0 tw-mb-7">
                                <li>
                                    <a href="https://www.facebook.com/" class="tw-w-11 tw-h-11 bg-white tw-text-lg text-main-two-600 tw-rounded-md d-flex align-items-center justify-content-center hover-bg-main-600 hover-text-white tw-duration-300">
                                        <i class="ph-bold ph-facebook-logo"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.twitter.com/" class="tw-w-11 tw-h-11 bg-white tw-text-lg text-main-two-600 tw-rounded-md d-flex align-items-center justify-content-center hover-bg-main-600 hover-text-white tw-duration-300">
                                        <i class="ph-fill ph-twitter-logo"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.youtube.com/" class="tw-w-11 tw-h-11 bg-white tw-text-lg text-main-two-600 tw-rounded-md d-flex align-items-center justify-content-center hover-bg-main-600 hover-text-white tw-duration-300">
                                        <i class="ph-fill ph-youtube-logo"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/" class="tw-w-11 tw-h-11 bg-white tw-text-lg text-main-two-600 tw-rounded-md d-flex align-items-center justify-content-center hover-bg-main-600 hover-text-white tw-duration-300">
                                        <i class="ph-bold ph-linkedin-logo"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="text-center">
                        <h3 class="h5">
                            <a href="team-details.html" class="fw-bold text-main-two-600 tw-mb-2">
                                Michael Lacefield
                            </a>
                        </h3>
                        <span class="fw-medium tw-text-lg text-neutral-600">
                            CEO & Founder
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="team-two-card" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                    <div class="position-relative tw-mb-7">
                        <span class="w-100 tw-p-205 border-neutral-300 border tw-rounded-xl">
                            <img src="assets/images/thumbs/team-about-img2.png" alt="img" class="w-100">
                        </span>
                        <div class="team-two-card-icon">
                            <ul class="d-flex align-items-center tw-gap-2 position-absolute translate-middle-x mx-auto tw-start-50 bottom-0 tw-start-0 tw-mb-7">
                                <li>
                                    <a href="https://www.facebook.com/" class="tw-w-11 tw-h-11 bg-white tw-text-lg text-main-two-600 tw-rounded-md d-flex align-items-center justify-content-center hover-bg-main-600 hover-text-white tw-duration-300">
                                        <i class="ph-bold ph-facebook-logo"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.twitter.com/" class="tw-w-11 tw-h-11 bg-white tw-text-lg text-main-two-600 tw-rounded-md d-flex align-items-center justify-content-center hover-bg-main-600 hover-text-white tw-duration-300">
                                        <i class="ph-fill ph-twitter-logo"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.youtube.com/" class="tw-w-11 tw-h-11 bg-white tw-text-lg text-main-two-600 tw-rounded-md d-flex align-items-center justify-content-center hover-bg-main-600 hover-text-white tw-duration-300">
                                        <i class="ph-fill ph-youtube-logo"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/" class="tw-w-11 tw-h-11 bg-white tw-text-lg text-main-two-600 tw-rounded-md d-flex align-items-center justify-content-center hover-bg-main-600 hover-text-white tw-duration-300">
                                        <i class="ph-bold ph-linkedin-logo"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="text-center">
                        <h3 class="h5">
                            <a href="team-details.html" class="fw-bold text-main-two-600 tw-mb-2">
                                Gardenwithjonny
                            </a>
                        </h3>
                        <span class="fw-medium tw-text-lg text-neutral-600">
                           Software Engineer
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="team-two-card" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                    <div class="position-relative tw-mb-7">
                        <span class="w-100 tw-p-205 border-neutral-300 border tw-rounded-xl">
                            <img src="assets/images/thumbs/team-about-img3.png" alt="img" class="w-100">
                        </span>
                        <div class="team-two-card-icon">
                            <ul class="d-flex align-items-center tw-gap-2 position-absolute translate-middle-x mx-auto tw-start-50 bottom-0 tw-start-0 tw-mb-7">
                                <li>
                                    <a href="https://www.facebook.com/" class="tw-w-11 tw-h-11 bg-white tw-text-lg text-main-two-600 tw-rounded-md d-flex align-items-center justify-content-center hover-bg-main-600 hover-text-white tw-duration-300">
                                        <i class="ph-bold ph-facebook-logo"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.twitter.com/" class="tw-w-11 tw-h-11 bg-white tw-text-lg text-main-two-600 tw-rounded-md d-flex align-items-center justify-content-center hover-bg-main-600 hover-text-white tw-duration-300">
                                        <i class="ph-fill ph-twitter-logo"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.youtube.com/" class="tw-w-11 tw-h-11 bg-white tw-text-lg text-main-two-600 tw-rounded-md d-flex align-items-center justify-content-center hover-bg-main-600 hover-text-white tw-duration-300">
                                        <i class="ph-fill ph-youtube-logo"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/" class="tw-w-11 tw-h-11 bg-white tw-text-lg text-main-two-600 tw-rounded-md d-flex align-items-center justify-content-center hover-bg-main-600 hover-text-white tw-duration-300">
                                        <i class="ph-bold ph-linkedin-logo"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="text-center">
                        <h3 class="h5">
                            <a href="team-details.html" class="fw-bold text-main-two-600 tw-mb-2">
                               Benjamin Miller
                            </a>
                        </h3>
                        <span class="fw-medium tw-text-lg text-neutral-600">
                           Team Leader
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="team-two-card" data-aos="fade-up" data-aos-duration="800" data-aos-delay="350">
                    <div class="position-relative tw-mb-7">
                        <span class="w-100 tw-p-205 border-neutral-300 border tw-rounded-xl">
                            <img src="assets/images/thumbs/team-about-img4.png" alt="img" class="w-100">
                        </span>
                        <div class="team-two-card-icon">
                            <ul class="d-flex align-items-center tw-gap-2 position-absolute translate-middle-x mx-auto tw-start-50 bottom-0 tw-start-0 tw-mb-7">
                                <li>
                                    <a href="https://www.facebook.com/" class="tw-w-11 tw-h-11 bg-white tw-text-lg text-main-two-600 tw-rounded-md d-flex align-items-center justify-content-center hover-bg-main-600 hover-text-white tw-duration-300">
                                        <i class="ph-bold ph-facebook-logo"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.twitter.com/" class="tw-w-11 tw-h-11 bg-white tw-text-lg text-main-two-600 tw-rounded-md d-flex align-items-center justify-content-center hover-bg-main-600 hover-text-white tw-duration-300">
                                        <i class="ph-fill ph-twitter-logo"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.youtube.com/" class="tw-w-11 tw-h-11 bg-white tw-text-lg text-main-two-600 tw-rounded-md d-flex align-items-center justify-content-center hover-bg-main-600 hover-text-white tw-duration-300">
                                        <i class="ph-fill ph-youtube-logo"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/" class="tw-w-11 tw-h-11 bg-white tw-text-lg text-main-two-600 tw-rounded-md d-flex align-items-center justify-content-center hover-bg-main-600 hover-text-white tw-duration-300">
                                        <i class="ph-bold ph-linkedin-logo"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="text-center">
                        <h3 class="h5">
                            <a href="team-details.html" class="fw-bold text-main-two-600 tw-mb-2">
                               Stone Mountain
                            </a>
                        </h3>
                        <span class="fw-medium tw-text-lg text-neutral-600">
                           Web Designer
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========================= our team two section end ========================= -->