<!-- ============================= team section start ============================= -->
<section class="bg-neutral-30 py-120">
    <div class="container max-w-1700-px">
        <div class="d-flex align-items-center tw-gap-4 justify-content-between flex-wrap tw-mb-7">
            <div>
                <h2 class="fw-medium text-main-two-600 h1 tw-line-h-130-px" data-aos="fade-up" data-aos-duration="900" data-aos-delay="100">
                    Meet <strong>Creative</strong>
                </h2>
                <h2 class="fw-medium text-main-two-600 h1 tw-line-h-130-px tw-mt--30-px tw-ms-130-px tw-mb-5" data-aos="fade-up" data-aos-duration="900" data-aos-delay="200">
                    Team Members
                </h2>
                <p class="fw-semibold tw-text-base text-neutral-500 max-w-570-px tw-ms-300-px" data-aos="fade-up" data-aos-duration="900" data-aos-delay="300">
                    Meet our talented members, a group of creative minds who bring innovative ideas to life. Each team member excels in their field, driving excellence and creativity in every project.
                </p>
            </div>
            <a href="team-details.html" class="link-group d-inline-flex align-items-center group group-item" data-aos="fade-up" data-aos-duration="900" data-aos-delay="350">
                <span class="button-icon-one fw-bold bg-main-600 text-white tw-py-3 tw-px-4 tw-rounded-xl tw-text-xl group-hover-bg-black tw-duration-300">
                <i class="ph-bold ph-arrow-right"></i>
                </span>
                <h2 class="fw-bold h6 bg-main-600 text-white tw-py-4 tw-px-10 tw-rounded-xl group-hover-bg-black tw-duration-300">
                    Get A Quote
                </h2>
                <span class="button-icon-two fw-bold bg-main-600 text-white tw-py-3 tw-px-4 tw-rounded-xl tw-text-xl group-hover-bg-black tw-duration-300">
                <i class="ph-bold ph-arrow-right"></i>
                </span>
            </a>
        </div>  
        <div class="row gy-4"> 
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="animation-item" data-aos="fade-up" data-aos-duration="900" data-aos-delay="100">
                    <a href="team-details.html" class="w-100 tw-mb-6 overflow-hidden tw-rounded-xl">
                        <img src="assets/images/thumbs/team-four-img1.png" alt="img" class="w-100 course-item__img tw-duration-300">
                    </a>
                    <div>
                        <h2 class="tw-mb-3 h5">
                            <a href="team-details.html" class="fw-bold text-main-two-600 hover-text-main-600 tw-duration-300">
                                Ethan Thompson
                            </a>
                        </h2>
                        <span class="fw-bold tw-text-lg text-neutral-500">
                            Route Optimization Driver
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="animation-item tw-mt-90-px" data-aos="fade-up" data-aos-duration="900" data-aos-delay="200">
                    <a href="team-details.html" class="w-100 tw-mb-6 overflow-hidden tw-rounded-xl">
                        <img src="assets/images/thumbs/team-four-img2.png" alt="img" class="w-100 course-item__img tw-duration-300">
                    </a>
                    <div>
                        <h2 class="tw-mb-3 h5">
                            <a href="team-details.html" class="fw-bold text-main-two-600 hover-text-main-600 tw-duration-300">
                                Mia Rodriguez
                            </a>
                        </h2>
                        <span class="fw-bold tw-text-lg text-neutral-500">
                            Route Optimization Driver
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="animation-item tw-mt-160-px" data-aos="fade-up" data-aos-duration="900" data-aos-delay="300">
                    <a href="team-details.html" class="w-100 tw-mb-6 overflow-hidden tw-rounded-xl">
                        <img src="assets/images/thumbs/team-four-img3.png" alt="img" class="w-100 course-item__img tw-duration-300">
                    </a>
                    <div>
                        <h2 class="tw-mb-3 h5">
                            <a href="team-details.html" class="fw-bold text-main-two-600 hover-text-main-600 tw-duration-300">
                                Jason Carter
                            </a>
                        </h2>
                        <span class="fw-bold tw-text-lg text-neutral-500">
                            Route Optimization Driver
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="animation-item tw-mt-60-px" data-aos="fade-up" data-aos-duration="900" data-aos-delay="350">
                    <a href="team-details.html" class="w-100 tw-mb-6 overflow-hidden tw-rounded-xl">
                        <img src="assets/images/thumbs/team-four-img4.png" alt="img" class="w-100 course-item__img tw-duration-300">
                    </a>
                    <div>
                        <h2 class="tw-mb-3 h5">
                            <a href="team-details.html" class="fw-bold text-main-two-600 hover-text-main-600 tw-duration-300">
                                Sofia Martin
                            </a>
                        </h2>
                        <span class="fw-bold tw-text-lg text-neutral-500">
                            Route Optimization Driver
                        </span>
                    </div>
                </div>
            </div>  
        </div>
    </div>
</section>
<!-- ============================= team section end ============================= -->