<!-- Jquery js -->
<script src="assets/js/jquery-3.7.1.min.js"></script>
<!-- phosphor Js -->
<script src="assets/js/phosphor-icon.js"></script>
<!-- Bootstrap Bundle Js -->
<script src="assets/js/boostrap.bundle.min.js"></script>
<!-- aos -->
<script src="assets/js/aos.js"></script>

<!-- GSAP js -->
<script src="assets/js/gsap-plugin.js"></script>
<!-- Marquee -->
<script src="assets/js/marquee-main.js"></script>
<!-- swiper bundel -->
<script src="assets/js/swiper-bundle.min.js"></script>
<!-- custom GSAP -->
<script src="assets/js/custom-gsap.js"></script>
<!-- counter up -->
<script src="assets/js/counter-up.main.js"></script>
<!-- magific popup -->
<script src="assets/js/magific-popup.js"></script>

<!-- <script type="module" src="assets/js/distortion-img.js"></script> -->
<script type="module" src="./assets/js/distortion-img.js"></script>


<!-- main js -->
<script src="assets/js/main.js"></script>
