<!-- ============================ testimonial section start ============================ -->
<section class="py-120 position-relative">
    <img src="assets/images/shape/testimonial-shape1.png" alt="shape" class="position-absolute top-0 tw-start-0 animation-scalation d-xl-block d-none">
    <div class="container">
        <div class="text-center tw-mb-13">
            <div class="d-inline-flex tw-mb-5 align-items-center tw-gap-2 tw-py-2 tw-px-5 border-main-50 border rounded-pill" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                <span class="tw-w-205 tw-h-205 bg-main-600 rounded-circle"></span>
                <h3 class="fw-bold text-main-600 h6">
                    Our Testimonial
                </h3>
            </div>
            <h3 class="fw-bold text-main-two-600" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200"> 
                Building Confidence Through<br> IT Success
            </h3>
        </div>
        <div class="row gy-4">
            <div class="col-xl-3">
                <h2 class="fw-bold h4 text-main-two-600 tw-mb-130-px" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                    Strategies, Trends & Success Stories
                </h2>
                <div class="d-flex align-items-center tw-mb-7" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                    <span class="hover-scale-2 tw-duration-300">
                        <img src="assets/images/thumbs/testimonial-img1.png" alt="img">
                    </span>
                    <span class="tw-ms--16-px hover-scale-2 tw-duration-300">
                        <img src="assets/images/thumbs/testimonial-img2.png" alt="img">
                    </span>
                    <span class="tw-ms--16-px hover-scale-2 tw-duration-300">
                        <img src="assets/images/thumbs/testimonial-img3.png" alt="img">
                    </span>
                    <span class="tw-ms--16-px hover-scale-2 tw-duration-300">
                        <img src="assets/images/thumbs/testimonial-img4.png" alt="img">
                    </span>
                    <span class="tw-w-12 tw-h-12 bg-main-600 text-white rounded-circle d-flex align-items-center justify-content-center tw-text-base fw-bold tw-ms--16-px hover-scale-2 tw-duration-300">
                        4k+
                    </span>
                </div>
                <p class="fw-semibold tw-text-base text-neutral-600" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                    We have 40k+ Satisfied Customers Around Word-Wide
                </p>
            </div>
            <div class="col-xl-9">
                <div class="bg-neutral-30 tw-rounded-2xl tw-py-7 tw-ps-6 tw-pe-10 position-relative">
                    <div class="d-md-block d-none testimonial-card__one bg-white tw-w-120-px tw-h-100-px position-absolute top-0 tw-end-0 tw-rounded-2xl">
                        <span class="text-main-100 tw-text-100-px d-flex align-items-start justify-content-end">
                            <i class="ph-bold ph-quotes"></i>
                        </span>
                    </div>
                    <div class="swiper testimonial-slider">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="d-flex align-items-center justify-content-between tw-gap-10 flex-md-nowrap flex-wrap">
                                    <div class="">
                                        <img src="assets/images/thumbs/testimonial-img5.png" alt="img" class="">
                                    </div>
                                    <div>
                                        <div class="max-w-460-px w-100">
                                            <ul class="d-flex align-items-center tw-gap-1 tw-mb-5">
                                                <li class="tw-text-6 text-warning-600">
                                                    <i class="ph-fill ph-star"></i>
                                                </li>
                                                <li class="tw-text-6 text-warning-600">
                                                    <i class="ph-fill ph-star"></i>
                                                </li>
                                                <li class="tw-text-6 text-warning-600">
                                                    <i class="ph-fill ph-star"></i>
                                                </li>
                                                <li class="tw-text-6 text-warning-600">
                                                    <i class="ph-fill ph-star"></i>
                                                </li>
                                                <li class="tw-text-6 text-warning-600">
                                                    <i class="ph-fill ph-star"></i>
                                                </li>
                                            </ul>
                                            <h2 class="fw-semibold h5 text-main-two-600 tw-line-h-44-px">
                                                "Reliable, affordable, and effective. Perfect for startups needing structure and direction without the corporate price tag."
                                            </h2>
                                        </div>
                                        <span class="w-100 tw-h-px bg-main-100 tw-mt-7 tw-mb-4"></span>
                                        <div class="d-flex align-items-center tw-gap-3 flex-wrap justify-content-between">
                                            <div class="d-flex align-items-center tw-gap-2 flex-wrap">
                                                <span class="fw-medium tw-text-xl text-main-two-700">
                                                    John Smith
                                                </span>
                                                <span class="fw-medium tw-text-base text-neutral-500">
                                                    - Small Business Owner
                                                </span>
                                            </div>
                                            <div class="d-flex align-items-center tw-gap-3 flex-wrap">
                                                <button type="button" id="swiper-button-prev" class="tw-w-9 tw-h-9 border-main-600 border rounded-circle d-flex align-items-center justify-content-center text-main-600 tw-text-xl hover-bg-main-600 hover-text-white tw-duration-300">
                                                    <i class="ph-bold ph-arrow-left"></i>
                                                </button>
                                                <button type="button" id="swiper-button-next" class="tw-w-9 tw-h-9 border-main-600 border rounded-circle d-flex align-items-center justify-content-center text-main-600 tw-text-xl hover-bg-main-600 hover-text-white tw-duration-300">
                                                    <i class="ph-bold ph-arrow-right"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="d-flex align-items-center justify-content-between tw-gap-10 flex-md-nowrap flex-wrap">
                                    <div class="">
                                        <img src="assets/images/thumbs/testimonial-img5.png" alt="img" class="">
                                    </div>
                                    <div>
                                        <div class="max-w-460-px w-100">
                                            <ul class="d-flex align-items-center tw-gap-1 tw-mb-5">
                                                <li class="tw-text-6 text-warning-600">
                                                    <i class="ph-fill ph-star"></i>
                                                </li>
                                                <li class="tw-text-6 text-warning-600">
                                                    <i class="ph-fill ph-star"></i>
                                                </li>
                                                <li class="tw-text-6 text-warning-600">
                                                    <i class="ph-fill ph-star"></i>
                                                </li>
                                                <li class="tw-text-6 text-warning-600">
                                                    <i class="ph-fill ph-star"></i>
                                                </li>
                                                <li class="tw-text-6 text-warning-600">
                                                    <i class="ph-fill ph-star"></i>
                                                </li>
                                            </ul>
                                            <h2 class="fw-semibold h5 text-main-two-600 tw-line-h-44-px">
                                                "Reliable, affordable, and effective. Perfect for startups needing structure and direction without the corporate price tag."
                                            </h2>
                                        </div>
                                        <span class="w-100 tw-h-px bg-main-100 tw-mt-7 tw-mb-4"></span>
                                        <div class="d-flex align-items-center tw-gap-3 flex-wrap justify-content-between">
                                            <div class="d-flex align-items-center tw-gap-2 flex-wrap">
                                                <span class="fw-medium tw-text-xl text-main-two-700">
                                                    John Smith
                                                </span>
                                                <span class="fw-medium tw-text-base text-neutral-500">
                                                    - Small Business Owner
                                                </span>
                                            </div>
                                            <div class="d-flex align-items-center tw-gap-3 flex-wrap">
                                                <button type="button" id="swiper-button-ten-prev" class="tw-w-9 tw-h-9 border-main-600 border rounded-circle d-flex align-items-center justify-content-center text-main-600 tw-text-xl hover-bg-main-600 hover-text-white tw-duration-300">
                                                    <i class="ph-bold ph-arrow-left"></i>
                                                </button>
                                                <button type="button" id="swiper-button-ten-next" class="tw-w-9 tw-h-9 border-main-600 border rounded-circle d-flex align-items-center justify-content-center text-main-600 tw-text-xl hover-bg-main-600 hover-text-white tw-duration-300">
                                                    <i class="ph-bold ph-arrow-right"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ============================ testimonial section end ============================ -->