<!-- ============================ testimonial two section start ============================ -->
<section class="bg-neutral-30 py-120">
    <div class="container">
        <div class="d-flex align-items-start tw-gap-3 justify-content-between flex-wrap tw-mb-15">
            <div class="d-inline-flex align-items-center tw-gap-2 tw-py-2 tw-px-5 border-main-100 border rounded-pill">
                <span class="tw-w-205 tw-h-205 rounded-circle bg-main-600"></span>
                <h3 class="fw-bold h6 text-main-600">
                    Our Testimonials
                </h3>
            </div>
            <h3 class="fw-bold text-main-two-600 max-w-480-px w-100">
                See Our IT Professional Staff For you
            </h3>
        </div>
        <div class="row gy-4 align-items-center">
            <div class="col-xl-3">
                <div class="d-flex align-items-center tw-mb-7">
                    <span class="tw-ms--16-px hover-scale-2 tw-duration-300">
                        <img src="assets/images/thumbs/testimonial-two-img2.png" alt="img">
                    </span>
                    <span class="tw-ms--16-px hover-scale-2 tw-duration-300">
                        <img src="assets/images/thumbs/testimonial-two-img3.png" alt="img">
                    </span>
                    <span class="tw-ms--16-px hover-scale-2 tw-duration-300">
                        <img src="assets/images/thumbs/testimonial-two-img4.png" alt="img">
                    </span>
                    <span class="tw-w-12 tw-h-12 bg-main-600 text-white rounded-circle d-flex align-items-center justify-content-center tw-text-base fw-bold tw-ms--16-px hover-scale-2 tw-duration-300">
                        32+
                    </span>
                </div>
                <p class="fw-semibold tw-text-base text-neutral-600 tw-mb-130-px">
                   More then 25K clients reviews in the world-wide
                </p>
                <div class="d-flex align-items-center tw-gap-3 flex-wrap">
                    <span>
                        <img src="assets/images/logo/testimonial-two-logo1.png" alt="logo">
                    </span>
                    <div>
                        <h2 class="fw-semibold h5 text-main-two-600 d-block tw-mb-1">
                            4.8
                        </h2>
                        <span class="fw-medium tw-text-sm text-neutral-600">
                            GOGELE REVIEWS
                        </span>
                    </div>  
                </div>
            </div>
            <div class="col-xl-9">
                <div class="swiper testimonial-slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="tw-rounded-2xl tw-py-7 tw-ps-6 tw-pe-10 d-flex align-items-center justify-content-between tw-gap-10 flex-md-nowrap flex-wrap position-relative">
                                <div class="position-relative">
                                    <img src="assets/images/thumbs/testimonial-two-img1.png" alt="img" class="">
                                    <img src="assets/images/icon/testimonial-two-icon1.png" alt="icon" class="position-absolute top-0 tw-end-0">
                                </div>
                                <div>
                                    <div class="max-w-460-px w-100">
                                        <ul class="d-flex align-items-center tw-gap-1 tw-mb-5">
                                            <li class="tw-text-6 text-warning-600">
                                                <i class="ph-fill ph-star"></i>
                                            </li>
                                            <li class="tw-text-6 text-warning-600">
                                                <i class="ph-fill ph-star"></i>
                                            </li>
                                            <li class="tw-text-6 text-warning-600">
                                                <i class="ph-fill ph-star"></i>
                                            </li>
                                            <li class="tw-text-6 text-warning-600">
                                                <i class="ph-fill ph-star"></i>
                                            </li>
                                            <li class="tw-text-6 text-warning-600">
                                                <i class="ph-fill ph-star"></i>
                                            </li>
                                        </ul>
                                        <h2 class="fw-bold h5 text-main-two-600 tw-line-h-44-px">
                                            “We believe in the power of creativity and collaboration Our latest project showcase our commitment to delivering innovative solutions that not only meet”
                                        </h2>
                                    </div>
                                    <span class="w-100 tw-h-px bg-main-100 tw-mt-7 tw-mb-4"></span>
                                    <div class="d-flex align-items-center tw-gap-3 flex-wrap justify-content-between">
                                        <div class="d-flex align-items-center tw-gap-3 flex-wrap">
                                            <span>
                                                <img src="assets/images/thumbs/testimonial-two-img3.png" alt="img">
                                            </span>
                                            <div class="">
                                                <h2 class="fw-bold h5 tw-text-xl text-main-two-600 d-block tw-mb-2">
                                                    John Smith
                                                </h2>
                                                <span class="fw-medium tw-text-base text-neutral-500">
                                                    Small Business Owner
                                                </span>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center tw-gap-3 flex-wrap">
                                            <button type="button" id="swiper-button-prev" class="tw-w-9 tw-h-9 border-main-600 border rounded-circle d-flex align-items-center justify-content-center text-main-600 tw-text-xl hover-bg-main-600 hover-text-white tw-duration-300">
                                                <i class="ph-bold ph-arrow-left"></i>
                                            </button>
                                            <button type="button" id="swiper-button-next" class="tw-w-9 tw-h-9 border-main-600 border rounded-circle d-flex align-items-center justify-content-center text-main-600 tw-text-xl hover-bg-main-600 hover-text-white tw-duration-300">
                                                <i class="ph-bold ph-arrow-right"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="tw-rounded-2xl tw-py-7 tw-ps-6 tw-pe-10 d-flex align-items-center justify-content-between tw-gap-10 flex-md-nowrap flex-wrap position-relative">
                                <div class="position-relative">
                                    <img src="assets/images/thumbs/testimonial-two-img1.png" alt="img" class="">
                                    <img src="assets/images/icon/testimonial-two-icon1.png" alt="icon" class="position-absolute top-0 tw-end-0">
                                </div>
                                <div>
                                    <div class="max-w-460-px w-100">
                                        <ul class="d-flex align-items-center tw-gap-1 tw-mb-5">
                                            <li class="tw-text-6 text-warning-600">
                                                <i class="ph-fill ph-star"></i>
                                            </li>
                                            <li class="tw-text-6 text-warning-600">
                                                <i class="ph-fill ph-star"></i>
                                            </li>
                                            <li class="tw-text-6 text-warning-600">
                                                <i class="ph-fill ph-star"></i>
                                            </li>
                                            <li class="tw-text-6 text-warning-600">
                                                <i class="ph-fill ph-star"></i>
                                            </li>
                                            <li class="tw-text-6 text-warning-600">
                                                <i class="ph-fill ph-star"></i>
                                            </li>
                                        </ul>
                                        <h2 class="fw-bold h5 text-main-two-600 tw-line-h-44-px">
                                            “We believe in the power of creativity and collaboration Our latest project showcase our commitment to delivering innovative solutions that not only meet”
                                        </h2>
                                    </div>
                                    <span class="w-100 tw-h-px bg-main-100 tw-mt-7 tw-mb-4"></span>
                                    <div class="d-flex align-items-center tw-gap-3 flex-wrap justify-content-between">
                                        <div class="d-flex align-items-center tw-gap-3 flex-wrap">
                                            <span>
                                                <img src="assets/images/thumbs/testimonial-two-img3.png" alt="img">
                                            </span>
                                            <div class="">
                                                <h2 class="fw-bold h5 tw-text-xl text-main-two-600 d-block tw-mb-2">
                                                    John Smith
                                                </h2>
                                                <span class="fw-medium tw-text-base text-neutral-500">
                                                    Small Business Owner
                                                </span>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center tw-gap-3 flex-wrap">
                                            <button type="button" id="swiper-button-ten-prev" class="tw-w-9 tw-h-9 border-main-600 border rounded-circle d-flex align-items-center justify-content-center text-main-600 tw-text-xl hover-bg-main-600 hover-text-white tw-duration-300">
                                                <i class="ph-bold ph-arrow-left"></i>
                                            </button>
                                            <button type="button" id="swiper-button-ten-next" class="tw-w-9 tw-h-9 border-main-600 border rounded-circle d-flex align-items-center justify-content-center text-main-600 tw-text-xl hover-bg-main-600 hover-text-white tw-duration-300">
                                                <i class="ph-bold ph-arrow-right"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ============================ testimonial two section end ============================ -->