<!-- ======================= testimonials section start ======================= -->
<section class="py-120 bg-neutral-30">
    <div class="container">
        <div class="d-flex align-items-center justify-content-center tw-mb-15">
            <div class="max-w-530-px w-100 text-center">
                <div class="d-inline-flex align-items-center tw-gap-2 tw-py-2 tw-px-5 border-main-100 border rounded-pill tw-mb-5" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                    <span class="tw-w-205 tw-h-205 rounded-circle bg-main-600"></span>
                    <h3 class="fw-bold text-main-600 h6">
                        Client Testimonials
                    </h3>
                </div>
                <h3 class="fw-bold text-main-two-600 tw-mb-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="150">
                    What Our Customers Say
                    About Ai Solutions
                </h3>
            </div>
        </div>
        <div class="swiper testimonial-six__slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="group group-item" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                        <div class="tw-ps-8 tw-pe-6 tw-pt-4 tw-pb-8 bg-white tw-rounded-xl w-100 group-hover-bg-main-600 tw-duration-300">
                            <div class="d-flex align-items-center justify-content-between flex-wrap tw-gap-3 tw-mb-4">
                                <span>
                                    <img src="assets/images/icon/testimonial-six-icon1.png" alt="icon" class="group-hover-item-text-invert-white tw-duration-300">
                                </span>
                                <span class="tw-w-80-px tw-h-80-px bg-main-100 tw-rounded-lg d-flex align-items-center justify-content-center group-hover-bg-white tw-duration-300">
                                    <img src="assets/images/thumbs/testimonials-six-img1.png" alt="">
                                </span>
                                <span>
                                    <img src="assets/images/icon/testimonial-six-icon2.png" alt="icon" class="group-hover-item-text-invert-white tw-duration-300">
                                </span>
                            </div>
                            <h2 class="h5 fw-bold text-main-two-600 tw-mb-6 text-center group-hover-text-white tw-duration-300">
                                Abigayle Comedy
                            </h2>
                            <ul class="d-flex align-items-center justify-content-center tw-gap-2 tw-mb-6">
                                <li class="text-warning-500 tw-text-xl">
                                    <i class="ph-fill ph-star"></i>
                                </li>
                                <li class="text-warning-500 tw-text-xl">
                                    <i class="ph-fill ph-star"></i>
                                </li>
                                <li class="text-warning-500 tw-text-xl">
                                    <i class="ph-fill ph-star"></i>
                                </li>
                                <li class="text-warning-500 tw-text-xl">
                                    <i class="ph-fill ph-star"></i>
                                </li>
                                <li class="text-warning-500 tw-text-xl">
                                    <i class="ph-fill ph-star"></i>
                                </li>
                            </ul>
                            <p class="fw-semibold tw-text-base text-neutral-500 text-center group-hover-text-white tw-duration-300">
                                There are many variations of passages of Lorem
                                Ipsum available, but the majority have suffered
                                alteration in some form, by injected humour, or
                                randomised words which don't look even words
                                slightly believable some form, bywords which
                                Ipsum available, but the majority have 
                            </p>
                        </div>
                        <span class="tw-w-11 tw-h-11 bg-white tw-click-path-6 tw-ms-121-px group-hover-bg-main-600 tw-duration-300"></span>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="group group-item" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                        <div class="tw-ps-8 tw-pe-6 tw-pt-4 tw-pb-8 bg-white tw-rounded-xl w-100 group-hover-bg-main-600 tw-duration-300">
                            <div class="d-flex align-items-center justify-content-between flex-wrap tw-gap-3 tw-mb-4">
                                <span>
                                    <img src="assets/images/icon/testimonial-six-icon1.png" alt="icon" class="group-hover-item-text-invert-white tw-duration-300">
                                </span>
                                <span class="tw-w-80-px tw-h-80-px bg-main-100 tw-rounded-lg d-flex align-items-center justify-content-center group-hover-bg-white tw-duration-300">
                                    <img src="assets/images/thumbs/testimonials-six-img2.png" alt="">
                                </span>
                                <span>
                                    <img src="assets/images/icon/testimonial-six-icon2.png" alt="icon" class="group-hover-item-text-invert-white tw-duration-300">
                                </span>
                            </div>
                            <h2 class="h5 fw-bold text-main-two-600 tw-mb-6 text-center group-hover-text-white tw-duration-300">
                                Gardenwithjonny
                            </h2>
                            <ul class="d-flex align-items-center justify-content-center tw-gap-2 tw-mb-6">
                                <li class="text-warning-500 tw-text-xl">
                                    <i class="ph-fill ph-star"></i>
                                </li>
                                <li class="text-warning-500 tw-text-xl">
                                    <i class="ph-fill ph-star"></i>
                                </li>
                                <li class="text-warning-500 tw-text-xl">
                                    <i class="ph-fill ph-star"></i>
                                </li>
                                <li class="text-warning-500 tw-text-xl">
                                    <i class="ph-fill ph-star"></i>
                                </li>
                                <li class="text-warning-500 tw-text-xl">
                                    <i class="ph-fill ph-star"></i>
                                </li>
                            </ul>
                            <p class="fw-semibold tw-text-base text-neutral-500 text-center group-hover-text-white tw-duration-300">
                                There are many variations of passages of Lorem
                                Ipsum available, but the majority have suffered
                                alteration in some form, by injected humour, or
                                randomised words which don't look even words
                                slightly believable some form, bywords which
                                Ipsum available, but the majority have 
                            </p>
                        </div>
                        <span class="tw-w-11 tw-h-11 bg-white tw-click-path-6 tw-ms-121-px group-hover-bg-main-600 tw-duration-300"></span>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="group group-item" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                        <div class="tw-ps-8 tw-pe-6 tw-pt-4 tw-pb-8 bg-white tw-rounded-xl w-100 group-hover-bg-main-600 tw-duration-300">
                            <div class="d-flex align-items-center justify-content-between flex-wrap tw-gap-3 tw-mb-4">
                                <span>
                                    <img src="assets/images/icon/testimonial-six-icon1.png" alt="icon" class="group-hover-item-text-invert-white tw-duration-300">
                                </span>
                                <span class="tw-w-80-px tw-h-80-px bg-main-100 tw-rounded-lg d-flex align-items-center justify-content-center group-hover-bg-white tw-duration-300">
                                    <img src="assets/images/thumbs/testimonials-six-img3.png" alt="">
                                </span>
                                <span>
                                    <img src="assets/images/icon/testimonial-six-icon2.png" alt="icon" class="group-hover-item-text-invert-white tw-duration-300">
                                </span>
                            </div>
                            <h2 class="h5 fw-bold text-main-two-600 tw-mb-6 text-center group-hover-text-white tw-duration-300">
                                Asesor / Internet
                            </h2>
                            <ul class="d-flex align-items-center justify-content-center tw-gap-2 tw-mb-6">
                                <li class="text-warning-500 tw-text-xl">
                                    <i class="ph-fill ph-star"></i>
                                </li>
                                <li class="text-warning-500 tw-text-xl">
                                    <i class="ph-fill ph-star"></i>
                                </li>
                                <li class="text-warning-500 tw-text-xl">
                                    <i class="ph-fill ph-star"></i>
                                </li>
                                <li class="text-warning-500 tw-text-xl">
                                    <i class="ph-fill ph-star"></i>
                                </li>
                                <li class="text-warning-500 tw-text-xl">
                                    <i class="ph-fill ph-star"></i>
                                </li>
                            </ul>
                            <p class="fw-semibold tw-text-base text-neutral-500 text-center group-hover-text-white tw-duration-300">
                                There are many variations of passages of Lorem
                                Ipsum available, but the majority have suffered
                                alteration in some form, by injected humour, or
                                randomised words which don't look even words
                                slightly believable some form, bywords which
                                Ipsum available, but the majority have 
                            </p>
                        </div>
                        <span class="tw-w-11 tw-h-11 bg-white tw-click-path-6 tw-ms-121-px group-hover-bg-main-600 tw-duration-300"></span>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="group group-item" data-aos="fade-up" data-aos-duration="800" data-aos-delay="350">
                        <div class="tw-ps-8 tw-pe-6 tw-pt-4 tw-pb-8 bg-white tw-rounded-xl w-100 group-hover-bg-main-600 tw-duration-300">
                            <div class="d-flex align-items-center justify-content-between flex-wrap tw-gap-3 tw-mb-4">
                                <span>
                                    <img src="assets/images/icon/testimonial-six-icon1.png" alt="icon" class="group-hover-item-text-invert-white tw-duration-300">
                                </span>
                                <span class="tw-w-80-px tw-h-80-px bg-main-100 tw-rounded-lg d-flex align-items-center justify-content-center group-hover-bg-white tw-duration-300">
                                    <img src="assets/images/thumbs/testimonials-six-img2.png" alt="">
                                </span>
                                <span>
                                    <img src="assets/images/icon/testimonial-six-icon2.png" alt="icon" class="group-hover-item-text-invert-white tw-duration-300">
                                </span>
                            </div>
                            <h2 class="h5 fw-bold text-main-two-600 tw-mb-6 text-center group-hover-text-white tw-duration-300">
                                Gardenwithjonny
                            </h2>
                            <ul class="d-flex align-items-center justify-content-center tw-gap-2 tw-mb-6">
                                <li class="text-warning-500 tw-text-xl">
                                    <i class="ph-fill ph-star"></i>
                                </li>
                                <li class="text-warning-500 tw-text-xl">
                                    <i class="ph-fill ph-star"></i>
                                </li>
                                <li class="text-warning-500 tw-text-xl">
                                    <i class="ph-fill ph-star"></i>
                                </li>
                                <li class="text-warning-500 tw-text-xl">
                                    <i class="ph-fill ph-star"></i>
                                </li>
                                <li class="text-warning-500 tw-text-xl">
                                    <i class="ph-fill ph-star"></i>
                                </li>
                            </ul>
                            <p class="fw-semibold tw-text-base text-neutral-500 text-center group-hover-text-white tw-duration-300">
                                There are many variations of passages of Lorem
                                Ipsum available, but the majority have suffered
                                alteration in some form, by injected humour, or
                                randomised words which don't look even words
                                slightly believable some form, bywords which
                                Ipsum available, but the majority have 
                            </p>
                        </div>
                        <span class="tw-w-11 tw-h-11 bg-white tw-click-path-6 tw-ms-121-px group-hover-bg-main-600 tw-duration-300"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ======================= testimonials section end ======================= -->