<!-- ========================== testimonial section start ========================== -->
<section class="py-120">
    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-7">
                <div class="">
                    <div class="d-inline-flex align-items-center tw-gap-2 tw-py-2 tw-px-5 border-main-100 border rounded-pill tw-mb-5">
                        <span class="tw-w-205 tw-h-205 bg-main-600 rounded-circle"></span>
                        <h2 class="fw-bold h6 text-main-600">
                           Testimonials
                        </h2>
                    </div>
                    <h3 class="fw-bold text-main-two-600 tw-mb-13">
                        What Our Client Say's About Us
                    </h3>
                    <div class="d-flex align-items-start tw-gap-6 flex-wrap">
                        <span class="text-main-600 tw-text-70-px">
                            <i class="ph-fill ph-quotes"></i>
                        </span>
                        <div class="tw-max-w-600-px">
                            <div class="swiper testimonial-about__slider">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="">
                                            <ul class="d-flex align-items-center tw-gap-1 tw-mb-4">
                                                <li class="tw-text-xl text-warning-500">
                                                    <i class="ph-fill ph-star"></i>
                                                </li>
                                                <li class="tw-text-xl text-warning-500">
                                                    <i class="ph-fill ph-star"></i>
                                                </li>
                                                <li class="tw-text-xl text-warning-500">
                                                    <i class="ph-fill ph-star"></i>
                                                </li>
                                                <li class="tw-text-xl text-warning-500">
                                                    <i class="ph-fill ph-star"></i>
                                                </li>
                                                <li class="tw-text-xl text-warning-500">
                                                    <i class="ph-fill ph-star"></i>
                                                </li>
                                            </ul>
                                            <p class="fw-semibold tw-text-xl text-main-two-600 fst-italic tw-mb-13">
                                                There are many variations of passages of Lorem Ipsum
                                                available, but the majority have suffered alteration in
                                                some form, by injected humour, or randomised words
                                                which don't look even slightly believable have suffered
                                                many variations of passages
                                            </p>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-between tw-gap-3 flex-wrap">
                                            <div>
                                                <h3 class="fw-bold text-main-two-600 h5 tw-mb-3">
                                                    Benjamin Miller
                                                </h3>
                                                <span class="fw-semibold tw-text-base">
                                                    Team Leader
                                                </span>
                                            </div>
                                            <span class="tw-w-280-px tw-h-px bg-neutral-300 d-xxl-block d-none"></span>
                                            <div class="d-flex align-items-center tw-gap-3 flex-wrap">
                                                <button type="button" id="swiper-about-button-prev" class="tw-w-16 tw-h-16 border-neutral-200 border rounded-circle bg-white d-flex align-items-center justify-content-center text-main-two-600 tw-text-6 hover-bg-main-600 hover-text-white tw-duration-300">
                                                    <i class="ph-bold ph-arrow-left"></i>
                                                </button>
                                                <button type="button" id="swiper-about-button-next" class="tw-w-16 tw-h-16 border-neutral-200 border rounded-circle bg-white d-flex align-items-center justify-content-center text-main-two-600 tw-text-6 hover-bg-main-600 hover-text-white tw-duration-300">
                                                    <i class="ph-bold ph-arrow-right"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="">
                                            <ul class="d-flex align-items-center tw-gap-1 tw-mb-4">
                                                <li class="tw-text-xl text-warning-500">
                                                    <i class="ph-fill ph-star"></i>
                                                </li>
                                                <li class="tw-text-xl text-warning-500">
                                                    <i class="ph-fill ph-star"></i>
                                                </li>
                                                <li class="tw-text-xl text-warning-500">
                                                    <i class="ph-fill ph-star"></i>
                                                </li>
                                                <li class="tw-text-xl text-warning-500">
                                                    <i class="ph-fill ph-star"></i>
                                                </li>
                                                <li class="tw-text-xl text-warning-500">
                                                    <i class="ph-fill ph-star"></i>
                                                </li>
                                            </ul>
                                            <p class="fw-semibold tw-text-xl text-main-two-600 fst-italic tw-mb-13">
                                                There are many variations of passages of Lorem Ipsum
                                                available, but the majority have suffered alteration in
                                                some form, by injected humour, or randomised words
                                                which don't look even slightly believable have suffered
                                                many variations of passages
                                            </p>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-between tw-gap-3 flex-wrap">
                                            <div>
                                                <h3 class="fw-bold text-main-two-600 h5 tw-mb-3">
                                                    Benjamin Miller
                                                </h3>
                                                <span class="fw-semibold tw-text-base">
                                                    Team Leader
                                                </span>
                                            </div>
                                            <span class="tw-w-280-px tw-h-px bg-neutral-300 d-xxl-block d-none"></span>
                                            <div class="d-flex align-items-center tw-gap-3 flex-wrap">
                                                <button type="button" id="swiper-about-two-button-prev" class="tw-w-16 tw-h-16 border-neutral-200 border rounded-circle bg-white d-flex align-items-center justify-content-center text-main-two-600 tw-text-6 hover-bg-main-600 hover-text-white tw-duration-300">
                                                    <i class="ph-bold ph-arrow-left"></i>
                                                </button>
                                                <button type="button" id="swiper-about-two-button-next" class="tw-w-16 tw-h-16 border-neutral-200 border rounded-circle bg-white d-flex align-items-center justify-content-center text-main-two-600 tw-text-6 hover-bg-main-600 hover-text-white tw-duration-300">
                                                    <i class="ph-bold ph-arrow-right"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="position-relative">
                    <span class="d-flex align-items-center justify-content-end">
                        <img src="assets/images/thumbs/testimonial-about-img1.png" alt="img" class="tw-w-media-100">
                    </span>
                    <div class="tw-py-9 tw-px-8 bg-main-600 tw-rounded-lg text-center position-absolute bottom-0 tw-start-0 tw-mb--22-px">
                        <h3 class="fw-bold text-white tw-mb-2">
                            5K+
                        </h3>
                        <span class="fw-semibold tw-text-base text-white tw-mb-3">
                            Customer Reviews
                        </span>
                        <ul class="d-flex align-items-center tw-gap-1 tw-mb-3 justify-content-center">
                            <li class="tw-text-xl text-warning-500">
                                <i class="ph-fill ph-star"></i>
                            </li>
                            <li class="tw-text-xl text-warning-500">
                                <i class="ph-fill ph-star"></i>
                            </li>
                            <li class="tw-text-xl text-warning-500">
                                <i class="ph-fill ph-star"></i>
                            </li>
                            <li class="tw-text-xl text-warning-500">
                                <i class="ph-fill ph-star"></i>
                            </li>
                            <li class="tw-text-xl text-warning-500">
                                <i class="ph-fill ph-star"></i>
                            </li>
                        </ul>
                        <span class="fw-semibold tw-text-base text-white">
                            Average Rating
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========================== testimonial section end ========================== -->