<!-- ==================== top header start ========================== -->
<div class="bg-main-50 tw-py-5 d-sm-block d-none">
    <div class="container max-w-1720-px">
        <div class="d-flex align-items-center justify-content-between tw-gap-3">
            <div class="d-flex align-items-center tw-gap-6 tw-media-jus-between-992-px">
                <div class="d-flex align-items-center tw-gap-2">
                    <span class="tw-text-lg text-main-600 tw-mt-1">
                        <i class="ph-fill ph-phone"></i>
                    </span>
                    <a href="tel:123-456-32-23" class="fw-semibold tw-text-base text-neutral-600 hover-text-main-600">
                        123-456-32-23
                    </a>
                </div>
                <div class="d-flex align-items-center tw-gap-2">
                    <span class="tw-text-lg text-main-600 tw-mt-1">
                        <i class="ph-fill ph-envelope-simple"></i>
                    </span>
                    <a href="mailto:itzen@gmail.com" class="fw-semibold tw-text-base text-neutral-600 hover-text-main-600">
                        itzen@gmail.com
                    </a>
                </div>
                <div class="d-lg-block d-none">
                    <div class="d-flex align-items-center tw-gap-2">
                        <span class="tw-text-lg text-main-600 tw-mt-1">
                            <i class="ph-fill ph-map-pin"></i>
                        </span>
                        <span class="fw-semibold tw-text-base text-neutral-600">
                            371 7th Ave, New York, NY 10001
                        </span>
                    </div>
                </div>
            </div>
            <div class="d-lg-block d-none">
                <ul class="d-flex align-items-center tw-gap-3">
                    <li>
                        <a href="https://facebook.com/" class="tw-w-7 tw-h-7 border-main-two-600 border rounded-circle tw-text-md text-main-two-600 hover-bg-main-600 hover-text-white tw-duration-300 hover-border-none d-flex align-items-center justify-content-center">
                            <i class="ph-fill ph-facebook-logo"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://x.com/" class="tw-w-7 tw-h-7 border-main-two-600 border rounded-circle tw-text-md text-main-two-600 hover-bg-main-600 hover-text-white tw-duration-300 hover-border-none d-flex align-items-center justify-content-center">
                            <i class="ph-bold ph-x-logo"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://linkedin.com/" class="tw-w-7 tw-h-7 border-main-two-600 border rounded-circle tw-text-md text-main-two-600 hover-bg-main-600 hover-text-white tw-duration-300 hover-border-none d-flex align-items-center justify-content-center">
                            <i class="ph-fill ph-linkedin-logo"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://instagram.com/" class="tw-w-7 tw-h-7 border-main-two-600 border rounded-circle tw-text-md text-main-two-600 hover-bg-main-600 hover-text-white tw-duration-300 hover-border-none d-flex align-items-center justify-content-center">
                            <i class="ph-bold ph-instagram-logo"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- ==================== top header end ========================== -->