<!-- ======================== top header start ====================== -->
<div class="border-neutral-300 border-bottom tw-z-999">
    <div class="container max-w-1880-px">
        <div class="d-flex align-items-center tw-gap-3 justify-content-between">
            <div class="d-flex align-items-center tw-gap-5 tw-media-jus-between">
                <!-- Logo Start -->
                <div class="logo tw-py-3 d-md-block d-none">
                    <a href="index.html" class="link">
                        <img src="assets/images/logo/logo.png" alt="Logo" class="max-w-200-px">
                    </a>
                </div>
                <!-- Logo End  -->
                <span class="tw-w-px tw-h-84-px bg-neutral-300 d-xxl-block d-none"></span>
                <div class="d-md-block d-none">
                    <div class="tw-py-3 d-flex align-items-center tw-gap-7">
                        <div class="d-flex align-items-center tw-gap-3">
                            <span
                                class="tw-w-11 tw-h-11 d-flex justify-content-center align-items-center tw-text-xl bg-main-two-600 tw-rounded-lg text-white">
                                <i class="ph-fill ph-phone"></i>
                            </span>
                            <div>
                                <h6 class="fw-semibold tw-text-lg text-main-two-600 tw-mb-05">
                                    24/ Support
                                </h6>
                                <a href="tel:+1.809.659.8654"
                                    class="text-main-two-600 fw-normal tw-text-sm hover-text-main-600">
                                    +1.809.659.8654
                                </a>
                            </div>
                        </div>
                        <div class="d-flex align-items-center tw-gap-3">
                            <span
                                class="tw-w-11 tw-h-11 d-flex justify-content-center align-items-center tw-text-xl bg-main-two-600 tw-rounded-lg text-white">
                                <i class="ph-fill ph-envelope-simple"></i>
                            </span>
                            <div>
                                <h6 class="fw-semibold tw-text-lg text-main-two-600 tw-mb-05">
                                    Our Email
                                </h6>
                                <a href="mailto:yourdomain@gmail.com"
                                    class="text-main-two-600 fw-normal tw-text-sm hover-text-main-600">
                                    yourdomain@gmail.com
                                </a>
                            </div>
                        </div>
                        <div class="d-xl-block d-none">
                            <div class="d-flex align-items-center tw-gap-3">
                                <span
                                    class="tw-w-11 tw-h-11 d-flex justify-content-center align-items-center tw-text-xl bg-main-two-600 tw-rounded-lg text-white">
                                    <i class="ph-fill ph-phone"></i>
                                </span>
                                <div>
                                    <h6 class="fw-semibold tw-text-lg text-main-two-600 tw-mb-05">
                                        Location
                                    </h6>
                                    <span class="text-main-two-600 fw-normal tw-text-sm">
                                        Graaf Florisstraat 22-A, 3021 CH Rotterdam
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-xxl-block d-none">
                <div class="d-flex align-items-center tw-gap-5">
                    <ul class="d-flex align-items-center tw-gap-5">
                        <li>
                            <a href="https://www.facebook.com/" class="tw-text-lg text-main-two-600 ">
                                <i class="ph-bold ph-facebook-logo"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://x.com/" class="tw-text-lg text-main-two-600 ">
                                <i class="ph-bold ph-x-logo"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/" class="tw-text-lg text-main-two-600 ">
                                <i class="ph-bold ph-linkedin-logo"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/" class="tw-text-lg text-main-two-600 ">
                                <i class="ph-bold ph-instagram-logo"></i>
                            </a>
                        </li>
                    </ul>
                    <span class="tw-w-px tw-h-84-px bg-neutral-300"></span>



                    <!-- Custom Language select with flag start -->
                    <div class="select-box tw-z-99">
                        <div class="select-selected">
                            <span>
                                <img src="https://flagcdn.com/w40/bd.png"> Bangla
                            </span>
                            <i class="ph-bold ph-caret-down"></i>
                        </div>

                        <div class="select-items">
                            <div data-value="bn">
                                <img src="https://flagcdn.com/w40/bd.png"> Bangla
                            </div>
                            <div data-value="en">
                                <img src="https://flagcdn.com/w40/us.png"> English
                            </div>
                            <div data-value="hi">
                                <img src="https://flagcdn.com/w40/in.png"> Hindi
                            </div>
                            <div data-value="ar">
                                <img src="https://flagcdn.com/w40/sa.png"> Arabic
                            </div>
                            <div data-value="ur">
                                <img src="https://flagcdn.com/w40/pk.png"> Urdu
                            </div>
                        </div>
                    </div>
                    <!-- Custom Language select with flag end -->



                </div>
            </div>
        </div>
    </div>
</div>
<!-- ======================== top header end ====================== -->