<!-- =========================== why choose us section start =========================== -->
<section class="py-120 overflow-hidden">
    <div class="container">
        <div class="d-flex align-items-center justify-content-center tw-mb-15">
            <div class="max-w-600-px w-100 text-center">
                <div class="d-inline-flex align-items-center tw-gap-2 tw-py-2 tw-ps-5 tw-pe-5 border-main-100 border rounded-pill tw-mb-6">
                    <span class="tw-w-205 tw-h-205 bg-main-600 rounded-circle"></span>
                    <h3 class="fw-bold h6 text-main-600">
                        Why Choose Us
                    </h3>
                </div>
                <h3 class="fw-bold text-main-two-600">
                    Empowering Businesses Through Smart IT Solutions
                </h3>
            </div>
        </div>
        <div class="row gy-5">
            <div class="col-xl-4">
                <div class="d-flex align-items-center justify-content-center h-100">
                    <div class="tw-bg-gradient-two tw-rounded-2xl tw-py-80-px tw-px-9 company-clip-path-four text-center max-w-440-px w-100 h-100">
                        <div class="circle-border d-inline-block">
                            <svg class="radial-progress" data-percentage="90" viewBox="0 0 80 80">
                                <circle class="incomplete" cx="40" cy="40" r="35"></circle>
                                <circle class="complete" cx="40" cy="40" r="35"></circle>
                                <text class="percentage" x="50%" y="57%" transform="matrix(0, 1, -1, 0, 80, 0)">90%</text>
                            </svg>
                        </div>
                        <h2 class="fw-bold tw-text-32-px text-white tw-mt-10">
                            IT Solutions refer to a wide range of services and technologies
                        </h2>
                    </div>
                </div>
            </div>
            <div class="col-xl-8">
                <div class="d-flex align-items-center justify-content-center">
                    <div class="position-relative z-2 max-w-820-px w-100">
                        <p class="max-w-590-px w-100 tw-text-base fw-semibold text-neutral-600 tw-mb-10">
                            Since 1998, At Logisku, we specialize in delivering seamless transport and logistics solutions that empower your business. With a strong commitment to reliability, speed, and customer satisfaction.
                        </p>
                        <div class="d-flex align-items-center tw-gap-8 flex-lg-nowrap flex-wrap tw-mb-160-px">
                            <div>
                                <div class="max-w-380-px d-flex align-items-center tw-gap-3 justify-content-between tw-mb-10 flex-wrap">
                                    <div>
                                        <h3 class="fw-bold text-main-600 tw-mb-3">
                                            06
                                        </h3>
                                        <span class="fw-semibold tw-text-base text-neutral-600">
                                            World-Wide Branches
                                        </span>
                                    </div>
                                    <div>
                                        <h3 class="fw-bold text-main-600 tw-mb-3">
                                            50+
                                        </h3>
                                        <span class="fw-semibold tw-text-base text-neutral-600">
                                            Professional Expert
                                        </span>
                                    </div>
                                </div>
                                <div class="d-flex align-items-start tw-gap-5 animation-item tw-mb-8">
                                    <span class="animate__wobble">
                                        <img src="assets/images/icon/why-choose-us-icon1.png" alt="icon">
                                    </span>
                                    <div>
                                        <h2 class="fw-bold h5 text-main-two-600 tw-mb-4">
                                            Branding Services
                                        </h2>
                                        <p class="fw-semibold tw-text-base text-neutral-600">
                                            We work to understand your issues and are driven to ask better.
                                        </p>
                                    </div>
                                </div>
                                <div class="d-flex align-items-start tw-gap-5 animation-item tw-mb-10">
                                    <span class="animate__wobble">
                                        <img src="assets/images/icon/why-choose-us-icon2.png" alt="icon">
                                    </span>
                                    <div>
                                        <h2 class="fw-bold h5 text-main-two-600 tw-mb-4">
                                            Business Strategy
                                        </h2>
                                        <p class="fw-semibold tw-text-base text-neutral-600">
                                            We work to understand your issues and are driven to ask better.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="position-relative tw-mt-100-px">
                                <span>
                                    <img src="assets/images/thumbs/why-choose-us-two-img1.png" alt="images">
                                </span>
                                <div class="tw-w-280-px tw-h-280-px bg-white rounded-circle d-flex align-items-center justify-content-center position-absolute top-0 tw-end-0 tw-mt--200-px tw-me-160-px">
                                    <div class="position-relative">
                                        <img src="assets/images/thumbs/why-choose-us-two-img2.png" alt="img" class="animation-rotate-right">
                                        <a href="about-us.html" class="tw-w-74-px tw-h-75-px bg-main-50 rounded-circle d-flex align-items-center justify-content-center tw-text-xl text-main-600 position-absolute top-0 tw-start-0 top-50 tw-start-50 translate-middle">
                                            <i class="ph-bold ph-arrow-up-right"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="company-clip-path-four bg-main-600 tw-py-8 tw-ps-6 tw-pe-4 tw-rounded-2xl position-absolute bottom-0 tw-end-0 tw-me--40-px tw-mb--130-px max-w-230-px w-100">
                                    <div class="tw-mb-12">
                                        <h3 class="fw-bold text-white tw-mb-1">
                                            95%
                                        </h3>
                                        <span class="fw-semibold tw-text-base text-white">
                                            Positive Reviews
                                        </span>
                                    </div>
                                    <div class="tw-me--61-px position-relative  z-3">
                                        <div class="bg-white tw-py-6 tw-ps-4 tw-pe-8 tw-rounded-2xl tw-shadow-two">
                                            <span class="tw-mb-2">
                                                <img src="assets/images/icon/banner-icon1.png" alt="start">
                                            </span>
                                            <div class="d-flex align-items-center tw-gap-3 justify-content-between">
                                                <span class="fw-semibold tw-text-lg text-main-two-700">
                                                    Trust pilot
                                                </span>
                                                <span>
                                                    <img src="assets/images/icon/banner-icon2.png" alt="check">
                                                </span>
                                            </div>
                                            <div class="bg-green-600 tw-py-105 tw-px-3 d-flex align-items-center tw-gap-1 rounded-pill position-absolute top-0 tw-end-0 tw-mt--18-px tw-me--14-px">
                                                <span class="fw-bold tw-text-base text-white ">
                                                    4.9
                                                </span>
                                                <span class="tw-text-sm text-white tw-mt-05">
                                                    <i class="ph-fill ph-star"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex align-items-center tw-gap-5 flex-wrap">
                            <a href="about-us.html" class="link-group d-inline-flex align-items-center group group-item">
                                <span class="button-icon-one fw-bold bg-main-600 text-white tw-py-3 tw-px-4 tw-rounded-xl tw-text-xl group-hover-bg-black tw-duration-300">
                                <i class="ph-bold ph-arrow-right"></i>
                                </span>
                                <h2 class="fw-bold h6 bg-main-600 text-white tw-py-4 tw-px-10 tw-rounded-xl group-hover-bg-black tw-duration-300">
                                    Discover More
                                </h2>
                                <span class="button-icon-two fw-bold bg-main-600 text-white tw-py-3 tw-px-4 tw-rounded-xl tw-text-xl group-hover-bg-black tw-duration-300">
                                <i class="ph-bold ph-arrow-right"></i>
                                </span>
                            </a>
                            <div class="d-flex align-items-center tw-gap-3 flex-wrap">
                                <span>
                                    <img src="assets/images/thumbs/about-img3.png" alt="img">
                                </span>
                                <div>
                                    <h3 class="fw-bold h6 text-main-two-600 tw-mb-2">
                                        David Sophia 
                                    </h3>
                                    <span>
                                        <img src="assets/images/thumbs/about-img4.png" alt="img">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- =========================== why choose us section end =========================== -->

 