<!-- ========================= working process section start ========================= -->
<section class="py-120 bg-neutral-30 position-relative z-3 overflow-hidden">
    <div class="tw-w-180-px tw-h-180-px tw-bg-gradient-6 position-absolute bottom-0 tw-start-0 tw-mb-180-px"></div>
    <div class="tw-w-180-px tw-h-180-px tw-bg-gradient-6 position-absolute bottom-0 tw-end-0 tw-mb-180-px tw-transform-roted-180"></div>
    <div class="position-absolute bottom-0 tw-start-0 tw-mb-270-px d-sm-block d-none z-n1">
        <div class="swiper working-proces-six__slider">
            <div class="swiper-wrapper">
            <div class="swiper-slide">
                    <div class="tw-border-dashed-3-px w-100"></div>
            </div>
            <div class="swiper-slide">
                <div class="tw-border-dashed-3-px w-100"></div>
            </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="d-flex align-items-center justify-content-center tw-mb-100-px">
            <div class="max-w-590-px w-100 text-center">
                <div class="d-inline-flex align-items-center tw-gap-2 tw-py-2 tw-px-5 border-main-100 border rounded-pill tw-mb-5" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                    <span class="tw-w-205 tw-h-205 rounded-circle bg-main-600"></span>
                    <h3 class="fw-bold text-main-600 h6">
                        Why Choose US
                    </h3>
                </div>
                <h3 class="fw-bold text-main-two-600 tw-mb-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="150">
                    Enhanced Vision Models for
                    Autonomous Robotics
                </h3>
            </div>
        </div>
        <div class="row gy-4">
            <div class="col-lg-4 col-md-6">
                <div data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                    <div class="d-flex justify-content-center align-items-center">
                        <div class="working-process-six__card-one tw-w-100-px tw-h-101-px bg-neutral-30 rounded-circle d-flex align-items-center justify-content-center tw-mb--44-px position-relative z-2">
                            <span class="tw-w-80-px tw-h-80-px bg-main-600 text-white rounded-circle h4 d-flex align-items-center justify-content-center tw-transform-roted">
                                01.
                            </span>
                        </div>
                    </div>
                    <div class="bg-white tw-pt-91-px tw-pb-15 tw-ps-13 tw-pe-8 tw-rounded-2xl w-100 position-relative">
                        <h2 class="fw-bold h5 text-main-two-600 tw-mb-6">
                            Deep Discovery &<br>
                            Planning
                        </h2>
                        <p class="fw-semibold tw-text-base text-neutral-500">
                            Every great solution starts understanding.
                            We take the time to learn about your business,
                            challenges, and goals.
                        </p>
                        <span class="working-process-six__card-two tw-w-13 tw-h-13 bg-neutral-30 rounded-circle position-absolute top-0 tw-end-0 top-50 translate-middle-y tw-me--26-px"></span>
    
                        <span class="working-process-six__card-three tw-w-13 tw-h-13 bg-neutral-30 rounded-circle position-absolute top-0 tw-start-0 top-50 translate-middle-y tw-ms--26-px"></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                    <div class="d-flex align-items-center justify-content-center">
                        <div class="working-process-six__card-one tw-w-100-px tw-h-101-px bg-neutral-30 rounded-circle d-flex align-items-center justify-content-center tw-mb--44-px position-relative z-2">
                            <span class="tw-w-80-px tw-h-80-px bg-main-600 text-white rounded-circle h4 d-flex align-items-center justify-content-center">
                                02.
                            </span>
                        </div>
                    </div>
                    <div class="bg-white tw-pt-91-px tw-pb-15 tw-ps-13 tw-pe-8 tw-rounded-2xl w-100 position-relative">
                        <h2 class="fw-bold h5 text-main-two-600 tw-mb-6">
                            Development &<br>
                            Implement
                        </h2>
                        <p class="fw-semibold tw-text-base text-neutral-500">
                            Every great solution starts understanding.
                            We take the time to learn about your business,
                            challenges, and goals.
                        </p>
                        <span class="working-process-six__card-two tw-w-13 tw-h-13 bg-neutral-30 rounded-circle position-absolute top-0 tw-end-0 top-50 translate-middle-y tw-me--26-px"></span>
    
                        <span class="working-process-six__card-three tw-w-13 tw-h-13 bg-neutral-30 rounded-circle position-absolute top-0 tw-start-0 top-50 translate-middle-y tw-ms--26-px"></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                    <div class="d-flex justify-content-center align-items-center">
                        <div class="working-process-six__card-one tw-w-100-px tw-h-101-px bg-neutral-30 rounded-circle d-flex align-items-center justify-content-center tw-mb--44-px position-relative z-2">
                            <span class="tw-w-80-px tw-h-80-px bg-main-600 text-white rounded-circle h4 d-flex align-items-center justify-content-center tw-transform-roted">
                                01.
                            </span>
                        </div>
                    </div>
                    <div class="bg-white tw-pt-91-px tw-pb-15 tw-ps-13 tw-pe-8 tw-rounded-2xl w-100 position-relative">
                        <h2 class="fw-bold h5 text-main-two-600 tw-mb-6">
                            Optimization &<br>
                            Support
                        </h2>
                        <p class="fw-semibold tw-text-base text-neutral-500">
                            Every great solution starts understanding.
                            We take the time to learn about your business,
                            challenges, and goals.
                        </p>
                        <span class="working-process-six__card-two tw-w-13 tw-h-13 bg-neutral-30 rounded-circle position-absolute top-0 tw-end-0 top-50 translate-middle-y tw-me--26-px"></span>
    
                        <span class="working-process-six__card-three tw-w-13 tw-h-13 bg-neutral-30 rounded-circle position-absolute top-0 tw-start-0 top-50 translate-middle-y tw-ms--26-px"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========================= working process section end ========================= -->