<!-- =========================== work proscess section start =========================== -->
<section class="py-120">
    <div class="container">
        <div class="text-center tw-mb-15">
            <div class="d-inline-flex align-items-center tw-gap-2 tw-py-2 tw-px-5 border-main-100 border rounded-pill tw-mb-5">
                <span class="tw-w-205 tw-h-205 bg-main-600 rounded-circle"></span>
                <h3 class="fw-bold h6 text-main-600"> 
                    Our Work Process
                </h3>
            </div>
            <h3 class="fw-bold text-main-two-600">
                We Are Building Great Future<br> Together, Be With Us
            </h3>
        </div>
    </div>
    <div>
        <div class="service-slider-content">
            <div class="swiper Service-slider-active">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="assets/images/thumbs/work-process-three-img1.png" alt="Image 1">

                        <div class="position-absolute bottom-0 tw-start-0 tw-start-50 translate-middle-x text-center tw-mb-17">

                            <div class="thumb-teb-content tw-mb-3">
                                <p class="fw-semibold text-white">DESIGN / TECHNOLOGY</p>
                            </div>

                            <div class="thumb-title-content">
                                <div class="title">
                                    <h2 class="fw-bold tw-text-42-px text-white">
                                        Tech Conference & Support
                                    </h2>
                                </div>
                            </div>
    
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <img src="assets/images/thumbs/work-process-three-img2.png" alt="Image 2">
                        <div class="position-absolute bottom-0 tw-start-0 tw-start-50 translate-middle-x text-center tw-mb-17">

                            <div class="thumb-teb-content tw-mb-3">
                                <p class="fw-semibold text-white">DESIGN / TECHNOLOGY</p>
                            </div>

                            <div class="thumb-title-content">
                                <div class="title">
                                    <h2 class="fw-bold tw-text-42-px text-white">
                                        Tech Conference & Support
                                    </h2>
                                </div>
                            </div>
    
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <img src="assets/images/thumbs/work-process-three-img3.png" alt="Image 3">
                        <div class="position-absolute bottom-0 tw-start-0 tw-start-50 translate-middle-x text-center tw-mb-17">

                            <div class="thumb-teb-content tw-mb-3">
                                <p class="fw-semibold text-white">DESIGN / TECHNOLOGY</p>
                            </div>

                            <div class="thumb-title-content">
                                <div class="title">
                                    <h2 class="fw-bold tw-text-42-px text-white">
                                        Tech Conference & Support
                                    </h2>
                                </div>
                            </div>
    
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <img src="assets/images/thumbs/work-process-three-img1.png" alt="Image 1">
                        <div class="position-absolute bottom-0 tw-start-0 tw-start-50 translate-middle-x text-center tw-mb-17">

                            <div class="thumb-teb-content tw-mb-3">
                                <p class="fw-semibold text-white">DESIGN / TECHNOLOGY</p>
                            </div>

                            <div class="thumb-title-content">
                                <div class="title">
                                    <h2 class="fw-bold tw-text-42-px text-white">
                                        Tech Conference & Support
                                    </h2>
                                </div>
                            </div>
    
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <img src="assets/images/thumbs/work-process-three-img2.png" alt="Image 2">
                        <div class="position-absolute bottom-0 tw-start-0 tw-start-50 translate-middle-x text-center tw-mb-17">

                            <div class="thumb-teb-content tw-mb-3">
                                <p class="fw-semibold text-white">DESIGN / TECHNOLOGY</p>
                            </div>

                            <div class="thumb-title-content">
                                <div class="title">
                                    <h2 class="fw-bold tw-text-42-px text-white">
                                        Tech Conference & Support
                                    </h2>
                                </div>
                            </div>
    
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <img src="assets/images/thumbs/work-process-three-img3.png" alt="Image 3">
                        <div class="position-absolute bottom-0 tw-start-0 tw-start-50 translate-middle-x text-center tw-mb-17">

                            <div class="thumb-teb-content tw-mb-3">
                                <p class="fw-semibold text-white">DESIGN / TECHNOLOGY</p>
                            </div>

                            <div class="thumb-title-content">
                                <div class="title">
                                    <h2 class="fw-bold tw-text-42-px text-white">
                                        Tech Conference & Support
                                    </h2>
                                </div>
                            </div>
    
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="nav-bar-wrap">
                <div class="swiper-button-next">PREV</div>
                <div class="swiper-button-prev">NEXT</div>
            </div> -->
        </div>
    </div>  
</section>
<!-- =========================== work proscess section end =========================== -->