<!-- ========================= work process section start =========================== -->
<section class="py-120 bg-neutral-30">
    <div class="container">
        <div class="d-flex align-items-center justify-content-center tw-mb-15">
            <div class="max-w-600-px w-100 text-center">
                <div class="d-inline-flex align-items-center tw-gap-2 tw-py-2 tw-px-5 border-main-100 border rounded-pill tw-mb-5" data-aos="fade-up" data-aos-duration="900" data-aos-delay="100">
                    <span class="tw-w-205 tw-h-205 bg-main-600 rounded-circle"></span>
                    <h2 class="fw-bold h6 text-main-600">
                        Our Work Process
                    </h2>
                </div>
                <h3 class="fw-bold text-main-two-600" data-aos="fade-up" data-aos-duration="900" data-aos-delay="200">
                    We Are Building Great Future Together, Be With Us
                </h3>
            </div>
        </div>
        <div class="row gy-4">
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="position-relative" data-aos="fade-up" data-aos-duration="900" data-aos-delay="100">
                    <div class="text-center animation-item group group-item">
                        <div class="d-flex justify-content-center align-items-center">
                            <div class="tw-w-128-px tw-h-128-px bg-white rounded-circle d-flex align-items-center justify-content-center group-hover-bg-main-600 tw-duration-300 flex-shrink-0 tw-mb-4 position-relative">
                                <img src="assets/images/icon/work-process-about-icon1.png" alt="icon" class="animate__wobble tw-duration-300 group-hover-item-text-invert-white">
                                <div class="tw-w-12 tw-h-12 bg-white rounded-circle d-flex align-items-center justify-content-center position-absolute top-0 tw-end-0 group-hover-bg-main-600 tw-duration-300">
                                    <h3 class="fw-bold h6 tw-w-9 tw-h-9 bg-main-600 rounded-circle d-flex align-items-center justify-content-center text-white tw-text-xl group-hover-bg-white group-hover-text-main-600 tw-duration-300">
                                        02
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <h4 class="d-block text-main-two-600 tw-mb-6 group-hover-text-main-600 tw-duration-300">
                            Testing & Trying
                        </h4>
                        <p class="fw-semibold tw-text-base text-neutral-500">
                            ITZen stands at the forefront of technolo
                            intelligent it solutions designed elevate
                            By seamlessly integrating
                        </p>
                    </div>
                    <img src="assets/images/icon/arrow-icon-1.png" alt="icon" class="position-absolute top-0 tw-end-0 tw-mt-5 tw-me--87-px animate__wobble__two d-lg-block d-none">
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="position-relative tw-mt-90-px" data-aos="fade-up" data-aos-duration="900" data-aos-delay="200">
                    <div class="text-center animation-item group group-item">
                        <div class="d-flex justify-content-center align-items-center">
                            <div class="tw-w-128-px tw-h-128-px bg-white rounded-circle d-flex align-items-center justify-content-center tw-mb-4 position-relative group-hover-bg-main-600 tw-duration-300">
                                <img src="assets/images/icon/work-process-about-icon1.png" alt="icon" class="animate__wobble tw-duration-300 group-hover-item-text-invert-white">
                                <div class="tw-w-12 tw-h-12 bg-white rounded-circle d-flex align-items-center justify-content-center position-absolute top-0 tw-end-0 group-hover-bg-main-600 tw-duration-300">
                                    <h3 class="fw-bold h6 tw-w-9 tw-h-9 bg-main-600 rounded-circle d-flex align-items-center justify-content-center text-white tw-text-xl group-hover-bg-white group-hover-text-main-600 tw-duration-300">
                                        02
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <h4 class="d-block text-main-two-600 tw-mb-6 group-hover-text-main-600 tw-duration-300">
                            Testing & Trying
                        </h4>
                        <p class="fw-semibold tw-text-base text-neutral-500">
                            ITZen stands at the forefront of technolo
                            intelligent it solutions designed elevate
                            By seamlessly integrating
                        </p>
                    </div>
                    <img src="assets/images/icon/arrow-icon-2.png" alt="icon" class="position-absolute top-0 tw-end-0 tw-mt--44-px tw-me--87-px animate__wobble__two d-lg-block d-none">
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="position-relative" data-aos="fade-up" data-aos-duration="900" data-aos-delay="300">
                    <div class="text-center animation-item group group-item">
                        <div class="d-flex justify-content-center align-items-center">
                            <div class="tw-w-128-px tw-h-128-px bg-white rounded-circle d-flex align-items-center justify-content-center tw-mb-4 position-relative group-hover-bg-main-600 tw-duration-300">
                                <img src="assets/images/icon/work-process-about-icon3.png" alt="icon" class="animate__wobble tw-duration-300 group-hover-item-text-invert-white">
                                <div class="tw-w-12 tw-h-12 bg-white rounded-circle d-flex align-items-center justify-content-center position-absolute top-0 tw-end-0 group-hover-bg-main-600 tw-duration-300">
                                    <h3 class="fw-bold h6 tw-w-9 tw-h-9 bg-main-600 rounded-circle d-flex align-items-center justify-content-center text-white tw-text-xl group-hover-bg-white group-hover-text-main-600 tw-duration-300">
                                        03
                                    </h3>
                                </div>
                            </div>  
                        </div>
                        <h4 class="d-block text-main-two-600 tw-mb-6 group-hover-text-main-600 tw-duration-300">
                            Execute & install
                        </h4>
                        <p class="fw-semibold tw-text-base text-neutral-500">
                            ITZen stands at the forefront of technolo
                            intelligent it solutions designed elevate
                            By seamlessly integrating
                        </p>
                    </div>
                    <img src="assets/images/icon/arrow-icon-1.png" alt="icon" class="position-absolute top-0 tw-end-0 tw-mt-5 tw-me--87-px animate__wobble__two d-xl-block d-none">
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="tw-mt-90-px tw-media-me-0" data-aos="fade-up" data-aos-duration="900" data-aos-delay="400">
                    <div class="text-center animation-item group group-item">
                        <div class="d-flex justify-content-center align-items-center">
                            <div class="tw-w-128-px tw-h-128-px bg-white rounded-circle d-flex align-items-center justify-content-center tw-mb-4 position-relative group-hover-bg-main-600 tw-duration-300">
                                <img src="assets/images/icon/work-process-about-icon4.png" alt="icon" class="animate__wobble tw-duration-300 group-hover-item-text-invert-white">
                                <div class="tw-w-12 tw-h-12 bg-white rounded-circle d-flex align-items-center justify-content-center position-absolute top-0 tw-end-0 group-hover-bg-main-600 tw-duration-300">
                                    <h3 class="fw-bold h6 tw-w-9 tw-h-9 bg-main-600 rounded-circle d-flex align-items-center justify-content-center text-white tw-text-xl group-hover-bg-white group-hover-text-main-600 tw-duration-300">
                                        04
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <h4 class="d-block text-main-two-600 tw-mb-6 group-hover-text-main-600 tw-duration-300">
                            We Care About
                        </h4>
                        <p class="fw-semibold tw-text-base text-neutral-500">
                            ITZen stands at the forefront of technolo
                            intelligent it solutions designed elevate
                            By seamlessly integrating
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========================= work process section end =========================== -->