<!-- ========================== working five section start ========================== -->
<section class="py-120 bg-neutral-30">
    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-5">
                <div class="">
                    <img src="assets/images/thumbs/working-five-img1.png" alt="img">
                </div>
            </div>
            <div class="col-lg-7">
                <div class="d-flex justify-content-center">
                    <div class="max-w-650-px w-100">
                        <div class="d-inline-flex align-items-center tw-gap-2 tw-py-2 tw-px-5 border-main-100 border rounded-pill tw-mb-5">
                            <span class="tw-w-205 tw-h-205 rounded-circle bg-main-600"></span>
                            <h3 class="fw-bold text-main-600 h6">
                                How it’s Working
                            </h3>
                        </div>
                        <h3 class="fw-bold text-main-two-600 tw-mb-15">
                            Our Focus On Delivering Robust,
                            High-Impact Security Results
                        </h3>
                        <div class="tw-mb-4">
                            <div class="d-flex align-items-start tw-gap-5 flex-wrap tw-mb-4">
                                <div class="tw-border-deshad tw-clip-path-one d-flex align-items-center justify-content-center"> 
                                    <span class="tw-w-17 tw-h-17 bg-white tw-clip-path-one d-flex align-items-center justify-content-center">
                                        <img src="assets/images/icon/working-five-icon1.png" alt="icon">
                                    </span>
                                </div>
                                <div>
                                    <span class="fw-semibold tw-text-base text-main-two-600 tw-py-1 tw-px-5 border-neutral-300 border rounded-pill tw-mb-2">
                                        Step 01
                                    </span>
                                    <h2 class="fw-bold h5 text-main-two-600 tw-mb-2">
                                        Customized Solutions
                                    </h2>
                                    <p class="fw-semibold tw-text-base text-neutral-600">
                                        Business it will frequently occur that some pleasures.
                                    </p>
                                </div>
                            </div>
                            <div class="d-sm-block d-none">
                                <div class="d-flex align-items-center tw-gap-5">
                                    <div class="max-w-97-px w-100 d-flex flex-column align-items-center justify-content-center text-center">
                                        <span class="tw-w-105 tw-h-105 bg-main-600 rounded-circle tw-mb-1 d-block"></span>
                                        <span class="tw-w-3 tw-h-3 bg-main-600 rounded-circle tw-mb-1 d-block"></span>
                                        <span class="tw-w-105 tw-h-105 bg-main-600 rounded-circle d-block"></span>
                                    </div>
                                    <span class="tw-w-100-px tw-h-px bg-neutral-200"></span>
                                </div>
                            </div>
                        </div>
                        <div class="tw-mb-4">
                            <div class="d-flex align-items-start tw-gap-5 flex-wrap tw-mb-4">
                                <div class="tw-border-deshad tw-clip-path-one d-flex align-items-center justify-content-center"> 
                                    <span class="tw-w-17 tw-h-17 bg-white tw-clip-path-one d-flex align-items-center justify-content-center">
                                        <img src="assets/images/icon/working-five-icon2.png" alt="icon">
                                    </span>
                                </div>
                                <div>
                                    <span class="fw-semibold tw-text-base text-main-two-600 tw-py-1 tw-px-5 border-neutral-300 border rounded-pill tw-mb-2">
                                        Step 02
                                    </span>
                                    <h2 class="fw-bold h5 text-main-two-600 tw-mb-2">
                                        Certified Security Professionals
                                    </h2>
                                    <p class="fw-semibold tw-text-base text-neutral-600">
                                        Business it will frequently occur that some pleasures.
                                    </p>
                                </div>
                            </div>
                            <div class="d-sm-block d-none">
                                <div class="d-flex align-items-center tw-gap-5">
                                    <div class="max-w-97-px w-100 d-flex flex-column align-items-center justify-content-center text-center">
                                        <span class="tw-w-105 tw-h-105 bg-main-600 rounded-circle tw-mb-1 d-block"></span>
                                        <span class="tw-w-3 tw-h-3 bg-main-600 rounded-circle tw-mb-1 d-block"></span>
                                        <span class="tw-w-105 tw-h-105 bg-main-600 rounded-circle d-block"></span>
                                    </div>
                                    <span class="tw-w-100-px tw-h-px bg-neutral-200"></span>
                                </div>
                            </div>
                        </div>
                        <div class="tw-mb-4">
                            <div class="d-flex align-items-start tw-gap-5 flex-wrap tw-mb-4">
                                <div class="tw-border-deshad tw-clip-path-one d-flex align-items-center justify-content-center"> 
                                    <span class="tw-w-17 tw-h-17 bg-white tw-clip-path-one d-flex align-items-center justify-content-center">
                                        <img src="assets/images/icon/working-five-icon3.png" alt="icon">
                                    </span>
                                </div>
                                <div>
                                    <span class="fw-semibold tw-text-base text-main-two-600 tw-py-1 tw-px-5 border-neutral-300 border rounded-pill tw-mb-2">
                                        Step 03
                                    </span>
                                    <h2 class="fw-bold h5 text-main-two-600 tw-mb-2">
                                        Latest CCTV Technologies
                                    </h2>
                                    <p class="fw-semibold tw-text-base text-neutral-600">
                                        Business it will frequently occur that some pleasures.
                                    </p>
                                </div>
                            </div>
                            <div class="d-sm-block d-none">
                                <div class="d-flex align-items-center tw-gap-5">
                                    <div class="max-w-97-px w-100 d-flex flex-column align-items-center justify-content-center text-center">
                                        <span class="tw-w-105 tw-h-105 bg-main-600 rounded-circle tw-mb-1 d-block"></span>
                                        <span class="tw-w-3 tw-h-3 bg-main-600 rounded-circle tw-mb-1 d-block"></span>
                                        <span class="tw-w-105 tw-h-105 bg-main-600 rounded-circle d-block"></span>
                                    </div>
                                    <span class="tw-w-100-px tw-h-px bg-neutral-200"></span>
                                </div>
                            </div>
                        </div>
                        <div class="">
                            <div class="d-flex align-items-start tw-gap-5 flex-wrap">
                                <div class="tw-border-deshad tw-clip-path-one d-flex align-items-center justify-content-center"> 
                                    <span class="tw-w-17 tw-h-17 bg-white tw-clip-path-one d-flex align-items-center justify-content-center">
                                        <img src="assets/images/icon/working-five-icon4.png" alt="icon">
                                    </span>
                                </div>
                                <div>
                                    <span class="fw-semibold tw-text-base text-main-two-600 tw-py-1 tw-px-5 border-neutral-300 border rounded-pill tw-mb-2">
                                        Step 04
                                    </span>
                                    <h2 class="fw-bold h5 text-main-two-600 tw-mb-2">
                                        Fast Installation & Support
                                    </h2>
                                    <p class="fw-semibold tw-text-base text-neutral-600">
                                        Business it will frequently occur that some pleasures.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========================== working five section end ========================== -->