/* Height Css Class Start */
@each $property, $value in $spaces {
  .tw-h-#{$property} {
    height: $value;
  }
}

.tw-h {
  &-px {
    height: 1px;
  }
  &-screen {
    height: 100vh;
  }
  &-70-px {
    height: 70px;
  }
  &-75-px {
    height: 75px;
  }
  &-80-px {
    height: 80px;
  }
  &-84-px {
    height: 84px;
  }
  &-92-px {
    height: 92px;
  }
  &-96-px {
    height: 96px;
  }
  &-100-px {
    height: 100px;
    @media (max-width: 992px) {
      height: 70px;
    }
  }
  &-120-px {
    height: 120px;
  }
  &-128-px {
    height: 128px;
  }
  &-140-px {
    height: 140px;
  }
  &-158-px {
    height: 158px;
    @media (max-width: 1399px) {
      height: 185px;
    }
  }
  &-160-px {
    height: 160px;
  }
  &-200-px {
    height: 200px;
  }
  &-280-px {
    height: 280px;
  }
  &-190-px {
    height: 190px;
  }
  &-320-px {
    height: 320px;
  }
  &-570-px {
    height: 570px;
  }
  &-780-px {
    height: 780px;
  }
}

.tw-min-h {
  &-184-px {
    min-height: 184px;
  }
  &-210-px {
    min-height: 210px !important;
  }
}
/* Height Css Class End */
