/* Text Decoration Start */
.hover {
    &-underline {
        &:hover {
            text-decoration: underline;
        }
    }
    &-underline-none {
        &:hover {
            text-decoration: none;
        }
    }
}
.tw-text-underline-px {
    text-decoration: 1px underline;
}
/* Text Decoration End */
