/* ============================== Home new style css start ========================= */
.font-size-style-new:root {
    --heading-one: clamp(2.25rem, 0.7133rem + 3.5vw, 3rem);
    --heading-two: clamp(2rem, 0.7133rem + 3.5vw, 2.5rem);
    --heading-three: clamp(1.75rem, 0.3353rem + 2.5vw, 2rem);
    --heading-four: clamp(1.25rem, 0.5569rem + 2vw, 1.5rem);
    --heading-five: 1.25rem;
    --heading-six: 1rem;
    --gradient-main: linear-gradient(90deg, #FF4E8D 0%, #AF35E7 50%, #4C82FC 100%);
    --body-font: "DM Sans", sans-serif;
}

.nunito-font {
    @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

    &:root {
        --body-font: "Nunito", sans-serif;
    }
}

:root {
    --text-brand-secondary: #FF9921;
}

.display-1 {
    font-size: clamp(4rem, 2.0366rem + 7.4634vw, 10rem); // min:64px and max:160px
}

.display-2 {
    font-size: clamp(3.25rem, 1.6346rem + 5.3654vw, 5rem); // min:52px and max:80px
}

.display-3 {
    font-size: clamp(3rem, 1.6154rem + 4.8846vw, 4.5rem); // min:48px and max:72px
}

.display-4 {
    font-size: clamp(2.75rem, 1.5962rem + 3.4038vw, 4rem); // min:44px and max:64px
}

.display-5 {
    font-size: clamp(2.5rem, 0.7133rem + 3.5vw, 3.5rem); // min:40px and max:56px
}


.text-new-neutral-40 {
    color: #DFE0E4;
}

.text-new-neutral-50 {
    color: #C1C4CC;
}

.text-new-neutral-70 {
    color: #A6AAB5;
}




.home-dark body {
    @extend .bg-brand-neutral;
}


/* Text color start */
.text-brand {
    color: #0E59F2;
}

.text-brand-light {
    color: #6766FF;
}

.text-brand-secondary {
    color: var(--text-brand-secondary);
}

.text-brand-neutral {
    color: #070220;
}

.hover-text-brand:hover {
    color: #0E59F2;
}

.hover-text-brand-light:hover {
    color: #6766FF;
}

.hover-text-brand-secondary:hover {
    color: var(--text-brand-secondary);
}

/* Text color end */


/* BG color start */
.bg-brand {
    background-color: #0E59F2;
}

.bg-brand-light {
    background-color: #6766FF;
}

.bg-brand-secondary {
    background-color: var(--text-brand-secondary);
}

.bg-brand-one {
    background-color: #130E29;
}

.bg-brand-two {
    background-color: #1D1934;
}

.bg-brand-neutral {
    background-color: #070220;
}

/* BG color end */


/* Home new style css end */


.hover-icon-fill:hover i::before {
    font-family: 'Phosphor-Fill';
}