/* new two blog css start */
.new-two-blog__content {
    background-color: #f1f5fe;
    border: 1px solid #0E59F233
}

.new-two-blog__hidden {
    display: none;
}

.new-two-blog__item {
    padding-bottom: 96px;
}

.new-two-blog__item:hover {
    .new-two-blog__hidden {
        display: block;
    }
    .new-two-blog__content {
    background-color: #fff;
    border: 1px solid #0E59F2
}
}

/* new two blog css end */