/* New two service section start */
.accordion {
    --bs-accordion-bg: transparent;
    --bs-accordion-border-color: rgba(255, 255, 255, 0.1);
    // border-top: 1px solid rgba(255, 255, 255, 0.1);
    margin-top: 40px;
}

.accordion-item {
    background-color: transparent;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    overflow: hidden;
}

.accordion-button {
    background-color: transparent !important;
    color: white !important;
    box-shadow: none !important;
    padding: 30px 20px;
    display: flex;
    align-items: center;
    border: 0;
    border-radius: 0;
}

/* Layout for closed state */
.acc-header-content {
    display: flex;
    align-items: center;
    width: 100%;
}

.service-number {
    width: 120px;
    color: #ddd;
    font-size: 0.9rem;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    margin-right: 30px;
}

.service-title {
    font-size: 1.5rem;
    font-weight: 700;
    flex-grow: 1;
}

.preview-img-container {
    width: 250px;
    height: 40px;
    border-radius: 20px;
    overflow: hidden;
    opacity: 0.8;
    transition: 0.3s;
}

.preview-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.accordion-button:not(.collapsed) .preview-img-container {
    display: none;
    /* Hide preview image when open */
}

/* Expanded Body Content */
.accordion-body {
    padding: 40px;
    display: flex;
    gap: 30px;
    align-items: center;
}

.main-service-img {
    width: 45%;
    border-radius: 12px;
}

.service-details {
    width: 55%;
}

.badge-group {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.tech-badge {
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    padding: 4px 15px;
    font-size: 12px;
    color: #ddd;
}

.arrow-icon {
    color: yellow;
    font-size: 2rem;
    margin-top: 20px;
    display: block;
}

.btn-all-services {
    background-color: blue;
    color: white;
    border-radius: 30px;
    padding: 12px 30px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    margin-top: 40px;
    font-weight: 600;
    transition: 0.3s;
}

.btn-all-services:hover {
    background-color: #1b4edb;
    color: white;
    transform: translateY(-2px);
}

/* Hide default accordion icon */
.accordion-button::after {
    display: none;
}


.accordion-item {
    background: #130E29;
}

.accordion-item:has(.accordion-button[aria-expanded="true"]) {
    background: #1D1934;
}

/* New two service section end */