/* =================================== new two testimonials css start ============================= */
.bg-black-blur {
    background: #0702204D;
    backdrop-filter: blur(20px);
}

@media (max-width: 991px) {
    .new-two-testimonials__left {
        border-radius: 16px;
        overflow: hidden;
    }

    .new-two-testimonials__right {
        border-radius: 16px;
        overflow: hidden;
    }
}

@media (min-width: 992px) {
    .new-two-testimonials__left {
        border-radius: 16px 0 0 16px;
        overflow: hidden;
    }

    .new-two-testimonials__right {
        border-radius: 0 16px 16px 0;
        overflow: hidden;
    }
}

.swiper-slide-active img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border: 2px solid #0E59F2;
    border-radius: 50%;
}

.new-two-testimonials-small-thumbs-slider .swiper-wrapper {
    align-items: center;
}


/* =================================== new two testimonials css end ============================= */