/* =========================== Accordion Css start ============================= */
.common-accordion {
    .accordion-item {
        &:not(:last-child) {
            margin-block-end: 20px;
        }
    }

    &:first-of-type .accordion-button.collapsed {
        border-radius: 5px;
    }

    &:last-of-type .accordion-button.collapsed {
        border-radius: 5px;
    }

    .accordion-button {
        &::after {
            background-image: none;
        }

        &:focus {
            box-shadow: none;
        }

        &:not(.collapsed) {
            background-color: transparent !important;
            box-shadow: none;
            color: var(--main-600);

            &::after {
                background-image: none;
                color: var(--main-600);
            }
        }

        &[aria-expanded="true"],
        &[aria-expanded="false"] {
            &::after {
                font-family: "Phosphor";
                font-weight: 900;
                content: "\f106";
                color: var(--main-600);
                display: inline-block;
                position: absolute;
                inset-block-start: 50%;
                transform: translateY(-50%);
                inset-inline-end: 30px;
                height: unset;
                text-align: center;

                @media (max-width: 991px) {
                    inset-inline-end: 20px;
                }
            }
        }

        &[aria-expanded="false"] {
            &::after {
                content: "\f107";
                color: hsl(var(--heading-color));
            }
        }
    }
}

/* Another accordion */
.accordion-item {
    border: none;
}

.accordion-button {
    border: 1px solid #D9D9D9;
    border-radius: 12px;
}

.accordion-button:not(.collapsed) {
    color: #fff;
    background-color: #232323;
    box-shadow: none;
    border: none;
}

.accordion-button::after {
    content: "\E3D4";
    font-family: "Phosphor";
    font-size: 20px;
    color: #0E59F2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #F8F7F0;
    border-radius: 50%;
    margin-left: auto;
    background-image: none;
    transition: .4s;
}

.accordion-button:not(.collapsed)::after {
    background-image: none;
    content: "\E32A";
    font-family: "Phosphor";
    color: #fff;
    background-color: #0E59F2;
}


.active-icon-brand-secondary {
    .accordion-button {
        &[aria-expanded="true"] {
            .accordion-arrow {
                background-color: var(--text-brand-secondary) !important;
                border-color: var(--text-brand-secondary) !important;
                color: #000 !important;
            }
        }
    }

    .accordion-item:has(.accordion-button[aria-expanded=true]) {
        background: #1D1934 !important;
    }
}


/* new accordion style two */
.accordion-new-style-two {
    .accordion-item {
        margin-bottom: 20px;
    }

    .accordion-button::after {
        content: "\E092";
        font-family: "Phosphor";
        color: #fff;
        width: unset;
        height: unset;
        background-color: transparent;
    }

    .accordion-button:not(.collapsed)::after {
        transform: rotate(135deg);
    }

    .accordion-item:has(.accordion-collapse.collapse.show) {
        background: #0E59F2;
    }

}

/* ================================= Accordion Css End =========================== */