/* new header one css start */
.menu-white {
    .nav-menu__link {
        color: #fff;
    }

    .nav-menu__item:hover .nav-menu__link {
        color: var(--text-brand-secondary) !important;
    }

    .nav-menu__item:hover .nav-menu__link::before {
        color: inherit !important;
    }
}
@media (min-width: 424px) {
    .d-xs-flex {
        display: flex !important;
    }
}
/* new header one css end */